[2021-04-07 14:04] Manno15 commented on #2004
I am running into a few inconsistent test failures with these changes. Namely, `AssignmentWatcherTest`. A few are consistently failing which are the ones being excluded.

[2021-04-07 15:53] jjmar11 commented on #2002
Yes.

[2021-04-07 16:27] keith-turner commented on #2003
yeah I can look at it

[2021-04-07 17:00] ctubbsii commented on #2004
@Manno15 Just keep in mind, the test that fails may not be the one that's actually the problem. It might be a previous test that messed with some internal static state.

[2021-04-07 17:21] Manno15 commented on #2004
Good point. I will keep that in mind.

[2021-04-09 16:32] #2004 closed

[2021-04-09 16:32] Manno15 opened #2009 "Investigate several unit test failues with reuseForks set to true"
With the work done in PR: #2007, unit tests now have reuseForks set to true by default. However, there are several tests that fail because of this. Those have been excluded and require further investigation on why they fail.

[2021-04-12 14:23] keith-turner opened #2010 "Log warning when work and no compactors"
If there are no compactors running for a queue and it has work and this situation continues for some time period (like 10s of minutes) then the coordinator could log a warning.

[2021-04-12 15:10] #2010 closed

[2021-04-12 15:12] dlmarion commented on #2003
@keith-turner - we talked about this last week, right? TServer going down should not cancel external compaction that is running, right? If so, I can take this over and make the necessary code mods.

[2021-04-12 15:25] keith-turner commented on #2003
Right, it should not cancel them.

[2021-04-12 15:40] #2003 closed

[2021-04-12 15:41] #1987 closed

[2021-04-12 15:41] #1988 closed

[2021-04-12 15:41] #1986 closed

[2021-04-12 15:42] dlmarion commented on #1992
FYI that there is work in progress with migrating the current metrics framework from Hadoop Metrics2 to Micrometer at https://github.com/apache/accumulo/pull/1981

[2021-04-12 16:01] dlmarion commented on #1998
Are there sanity checks in place that verify that the input files for the external compaction are still in the current set of files for the tablet when the external compaction is committed? I'm thinking about the case where more than one external compaction is in progress when the table is offlined and we need to commit the compactions in order when the table is brought back online.

[2021-04-12 16:22] milleruntime commented on #1998
We will have to take in consideration all offline operations as they currently make assumptions about the state of the table when it is offline. For example, An Admin offlines a table in order to perform an exportTable. The exportTable behavior will now have to take in consideration external compactions. Ideally, this new consideration won't make the Admin's life more difficult.

If we allow exter

[2021-04-12 18:21] keith-turner commented on #1998
Yeah that is done by the following sanity check which existed before external compactions.

https://github.com/apache/accumulo/blob/183387ab6de5c82ed23f9b236a76ea7fce669be4/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/DatafileManager.java#L424

As currently implemented external compactions running against a table that is offline do not commit (update tablet metadata) until the t

[2021-04-12 18:40] keith-turner commented on #1998
1. The compactor makes an RPC call the compaction coordinator to let it know the compactions completed
2. The coordinator writes an entry to the ~ecomp section of the metadata table recording the compaction completed AND queues up an async RPC to the tablet to let it know the tablet completed.
3. The coordinator periodically scans the ~ecomp section of the metadata table looking for tablets to not

[2021-04-12 18:48] EdColeman commented on #1998
On a commit are you using KeyExtent prevRow and endRow to determine if the range is that same to check if split / merge has occurred?

[2021-04-12 19:07] keith-turner commented on #1998
Yes.  Each external compaction has a UUID that identifies it.  Each tablet records running external compactions in the tablets metadata using the UUID.   A commit message references the UUID and tservers map that to a tablet.  That reminds we need to ensure that when a tablet splits or merges, that no external compaction metadata propagates.

[2021-04-12 19:08] keith-turner opened #2011 "Ensure no external compaction metadata propagates when a tablet splits/merges"

[2021-04-12 19:17] keith-turner opened #2012 "Pass KeyExtent to tablet for commit RPC"
The coordinator knows of the extent and UUID when it makes the RPC to commit a compaction. However it only passes the UUID.  It could also pass the Extent to allow for another sanity check on the tserver when it maps the UUID to an extent.

[2021-04-12 19:21] keith-turner commented on #1998
I opened #2011 and #2012 based on previous comment.

[2021-04-12 19:46] keith-turner opened #2013 "Fix race condition in external compaction commit"
When an external compaction commits and the tablet is not present, it [deletes the marker](https://github.com/apache/accumulo/blob/75d7f67fef54771061b0fff45fdea507ebbf4ca9/server/tserver/src/main/java/org/apache/accumulo/tserver/compactions/CompactionManager.java#L458-L460).   There is a race condition where if a tablet was recently unloaded, it would delete the final state marker resulting in the

[2021-04-12 19:54] dlmarion commented on #1997
Added a Watcher to the Compactor in 8b54b3f. If the Watcher gets the NodeDeleted event, then it cancels the compaction.

[2021-04-12 19:54] #1997 closed

[2021-04-12 19:57] keith-turner commented on #2013
I think tablet servers should not delete the external compaction final state markers when they do not know about the external compaction.  They should only delete these markers when they are hosting the tablet related to the compaction and the tablet knows about the compaction.

For final state markers that point reference external compactions that no longer exists or tablets that no longer exist,

[2021-04-13 12:19] dlmarion commented on #2012
@keith-turner  - I modified the TServer and Coordinator pass the Extent to the TServer on compaction completion. I left two CBUG comments in CompactionManager as a reminder to complete the wiring up of the sanity checks.

[2021-04-13 12:43] milleruntime commented on #2011
As a reference for others, here is the point in the code where we cancel compactions.
It is called while closing the Tablet in `initiateClose(true)` during `Tablet.split()`:
https://github.com/apache/accumulo/blob/9b504121dd69bf033dced56adb55d727b0eafdc4/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/Tablet.java#L1204

[2021-04-13 13:08] dlmarion commented on #1999
I just ran into this while testing with fluo-uno. This might be a blocker to testing. I'm going to dig in and see what I can find.

[2021-04-13 14:12] dlmarion commented on #1999
I made a change locally which seems to work. The change is to use `candidates` instead of `Set.copyOf(selectedFiles)` [here](https://github.com/apache/accumulo/blob/1451-external-compactions-feature/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/CompactableImpl.java#L526). I think the issue is that `selectedFiles` is being modified in another thread (while loading data into the ta

[2021-04-13 17:32] #1999 closed

[2021-04-13 17:33] #2012 closed

[2021-04-13 17:42] Manno15 opened #2016 "Github QA occasionally hangs while running unit-tests"
**Describe the bug**
Github QA occasionally hangs while running unit tests and eventually will cancel after the allotted 60 minutes have passed. Typically hangs around the test `MiniAccumuloClusterImplTest`.  So far, this has not been reproduced locally and seems to be centered around a possible resource issue Github QA might run into.

**Versions (OS, Maven, Java, and others, as appropriate):**

[2021-04-13 19:24] milleruntime commented on #2016
I just saw this happen in the testing repo too, which may indicate it has nothing to do with recent changes to the main repo.
https://github.com/apache/accumulo-testing/pull/138/checks?check_run_id=2336663420

[2021-04-14 14:43] dlmarion opened #2019 "Error on tserver startup and receive compaction finished message from Coordinator"
[code]

[2021-04-14 17:32] ctubbsii commented on #2016
I noticed that in these cases, the logs aren't being uploaded. It looks like the timeout is set on entire jobs, so the upload-artifact steps never happen if the timeout is reached in running the Maven build. This can be addressed by moving the timeout-minutes to the steps, rather than under the job. That way, if any individual step times out, the other steps (like uploading log artifacts) still ru

[2021-04-14 17:59] ctubbsii commented on #2016
I updated the timeout settings, but have not yet attempted to add any logging about the still running processes. I'm hoping the logs will have some insights, now that they *should* be uploaded on timeouts.

[2021-04-14 19:58] ctubbsii commented on #2016
Okay, so fixing the timeout works. I was able to get the logs. It looks like services are starting up okay, but cannot talk to each other. The services register themselves using the local host name determined by using reverse DNS on the local IP address. When services are reached on localhost, everything works fine (e.g. services can talk to zookeeper on `localhost:33647` just fine). I don't see a

[2021-04-14 20:39] EdColeman commented on #2016
If it helps, locally I run Ubuntu 20.04.2 LTS (Focal Fossa) and have not seen this occur.

[2021-04-15 16:17] Manno15 commented on #2016
According to https://github.blog/changelog/2020-10-29-github-actions-ubuntu-latest-workflows-will-use-ubuntu-20-04/. The change to 20.04 should have happened a few months ago (unless it took them this long to roll it out). I do not see any similar issue in their virtual-environments repository. If we are confident that it exists on their end, we can create a ticket there.

 It also says 18.04 is s

[2021-04-15 22:44] ctubbsii commented on #2016
Okay, so I've spent a few hours looking into this today, and I think it's a bug in GitHub Actions DNS servers.

If you create a GitHub Actions job that simply prints the output of `hostname -i` and `hostname -I`, you can clearly see there's a problem. They don't return the same IP address. The former uses DNS to show the IP address based on the current machine's hostname. The latter shows the IP a

[2021-04-15 22:57] ctubbsii commented on #2016
I filed a bug report with GitHub support.

[2021-04-15 23:12] #1645 closed

[2021-04-16 02:15] mjwall commented on #2016
Nice detective work @ctubbsii

[2021-04-16 06:38] ctubbsii commented on #2016
[Here's another report](https://lists.apache.org/thread.html/r40b2da182952f21a3b94696e6f1bf8594e7ff16e1c5979fe8b2d51c8%40%3Cbuilds.apache.org%3E) of the same issue.

[2021-04-16 07:05] ctubbsii commented on #2016
My previous attempt to fix this had a typo in the /etc/hosts filename. Correcting that typo should fix the issue, even though it's a hack. See PR #2024

[2021-04-16 08:12] #2016 closed

[2021-04-16 15:29] #2019 closed

[2021-04-16 17:14] milleruntime commented on #1994
One way to test this is to drop the ZK max client connections (maxClientCnxns=10) down to something low like 5-10. The problem is it is very hard to debug or do anything as Accumulo will hover in this degraded state. It gets enough connections to be alive and that's about it. You can't even debug ZK using 4 letter commands or the CLI because there aren't any connections. There may be a sweet spot

[2021-04-19 14:01] milleruntime commented on #1994
After some analysis running Uno, it looks like each process at a minimum (no activity) takes the following ZK connections.
ZK Admin command - 1
Manager - 2
GC - 2
Tracer - 3
Monitor - 2
tserver - 2 each

[2021-04-20 16:04] dlmarion commented on #1991
* Add Compactor and CompactionCoordinator components at https://accumulo.apache.org/docs/2.x/getting-started/design#components.
  * Update documentation at https://accumulo.apache.org/docs/2.x/getting-started/table_configuration#compaction for internal compaction and external compaction changes in 2.1

[2021-04-20 16:06] dlmarion commented on #1991
Changes should go into the next-release branch. https://github.com/apache/accumulo-website/tree/next-release

[2021-04-20 19:54] EdColeman commented on #1134
And external example of external usage of current Accumulo metrics is at: https://code.nsa.gov/timely/docs/#collecting-metrics-from-hadoop-and-accumulo
This is something we should consider as we convert over that we should support.

[2021-04-20 21:16] dlmarion commented on #1991
Changes up at https://github.com/apache/accumulo-website/pull/266/files

[2021-04-21 16:27] dlmarion opened #2026 "Modify Compactor so that it does not check for compactions every ms"
Put some backoff in the loop when checking for compactions. Incrementally wait longer between checks, maybe up to 3 seconds.

[2021-04-21 20:36] ctubbsii opened #2027 "Create a QA check for GitHub Actions that checks for breaking API changes"
**Is your feature request related to a problem? Please describe.**
Sometimes, we unintentionally break API. It would be nice if we could detect this in a PR.

**Describe the solution you'd like**
A new matrix line in our QA / CI checks in GitHub Actions could be added to check our public API classes to see if they have had a breaking change (change of method signature or removal of method). We cou

[2021-04-21 22:11] keith-turner opened #2028 "Cancel external compactions when a user compaction is canceled"
Internal compaction use [this code][1] to determine if they should keep running a user compaction.  Each user compaction has a 1 up per table id.  There is also a per table cancel id in ZK, if the cancelId >= userCompactionId then the user compaction was canceled.

[1]:https://github.com/apache/accumulo/blob/42de4efab84b4dc0e4eda23c6d348be744941c30/server/tserver/src/main/java/org/apache/accumulo/

[2021-04-23 18:41] sjyang18 opened #2029 "Failed to create a new table thru Accumulo Client library (org.apache.accumulo.core.client.AccumuloClient) in Kerberos-enabled Accumulo cluster"
**Describe the bug**
Accumulo Client should be able to support the same API in both non-kerberos and kerberos enabled accumulo cluster. I was able to use Kerberos key tab and principal to create a table, inject data, drop the table thru Accumulo shell. When I do the same in Java Accumulo Client, my java program may list user, tables, and inject data to an existing table, but failed to create a new

[2021-04-26 14:34] keith-turner opened #2030 "Make delete table operations cancel user compactions"
**Is your feature request related to a problem? Please describe.**
User compactions start a FATE op that gets a table lock.  Delete table operations wait to get the table lock.  They may wait on a user compaction.  If they do, it would be nice if they didn't.

**Describe the solution you'd like**
There is already an existing cancel user compaction API call.  It may be that a delete table operation

[2021-04-26 14:47] keith-turner opened #2031 "Periodically sanity check tablet metadata"
**Is your feature request related to a problem? Please describe.**
When a tablet is loaded on a tablet server, it will load everything from the the metadata table for the tablet into memory.  The tablet assumes its the only thing writing to the metadata table from that point on and only writes out updates to the tablet metadata.  When a table closes it will do a sanity check where it reads tablet

[2021-04-26 14:48] dlmarion commented on #1993
Planning on modifying the Coordinator to expose a metrics endpoint. This will be useful for the ITs and also for configuring a Horizontal Pod Scaler in k8s. I'm looking at implementing a simple endpoint that returns a JSON blob that can be parsed by https://github.com/zalando-incubator/kube-metrics-adapter which is a k8s supported custom metrics adapter (see https://github.com/kubernetes/metrics/b

[2021-04-26 14:53] keith-turner commented on #2031
For the concurrency aspect, thinking it would be nice to not try to prevent race conditions but just be able to detect them and retry for the subset of tablets where a race condition happened.  However not exactly sure how to do the detection, need to something that actually converges to avoid live lock.

[2021-04-26 15:12] dlmarion opened #2032 "CompactionCoordinator.isCompactionCompleted is not used"
Should be safe to remove the method, just need to figure out where the running compaction will get removed from `RUNNING`.

[2021-04-26 15:28] milleruntime opened #2033 "Make private fields in Violations.CVSKey final"
There are two private fields: `String className` and `short vcode` in the private class `CVSKey` in `Violations` that can be made final.

[2021-04-26 15:35] ctubbsii commented on #2016
Upstream issue is now at actions/virtual-environments#3185

They have codified the recommended workaround (to update `/etc/hosts` with the eth0 IP address for the current runner's `hostname`). Since the workaround that I made first checks to see if there's already an entry in `/etc/hosts` before it adds one, our workaround is effectively deactivated for now.

If the upstream workaround is removed,

[2021-04-26 15:39] milleruntime opened #2034 "Rename ArrayList in ConstraintChecker"
The name of the ArrayList in the class `ConstraintChecker` has a typo. The ArrayList object is called _constrains_ when it should have been called `constraints`. This ticket is to simply rename the private variable.

[2021-04-26 16:21] keith-turner commented on #2031
One way to do this sanity check and handle race conditions is to have a one update counter for each tablet that is used to detect race conditions.  Each tablet could update this counter prior to writing to the metadata table.  Tablet servers could do the following when doing the sanity check.

 1. For each tablet on the tserver get its current update counter, storing this in a map like `Map<KeyExt

[2021-04-26 16:30] Umang228 commented on #2034
Sir, I would like to assigned to this task.

[2021-04-26 16:31] Umang228 commented on #2034
Sir, I would like to get assigned to this task.

[2021-04-26 16:59] alimustafashah commented on #2033
Can you assign this task to me?

[2021-04-26 17:08] Manno15 opened #2035 "Misconfigured Iterator blocks other tablets from loading"
**Describe the bug**
The original bug was reported here: https://issues.apache.org/jira/browse/ACCUMULO-4160

If an iterator was misconfigured on a table (specifically for minor compaction in my testing), it can prevent other tables from loading their tablets as well as being able to perform operations on them beyond taking it offline and online.

**Versions (OS, Maven, Java, and others, as approp

[2021-04-26 18:16] ctubbsii commented on #2035
The original issue was created by @EdColeman , and was a little sparse on details, but if I remember correctly, the issue might have been a typo in the class name (an error in the configuration) causing ClassNotFoundException, rather than a badly behaving iterator, which might be a related, but slightly different problem. A solution may fix both scenarios. I'm not certain.

[2021-04-26 18:40] EdColeman commented on #2035
I could not recall if it was a typo - or if it was somehow deployment related - one possibility - a server missed updates, say it was offline during an upgrade that put down the iterator jar and then started without the necessary jar and joined the cluster.
To me, the hanging shell is not as important as being able to load other tables during a recovery if they are otherwise configured correctly.

[2021-04-26 18:44] milleruntime commented on #2034
@Umang228 thanks for your interest, I can definitely assign you the task. I had opened this issue for the Open Source hackathon that is going on later this week. Would you be participating in that? Here is the link: https://www.eventbrite.com/e/open-source-hackathon-tickets-150583967701

[2021-04-26 18:45] milleruntime commented on #2033
@alimustafashah thanks for your interest, I can definitely assign you the task. I had opened this issue for the Open Source hackathon that is going on later this week. Would you be participating in that? Here is the link: https://www.eventbrite.com/e/open-source-hackathon-tickets-150583967701

[2021-04-26 18:51] alimustafashah commented on #2033
I am a newbie in open source. Would I be a good fit for it?

[2021-04-26 18:52] dlmarion commented on #1993
In `b21af9f` I created two http endpoints in the coordinator: `/metrics` and `/details`. `/metrics` returns a small JSON object that has counters for started, running, completed, and failed external compactions. `/details` dumps the contents of the RUNNING map.

[2021-04-26 19:19] milleruntime commented on #2033
Sure! The hackathon is an opportunity for people of all skill levels and backgrounds to collaborate and make a big impact by creating code that benefits the OSS. The goal of the hackathon is to promote Open-Source contributions by people from diverse backgrounds.

[2021-04-26 19:25] #1993 closed

[2021-04-26 19:27] dlmarion commented on #2028
Wrote ExternalCompactionIT.testUserCompactionCancellation in commit b21af9fea21bff53f3779c057ddc5bc16c730ac9

[2021-04-26 19:30] dlmarion commented on #2026
Added Compactor.getWaitTimeBetweenCompactionChecks which currently waits 3 seconds between checks for the next compaction job. @keith-turner was talking about a different implementation based on the number of Compactors.

[2021-04-26 19:33] dlmarion commented on #1992
Implemented a simple http endpoint in the coordinator (/metrics) that returns a JSON blob that can be parsed by https://github.com/zalando-incubator/kube-metrics-adapter which is a k8s supported custom metrics adapter (see https://github.com/kubernetes/metrics/blob/master/IMPLEMENTATIONS.md#custom-metrics-api) that can be used for horizontal pod scaling

[2021-04-26 19:35] dlmarion commented on #1992
I think #2032 will need to be resolved, specifically the moving of RUNNING.remove(RunningCompaction), to make the RUNNING count useful for scaling.

[2021-04-26 20:23] milleruntime commented on #2030
I thought this is already done? https://github.com/apache/accumulo/blob/e6cc640216e22075c205efeb6ba784a5af720c60/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/Compactor.java#L391-L403

[2021-04-27 03:33] Amisha328 commented on #2034
Hey, can I contribute to this issue?

[2021-04-27 05:26] Amisha328 commented on #2033
Hey,
Can I contribute to this issue?

[2021-04-27 06:32] Umang228 commented on #2034
The event has ended. What i am supposed to do?

On Tue, Apr 27, 2021 at 9:03 AM Amisha Sahu ***@***.***>
wrote:

[2021-04-27 11:00] dlmarion commented on #2030
So, in one of the external compaction tests that I wrote the delete command was waiting to get the FATE lock which was held by the user compaction.

[2021-04-27 11:24] Manno15 commented on #2035
From my testing, ClassNotFoundException was handled correctly. At least in the shell.

The shell hanging was only on the initial part. The latter parts you mentioned, about recovery, does appear to happen as well after things get into a bad state. I will try to recreate the issue without relying on the minor compaction. The shell hanging was a byproduct of compactions retrying until canceled. The

[2021-04-27 13:08] #2033 closed

[2021-04-27 15:02] milleruntime commented on #2030
I did see the CompactionCanceledException thrown in 1.10 while testing #1872. But it looks like the Delete doesn't take any action to cancel the compaction. I guess it depends on where in the compaction process the Delete occurs as to whether the compaction will see the table deleted before it kicks off. I created an IT to test a typical internal majc and saw the compaction hang, timing out the te

[2021-04-27 15:23] EdColeman commented on #2033
@Amisha328 - thank you for your interest, but someone already fixed this issue.

[2021-04-27 15:25] EdColeman commented on #2034
@Amisha328 - someone is already working on this issue.

[2021-04-27 15:35] Amisha328 commented on #2034
Okay, @EdColeman  no issue

But I have already fixed the issue and if you wish I can push the code now if you assign me.

[2021-04-27 15:43] EdColeman commented on #2034
@Umang228 submitted https://github.com/apache/accumulo/pulls/Umang228 - but there are request changes - maybe you could hold off for a bit and see if those can be addressed?

[2021-04-27 16:09] dlmarion commented on #2013
@keith-turner - You moved this to Done, but it's still open. Is this good to close?

[2021-04-27 16:26] Amisha328 commented on #2034
Okay, sure.
Thank You!

[2021-04-27 18:34] milleruntime commented on #2033
@Amisha328 @alimustafashah the registration for the Open Source Hackathon is closed but if you are interested in participating  please email hackathonoss@gmail.com. Information about it can still be found here: https://www.eventbrite.com/e/open-source-hackathon-tickets-150583967701

[2021-04-27 18:35] alimustafashah commented on #2033
Okay I am emailing : )

[2021-04-27 18:39] EdColeman commented on #2034
Closed with PR: #2037

[2021-04-27 18:39] #2034 closed

[2021-04-27 19:08] keith-turner opened #2040 "Use Set.of() instead of new HashSet<>(Arrays.asList()) in MetadataConstraints."
Java recently introduced the Set.of() static methods for creating immutable sets.  These new methods could be used [here](https://github.com/apache/accumulo/blob/9afab2c1b931d100ed6bad5cfe028c28da944427/server/base/src/main/java/org/apache/accumulo/server/constraints/MetadataConstraints.java#L79) and [here](https://github.com/apache/accumulo/blob/9afab2c1b931d100ed6bad5cfe028c28da944427/server/bas

[2021-04-27 19:10] keith-turner commented on #2040
There are other places where this type of change could be made. In Linux can run the following command on the Accumulo source code to look possible places to make this change.

[code]

[2021-04-27 19:23] keith-turner opened #2041 "Use Map.forEach() in LocalityGroupUtil.java"
Recently Java introduced the `Map.forEach()` method.  Using this in conjunction with a lambda results in more succinct and efficient code compared to looping over `Map.entrySet()`.  One place in the Accumulo source code where `Map.forEach()` could improve the source code is [here](https://github.com/apache/accumulo/blob/9afab2c1b931d100ed6bad5cfe028c28da944427/core/src/main/java/org/apache/accumul

[2021-04-27 23:16] keith-turner commented on #1998
Currently external compactions can not commit when a table is offline.  However they can run and complete inserting a final state marker in the metadata table.  I think this behavior is ok.  When a table is brought back online, any compactions that completed while offline would commit.

[2021-04-27 23:16] #1998 closed

[2021-04-28 00:09] keith-turner commented on #2028
@dlmarion  the test look great.  I tweaked them a bit in 2c6095edd1592037b00a178e1e68b6b49001577c

When running them I saw the following error.

[code]

Line 227 is `assertEquals(1, metrics.getStarted());` any idea why that was off?

[2021-04-28 00:14] keith-turner commented on #2026
I was thinking of making the sleep time a function of the # of compactors.  Hoping to achieve something where on average a few compactors check in with the coordinator every second.  Thinking this can be done by increasing each compactors sleep time as the total number of compactors increases.  I'll take a crack at this.

[2021-04-28 01:15] keith-turner commented on #2011
@dlmarion  I made a few tweaks to you new ITs in b7283aa5853aa62fc30e082d170536c2c810f8c0 that test the changes in c478645f984ca0eee8533073d545a20ced29a77d.  If those look good I think we can close this.   One thing I did was make sure the set of ext compaction ids differ before and after split/merge.  Thinking that new ext compaction ids could possibly show up after the split/merge for the new ta

[2021-04-28 03:55] ctubbsii commented on #2041
Some blocks of code can't be converted in this way, because the `forEach` method would allow a lambda that throws a checked exception. So, any candidates for making this change that throw a checked exception will need to remain the way they are now. This is just something for whoever works on this to pay attention to.

[2021-04-28 04:22] Amisha328 commented on #2033
@milleruntime  I have already registered.
Thanks for informing me.

[2021-04-28 04:40] Amisha328 commented on #2033
I will do it.
Thanks for informing @milleruntime

[2021-04-28 10:10] Umang228 commented on #2002
Can I get assigned to this?

[2021-04-28 10:37] milleruntime commented on #2002
@jjmar11 are you still working on this bug?

[2021-04-28 12:05] dlmarion commented on #2011
LGTM

[2021-04-28 12:05] #2011 closed

[2021-04-28 12:08] dlmarion commented on #2028
My guess is that it split the table and then another compaction kicked off. There were other places in the code where I changed `assertEquals(1, metrics.getStarted())` to `assertTrue(metrics.getStarted() > 0)`. I didn't necessarily care that it the value was `1`, just that it was non-zero.

[2021-04-28 12:49] dlmarion commented on #2028
Fixed in f8b906f, I think we can close this.

[2021-04-28 14:04] milleruntime opened #2042 "Replace assertTrue with assertArrayEquals in KeyTest"
The test class `KeyTest` has a few places in the code where `assertTrue` is used with the `Arrays.equals()` comparison. These assertions can be simplified to use the `assertArrayEquals` test.

For example, the following line of code:
`assertTrue(Arrays.equals(row, key.getRowBytes()));`
can be replaced with the equivalent:
`assertArrayEquals(row, key.getRowBytes());`

[2021-04-28 14:35] vallari118 commented on #2042
Hi. Can I take this issue ?

[2021-04-28 14:36] vallari118 commented on #2042
We have to do this wherever assertTrue is done for Array.equals am I right ?

[2021-04-28 14:46] milleruntime commented on #2042
Hi @vallari118 thanks for you interest in this ticket. Are you participating in the OSS hackathon on 4/29-4/30? If you are not, please send an email to hackathonoss@gmail.com to see if there are any spots left.

[2021-04-28 14:48] milleruntime commented on #2042
Yes, correct. I was looking at KeyTest but there may be other places in the code as well that could be included.

[2021-04-28 14:54] vallari118 commented on #2042
I was not participating in hackathon. I won't be able to attend maybe because of work. But I would like to take some small tasks.

[2021-04-28 14:58] milleruntime commented on #2042
OK that is not a problem. I assigned the ticket to you anyway since you showed interest. If you have any questions, feel free to ask.

[2021-04-28 15:01] vallari118 commented on #2042
Sure I will complete this change by Weekend. Thanks !

[2021-04-28 15:29] #2013 closed

[2021-04-28 15:35] #2028 closed

[2021-04-28 16:11] #2032 closed

[2021-04-28 17:01] vallari118 commented on #2042
@milleruntime  Please check I have added the pull request

[2021-04-28 19:52] alimustafashah commented on #2033
I emailed but I did not get any response.

[2021-04-28 22:18] EdColeman commented on #2033
@alimustafashah the group running the hackathon is independent of Accumulo - we are participating as a community, but have no involvement with the registration.

[2021-04-29 00:43] jjmar11 commented on #2002
Hello Mike,

Here is my pull request. https://github.com/apache/accumulo/pull/2046

Javier
________________________________
From: Mike Miller ***@***.***>
Sent: Wednesday, April 28, 2021 6:37 AM
To: apache/accumulo ***@***.***>
Cc: Javier Rodriguez (GOV) ***@***.***>; Mention ***@***.***>
Subject: Re: [apache/accumulo] Bug in VolumeManager.FileType parsing of volume (#2002)

@jjmar11<https://gcc02

[2021-04-29 13:37] milleruntime commented on #2002
Great, thank you. I will defer to @ctubbsii to review the pull request

[2021-04-29 15:24] billierinaldi opened #2047 "Fix javadoc for LongCombiner"
The javadoc for LongCombiner has some inaccurate information about the supported types [on lines 48-49](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/core/src/main/java/org/apache/accumulo/core/iterators/LongCombiner.java#L48). Based on the [Type enum](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/core/src/main/java/org/apache/a

[2021-04-29 15:30] billierinaldi opened #2048 "Typo in CompactableFileImpl method name"
There is a typo in one of the method names in [CompactableFileImpl](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/core/src/main/java/org/apache/accumulo/core/metadata/CompactableFileImpl.java#L62). The method name is getStortedTabletFile when it should be getStoredTabletFile. This ticket is to rename the method.

[2021-04-29 15:44] nicolasalarconrapela commented on #2048
Can i change it?

[2021-04-29 15:56] billierinaldi commented on #2048
Hi @nicolasalarconrapela, yes you can fix this issue. Let me know if you have any questions.

[2021-04-29 16:13] keith-turner commented on #1992
Wrote an IT in 860b87d7c84018c84b6244f06bb54b7db9f5c4a9 for these changes 38d4badfc23acf5b858dc4bc53401f5d47452722.

[2021-04-29 16:13] #1992 closed

[2021-04-29 16:44] billierinaldi opened #2049 "Rename method in SingletonManager"
There is a typo in a method name in SingletonManager. The method is named releaseRerservation when it should be releaseReservation. This ticket is to [rename the method](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/core/src/main/java/org/apache/accumulo/core/singletons/SingletonManager.java#L142).

[2021-04-29 17:14] Umang228 commented on #2049
Assign this to me...

[2021-04-29 17:22] Umang228 commented on #2047
Assign this to me...

[2021-04-29 17:28] EdColeman commented on #2047
Please correct your issues on https://github.com/apache/accumulo/issues/2049 first.

[2021-04-29 18:13] #2048 closed

[2021-04-29 18:20] billierinaldi opened #2053 "Rename field in TabletServerResourceManager"
The field name [summaryParitionPool in TabletServerResourceManager](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/server/tserver/src/main/java/org/apache/accumulo/tserver/TabletServerResourceManager.java#L101) has a typo. The field should be named summaryPartitionPool. The field is used multiple times in this class, so all uses will need to be fixed.

[2021-04-29 18:37] himanshu007-creator commented on #2053
Hi i would like to work on this issue

[2021-04-29 18:46] billierinaldi opened #2054 "Fix typo in ClientOpts option description"
The description of the password option in ClientOpts has a typo. It says [conection](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/core/src/main/java/org/apache/accumulo/core/cli/ClientOpts.java#L155) instead of connection. This ticket is to update the description to say connection.

[2021-04-29 19:04] sjyang18 commented on #2054
Let me work on this simple fix.

[2021-04-29 19:27] #2054 closed

[2021-04-30 03:07] keith-turner opened #2057 "Need IT to ensure partial and full compactions work as expected"
Need an IT to ensure that external compactions behave as expected when compacting a subset of files vs all files.

[2021-04-30 03:20] keith-turner commented on #1996
Got this working in 01ab70d3a75bf401f3f0d33159f7bd907830aa92.  Below is some sample output from the shell.  I added the C to the Server column for a compactor, not sure I like that though.

[code]

[2021-04-30 03:43] keith-turner commented on #1996
This is what an internal compaction looks like.

[code]

[2021-04-30 11:47] milleruntime commented on #1996
What does the C and T mean? You could leave the internal ones the way they are now and put (external) next to the external compactions.

[2021-04-30 12:02] dlmarion commented on #1996
My guess is that it's the process thats performing the compaction:
T == TabletServer
C == Compactor

[2021-04-30 12:05] dlmarion opened #2058 "Need to add IT for Compactor dying"
Need to add a test where the Compactor dies to ensure that the Coordinator and the TabletServer notice it and un-reserve the external compaction.

[2021-04-30 12:07] dlmarion opened #2059 "Need to add test where Coordinator dies and/or restarts"
If the Coordinator dies, the Compactor will continue to run the compaction but then fail to notify the Coordinator, nothing will be written into the metadata table to show that the compaction has completed and the tserver will think that the compaction is running.

On a Coordinator restart, the Coordinator should contact the Compactor to see what's running and populate the RUNNING list.

[2021-04-30 13:03] alimustafashah commented on #2049
Can you assign this task to me?

[2021-04-30 13:04] jmark99 commented on #1293
Fixed by #2039

[2021-04-30 13:04] #1293 closed

[2021-04-30 14:02] #2049 closed

[2021-04-30 14:48] keith-turner commented on #1996
That seems better.  Maybe something like `ext accumulo:9101`

I like that information efficiency of that.  Don't like the header column just showing in the middle of data.

[2021-04-30 16:13] billierinaldi opened #2062 "Fix typo in exception message in VolumeImpl"
There is a typo in an [exception message in VolumeImpl](https://github.com/apache/accumulo/blob/f9bc91405ea4fb166d50d28a26d438265af5b554/core/src/main/java/org/apache/accumulo/core/volume/VolumeImpl.java#L131). The message says that instace.volumes is incorrect, when it should say instance.volumes. This ticket is to fix the exception message.

[2021-04-30 16:34] milleruntime commented on #2001
@ctubbsii A big problem that I have run into while trying to make the CryptoService table aware (with an implementation like the balancer) is providing the tableName (or tableId) through the RFile client classes. For example, I want to create an RFile for bulk import, there won't be a table associated with it yet so there is no way to know that when writing the file. The balancer doesn't have this

[2021-04-30 19:02] #2062 closed

[2021-04-30 19:10] keith-turner commented on #1996
I pushed 14bd334d968c887e51c082672bf90c022809730d based on discussion.  However I have not yet tested it.  Plan to do that later.

[2021-04-30 19:56] lawynnj commented on #2047
Hello, I would like to pick up this issue.

[2021-04-30 22:55] hguercan commented on #2040
Hi, I would like to work on this issue

[2021-05-01 04:24] Amisha328 commented on #2053
Is this issue still Open. Can I contribute to it?

[2021-05-01 07:28] EdColeman opened #2066 "Field map in org.apache.accumulo.core.util.MapCounter can be final"
The declaration of [map in MapCounter](https://github.com/apache/accumulo/blob/c180b344789fc74c7f5d2387c8a49f71df8e5892/core/src/main/java/org/apache/accumulo/core/util/MapCounter.java#L34) on line can be final.

[2021-05-01 07:35] EdColeman commented on #2053
@Amisha328  - would you be interested 2066? This one may be in progress.

[2021-05-01 07:37] alimustafashah commented on #2066
Can I take this? Also, can you specify the file?

[2021-05-01 07:45] EdColeman commented on #2066
@Amisha328 has been trying to find an issue - I'd like to see if they would like to try.

[2021-05-01 07:49] Amisha328 commented on #2053
Sure, I will be working on 2066.

[2021-05-01 07:49] Amisha328 commented on #2066
@EdColeman  Yes, I would like to work with this issue.

[2021-05-01 08:06] alimustafashah commented on #2066
Sure : )

[2021-05-01 16:09] #2047 closed

[2021-05-01 16:24] lawynnj commented on #2041
Hello, I would like to pick up this issue, if possible.

[2021-05-01 17:08] ctubbsii commented on #2049
Fixed in #2061

[2021-05-01 17:10] ctubbsii commented on #2054
Fixed in #2056

[2021-05-01 18:06] EdColeman opened #2070 "Broken or Flaky test: ShellServerIT"
**ShellServerIT**

**Describe the failure observed**
ShellServerIT is failing with two errors consistently.

ShellServerIT.testPertableClasspath times out.
<details>
  <summary>Click to expand!</summary>
  `ERROR] org.apache.accumulo.test.ShellServerIT.testPertableClasspath  Time elapsed: 60.007 s  <<< ERROR!
org.junit.runners.model.TestTimedOutException: test timed out after 60 seconds
	at java.b

[2021-05-01 23:15] EdColeman commented on #2070
The issue with the durability test appears to be that the table is scheduled for deletion about as soon as it is created, but the test method is still in progress.  The table deletion was being performed as a test after action - but deleted all tables.  Moving the clean-up to afterclass so it executes once, at the end of the test seems to have fixed that issue.
`
2021-05-01T18:28:12,663 [accumulo.

[2021-05-01 23:50] EdColeman commented on #2070
The Pertable test seems to be failing because of mis-configuration or change in the constraint.

from the surefire test log

`
2021-05-01T19:34:05,631 [Shell.audit] INFO : root@miniInstance testPertableClasspath> insert foo f q v
2021-05-01T19:34:16,394 [vfs.ContextManager] DEBUG: Managed Contexts: {FAKE=org.apache.accumulo.start.classloader.vfs.ContextManager$Context@71ca96f1}
2021-05-01T19:34:16

[2021-05-02 00:27] EdColeman commented on #2070
The FooConstraints jar uses deprecated Constraints class. The jar has:
`
import org.apache.accumulo.core.constraints.Constraint;
import org.apache.accumulo.core.constraints.Constraint.Environment;

expected (since 2.1) (moved from core to data)

org.apache.accumulo.core.data.constraints.Constraint
org.apache.accumulo.core.data.constraints.Constraint.Environment
`
It should be possible to rebuild t

[2021-05-02 13:10] #2066 closed

[2021-05-02 13:11] EdColeman commented on #2066
Closed with #2071

[2021-05-02 14:49] #2040 closed

[2021-05-02 14:52] EdColeman commented on #2040
Closed with #2065

[2021-05-02 17:34] #2053 closed

[2021-05-03 05:43] ctubbsii commented on #2070
@EdColeman I edited your description and comments above to use triple backticks for the code blocks, and to add blank lines between the `<details>` HTML tags and the markdown code blocks, so they rendered correctly.

[2021-05-03 05:47] ctubbsii commented on #2053
Fixed in #2055

[2021-05-03 16:18] #2058 closed

[2021-05-03 16:55] #2059 closed

[2021-05-03 18:13] milleruntime commented on #2070
at org.apache.accumulo.tserver.constraints.ConstraintChecker.check(ConstraintChecker.java:104)

This is a regression with the changes I made to the Constraints API. It was still supposed to work with existing constraints. I will look at this part. I am not sure why the `durability()` test would be failing.

[2021-05-03 19:45] #1996 closed

[2021-05-03 21:58] keith-turner commented on #2026
@dlmarion can you review the changes in 022f4b9e25c34cabeb2562b678cc9f065b4d12ed

I tested this locally.  I started and stopped compactors and saw the trace message reflect the number of compactors.

[2021-05-03 22:18] dlmarion commented on #2026
LGTM

[2021-05-04 00:48] #2026 closed

[2021-05-04 11:31] dlmarion commented on #2057
@keith-turner  - Assigning this to you, you have more knowledge in this area.

[2021-05-04 12:19] dlmarion commented on #1991
@keith-turner  - I updated `_docs-2/getting-started/design.md` and `_docs-2/getting-started/design.md`. I think we should remove the files in the design directory from this branch.

[2021-05-04 13:00] milleruntime opened #2076 "Encrypt Sorted Recovery files"
During recovery, the write ahead logs are read, sorted and written back to disk using `org.apache.hadoop.io.MapFile.Writer()`. If the On Disk Encryption feature is used, the sorted Map files will not be encrypted during this time. In order for the On Disk Encryption to be complete, these files need to be encrypted on disk. The best solution would probably be to use RFile, like is used with the res

[2021-05-04 16:18] dlmarion opened #2077 "Add field to TExternalCompactionJob for compaction overrides"
Need to capture things like RFile block sizes and compression configuration.

[2021-05-04 19:15] milleruntime commented on #2001
I was able to discuss with @ctubbsii a design alternative to the minimal approach I was taking. The idea we came up with was to add a factory layer (something like CryptoServiceFactory) to handle the table -> CryptoService association. The file utilities that handle reading and writing to RFiles will still be ignorant of their table but just know whether a file is encrypted or not. Either way I th

[2021-05-04 20:35] Akshit6828 commented on #2042
is this issue still open? @milleruntime  . If yes, please can I contribute to it? if no, then please help me with some good first issues as I want to contribute to open-source projects.

[2021-05-04 20:39] EdColeman commented on #2042
@Akshit6828 there has been a PR submitted, waiting for comments to be addressed.

[2021-05-04 20:42] Akshit6828 commented on #2042
ok thanks, @EdColeman . I'll be waiting for some other good first issues.

[2021-05-04 21:00] EdColeman opened #2078 "Variables in org.apache.accumulo.fate.FATE class can be final."
The fields store, environment and executor can be marked final in [FATE](https://github.com/apache/accumulo/blob/552fd33407f9346fba45525f3abb36864de2ea09/core/src/main/java/org/apache/accumulo/fate/Fate.java#L51)

[2021-05-04 21:01] EdColeman commented on #2042
@Akshit6828 - take a look at https://github.com/apache/accumulo/issues/2078

[2021-05-04 21:08] Akshit6828 commented on #2078
Hi @EdColeman  can i work on this issue?

[2021-05-04 21:19] #2077 closed

[2021-05-04 21:50] EdColeman commented on #2078
My mistake - executor cannot be final - the other filed that can be final is keepRunning - would you correct and push the changes to your PR - sorry for the confusion.

[2021-05-04 21:52] Akshit6828 commented on #2078
Sure @EdColeman  . Yeah, I saw the checks. It's generating an error as: cannot assign a value to a final variable executor.

[2021-05-04 21:53] Akshit6828 commented on #2078
No problem @EdColeman  sir. I'll fix this up and submit a PR.

[2021-05-04 22:15] Akshit6828 commented on #2042
Thanks, @EdColeman for mentioning the issue. 😃

[2021-05-04 23:45] keith-turner commented on #2057
Added IT in 08fccf70bee7f85acf52fe1a8f7e9fe51b9d05d2

[2021-05-04 23:46] #2057 closed

[2021-05-05 10:32] #2078 closed

[2021-05-05 11:21] dlmarion commented on #1990
I think we have pretty good coverage now. Going to close this.

[2021-05-05 11:21] #1990 closed

[2021-05-05 14:40] dlmarion opened #2081 "QA build fails due to dependency issue"
Getting the following warning in the QA build:
[code]
If I change the dependencies around, I get the exact opposite error. I'm not sure how to resolve this.

[2021-05-05 15:14] #2081 closed

[2021-05-05 15:47] keith-turner opened #2082 "Remove compactors in ZK w/ no children"
Compactors register their-self in ZK w/ a service lock.  Service locks are a persistent node w/ ephemeral nodes underneath.  If compactors come and go and different addresse+port, then this can pollute ZK w/ persistent host+port nodes w/o any children.  The Coordinator should periodically scan for persistent compactor nodes w/ no children and delete them.

The manager does a similar thing for Tser

[2021-05-05 19:40] #2042 closed

[2021-05-06 18:06] Viv1986 opened #2085 "Unassigned tables on every restart accumulo 1.10.1"
HI all,

have accumulo 1.10.1 and last month every restart broke +r table which is root and after restore, it become whole cluster unassigned tables and need to wait near hour while all tables will be assigned,
there is 1 master and 2 table servers, can anybody help me with that?

021/05/06 17:20:50,343 | tserver:xxxxxx140.internal.xxxx.net | 1 | WARN | exception trying to assign tablet +r<< hdfs:

[2021-05-06 18:33] ctubbsii commented on #2085
Based on the error message, it looks like you're missing a recovery file in HDFS for the root tablet. I would first check for HDFS being corrupt. Did you see this after a failure? Have you finished recovering HDFS from that failure before starting Accumulo? Were any files unrecoverable in HDFS? Did all nodes come back online for HDFS?

[2021-05-06 20:28] DomGarguilo commented on #947
After a bit of investigation, this may not be an issue. The proposed change is to cache the props map in question and only update it if the configuration changes. However, the props maps are only ever generated once, when they are null. Assuming this is correct, this may not be an issue.

During my investigation I did look into the mentioned counter that is updated when AccumuloConfig changes howe

[2021-05-07 11:05] Viv1986 commented on #2085
@ctubbsii didn't found any errors in hdfs, everything recover ok, problem that I can't reboot cluster or table, it's all time become unavailable while all tables witll be reassgined

[2021-05-07 16:10] EdColeman commented on #2085
Do you have a lot of data in the write-ahead logs?  Is your ingest streaming or do you do mostly bulk ingest?

If you do not have a lot of data in the WAL, and IF you can determine that the tables rfiles are intact and accessible, you could try a few things - but these will likely lead to some data loss - especially for anything in the WALS.

Does the directory from your error message exist, does

[2021-05-07 18:23] ctubbsii commented on #2085
Before you do any recovery, I would examine the logs for any references to the missing file, to see if you can determine what might have happened to it. If HDFS is healthy and has no corrupt or missing data, I'm very curious how the file could have gone missing.

[2021-05-10 12:18] dlmarion commented on #2082
was this addressed in b9ddb33c5920663990885bae5a17b90f0976315f?

[2021-05-10 14:59] dlmarion opened #2088 "Close old website external compaction PR"
I think we can close https://github.com/apache/accumulo-website/pull/223, I believe it's OBE.

[2021-05-10 15:01] dlmarion opened #2089 "Cleanup documentation PR"
I'm thinking we should remove the files in the design directory in the PR https://github.com/apache/accumulo-website/pull/266. Most likely the design is OBE. If we want to keep it, then we will have to update it.

[2021-05-10 16:18] milleruntime opened #2091 "Rewrite history test in ShellServerIT"
There are a few problems with the `history` test in ShellServerIT. The test should be rewritten to create a table with a unique name and then look for that unique name using the history command.

[2021-05-10 16:47] Manno15 commented on #2091
What I have noticed so far is that the history file isn't properly created inside the IT.

[2021-05-10 17:10] sjyang18 opened #2092 "When TLS is enabled in the zookeeper side, accumulo monitor should use TLS connection to get zookeeper status."
**Describe the bug**
When TLS is enabled & configured in the zookeepers, accumulo monitor still continuously use normal Transport connections to zookeepers to get zookeeper status. This generates unsuccessful handshake errors and NotSslRecordException in zookeepers continuously. Looking at code, TTimeoutTransport class seems to be used, which fails to do handshaking with TLS-enabled zookeepers.

*

[2021-05-10 17:23] EdColeman commented on #2092
The zookeeper status has been removed from the monitor, starting with 2.1 (when that is released)

[2021-05-10 17:41] dlmarion opened #2093 "Update Upgrade code for external compactions"
TODO in Initialize.java : `// TODO upgrade code should create following paths in ZK`

[2021-05-10 18:12] #2093 closed, assigned to dlmarion

[2021-05-10 20:30] ctubbsii commented on #2092
@EdColeman It looks like the view was removed from the monitor, but the background thread that does the 4lw operation still tries to run. See the ZooKeeperStatus class and its background thread in the Monitor class. These should probably be removed to complete the work began in #2020

[2021-05-10 21:17] keith-turner opened #2094 "Use lower cardinality type for compaction priority"
Compaction Jobs currently use a long for compaction priority.  For external compactions this could potentially cause problems in the compaction coordinator if millions or billions of distinct priorities were actually used.  Instead of telling people not do that, it would probably be better to change the type for priority from a 64 bit integer to an 8-bit or 16-bit integer.

[2021-05-11 11:49] Manno15 commented on #2091
Correction, the history file isn't properly created for the `history` test. For some reason, tests that use an input, i.e. `ts.input.set("name1")`, will show up in the history file (the string inside the parentheses that is). This does not work in the history function though.

It does seem that the exec commands do not properly show up in the history file as expected so the IT does not correctly s

[2021-05-11 12:46] dlmarion commented on #2094
@keith-turner - I think we can remove this from the External Compactions project.

[2021-05-11 14:21] #1991 closed

[2021-05-11 16:40] Viv1986 commented on #2085
@ctubbsii I examine all logs and found nothing, also by hdfs dfs -ls I able to find that wal file and it have some size, so, any other suggestions except reinitialization?

[2021-05-11 17:02] milleruntime commented on #2076
The first hurdle is changing `SortedLogRecovery` to use RFile instead of MapFile. That will probably be one pull request. Once that is done, then we will be able to use them for encryption.

@ctubbsii my initial work translating the WAL event data to RFiles implements a schema that stores `LogEvents` in the column family. I think this will allow using locality groups based on the different values

[2021-05-11 17:30] keith-turner commented on #2094
I moved it out of the the external compaction project to a 2.1.0 blocker because I think it can be done after external compactions are merged, but should be done before a 2.1.0 release as it would change SPIs that are new in 2.1.0

[2021-05-11 18:02] #2088 closed, assigned to nobody

[2021-05-11 18:25] dlmarion commented on #1955
Looked some more at this and was not able to reproduce the the watcher invocation issue.

[2021-05-11 21:24] #2092 closed

[2021-05-12 09:36] Viv1986 commented on #2085
ok my last tests show me that all clusters have that problem, and it's not related to error which described in my first message, I use ambari and it's restart tables and master with kill -9, and seems it's ok with reassign tables with such restart.
I have another cluster with same config, but with heapsize = 1.5G, and 40.75B records, and reassign there take near 15 minutes, and same cluster with 4

[2021-05-12 10:42] milleruntime commented on #2076
I can see where that would speed up recovery. I haven't done much with locality groups so not sure how that would work with the sorting of the log events. I was going with a schema that preserves the current way the WAL events sort, by Event + tabletId + sequence number:
<pre>
        Row = EventTypeInteger_tabletID_seq
        Family = event
        Qualifier = tserverSession OR filename OR KeyEx

[2021-05-12 11:50] milleruntime commented on #2076
If I gave each enum in `LogEvents` a unique number for sorting, then I wouldn't have to store the string in the column family. The new numbering could look like this:
<pre>
    // OPEN = 0
    // DEFINE_TABLET = 1
    // COMPACTION_START = 2
    // COMPACTION_FINISH = 3
    // MUTATION = 4
    // MANY_MUTATIONS = 5
</pre>

It would be extra convenient if the `ordinal()` of the enum corresponded to

[2021-05-12 13:01] EdColeman commented on #2085
When you do a restart, do you start the tservers and THEN the master(s) - if you start the master first, it will see assign everything to the first tserver(s) that it sees, resulting in an unbalanced cluster that takes a while for everything to be processed and then rebalanced because only one (or a few) tservers are processing everything.  There is a property to have the master wait for a require

[2021-05-12 13:50] #2000 closed

[2021-05-12 14:05] keith-turner commented on #2076
I think the sorted WALs are structured such that needed information sorts together and can be efficiently found via seek.  I have not looked at the code in a while, but I am not sure sorted WALs are ever scanned entirely.  I think they may only be seeked to specific places.  If this is true then there may not be a benefit to LGs.

[2021-05-12 14:15] keith-turner commented on #2076
Would need to maintain code to recover old WALs, or refuse to upgrade if WALs are present forcing user to run old version and resolve WALs.  Refusing to upgrade could be annoying for the user as its difficult to know if there are WALs. They could end up in a loop trying to run new version and having to fall back to old version.

[2021-05-12 15:51] Viv1986 commented on #2085
@EdColeman it's reassign in any case, if I start first master, the last, or even if I not restart master.
Tables run compaction time per time, not manually, but some time ago I added disks and started major compaction and it run ok without any notice.

[2021-05-12 16:12] keith-turner commented on #947
Yeah I think the caching solves this issue.  I also like the caching as it provides a consistent snapshot of those props to plugins.  There is a comment that could be removed [here](https://github.com/apache/accumulo/blob/3c039c75ba257c9ff47e0b09be53ef12665ddc74/core/src/main/java/org/apache/accumulo/core/util/ConfigurationImpl.java#L110).

Looking at the code in ConfigurationImpl, it seems like i

[2021-05-12 16:14] EdColeman commented on #2085
Please move this to discussion to the [user mailing list](https://accumulo.apache.org/contact-us/) .  On the list, please describe what steps you are taking,  and then behavior of the system - other details like # of tservers / tablets per tserver, type of ingest (bulk or batch) would be really helpful.  That will provide you with a wider audience for those that are not seeing this discussion.

[2021-05-12 16:17] DomGarguilo commented on #947
Okay sounds good, thanks.

I'll go ahead and do that.

[2021-05-12 16:22] #2002 closed

[2021-05-12 16:58] ctubbsii commented on #2076
I wouldn't use an integer in place of the enum. RFile is already probably fine at compressing, and there's value in being able to actually read the file contents while troubleshooting. I don't think it would save much.

As Keith says, the current key scheme may be adequate... it's certainly the simplest migration. In that case, you don't need to use the CF, CQ, or CV at all. Just Row/Value.

Where

[2021-05-12 17:00] Viv1986 commented on #2085
@EdColeman tried, but all time

Hi. This is the qmail-send program at apache.org.
I'm afraid I wasn't able to deliver your message to the following addresses.
This is a permanent error; I've given up. Sorry it didn't work out.

<user@accumulo.apache.org>:
Must be sent from an @apache.org address or a subscriber address or an address in LDAP.

[2021-05-12 17:06] EdColeman commented on #2085
Did you subscribe first?

[2021-05-12 17:18] ctubbsii commented on #947
Based on the above conversation, I'll go ahead and close this issue. @DomGarguilo , feel free to make a PR to remove the comment. That PR doesn't have to depend on this issue being open, since this issue describes something else entirely.

[2021-05-12 17:18] #947 closed

[2021-05-12 18:02] milleruntime commented on #2076
The current scheme in LogFileKey is just an implementation for `WritableComparable` which includes serialization/deserialization and the compareTo method. Part of this task is translating `LogFileKey` into an Accumulo `Key` so we can store it in an RFile. I am also translating `LogFileValue` into an Accumulo `Value` (but this is just the mutations serialized). We need somewhere to put all the info

[2021-05-12 18:35] milleruntime opened #2100 "Make LogReader more discoverable"
I am not sure how many know about it but I just discovered the utility called `LogReader` for reading the WALs. It would be nice if it was more discoverable and easier for Admins to run. I think some documentation at the minimum and perhaps an Admin command to run it from the `accumulo` command.

[2021-05-12 19:05] #1628 closed

[2021-05-12 19:19] ctubbsii commented on #2100
Could have a KeywordExecutable, like we have for `rfile-info`. Could be `wal-info`.

[2021-05-12 23:18] EdColeman commented on #2085
Closing this - the discussion has moved to the mailing list and there is not enough actionable information in the issue to take any action.

[2021-05-12 23:18] #2085 closed

[2021-05-13 10:23] #2091 closed

[2021-05-13 15:26] milleruntime opened #2105 "JSON properties displayed with different quotes in Shell"
Setting properties that take JSON as a value in the Shell is cumbersome. It took me several tries to finally figure out that the entire option passed to the "-s" parameter needs to be in quotes. For example, if i want to change a value in the compaction property
`tserver.compaction.major.service.meta.planner.opts.executors`, I have to enter the entire string and modify the value I want to change:

[2021-05-13 15:43] ctubbsii commented on #2105
The quoting in the shell may be a little quirky, but I don't think it's so inconvenient as to require writing and maintaining a whole new feature to avoid quoting. Perhaps we could improve the error message from whatever you tried the first time? Or provide a debugging log message, to show what it thinks you entered so you can find the problem with quoting more quickly?

[2021-05-13 15:46] milleruntime commented on #2105
One of the issues right now is that the default values get displayed with two kinds of quotes:
<pre>
root@uno> config -f compaction.major.service
-----------+--------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------
SCOPE      | NAME

[2021-05-13 15:53] ctubbsii commented on #2105
Single quotes are not considered proper JSON. Many JSON parsers are forgiving in this regard, but it's technically not valid to use single quotes in JSON. The values should only use double-quotes in the first place. Then, you can use single-quotes to quote the entire value in the shell. We could also make the output of the shell show copy/paste friendly quoting, so quotes are already escaped and v

[2021-05-13 15:58] milleruntime commented on #2105
I found the issue fairly quickly. I guess my issue is with the JSON in the first place. We are basically asking users to write scripts in order to set these properties and that worries me. Maybe its not that big of deal on a large cluster but I guess it would depend on how a user does configuration management of their cluster in the first place.

[2021-05-13 16:24] keith-turner commented on #2105
I didn't easily settle on using json.  However I saw it as an option between the following

[code]

or the following

[code]

and thought that json would be better than the exploded options.  Also the JSON is not intrinsic to Accumulo, its just something the default planner plugin uses.  One could write another planner that does not use json for its options.

[2021-05-13 16:44] #2100 closed

[2021-05-13 18:38] milleruntime commented on #2105
I opened https://github.com/apache/accumulo/pull/2109 so the JSON is properly displayed. Then users can at least copy and paste the JSON that gets returned when changing the default values.

[2021-05-13 19:57] keith-turner opened #2110 "Remove redundant information in tablets external compaction entry."
When an external compaction is running tablets record this in the metadata table w/ information about the external compaction.  The following is an example of this.  In the following json the fields `tmp` and `dest` are a bit redundant, could look into only having one of the fields.  All that is needed for the running external compaction is `tmp` field, that is where its writing to.  The `dest` fi

[2021-05-14 18:10] #2105 closed

[2021-05-14 19:02] keith-turner opened #2111 "Need to test rebuild of selected set on tablet load."
When a tablet it initiates a user compaction it selects a set of file and then works to get those files compacted across possibly multiple compactions.  For external compactions the set of selected files file is rebuilt when a tablet unload and reloads on another tserver.  If possible this scenario should be tested, if its not already.

[2021-05-17 20:43] ctubbsii commented on #2041
@lawynnj Are you still interested in working on this?

[2021-05-17 20:46] ctubbsii commented on #1916
I wonder if this is a duplicate of #608

[2021-05-17 20:47] ctubbsii commented on #1916
I think this might be a duplicate of #608

[2021-05-17 21:50] lawynnj commented on #2041
@ctubbsii unfortunately I am not. Sorry!

[2021-05-18 10:03] slackwinner commented on #2041
If this task still needs to be done, I can complete it.

[2021-05-18 14:36] ctubbsii commented on #2041
@slackwinner , @jjmar11 had expressed to me that they were interested.

[2021-05-18 14:40] slackwinner commented on #2041
@ctubbsii I was about to send a PR to fix this issue but will stand down to allow @jjmar11 to work on this.

[2021-05-18 14:47] slackwinner commented on #2041
My mistake. I accidentally hit the draft PR button. I'll close out the PR I made.

[2021-05-18 14:51] ctubbsii commented on #2041
@slackwinner I think it's fine. Go ahead and re-open your PR. It's a small task, and you've already started on it. It doesn't matter that much.

[2021-05-18 17:56] milleruntime commented on #1916
It is possible but one big difference I noticed is that `SuspendedTabletsIT` does not use Bulk Import. If there is a race condition between the Garbage Collector and Metadata tablet mutations, then it might not make a difference.

[2021-05-18 17:58] #2041 closed

[2021-05-18 18:02] ctubbsii commented on #1916
I'm not sure it's a race condition with metadata writes. I'm thinking this has something to do with a logic error involving WALs and the garbage collector. In both SuspendedTabletsIT and in #608, there was a tserver failure and WAL recovery.

[2021-05-18 18:11] milleruntime commented on #1916
So you think its more likely to be another recovery bug? Specifically, a recovery bug when recovering the metadata table? I know this IT used to have issue when crashing a tserver hosting Metadata tablets. If this was fixed in #1888 or if it shows up too infrequently in SuspendedTabletsIT, then perhaps we need another test, specifically for this bug.

[2021-05-18 19:42] ctubbsii commented on #1916
That's my suspicion, but I don't have strong evidence for this.

I don't know about that. It could be a generic recovery bug, and we just tend to notice when it affects the metadata table, because it affects Accumulo behavior, rather than user data.

I've only seen this specific issue once. If it is the same as #608, then it's only ever occurred a handful of times to my knowledge. Either way, it s

[2021-05-19 18:12] DomGarguilo commented on #680
Are you suggesting having a method that accepts a table name as its sole parameter?

What do you think would need to be added?

[2021-05-19 18:14] DomGarguilo commented on #695
This may be able to me included as part of #2017

[2021-05-19 18:45] DomGarguilo commented on #1091
It also looks like `BatchWriter mbw` could be created within a try-with-resources block seeing how it is autoclosable. Additionally it does seem like the two mentioned if statements could be combined. I see this is an old ticket but you are assigned, @keith-turner. Are you working on this one?

[2021-05-19 20:59] keith-turner commented on #2111
Could try to test the end-to-end functionality works in an IT.  The code that rebuilds the selected set of files has a lot of sanity checks.  Could refactor the code so that all of these sanity checks can be exercised in a unit test.

[2021-05-20 04:08] ctubbsii commented on #680
We could add an overloaded `createConditionalWriter(String tableName)` that just calls `createConditionalWriter(tableName, new ConditionalWriterConfig())`, but conditional writers seem used infrequently enough that it doesn't really warrant the overload, since this is already pretty easy to do.

It wouldn't *require* it, but we could make it so `new ConditionalWriterConfig()` gets default values f

[2021-05-20 14:35] keith-turner opened #2114 "Consolidate compaction functionality testing between internal and external compactions"
External compactions were added in #2096 and in this change there is a new IT called ExternalCompactionIT.  This IT tests some things that specific to External compactions (like fault conditions) and it test some functionality that is common between external and internal compactions.  It would be good to consolidate testing of common functionality and write test that can run against both.  For exa

[2021-05-20 14:44] keith-turner commented on #680
Yeah that is what I was thinking, like [createBatchWriter(String)](https://github.com/apache/accumulo/blob/af2d2d630094fc06e0ac1d6702a9a49d30ec1e94/core/src/main/java/org/apache/accumulo/core/client/AccumuloClient.java#L195), `createBatchScanner(String)`, `createScanner(String)`.  All of those method were added for 2.0. I had wanted to add one for the conditionalWriter before 2.0 to make it consis

[2021-05-20 15:07] ctubbsii commented on #680
Making it consistent is a good idea. I'm still not sure about changing the defaults via client properties though. That may or may not be worth it.

[2021-05-20 15:08] DomGarguilo commented on #680
It does seem like it could clean up ConditionalWriterIT a bit seeing that `createConditionalWriter(tableName, new ConditionalWriterConfig()))` is used a good number of times.

[2021-05-20 15:42] keith-turner commented on #680
I was thinking the client prop behavior should be consistent w/ the other methods. Looking into it, the method w/o a config object is completely unrelated to client config override for createBatchWriter() methods.  For example the following will merge in client config for batch writer for either of the createBatchWriter methods.

https://github.com/apache/accumulo/blob/af2d2d630094fc06e0ac1d6702a9

[2021-05-20 16:19] keith-turner commented on #680
It also bypasses any client props.

[2021-05-20 16:30] keith-turner commented on #680
In my opinion it would be useful.  Configuring via client props is so much better than configuring things in Java code when the situation supports it.  Maybe I can get to it for 2.1 if there is no interest.  May also be nice to look for any other thing that can be configured via java API in client and not by client props, not that everything needs a client prop but it may be nice to know what else

[2021-05-20 16:37] milleruntime commented on #2001
I had an idea for this table awareness problem. We could have a guard on any table that is configured for encryption to fail a bulk import if any file in the directory is unencrypted.

[2021-05-20 16:39] milleruntime commented on #2111
I assigned this to myself as a reminder TODO next but anyone feel free to tackle in the meantime as I am not actively working this issue.

[2021-05-20 16:48] keith-turner opened #2115 "Unit test converting client props to BatchWriterConfig"
A simple unit test to ensure client props are reliably converted to a batch writer config object could be added for [this method](https://github.com/apache/accumulo/blob/af2d2d630094fc06e0ac1d6702a9a49d30ec1e94/core/src/main/java/org/apache/accumulo/core/clientImpl/ClientContext.java#L286)

Maybe refactor the code as follows for unit testing.

[code]

[2021-05-20 16:49] keith-turner commented on #680
I opened #2115 after poking around in the existing code as a result of looking into this issue.

[2021-05-20 17:35] keith-turner commented on #2001
That made me wonder if it would be possible to write a [CompactionSelector](https://github.com/apache/accumulo/blob/af2d2d630094fc06e0ac1d6702a9a49d30ec1e94/core/src/main/java/org/apache/accumulo/core/client/admin/compaction/CompactionSelector.java#L42) that selects unencrypted files for compaction.  This could be used in two ways.  First it could be configured on a user initiated compaction as a

[2021-05-20 17:47] ctubbsii commented on #680
You're right. I was actually thinking of the case where client properties is long-lived, and was skeptical that client properties for this would be appropriate for the lifetime of a long-lived client, or reusable for many short-lived clients using the same, unmodified, properties file.

However, your phasing here highlights another use case I had overlooked: short-lived client props for the purpos

[2021-05-20 17:51] ctubbsii commented on #2001
That would be cool, but right now, there isn't a way to determine how files were encrypted without reading a bit of the file metadata.

[2021-05-20 18:04] milleruntime commented on #2001
Would it be useful to add an encrypted flag to the metadata table in `DataFileColumnFamily`? Or perhaps an even bigger change would be to store the file differently and have something in `TabletFile`? Every tablet file directory now starts with "t-0003".  What if we stored encrypted files in directories starting with "e-0003"?

[2021-05-20 18:06] keith-turner commented on #2001
I was wondering about that.  Looking at the code each compaction service has single thread that does selection and planning, however I think the code would easily support multiple threads.  This thread pool size is currently not configurable, but it could be. User compactions would examine each file once, if this were done in a thread pool with lots of threads that may be ok.  For the case of a pe

[2021-05-20 18:12] keith-turner commented on #2001
For the case of selecting files for compaction in order to encrypt, thinking it may be best to open the files and examine them IF that examination can determine wether the files encryption config differs from the tables encryption config.

[2021-05-20 18:36] DomGarguilo commented on #680
I'm not sure I understand what is being proposed in terms of using client properties. Is it being suggested that properties be added to the client in order to create a `ConditionalWriterConfig`?

[2021-05-20 18:41] DomGarguilo commented on #1091
Are you suggesting that currentRow is updated after the new mutation is created here:
https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/server/manager/src/main/java/org/apache/accumulo/manager/tableOps/tableImport/PopulateMetadataTable.java#L169
Similar to how it is updated in the if block above it?

[2021-05-21 15:02] keith-turner commented on #1091
@DomGarguilo yeah I think that is what I was thinking.

For the comment about `if(m != null)` not exactly sure what I was thinking because I only see `if(m == null)`.   Maybe I was thinking the `if(m==null){...}` and `if(!currentRow.equals(metadataRow)){...}` could be combined but only calling `mbw.addMutation(m);` when `m!=null`.

[2021-05-21 15:22] keith-turner commented on #1091
@DomGarguilo  that would be good.  Wonder if it would be possible to put the and ZipInputStream in the try w/ resources also.

[2021-05-24 09:41] Viv1986 commented on #2085
can anybody tell me what related to speed of table reassign? cuz in same configuration I get ~14 tables per minute on current, and ~1500 per minute on another

[2021-05-24 13:36] EdColeman commented on #2085
Please ask this on the user mailing list.  You will be more likely to get a response if you include additional information.  There are a lot of factors that trigger reassignment and without any information on why the reassignment is occurring and what the system it is very difficult to just guess.

[2021-05-24 13:36] milleruntime commented on #2085
There are a number of factors that could affect Tablet migration (tablet size, number of tablets, number of tservers, recovery, configuration). Are you using the default configured Load Balancer (see `table.balancer` property) DefaultLoadBalancer? If so, it will attempt to keep an even number of tablets across all tservers. When a tablet gets migrated from one tserver to another, it will get unloa

[2021-05-24 14:27] DomGarguilo commented on #680
I would like to be assigned to this issue please.

[2021-05-24 14:47] DomGarguilo commented on #680
I created #2116 in response to this ticket. @keith-turner @ctubbsii

[2021-05-24 19:26] DomGarguilo commented on #1091
Yea, it looks like they both implement closable/autoclosable so they both will work.

[2021-05-24 20:16] DomGarguilo commented on #1091
@keith-turner, I see you are currently assigned to this ticket. Are you working on this/plan to work on this? If not, I would like to be assigned please.

[2021-05-26 11:20] Manno15 opened #2120 "Return a Map instead of an Iterable with getProperties"
Based on Jira ticket: [ACCUMULO-3107](https://issues.apache.org/jira/browse/ACCUMULO-3107)

The getProperties functions in `TableOperations` ([here](https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/core/src/main/java/org/apache/accumulo/core/client/admin/TableOperations.java#L621)) and `NamespaceOperations` ([here](https://github.com/apache/accumulo/blob/4f35e6aff17

[2021-05-26 16:36] foster33 commented on #2120
I am interested in working on this issue if no one else is. Seems like it would be a good first issue to work on.

[2021-05-27 15:21] milleruntime opened #2121 "NoSuchMethodException using HostRegexTableLoadBalancer"
The runtime class loading of the `HostRegexTableLoadBalancer` is broken. It is likely this happened when it was refactored during the move to SPI. This exception can be seen in the manager log when running `SuspendedTabletsIT`, which seems to timeout often for me locally but the test can still pass even with this exception.
<pre>
2021-05-27T10:39:11,473 [balancer.TableLoadBalancer] WARN : Failed t

[2021-05-27 16:51] brianloss commented on #2121
@milleruntime Do you get this error every time you run the test? Anything special about your environment or how you are running the test? I have not been able to reproduce locally on my machine.

[2021-05-27 16:59] milleruntime commented on #2121
Yes it seems to WARN with the exception every time, whether the test passes or not. I don't know of anything special in my environment. It happens whether I run the test in Intellij individually or on the command line with all the ITs.

[2021-05-27 18:05] brianloss commented on #2121
Oops, I was just not looking at the right logs. I see the error now. This wasn't caused by moving balancers to the SPI but rather by PR #1888 instead. The test is setting the property TABLE_LOAD_BALANCER to HostRegexTableLoadBalancer, which is wrong since HostRegexTableLoadBalancer is a TableLoadBalancer and is intended to be used only with the property MANAGER_TABLET_BALANCER. This didn't change-

[2021-05-27 18:30] milleruntime commented on #2121
Ah ok thanks for looking into this!

[2021-05-27 18:34] #680 closed

[2021-06-01 13:08] dlmarion commented on #2030
I wonder if [CompactionCheck ](https://github.com/apache/accumulo/blob/main/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/CompactableImpl.java#L524) should return `false` if `Tablet.isBeingDeleted()` is `true`. It already returns `false` if the tablet is closed.

[2021-06-01 14:11] #1451 closed

[2021-06-01 14:40] keith-turner opened #2124 "Compactors stop working when seeing an unknown compaction exception"
When a compactor sees an UnknownCompactionIdException when reporting status, it seems to stop working.  Below is an exception from when this happened.  The line numbers may a be a bit off as this exception was observed when testing the external compactions PR before it was merged.

[code]

[2021-06-01 14:52] dlmarion commented on #2030
So, that didn't work. Looking at the Manager logs I see a constant stream of:
[code]
I noticed that this is the success case when the getLock method is successful. I added some logging to the `else` case, when the lock is not successful and the method returns `100`. It appears that the DELETE fate operation cannot get the table lock. The delete call in your test is waiting until the compaction is

[2021-06-01 15:02] dlmarion commented on #2030
Here's the snippet from the manager log (with my log changes):
[code]

Is this the intended design for the DistributedReadWriteLock? Only 1 concurrent READ lock? This seems to deviate from it's parent class, https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/concurrent/locks/ReadWriteLock.html

[2021-06-01 15:11] dlmarion commented on #2030
Nevermind, on further review, the DELETE is trying to get a Write lock, and it can't because the COMPACT operation has a read lock. I should have logged the lock type in the retry message.

[2021-06-01 15:40] dlmarion commented on #2124
I don't believe the Compactor stops working in this case. I believe it will retry for some amount of time and then throw a RetriesExceededException. The Compactor will move onto the next compaction after this. In this case, the Coordinator does not know about the external compaction id for which the Compactor is running. It's most likely the case that the Coordinator was restarted and then it coul

[2021-06-01 15:53] keith-turner commented on #2124
Ok so the problem is less severe than I thought.  Seems like it still worthwhile keeping this issues open because compaction work is lost and it may be worth exploring making this more resilient.

[2021-06-01 16:01] keith-turner opened #2125 "Make detection of dead external compactions more resilient to network hiccups"
The code that detects dead compactions [reaches out to each compactor to ask what its running](https://github.com/apache/accumulo/blob/8a636a3ba91f5dae1d8b09b095178889a7d79c1d/server/compaction-coordinator/src/main/java/org/apache/accumulo/coordinator/DeadCompactionDetector.java#L83-L84).  If there are transient network issues and a compactor can not be reached, then this could result in marking r

[2021-06-01 16:07] keith-turner commented on #2125
One possible solution to this problem is when a possible dead compaction is detected to do the following.

 * Remember the possible dead compaction and its first seen and last seen time in a map in the DeadCompactionDetector.
 * When last seen - first seen > 10 minutes, then actually mark the compactions as dead.

So don't mark a compaction as dead the first time a problems is seen, only do so aft

[2021-06-01 16:09] keith-turner commented on #2124
Wondering if it would make sense to change status reports from compactor to coordinator to async thrift messages and remove the UnknownCompactionIdException.  However I am not sure if this could lead to inconsistent status within the coordinator.

[2021-06-01 16:53] dlmarion opened #2127 "Mark External Compaction properties as Experimental"

[2021-06-01 16:55] keith-turner commented on #2125
That covers a different case where that thrift code is called than what I was thinking about.  The dead compaction detector [runs repeatedly](https://github.com/apache/accumulo/blob/8a636a3ba91f5dae1d8b09b095178889a7d79c1d/server/compaction-coordinator/src/main/java/org/apache/accumulo/coordinator/DeadCompactionDetector.java#L113-L119).

[2021-06-01 19:55] dlmarion commented on #2124
I'm thinking that we can just remove the UnknownCompactionIdException. It's thrown in 4 cases, 3 in the Coordinator (`compactionCompleted`, `compactionFailed`, and `updateCompactionStatus`) when the compaction does not exist in the RUNNING list. If the compaction is not in the RUNNING list the first time it's called, then it's likely never going to exist. However, in `compactionCompleted` and `com

[2021-06-02 12:17] #2115 closed

[2021-06-02 13:12] DomGarguilo opened #2131 "Unit test converting client props to ConditionalWriterConfig"
Issue #2115 requested that unit tests be added to test that BatchWriterConfig was correctly created from client props. Very similar tests could be added for ConditionalWriterConfig to test it as well. The changes in PR #2126 should be very similar to the tests for ConditionalWriterConfig.

[2021-06-02 13:19] DomGarguilo commented on #2115
I created #2131 after looking into this.

[2021-06-02 19:03] ctubbsii opened #2137 "Broken or Flaky tests after compaction changes: CompactionIT, KeywordStartIT, DeprecatedPropertyUpgrade9to10IT"
**Test name(s)**
 - ~~org.apache.accumulo.test.functional.CompactionIT.testBadSelector - test timed out after 240 seconds~~
 - ~~org.apache.accumulo.test.functional.CompactionIT.test - assertion error at at `CompactionIT.java:207`~~
 - ~~org.apache.accumulo.test.start.KeywordStartIT.testExpectedClasses - `expected:<co[nvert-config]> but was:<co[mpaction-coordinator]>~~
 - ~~org.apache.accumulo.tes

[2021-06-02 19:09] dlmarion commented on #2137
Looking at these

[2021-06-02 19:12] Manno15 commented on #2137
I have a fix for `KeywordStartIT`. The one appears to be relatively straightforward.

[2021-06-02 19:17] keith-turner opened #2138 "Explore supporting external compaction processes in accumulo-cluster script"
The accumulo-cluster script could be modified to support starting coordinator and compactor processes for external compactions if the corresponding files exists.  Not sure if this is a good idea in general, but thought it was worth considering. Trying to determine if this is something worth pursuing, came up with the following list of pros and cons.  What other things are there to consider?

Pros

[2021-06-02 19:46] dlmarion commented on #2137
I figured out the issue with CompactionIT, PR incoming

[2021-06-02 19:54] milleruntime commented on #2137
I saw these same failures after I rebased #2117 on main today.

[2021-06-02 23:21] #2131 closed

[2021-06-03 08:44] martin-g commented on #1884
Unfortunately GitHub Actions postponed the addition of Linux ARM64 runner nodes for _later_. Not clear when that could be.

Recently I've written a blog about how to run GitHub Action jobs on ARM64 at Huawei Cloud: https://martin-grigorov.medium.com/githubactions-build-and-test-on-huaweicloud-arm64-af9d5c97b766.
But honestly, in my opinion using TravisCI or CircleCI is the easiest! Few other Apach

[2021-06-03 13:22] ctubbsii commented on #1884
Using TravisCI or CircleCI requires additional user registration and privileges to manage builds, so I'm not comfortable doing that myself, and would prefer to avoid it. If some other PMC member wanted to do that, I wouldn't be opposed, so long as it didn't increase the burden on the other active PMC/committers to maintain. I'd be opposed to using something like Huawei Cloud, or anything else that

[2021-06-03 14:03] #2127 closed

[2021-06-03 14:07] #2094 closed

[2021-06-03 14:16] #2124 closed

[2021-06-03 14:18] EdColeman opened #2142 "Provide uniform Property name string in external compaction properties"
**Is your feature request related to a problem? Please describe.**
Reviewing recent PR related to the external compaction feature I noticed that some of the new properties being added (mainly coordinator, but there could be others) did not have COMPACT in the property name.

**Describe the solution you'd like**
It may allow for easier searching and grouping of properties if there was a uniform nam

[2021-06-03 14:34] milleruntime commented on #2142
FYI every property related to compaction (prior to external compactions) appears to have the word `compaction` in the property name.

[2021-06-03 17:46] ctubbsii commented on #2138
Rather than create new hosts files, I would like to see the hosts files consolidated into a single accumulo-cluster.conf file which includes the hosts for all the services the accumulo-cluster script manages (there may be an existing ticket for this... I didn't check before writing this). If host configuration were streamlined into a single config file, it would be easier to specify the startup of

[2021-06-03 18:41] #1091 closed

[2021-06-03 18:47] keith-turner commented on #2138
That sounds interesting.  Any thoughts on the structure and how compactor+queue info might fit into that? For compactors I was thinking of the following possibilities, had not considered a single file.

- A dir name compactors with files under it for each queue.  The name of the file would be queue name and the contents of the file would be host to start compactors.
- A file named compactors where

[2021-06-03 20:29] ctubbsii commented on #2138
Of the three, option 3 is closest to what I was thinking. However, if it was done in a single file, it would strongly depend on the format for that file. If it were YAML, it might look something like:

[code]

[2021-06-04 14:31] milleruntime opened #2146 "Make WAL property names uniform"
Similar to #2142, it would be nice if all the properties dealing with write ahead logs had consistent names. Currently we have these properties named two ways:
`tserver.walog.max.age`
and
`tserver.wal.blocksize`

The properties with new names would need to be deprecated but I thought it might be something worth doing in 2.1.

[2021-06-07 12:18] #2125 closed

[2021-06-07 12:24] dlmarion commented on #2137
@ctubbsii  - I believe all of the issues have been resolved.

[2021-06-07 12:26] #2110 closed

[2021-06-07 14:27] Manno15 commented on #2146
I agree that uniformity would be nice. Do you prefer `wal` or `walog`? From a quick glance, it seems we use `walog` more so probably easier to keep that naming convention.

[2021-06-07 14:50] milleruntime commented on #2146
Even though there are more properties that use the name `walog`, overall I think the term `wal` is more commonly used on the project.

[2021-06-07 15:15] milleruntime opened #2147 "Revaluate Sunny Test profile"
The sunny test profile feel a little incomplete as it is currently only running 4 ITs (@Category(SunnyDayTests.class):
<pre>
test/src/main/java/org/apache/accumulo/test/functional/NativeMapIT.java:@Category(SunnyDayTests.class)
test/src/main/java/org/apache/accumulo/test/rpc/ThriftBehaviorIT.java:@Category(SunnyDayTests.class)
test/src/main/java/org/apache/accumulo/test/InMemoryMapIT.java:@Categor

[2021-06-07 16:35] #2120 closed

[2021-06-07 16:39] ctubbsii commented on #2147
As long as it's limited to basic functionality. The idea is that these tests should be very limited, and be a very quick sanity check to make sure that core functionality isn't broken. They should be fast to run, highly reliable and never flaky, and be able to run on meager hardware.

[2021-06-07 17:33] ctubbsii commented on #2137
Verified latest commit builds without these errors.

[2021-06-07 17:33] #2137 closed

[2021-06-07 18:22] Manno15 commented on #2146
Makes sense. Do you think this could be a good first issue or someone with less experience to handle?

[2021-06-07 21:43] Manno15 opened #2148 "Add sanity check for configuration settings"
**Is your feature request related to a problem? Please describe.**
First posted on Jira Ticket: [here](https://issues.apache.org/jira/browse/ACCUMULO-887)

Quote from the Ticket:

This produced the following stack trace, and was pretty hard to track down. We should pay more attention to sane settings for these values.

**Describe the solution you'd like**
Not quite sure how to implement a solution

[2021-06-07 22:46] Manno15 opened #2149 "Properties from 'config' command return unordered"
**Describe the bug**
The `config` command inside the accumulo shell returns the properties unordered.

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: 2.1.0-SNAPSHOT. Appears to be from commit: 4ea9bf1ac916d66896eaaba329da04714a1e8cba

**To Reproduce**
Steps to reproduce the behavior (or a link to an example repository that reproduces the problem

[2021-06-07 23:41] ctubbsii commented on #2149
It looks like this is from the use of `Map.copyOf()` to replace populating a `TreeMap` in some places. In some places, this probably doesn't matter, but for the shell it would be nice. Unfortunately, there's no `SortedMap.copyOf()` or anything like that. The easiest fix is probably to use Guava's `ImmutableSortedMap.copyOf()` instead. There might be a few other places where TreeMap was replaced as

[2021-06-07 23:51] ctubbsii commented on #2148
"4" in this case would have been interpreted as "4 bytes" since it is (presumably) `PropertyType.BYTES`. It can be hard to write general rules to detect and validate these kinds of things, because we don't know what the user had in mind, and the range of sane values is probably different for each individual property, and highly environment-specific. Additionally, special values, like "0" might hav

[2021-06-07 23:51] Manno15 commented on #2149
Yep, that appears to be correct. A quick test with `ImmutableSortedMap.copyOf()` worked.

[2021-06-08 00:03] Manno15 commented on #2148
I agree, there is a lot of nuance with this particular issue. Wal, specifically, has an exception message for when the block size is less than the minimum so in some cases that would be tracked down quickly. I am not quite sure if other properties have something like that.

[2021-06-08 11:21] milleruntime commented on #2146
I personally like to label issues as `Good First Issue` that are as simple as possible because there are usually other hurdles (building, environment, git) that new developers need to figure out before diving into the code. I think this change will have some upgrade code to go with it. If you know someone that has contributed but is newer to the project it might be a good issue for them to tackle.

[2021-06-08 12:25] foster33 commented on #2149
I would like to work on this if no one else is.

[2021-06-08 16:32] EdColeman opened #2151 "TableOperationsIT and NamesapceIT test failures."
**Describe the bug**
Running the full set of tests - these two have failed so far and look to be errors that are not transient

TableOperationsIT and NamespaceIT test fail with IllegalStateException

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: current main (58a559fa6)

**To Reproduce**
Steps to reproduce the behavior (or a link to an example

[2021-06-08 16:48] ctubbsii commented on #2151
I'm working on this as follow on from #1971

[2021-06-08 16:57] Manno15 commented on #2148
After further discussion, this ticket can be closed for now as there is no actionable work to be done at this time. The specific issue referenced in the JIRA ticket does have a more clear error message now which helps with debugging.

[2021-06-08 16:57] #2148 closed

[2021-06-08 17:22] #2149 closed

[2021-06-09 13:46] foster33 commented on #2146
I am newer to this project and I have been looking for some bigger issues to tackle (something more than a `Good First Issue`). In regards to the potential upgrade code, what type of upgrades could you possibly expect? I understand the deprecation, but I just want to get a better understanding of this before I would dive in.

[2021-06-09 16:09] #2142 closed

[2021-06-09 16:54] Manno15 opened #2153 "Tablet.closeConsistencyCheck should check lastFlush and lastCompact IDs"
Taken from Jira ticket:  [ACCUMULO-1290](https://issues.apache.org/jira/browse/ACCUMULO-1290)
There is also a TODO in `Tablet.java` regarding this and can be deleted once this is completed. It is here: https://github.com/apache/accumulo/blob/5d3344dbb488d602025ce8f2acb5f807969f45ec/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/Tablet.java#L1407

**Describe the solution you'd like

[2021-06-09 17:03] milleruntime commented on #2146
I am not sure of everything involved with changing property names but I know they will, at the very least, be stored in Zookeeper and config files. There has been a similar change recently where we renamed master to manager, perhaps that change could help as a guide. See https://github.com/apache/accumulo/pull/1873

Here is the upgrade code for that change where properties are updated in ZK:
https

[2021-06-09 17:45] foster33 commented on #2146
Sounds good, thank you for that information.

I'm interested in working on this issue.

[2021-06-09 20:34] keith-turner opened #2154 "Look into making Ample only return exact matches for KeyExtents"
The ample methods [here](https://github.com/apache/accumulo/blob/92a4dd3874b906a87166ae329c7f8d33e74a5a93/core/src/main/java/org/apache/accumulo/core/metadata/schema/Ample.java#L154), [here](https://github.com/apache/accumulo/blob/92a4dd3874b906a87166ae329c7f8d33e74a5a93/core/src/main/java/org/apache/accumulo/core/metadata/schema/Ample.java#L140), and [here](https://github.com/apache/accumulo/blob

[2021-06-09 20:50] ctubbsii opened #2155 "Remove use of SiteConfiguration in shell's FateCommand"
SiteConfiguration is a configuration type intended for server-side code. It is not expected that client-side code will have access to the server-side configuration file. Therefore, it doesn't make sense that the shell, which is a client-side application, should leverage the code in the SiteConfiguration class.

From what I can tell, this is the only remaining non-deprecated use of SiteConfiguratio

[2021-06-09 20:54] ctubbsii commented on #1454
https://issues.apache.org/jira/browse/ACCUMULO-2861 is another related issue that describes storing it in a human-readable way. After discussions with @EdColeman, who has been working on this, it seems more likely that we'll need a tool to read/update config easily, rather than rely on it being human-readable. That way, we can get some compression.

[2021-06-09 21:53] #1974 closed

[2021-06-10 18:29] ctubbsii opened #2157 "ExternalCompactionIT takes 20 minutes"
The new ExternalCompactionIT test takes 20 minutes to run. This is substantial percentage of the overall build runtime (around 5%).

There is probably room for optimization here, so that it doesn't take so long to run through the test cases... either by using mock objects to test some cases as a unit test, or by reusing the minicluster instead of starting/stopping processes so much between and dur

[2021-06-10 19:49] #2151 closed

[2021-06-10 20:36] ctubbsii commented on #1975
@ben-manes @keith-ratcliffe @mfmettler See #2158 as a proposed fix for this.

[2021-06-10 20:41] dlmarion opened #2159 "Review for unused ExternalCompaction methods"
As part of writing documentation for a future blog post I found that Compactor.cancel() and CompactionCoordinator.getCompactorConnection() might not be referenced anywhere.

[2021-06-10 22:25] keith-ratcliffe commented on #1975
Will try out this patch on our cluster soon and let you know. Thanks!

On Thu, Jun 10, 2021 at 4:27 PM Christopher Tubbs ***@***.***>
wrote:

[2021-06-11 03:47] ctubbsii commented on #1973
I was looking into this, and I think I was wrong about the preventative measure. It looks like it is already the case that none of these properties will have an effect until the tserver is restarted anyway. The only one that could affect things is enabling or disabling the use of the cache, and that is a per-table setting that should be possible to turn on and off at runtime.

Looking into the sta

[2021-06-11 11:19] milleruntime commented on #1973
I will look into this.

[2021-06-11 14:32] milleruntime commented on #1973
I added a check for null cacheId in https://github.com/apache/accumulo/pull/2160 but like you said, not sure that will fix the underlying problem.

[2021-06-11 20:43] keith-turner opened #2161 "Re-evaluate metadata tables locality groups"
While running a test of the new external compaction feature I Was looking at the metadata table config.  External compactions add a new column family to the metadata table called ecomp.  I noticed this new column family was not in the metadata table locality group config.  Not sure if it should be.  I think these configurations are pretty old and there may be other new column families.  Would be g

[2021-06-14 14:34] #1975 closed

[2021-06-14 14:41] ctubbsii commented on #1973
I added the blockName to the exception message in #2163 ; it doesn't fix anything, but if this issue can be reproduced, it should help debug it.

[2021-06-14 14:47] foster33 commented on #2146
I seem to have ran into some trouble getting the deprecation and upgrade code to remove the properties entirely from the config command in the ashell (and presumably from other places). Does anyone know more about this process of changing and updating property names?

[2021-06-14 15:10] ctubbsii commented on #1973
I also created #2164 to document the cache properties that require restart to take effect.

[2021-06-14 15:13] ctubbsii commented on #2146
Sure. What's your question? Where are you having trouble?

[2021-06-14 15:38] foster33 commented on #2146
Thank you. I was wondering about what different parts of the overall code pertain to updating and changing the property names. I know Mike had previously mentioned config files and in zookeeper.

I have changed all of the references throughout the code of the old `.walog.` property names to `.wal.`, I have also made sure that all of the old properties have both the `Deprecation` and `ReplacedBy` t

[2021-06-14 17:01] keith-ratcliffe commented on #1975
@ctubbsii, this does indeed appear to be fixed. After applying your #2158 changes to accumulo-core (on rel/2.0.1), the issue has so far not resurfaced while testing DataWave on our cluster.

Steps to verify:
1. Patch accumulo-core-2.0.1.jar and update on all worker nodes
2. Configure `tserver.cache.manager.class`, etc as described above
3. Bounce Accumulo
4. Execute a significant number of concurr

[2021-06-15 14:15] milleruntime opened #2165 "Explore use of Apache Commons IO byte streams"
The java classes for dealing with byte streams are synchronized so might not perform well for certain situations that don't require thread safe guarantees. This ticket is to explore the use of `org.apache.commons.io.input.UnsynchronizedByteArrayInputStream`
and `org.apache.commons.io.output.UnsynchronizedByteArrayOutputStream` across different parts of the code. A lot of Accumulo modules already i

[2021-06-15 15:27] EdColeman opened #2166 "Update CheckForMetadataProblems utility output."
**Is your feature request related to a problem? Please describe.**
Update the output of the CheckForMetadataProblems utility.  The current output shows a mix of table ids and names and seems to predate the renaming of some of the system tables like root, metadata...)

**Describe the solution you'd like**
[code]

[2021-06-15 15:45] ctubbsii commented on #2166
Here's a slight variation on what @EdColeman proposed. This version correctly shows the metadata table consistency as part of checking the root table, and user table consistency as part of checking the metadata table. It also adds a blank line in between.

[code]

[2021-06-15 16:59] keith-turner commented on #2165
Would be nice to do some perf test using DataOutputStream wrapping ByteArrayOutputStream or UnsynchronizedByteArrayOutputStream and serializing a few million different data type like key to verify that is makes a performance difference.

[2021-06-15 17:11] dlmarion commented on #2030
Maybe we should have delete call cancel compactions on the table before trying to get the write lock.

[2021-06-16 15:18] milleruntime commented on #882
With the work done in #2117, this could be achieved by creating a dedicated RFile block cache for Recovery.

[2021-06-16 20:30] #2159 closed

[2021-06-17 16:11] ctubbsii commented on #2146
The main thing is to track down all the uses of any of the properties you're changing, to ensure they use the `conf.resolve()` function to read their values from whichever key the user used. That, and the `@ReplacedBy` and `@Deprecated` annotations should be enough to deprecate them.

If we want to be more aggressive, then we can do something like #1873 to block the old property name from being pe

[2021-06-21 19:41] #2030 closed

[2021-06-22 15:14] milleruntime opened #2172 "Update the LogReader utility"
The recent changes to sorted recovery in #2117 broke the `LogReader` utility. It is still using `RecoveryLogReader` to read from sorted WALs. `LogReader` needs to be changed to use the updated `RecoveryLogsIterator`.

<pre>
accumulo wal-info /accumulo/recovery/9cbe3382-7b2a-477e-b1f6-5edeaa401001
2021-06-22T11:12:33,271 [start.Main] ERROR: Thread 'wal-info' died.
java.io.FileNotFoundException: Fil

[2021-06-22 16:45] Manno15 commented on #2166
Once this issue is resolved, the website should be updated to match the expected output. Similar to what was done in PR [accumulo-website#285](https://github.com/apache/accumulo-website/pull/285).

[2021-06-22 17:23] foster33 commented on #2166
I am interested in working on this issue.

[2021-06-22 17:52] milleruntime opened #2173 "VerifySerialRecoveryIT failure"
This is due to recent changes to sorted log recovery in #2117. There is a bug in the new recovery code with the row byte encoding improperly encoding tabletIds greater than 127.

<pre>
java.lang.RuntimeException: Error recovering tablet 1;a24391d90602477b;a071870ae421babc from log files
        at org.apache.accumulo.tserver.tablet.Tablet.<init>(Tablet.java:407) ~[accumulo-tserver-2.1.0-SNAPSHOT.j

[2021-06-22 19:09] DomGarguilo opened #2174 "Make listscans show #of files"
**Is your feature request related to a problem? Please describe.**
First posted on Jira Ticket: [here](https://issues.apache.org/jira/browse/ACCUMULO-385)

Quote from the Ticket:

    Look into making the list scans shell command show the number of files in use by the scan.

Wanted to recreate this ticket to elicit discussion.

[2021-06-22 19:09] DomGarguilo commented on #2174
I would like to be assigned to this ticket.

[2021-06-22 22:35] ctubbsii commented on #2173
I made some comments at https://github.com/apache/accumulo/pull/2117#pullrequestreview-690052589 and https://github.com/apache/accumulo/pull/2117#pullrequestreview-690053323 that might be related to this problem.

[2021-06-23 12:46] #2173 closed

[2021-06-23 14:19] #2157 closed

[2021-06-23 14:48] dlmarion commented on #2138
Would you expect that `yamllint` and `yq` be prerequisites for installing Accumulo so that we could use them to validate and parse the yaml file?

[2021-06-23 16:08] keith-turner commented on #2138
I have not done anything w/ yaml using command line tools.  I wonder if there are tools that would make it possible to convert the existing files to yaml in a few lines of bash.  If so the script could detect the old files and just print an error message w/ the suggested commands to run to convert them.

[2021-06-23 16:19] dlmarion commented on #2138
Install `yamllint` and `yq`:

[code]

So, for this file:
[code]

These commands  work:

[code]

[2021-06-23 17:02] ctubbsii commented on #2138
I've never used these. I'm not sure what we'd use to parse. However, I don't think it'd be unreasonable to add a yaml parser dependency for the `accumulo-cluster` script. (Note: I specified that it'd be fore the `accumulo-cluster` script, because I really think of that as a separate cluster-management utility that ships alongside of Accumulo, but is not *part of* Accumulo. It's optional, and users

[2021-06-23 17:13] ctubbsii commented on #2138
I am concerned about adding `yq` as a dependency, since it's not conveniently packaged for RPM-based distros. I wonder if `shyaml` might be better, which wraps `pyyaml`.

[2021-06-23 17:33] dlmarion commented on #2138
It looks like to install `shyaml` and `pyyaml` you need to first install `python` and `pip`. In some environments you may need to specially configure `pip`. `yq` is a single binary.  It looks like `rpm` is the only format in which it's not packaged, although I found easy instructions for doing it. It could be installed on CentOS / RHEL via Snap: https://snapcraft.io/install/yq/rhel

[2021-06-24 01:43] ctubbsii commented on #2138
If you do `sudo dnf install shyaml`, it automatically pulls in dependencies. You don't need to install pip at all, and since dnf/yum already depends on python, it will already be installed. That said, I already use snaps for a few things, so I didn't have a problem installing the snap for `yq`. So, whatever you think would be easiest for users. If you prefer, we could also just do JSON instead of

[2021-06-24 10:36] #1919 closed

[2021-06-24 11:22] milleruntime opened #2179 "Handle old sorted map files"
The changes in #2117 will cause errors if users have old sorted map files left around from before an upgrade to 2.1. I think we can handle this by catching the error or detecting the old files. Then deleting the map files and forcing Accumulo to re-sort is probably the best approach.

[2021-06-24 16:05] milleruntime commented on #2179
I tested an upgrade in Uno with some data and sorted WAL files. I was surprised to not see any errors trying to recover the old map files. I noticed that the GC deleted the files rather quickly after the Upgrader was finished.

<pre>
11:49:32 {main} ~/workspace/uno/install/logs/accumulo$ grep 980ce402-07dc-4a09-b6ac-e26664db29a3 *
gc_ip-10-113-12-25.log:2021-06-24T11:08:05,957 [gc.GarbageCollectWr

[2021-06-24 16:54] milleruntime commented on #2179
After repeating the upgrade again and using CI, I did see errors and Accumulo was unable to recover properly.
<pre>
2021-06-24T12:48:55,826 [log.RecoveryLogsIterator] DEBUG: Opening recovery log dir 0367b0c1-12fb-4d94-8335-061b7c9ac232
2021-06-24T12:48:55,831 [tserver.AssignmentHandler] WARN : exception trying to assign tablet !0<;~ null
java.lang.RuntimeException: Error recovering tablet !0<;~ fr

[2021-06-24 17:21] milleruntime commented on #2179
Once I deleted the sorted WAL files (everything in /accumulo/recovery) and restarted, Accumulo was able to recovery properly. The simplest way to handle these files would be to just delete everything in /accumulo/recovery in `Upgrader9to10`. This should be fine, since the files are intermediate and the data should still exist in the original WAL under /accumulo/wal. Another option would be to prin

[2021-06-24 17:36] EdColeman commented on #2179
Option 2 Seems similar to the way that FATEs are handled during an upgrade - basically if any FATEs exist, the upgrade stops with a warning.  And IIRC, that includes FATEs that have completed with a SUCCESS but not reported back to the client and cleaned-up.  So, its not just active FATEs, but any FATE, active, failed or success.  I think this is to prevent potential serialization changes between

[2021-06-24 20:26] DomGarguilo commented on #2174
After some investigation, it seems this feature may be harder to implement than I originally anticipated. It looks like most of the work to make this happen would need to be done to the scan command rather than the listscans command. As it stands (unless I am overlooking something, which is very possible) there is no apparent clean or easy way to display the file count for a given scan. Before con

[2021-06-25 12:30] mjwall commented on #1916
@ivakegg found something in the [TabletIterator](https://github.com/apache/accumulo/blob/rel/1.9.3/server/base/src/main/java/org/apache/accumulo/server/util/TabletIterator.java) that could miss a section of the metadata table during scanning.  This would cause those candidates not to be removed from the candidateMap when GC is [checking](https://github.com/apache/accumulo/blob/rel/1.9.3/server/gc/

[2021-06-25 17:45] Manno15 commented on #2172
I currently have a workable solution for the first half of the ticket (still needs some revision) but I am currently looking into the second part. It appears the Log File Header is incorrect or at least not something `DfsLogger.getDecryptingStream` expects. I am still investigating but if someone has an idea on a possible solution, I am all ears.

[2021-06-25 19:03] DomGarguilo commented on #2154
@keith-turner Do you think it would be best to just check that the prevEndRows match once the metadata has been returned (in AmpleImpl.readTablet), or only return metadata whose prevEndRows match in the first place? Either router seems doable.

Which portion of #2152 do you think would need to be changed?

[2021-06-28 12:51] milleruntime commented on #2172
The `DfsLogger` class won't be able to read the sorted recovery RFiles, it can only read the original WALs. One solution I was thinking was to just refactor `LogReader` to use `RecoveryLogsIterator` to read the sorted recovery RFiles if that is what the user passes as a parameter.

[2021-06-28 13:37] milleruntime commented on #2179
It seems like we have a good reason to handle FATE operations that way. I can't think of a reason why we would need to keep around an intermediate sorted WAL.

[2021-06-28 13:48] milleruntime commented on #2174
You could add a new method to `ActiveScan` class and use it to get the number of files. This [class](https://github.com/apache/accumulo/blob/3fd5cad92f9b63ac19e4466f3f2d5237b905262c/core/src/main/java/org/apache/accumulo/core/client/admin/ActiveScan.java) is returned by the getActiveScans() method on the `InstaceOperations` API. This would probably also require adding another value on the thrift e

[2021-06-28 14:49] milleruntime commented on #1916
FYI it looks like the code in question in `ScannerIterator` changed significantly in 2.0. The Queue that was holding the exceptions was replaced by a class in `ScannerImpl` called `Reporter`. Most of the changes took place in https://github.com/apache/accumulo/pull/905

[2021-06-28 16:06] DomGarguilo commented on #2174
@milleruntime The problem is getting the file count. It seems like the file count is something that would need to be measured as the scan itself is taking place. I'm not sure of a way to determine which files were scanned given the info available from an activescan.

[2021-06-28 18:20] ctubbsii opened #2182 "Make DeleteTable block future compactions"
PR #2175 wrapped up the task of ensuring currently running compactions are canceled. However, new compactions could still be scheduled, stalling the DeleteTable operation. It should be possible to set a value in ZK that would prevent any future compactions from being scheduled, so they are preemptively canceled and won't stall the DeleteTable operation.

See discussion in comment https://github.co

[2021-06-28 18:48] #2146 closed

[2021-06-29 00:32] Akshit6828 commented on #1953
Hi @EdColeman. I am looking forward to working more on this project. Please let me know if any new contributions would be needed. For my skills and ability, please visit my profile and let me know if can contribute.
I would ❤️  to contribute more.
Thank you 😄

[2021-06-29 12:21] dlmarion commented on #2138
Json would work too. Unfortunately json does not allow for comments in files. So you would need two different types of files depending on whether or not you are using external compactions. The examples below are with and without external compactions.

[code]

[code]

 `yq` is an extension of `jq` [link](https://stedolan.github.io/jq/) and I believe that `jq` packages are more widely available ( se

[2021-06-29 16:47] EdColeman commented on #2174
If the file count needs to be added, it might make sense to also public those as some sort of metric. Just raising this as a question - I'm not sure if this would be a useful metric or not  - but it might be worth checking.

[2021-06-29 20:04] dlmarion commented on #1809
Do we have a utility that uses ZKUtil.visitSubTreeDFS() to traverse the `tables` in ZK and for those that don't exist delete the watches in the callback?

[2021-06-29 22:01] ctubbsii commented on #1953
This was fixed in #2156 and #1971

[2021-06-29 22:01] #1953 closed

[2021-06-29 22:13] ctubbsii commented on #1809
@dlmarion I don't anticipate us shipping a fix for 1.10, since doing so would likely break forward-compatibility with other 1.10 releases in the way things are persisted to ZK. This has been a constraint for a long time in 1.x, and I don't think it would be super urgent to fix for 1.10. There are some workarounds... such as creating watched missing entries and deleting them, so the delete causes t

[2021-06-29 22:20] ctubbsii commented on #2138
JSON is uglier, but more ubiquitous. Ultimately, I think I'd prefer YAML, but if there are things we can do to make it depend on less (such as having a bit of java code using one of our existing dependencies) to make the bar lower, that would be nice. If not, I think I'd still rather users get `yq` or `shyaml` themselves than force the ugliness of JSON on them.

Could also do simple properties fil

[2021-06-29 22:29] EdColeman commented on #1809
One of the issues that blocks this as a specific fix is that currently, watchers are created with the expectation that the node might appear - and then code will receive notification on node creation.  If the property never set, the node never comes into existence and the watcher that was set remains even when the table is deleted.  To clear the watcher, it would be necessary to create the "missin

[2021-06-29 22:53] dlmarion commented on #1809
Should we remove this from the 1.10.2 project then?

[2021-06-29 23:08] EdColeman commented on #1809
If were seemed likely to release a 1.10.2, then if might be possible to add some mitigations as @ctubbsii mentioned - I need to finish the 2.1 approach first.

[2021-06-30 13:01] milleruntime commented on #1916
I noticed in `TabletIterator` that the boolean `returnPrevEndRow` gets set to false for the GC but is true the other times it gets used in the code. This results in a strange call to remove in the `next()` method.
https://github.com/apache/accumulo/blob/f4f43febbc3e68013d8a1bcd46d8b44275e2e55e/server/base/src/main/java/org/apache/accumulo/server/util/TabletIterator.java#L177-L180

[2021-06-30 15:11] milleruntime opened #2184 "Thrift exception during upgrade"
I was testing upgrade code for upgrading 2.0 to 2.1 and saw this exception quite a bit.
<pre>
2021-06-30T10:45:31,675 [thrift.ProcessFunction] ERROR: Internal error processing reportTabletStatus
org.apache.accumulo.core.clientImpl.thrift.ThriftNotActiveServiceException: null
        at org.apache.accumulo.server.rpc.HighlyAvailableServiceInvocationHandler.invoke(HighlyAvailableServiceInvocationHan

[2021-07-01 10:11] foster33 commented on #1117
Is this still a desired addition? I was looking at potential issues to do and came by this one.

[2021-07-01 22:06] ctubbsii commented on #1117
@foster33 Yes, this would still be a nice addition. Adding both "since" and "deprecated since", and also "replaced by", if relevant, information to the generated docs at https://accumulo.apache.org/docs/2.x/configuration/server-properties would be great. The code that generates the Markdown for that page is in core/src/main/java/org/apache/accumulo/core/conf/ConfigurationDocGen.java

For "deprecat

[2021-07-01 22:13] ctubbsii commented on #1117
The original ticket did suggest using the enum constructor parameter to store this information, but annotations might be easier. It'd just be annoying to have a new annotation for *every* enum, since that's a lot of new lines to add to the file. It might be best to store "since" information in the enum, passed as a constructor parameter, and only use the annotations for `@Deprecated` and `@Replace

[2021-07-01 23:12] ctubbsii commented on #1753
@Manno15 I didn't see a comment about this, but saw that this WIP PR #1770 was automatically closed when you deleted your branch. Are you going to table this work, or are you going to take a different approach?

[2021-07-01 23:31] Manno15 commented on #1753
@ctubbsii Sorry, this was a mistake. I was cleaning out branches and I was mainly going off staleness and closed this one by mistake

[2021-07-02 15:02] milleruntime opened #2187 "Sorted Log Recovery configuration design"
This ticket is for designing how to configure the new sorted log recovery. With the changes in #2117, there are now new options provided by RFile to configure sorted recovery files. One in particular that seems useful is `table.file.compress.type`. Depending on the use case, a user may want to configure sorted recovery to use ZStandard or Snappy for compression. A new property could be created to

[2021-07-03 16:01] mjwall commented on #1916
Found [1260](https://github.com/apache/accumulo/issues/1260) where @keith-turner has some fixes around this area in 1.10.  Working to replicate in 1.9 line, then will try the test in 1.10 to see.

[2021-07-06 18:33] DomGarguilo commented on #2174
After further investigation and discussion it seems that this change would require more work than it is worth. Instead, the number of files in a scan may be added as a metric.

[2021-07-06 18:33] #2174 closed

[2021-07-07 11:39] milleruntime commented on #2187
I did a bit of refactoring on the `LogSorter` in #2191 so it will at least use the system configuration to write the sorted RFiles.

[2021-07-07 12:14] #2166 closed

[2021-07-07 15:37] EdColeman opened #2192 "Add metric for files open during scans"
**Is your feature request related to a problem? Please describe.**
Issue #2174 looked at adding the number of files to the listscans command.  Because the number of files opened is not currently available, the issue was closed as not viable at this time. This may be useful as a metric.

**Describe the solution you'd like**
Examine current scan and other metrics to see if there are additions / chan

[2021-07-07 16:24] keith-turner commented on #2138
One approach to supporting yaml is that we write a Java program to parse the yaml and emit text that is easy to deal with in bash.  This avoid the dependency on `yq` or `shyaml` commands, while possibly introducing a yaml dep in java.  Then could do something like the following in the accumulo-cluster bash script.

[code]

The java program could extract specific information based on arguments OR c

[2021-07-07 17:28] ctubbsii commented on #2187
Our config tends to be a big massive pool of properties. A challenge is to figure out how to "localize" subsets of the config to the specific scope of the components that utilize it. The way we've done this is by heavily relying on the hierarchical nature of our properties, and using common prefixes to store configuration properties that are related. However, these prefixes can be stripped off whe

[2021-07-07 19:06] ctubbsii commented on #2138
@keith-turner that's basically what I was thinking, since we probably have everything we need on the class path already in `lib/`. I wasn't sure which way to go either, but I think I prefer keeping the bash simpler by having arguments. Emitting lists of things as newline- or space-delimited makes it easier to loop over, if necessary, in bash.

[2021-07-08 12:01] milleruntime commented on #2187
This is an interesting idea that I had not considered. Are you thinking of the new Configuration interface within PluginEnvironment? Or the one in SPI under ServiceEnvironment? It would make sense to me to have one in the public API that goes along with RFile API.

[2021-07-08 22:47] ctubbsii commented on #2187
Neither. I was thinking about something along the lines of BatchWriterConfig or NewTableConfiguration.

I agree. I am thinking of the RFile API as being something that could, in theory, be completely separated from Accumulo, as its own module. The kind of API it should have should be along those lines. I doubt we can separate the RFile API from Accumulo at all right now, but that's the basic idea.

[2021-07-09 15:26] DomGarguilo opened #2196 "Add sanity check to table properties prior to creation of fate operation"
Based on JIRA ticket: [4773](https://issues.apache.org/jira/browse/ACCUMULO-4773)

Quote from the ticket:

It seems like this could still be useful. I wanted to see if anyone had suggestions regarding how table properties might be verified here.

[2021-07-09 16:29] ctubbsii commented on #2196
This issue was not very specific in what kind of sanity checks it wanted. I suppose we could check each one to see if they are valid per-table properties (to be allowed to be stored in ZK for the table), and that each property value conforms to the constraints for the type. But, it might be best to get more info from the original reporter, which I think was @jmark99

[2021-07-12 14:48] keith-turner commented on #2196
As part of the FATE op to create a table the following executes to set any new table props.

https://github.com/apache/accumulo/blob/80c8ee78342cfaea978882c37ebfcfc4af990fa1/server/manager/src/main/java/org/apache/accumulo/manager/tableOps/create/PopulateZookeeper.java#L61-L63

The setTableProp method does a validity check and if that fails it returns false.

https://github.com/apache/accumulo/blo

[2021-07-12 19:32] keith-turner commented on #2138
I didn't see your earlier message I see it now.  It seems like doing the heavy lifting in Java is the best way to go, especially if we already had the needed deps on the classpath.

I think I do too.  I also agree that we want to avoid creating something like yq or shyaml in Java.  The Java code and options should be tailored to the accumulo cluster file format.

[2021-07-12 21:03] ctubbsii commented on #2196
I agree, but we probably shouldn't wait for it to fail inside the FaTE operation. It seems the original proposal was to validate them before kicking off the FaTE operation, and return an exception in the FateServiceHandler before it starts. I think that seems reasonable, but then we'd be left with a second validation check inside the FaTE operation. We could handle that redundant validation and ca

[2021-07-13 19:25] keith-turner commented on #2196
Not sure if its possible, but if we could just throw an exception in the FATE op that would avoid the redundant code outside the FATE op which may result in more maintainable code.  The thing I am uncertain about is if the throwing an exception in the FATE op will properly cleanup the partially created table and result in a client side exception.

[2021-07-13 20:42] #1117 closed

[2021-07-13 20:54] ctubbsii commented on #2196
That's my concern as well. I think it's better to validate the properties without kicking it off and making any persistent changes at all, even those to kick off the FaTE op.

[2021-07-13 21:29] keith-turner commented on #2196
One nice way to do that would be to call the same method in both places to do the validation.  Thinking this will make the code more maintainable.  This method could throw an error when the validation fails.  Would not expect it to ever throw an exception in the FATE op, but if it does it will cause a failure instead of silently ignoring it.

If we only wanted to do the check in the FATE op, would

[2021-07-13 22:12] keith-turner opened #2199 "Switch compaction file selection from early binding to late binding."
Currently in the 2.1.0 branch when a user compaction is initiated each tablet selects a set of files for the user compaction.  Then 1 or more compactions can be scheduled to compaction those files.  Any new files that arrive for the tablet are not added to the set of selected files.  The set of selected files is reserved for user compactions and will not be available to routine system compactions.

[2021-07-13 22:16] keith-turner commented on #2199
The problem described in this issue can be [seen in a test](https://gist.github.com/keith-turner/29b72dfa97acad53c395dd0724b65f1c#results-for-1605-cluster) I ran a while ago.  In this test user compactions were periodically scheduled while ingest was running.  When the user compactions was initiated it immediately reserved all files on all tablet.  However it would take a few hours for the user co

[2021-07-14 12:15] #2172 closed

[2021-07-14 16:17] billierinaldi opened #2200 "Typo in putByteSquence method"
There is a typo in the putByteSquence method in RowColumnSampler. The method name should be putByteSequence. All uses of the method name should be changed. Since it is a private method, this is the only file that needs to be changed.
https://github.com/apache/accumulo/blob/f9f1d3f6578c400862e9f0e8d82a49bf9c4a5392/core/src/main/java/org/apache/accumulo/core/client/sample/RowColumnSampler.java#L107

[2021-07-14 20:20] ctubbsii commented on #2196
Yeah, I'd hate for this to validate redundantly, but I think that's probably the best way to go, so we don't code in a bypass to validation, and can reuse the existing code. (This is the option I called "safest, but redundant" above)

[2021-07-14 20:59] classickartik commented on #2200
I would like to work on this issue

[2021-07-15 07:26] #2200 closed

[2021-07-15 18:36] ctubbsii opened #2203 "Remove use of JLine outside of accumulo-shell"
JLine is used for a REPL command-line tool in accumulo-shell. However, we seem to also be using it for trivial line reading for non-REPL use cases. This is overkill, and makes it more likely that JLine upgrades will break code that doesn't need to depend on it. For many of these cases, a simple `System.console().readLine()` (or `.readPassword()`) will do.

JLine should be removed from all simple l

[2021-07-16 14:03] jmark99 opened #2204 "Update README.md to clarify use of 'main' vs '2.0' branch."
The documentation does not make clear that the main branch is designed to work with versions 2.1.x of Accumulo. If a user needs to run the examples against Accumulo 2.0.x, then the 2.0 branch should be used.

Update documentation to clarify this distinction.

Additionally,  we could add a link to the 1.10.x examples if a user is looking for them (https://accumulo.apache.org/1.10/examples/).

[2021-07-16 14:14] jmark99 opened #2205 "Update 2.0 branch to use examples namespace when creating tables."
The accumulo-examples repo was updated so that table names created during eecution would be less likely to collide with any existing table names that could exist on a users system. This was done by making use of an _examples_ namespace  when creating tables.

This update has only been applied to the main branch. The same updates should be applied to the example code and documentation for the 2.0 b

[2021-07-16 15:58] DomGarguilo commented on #2196
What do you mean by "roll back" here, @ctubbsii?

[2021-07-16 16:15] EdColeman commented on #2196
FATE operations can be composed of multiple "steps" . If an error occurs, the FATE transaction stack tries to roll back and unwind any steps that may have completed so the state is consistent with the state when the FATE transaction started.

[2021-07-16 19:30] Manno15 opened #2206 "Add pre-emption to fate"
Original issue from Jira ticket: https://issues.apache.org/jira/browse/ACCUMULO-2633 and somewhat related to another Jira ticket: https://issues.apache.org/jira/browse/ACCUMULO-2119.

Snippet from the ticket:

[code]

The second ticket relates to canceling an ongoing compaction if a table delete is issued. That could be done in a separate issue but I included them together for now.

[2021-07-16 20:54] Manno15 opened #2207 "Improve logging and documentation when tablet extent overlaps prev assigned"
Original Jira ticket: https://issues.apache.org/jira/browse/ACCUMULO-2207.

On occasion, a tablet extent can overlap the previously assigned with the error message:
<pre>
ERROR: Tablet 4;308048;304029 overlaps previously assigned [4;308048;3] [] [4;308048;304029]
</pre>

While this is a known issue, this error message could be improved to make it more clear and descriptive to avoid confusion.
Ther

[2021-07-16 21:01] ctubbsii commented on #2206
This, and the two referenced JIRA issues seem very similar to #2182 in their intended outcome. I don't think we have a strong need to change FaTE's architecture to support preemption more generically than that.

[2021-07-16 21:07] Manno15 commented on #2206
I did not see that issue so that is my mistake. I agree that the goals are similar so this issue can probably be closed along with those Jira tickers.

[2021-07-16 21:08] Manno15 commented on #2206
There is also Jira ticket [2535](https://issues.apache.org/jira/browse/ACCUMULO-2535) that falls under this umbrella as well.

[2021-07-16 21:15] ctubbsii commented on #2206
Possibly. It seemed that the underlying cause had not been identified on that one. It may not have been compaction-related. Regardless, it should be closed as well, because it's either the same issue as here, or it's something we don't have enough information to reproduce.

[2021-07-16 21:22] #2206 closed

[2021-07-19 15:00] keith-turner opened #2208 "Move TabletServer.checkTabletMetadata() to AssignmentHandler and improve messages"
The static method [TabletServer.checkTabletMetadata()](https://github.com/apache/accumulo/blob/f5df4f9681736d35e14b92c58033a1cf062b3d4e/server/tserver/src/main/java/org/apache/accumulo/tserver/TabletServer.java#L926) is only called by [AssignmentHandler](https://github.com/apache/accumulo/blob/f5df4f9681736d35e14b92c58033a1cf062b3d4e/server/tserver/src/main/java/org/apache/accumulo/tserver/Assignm

[2021-07-19 15:53] #2154 closed

[2021-07-19 16:30] #2205 closed

[2021-07-19 16:34] #2204 closed

[2021-07-19 18:14] DomGarguilo commented on #2196
Does it seem like something similar to:
[code]
Might work if placed in FateServiceHandler.java and PopulateZookeeper.java?

[2021-07-19 18:27] keith-turner commented on #2196
For the code you posted, it could be placed in a static method and called from those two places.

[2021-07-19 18:41] DomGarguilo commented on #2196
In FateServiceHandler.java

https://github.com/apache/accumulo/blob/80c8ee78342cfaea978882c37ebfcfc4af990fa1/server/manager/src/main/java/org/apache/accumulo/manager/tableOps/create/PopulateZookeeper.java#L61-L63

we could potentially make use of `TablePropUtil.setTableProperty` which performs the same check. Would look like this:

[code]

[2021-07-19 19:57] DomGarguilo commented on #2196
So each would be slightly different. Not sure which approach would be best, either two different code blocks (using whats returned from `TablePropUtil.setTableProperty` in PopulateZookeeper.java and `Property.isTablePropertyValid` in FateServiceHandler.java) or making a static method to use in both places. If we make a static method it seems the check would end up happening twice in FateServiceHan

[2021-07-19 19:57] DomGarguilo commented on #2196
I would like to be assigned to this ticket please.

[2021-07-19 20:41] harjitdotsingh commented on #2203
@ctubbsii  - I can take this.

[2021-07-19 23:29] ctubbsii opened #2209 "Broken test: org.apache.accumulo.test.functional.SplitRecoveryIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.SplitRecoveryIT.test

**Describe the failure observed**
[code]

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit known to fail (or current commit): 548b037c5917dc1e693733dc3d89599369d79103
 - Other environment details:
[code]

**What have you tried already?**
Re-ran test to verify failure

**Additional conte

[2021-07-20 12:31] SivaTharun commented on #2208
@keith-turner can i work on this issue?

[2021-07-21 16:09] willmurnane opened #2210 "Use `ScanInterpreter` for all relevant shell commands, not just `scan`"
When using the shell to perform scans, the `table.interepreter` property is used to interpret the supplied begin and end row text. However, this property is not used for other operations which also interact with `-b` and `-e` flags for begin and end rows:
* `compact`
* `merge`
* `flush`
* `deletemany`
* `deleterows`
* etc

and other operations which take rows and/or column families or column quali

[2021-07-21 17:29] DomGarguilo commented on #2209
Finding this IT hard to work with but have tracked down the failure to
https://github.com/apache/accumulo/blob/8a636a3ba91f5dae1d8b09b095178889a7d79c1d/test/src/main/java/org/apache/accumulo/test/functional/SplitRecoveryIT.java#L192-L193
Other than that, no indication yet on what might be causing this.

[2021-07-21 20:08] DomGarguilo commented on #2209
More specifically it looks like the error is coming from https://github.com/apache/accumulo/blob/cd58dbb0198601ffda5e1162a757648861c8ea14/core/src/main/java/org/apache/accumulo/core/metadata/schema/TabletMetadata.java#L203-L206
Which checks that `fetchedCols.contains(ColumnType.LOADED)`

[2021-07-22 16:11] Manno15 commented on #2209
From my testing, I got this IT to pass by reverting the changes made here https://github.com/DomGarguilo/accumulo/blob/0b82f085073a3d5d3de5ebb22244887b345ea860/core/src/main/java/org/apache/accumulo/core/metadata/schema/TabletsMetadata.java#L193-L199. Which is just removing the Iterators.filter portion. I am not sure why that piece of the code caused things to error though. ConvertRow is what alte

[2021-07-22 18:24] ctubbsii commented on #2210
Since we now have use of JShell, I think it would be reasonable to just deprecate and eventually drop the scan interpreter stuff (especially since it's not even spelled correctly). It's a bit weird to have shell-specific config stored in the per-table config on the server-side anyway. JShell is a much more powerful and flexible tool, and a lot less work to support, than these quirky shell behavior

[2021-07-23 17:39] #2196 closed

[2021-07-26 17:21] DomGarguilo commented on #631
I'm wondering if something similar to the changes in #1635 might work here.

[2021-07-26 19:53] DomGarguilo commented on #1587
I am unable to reproduce this. Has this been looked into recently? @karthick-rn

[2021-07-26 20:31] ctubbsii commented on #1587
It looks like I fixed this as part of 55ed4c19b0b514bfb7397f09a3a37f0bbbc7bbde / #1800 / #1817

[2021-07-26 20:31] #1587 closed

[2021-07-28 17:44] milleruntime commented on #2187
What do you think about just one new prefix property as a catch all?
<pre>
TSERV_SORT_FILE_PREFIX("tserver.sort.file.", null, PropertyType.PREFIX,
      "The rfile properties to use when sorting logs during recovery. Most of the properties"
         + " that begin with 'table.file' can be used here. For example, to set the compression"
          + " of the sorted recovery files to snappy use 'tser

[2021-07-28 18:21] ctubbsii commented on #2187
I think that's basically what I suggested with `tserver.wal.sort.file.` above. I'm not sure about `tserver.sort.file.` without the `wal` part, because Accumulo's sole function is to maintain sorted data and all RFiles are sorted files, so without the `wal` part to clarify it's related to write-ahead logs, users could easily misunderstand the property name.

Yeah, that's fine. I was thinking of the

[2021-07-29 12:07] #1351 closed

[2021-07-29 20:06] DomGarguilo commented on #1793
Normally this test will create a slow op for a compaction then enter into a loop to wait until it shows up in the metrics file. To complete successfully, in the file `currentFateOps` will be ` >= tableCount`. Typically, this takes some time to happen and will appear in the file after about a minute. Somehow `currentFateOps` was always zero and `totalFateOps` was always 4. or comparison, this is ho

[2021-07-29 20:10] DomGarguilo commented on #1793
As for this comment, I can reproduce it by making it so the test reaches its timeout while in the loop in `ManagerMetricsIT.blockForRequiredTables()`. I think this happens because the compactions are never cancelled (which is taken care of after `blockForRequiredTables()` completes.

[2021-07-29 21:58] Manno15 opened #2217 "Pretty-print PrintInfo's 'histogram' ouput"
Original JIRA ticket : https://issues.apache.org/jira/browse/ACCUMULO-1660
Description from the ticket:
<pre>
The output from o.a.a.core.file.rfile.PrintInfo --histogram is hard to read.
Specifically, the number of zeroes in each row in the histogram is difficult to tell at a glance.
We have code elsewhere to pretty-print large sizes using MB, GB, etc...
 It would be nice to see that here as well.

[2021-07-30 14:35] DomGarguilo commented on #1793
It looks like there was a ticket previous to this one, #1598 (and subsequent PR #1599) which aimed to fix this issue by reducing the resources this test uses. It does seem like this error is transient and not easily reproducible. Not to sure what else can be done to make this test more reliable.

[2021-07-30 16:43] #2179 closed

[2021-07-30 18:38] ctubbsii commented on #1793
To be fair, I haven't seen it in awhile, so we can close this for now.

[2021-07-30 18:38] #1793 closed

[2021-07-30 20:27] milleruntime opened #2218 "Test temp Sorted WALs are handled properly on Upgrade using CI"
As a follow up to #2185, it would be good to test that old temporary WALs are removed and the original WALs are resorted after upgrade. This is a little tricky to test manually, as you need to make sure the table is recovering but also have unloaded tablets (before the data is flushed to disk). If there are no references to the data in WALs and temporary sorted files get removed, the GC will remov

[2021-08-01 10:25] Shivakumar-SG commented on #2217
Hey @Manno15 , I would like to take up this issue.

[2021-08-01 11:15] Shivakumar-SG commented on #2217
I'm a bit confused about how to reproduce the above mentioned output as I'm a newbie to open source😌.
@EdColeman Would you mind giving me a lil start?

[2021-08-01 12:25] EdColeman commented on #2217
Maybe @Manno15 has additional suggestions, but the coding for this issue is probably the easiest part, but to develop and test might be more complicated.

More information on running the command is available in the documentation [Troubleshooting Tools](https://accumulo.apache.org/docs/2.x/troubleshooting/tools)

RFiles are the  storage format used by Accumulo.

To generate sample inputs there are

[2021-08-02 19:11] DomGarguilo commented on #2209
Looking closer at this test it looks like it is failing from a NullPointerException thrown from calling `getLoaded()` on a null `TabletMetadata` object. It is null because the `TabletsMetadata` object returned from the builder in `AmpleImpl.readTablet()` is empty, triggering the NoSuchElementException, returning null. Still looking into why this is happening.

[2021-08-03 11:45] dlmarion opened #2219 "Provide support for Intel QuickAssist Hadoop Codec"
**Is your feature request related to a problem? Please describe.**
Intel QuickAssist is a compression and cryptography hardware accelerator. A Hadoop compression codec exists at https://github.com/Intel-bigdata/IntelQATCodec/tree/master/hadoop_qat_wrapper, but Accumulo only supports specific, hardcoded codecs.

**Describe the solution you'd like**
Add support for the QuickAssist codec to the list

[2021-08-03 16:34] EdColeman commented on #2219
Probably out of scope for this change, but is there any movement towards also supporting zstd as a compression scheme.

[2021-08-03 19:47] #2209 closed

[2021-08-03 19:55] keith-turner commented on #2209
Tracked down the problem and fixed it in f503f1f.  After [MetadataTableUtil.splitTablet](https://github.com/apache/accumulo/blob/f503f1f6e66fe5657f305e18a65d07852ba035e0/test/src/main/java/org/apache/accumulo/test/functional/SplitRecoveryIT.java#L209) was called `extent` no longer existed in the metadata table.  Needed to use `high` instead.  The extents `extent` and `high` share the same end row

[2021-08-03 19:58] DomGarguilo commented on #2209
Awesome. LGTM

[2021-08-03 21:40] keith-turner opened #2222 "Tablet may write chop information to the metadata table after its closed."
**Describe the bug**

When CompactableImpl writes chop information [here](https://github.com/apache/accumulo/blob/a9100ac35f3d72677b767d7670dfb032c7e7d733/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/CompactableImpl.java#L691) it could happen after [close()](https://github.com/apache/accumulo/blob/a9100ac35f3d72677b767d7670dfb032c7e7d733/server/tserver/src/main/java/org/apache/a

[2021-08-04 17:24] #2217 closed

[2021-08-04 18:54] ctubbsii commented on #2219
That was already added in #456 for 2.0. It shouldn't be backported to 1.10, because it's not a forward-compatible change suitable for a bugfix release.

[2021-08-05 16:08] jmark99 commented on #1377
Unassigned myself as @mjwall expressed interest in working on the ticket as it may be related to the fix needed for #1916 that he has been investigating.

[2021-08-05 20:42] DomGarguilo opened #2226 "Provide Lexicoder for decimal data"
Original Jira ticket: https://issues.apache.org/jira/browse/ACCUMULO-4628

The ticket suggests adding a lexicoder for `BigDecimal`.

The original ticket does not detail why this might be needed or what a lexicoder is used for. I wanted to re-create this ticket to see if there was any interest for this feature or insight into how it might be useful.

[2021-08-05 23:00] ctubbsii commented on #2226
BigDecimal seems tricky. You may need to normalize them in order to store them somehow. You can do some normalization by stripping trailing zero digits, but you still have to store the original precision in order to restore it on deserialization, and it has to be part of the ordering (example: 2.0 is not the same as 2.00, so we'd also have to decide which to sort first, the more precise or less pr

[2021-08-06 15:12] DomGarguilo commented on #2226
Yea, I'll leave it for now and see if there is any interest eventually.

[2021-08-06 20:39] Manno15 opened #2227 "Add support for basic escaping of characters inside Shell commands"
**Is your feature request related to a problem? Please describe.**
Original Jira ticket: https://issues.apache.org/jira/browse/ACCUMULO-2929

Excerpt from ticket:
[code]

**Describe the solution you'd like**
It would be a useful feature to allow escaping of special characters, specifically a ' : ' in this instance. Alternatively, extra options such as -cf and -cq could be added instead.

**Additio

[2021-08-09 19:19] DomGarguilo commented on #2165
I set up some crude performance tests to see what the difference is between the normal byte streams and the Unsynchronized variants. From what I can tell the Unsynchronized byte streams are slower. I set up identical loops in which I created a `UnsynchronizedByteArrayOutputStream`/`ByteArrayOutputStream` wraped it in a `DataOutputStream` then wrote to it (String, int and double each tested separat

[2021-08-09 19:37] dlmarion commented on #2165
Suggest taking a look at JMH for writing a Java benchmark.
https://github.com/openjdk/jmh

On Mon, Aug 9, 2021 at 3:19 PM Dom G. ***@***.***> wrote:

[2021-08-10 17:26] DomGarguilo commented on #2165
Moved the tests to JMH and separated the data types into separate benchmarks. An example of one is as follows where the Unsyncronized versions and data types are swapped out for the other:
<details closed>

<summary>Test example</summary>

[code]
</details>

The results of the tests are as follows:

[code]
Not too sure how well these tests map to our use cases. If there are any suggestions for add

[2021-08-11 15:28] harjitdotsingh commented on #2227
Please assign in to me. Would love to work on this

[2021-08-11 18:39] DomGarguilo commented on #2222
For this condition I'm wondering if adding a check to the while loop in `close()` would account for this. Maybe something like:
[code]

For this condition maybe adding a check  [here](https://github.com/apache/accumulo/blob/a9100ac35f3d72677b767d7670dfb032c7e7d733/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/CompactableImpl.java#L690). Something like:
[code]

[2021-08-11 21:32] #2203 closed

[2021-08-11 21:53] Manno15 opened #2230 "Display more compaction information in the monitor"
**Is your feature request related to a problem? Please describe.**
Original JIRA ticket: https://issues.apache.org/jira/browse/ACCUMULO-3154

Important excerpt:
<pre>
Showing the age of the longest running scan...is helping users to understand their system better.
 It was suggested that showing the oldest compaction would be useful, too...
</pre>

**Describe the solution you'd like**
An 'Active Co

[2021-08-13 16:34] #2035 closed

[2021-08-13 16:43] Manno15 commented on #2027
What command do we run at release time to check for API breakage?

[2021-08-13 17:13] milleruntime commented on #2027
We use the apilyzer-maven-plugin. Check out https://accumulo.apache.org/blog/2019/11/04/checkstyle-import-control.html

[2021-08-17 22:34] ctubbsii commented on #2027
This task is basically to highlight whenever we change the API in a potentially breaking way. It's not necessarily intended to restrict the imports or to analyze the API classes, but just to highlight that the API changed in some way. I hadn't put a lot of thought into how this would work, but it could theoretically work by analyzing the diff against the base branch to see whether any public API m

[2021-08-19 22:57] Manno15 commented on #1542
From my testing, #1552 has fixed this issue. I went back and tested multiple commits including the current, the initial commit mentioned in this ticket, and then the commit from #1552. I was only able to reproduce this error from commits before #1552 and have not been able to reproduce it on any other commit after #1552.

[2021-08-20 14:44] #2187 closed

[2021-08-20 18:06] dlmarion commented on #2138
@keith-turner @ctubbsii  - take a look at the draft PR, let me know if this is what you had in mind. I have not tested it yet.

[2021-08-20 18:16] Manno15 opened #2239 "CompactionPlanner thread dies during continuous ingest"
**Describe the bug**
Found this bug while reviewing PR https://github.com/apache/accumulo-testing/pull/149. The CompactionPLanner thread dies after failing a sanity check set to confirm that the compacting files are expected files.

<details>

[code]
</details>

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: 2.1.0-SNAPSHOT

**To Reproduce**
1. C

[2021-08-20 18:37] dlmarion commented on #2239
AccumuloUncaughtExceptionHandler for the win!

[2021-08-21 06:02] ctubbsii commented on #1542
Looks like it was fixed by #1552, according to @Manno15 , so I'll close this.

[2021-08-21 06:02] #1542 closed

[2021-08-22 21:07] shreelakshmijoshi commented on #2153
Hi @Manno15 ,
I am a new open source contributor and would like to work on the issue, would you provide some more reference to help me understand the problem better ?
Is this issue open for contribution ?

[2021-08-23 12:41] EdColeman commented on #2153
Are you able to build the base (main) branch?  Some helpful documentation can be found at [building accumulo](https://accumulo.apache.org/contributor/building).  When you submit a PR, there are a set of validations that will run - if you can follow the build instructions, running:
[code]
Will run the complete set of validations that the build process will run, skipping tests - running those succes

[2021-08-23 13:48] Manno15 commented on #2153
Is this issue open for contribution ?

Hey, @shreelakshmijoshi! I would be more than glad to assist you. Yes, this issue is open for contribution if you wish to take it on.  There is a `closeConsistencyCheck` function inside `Tablet.java` (as seen below). In there, we do multiple checks to make things are consistent as expected. This issue would like to add two more checks in that function, one fo

[2021-08-23 15:59] Manno15 commented on #2239
To help differentiate between all files and compacting files, I edited the log message slightly:
![image](https://user-images.githubusercontent.com/29436247/130479252-6f2f57c9-50a7-4cf2-998e-45fd673978ab.png)

[2021-08-23 16:09] DomGarguilo commented on #2239
Unrelated to this bug, it seems that this message could be changed to be more evident in what it refers to. I find its meaning unclear.

[2021-08-23 21:25] Manno15 commented on #2239
I wonder if this is a timing issue. I added some log messages and it appears the compacting files were indeed at one point in the set of 'allFiles' but not when the sanity check took place.

[2021-08-24 12:08] milleruntime commented on #2239
It may be that this is a common occurrence on a highly active system. If that is the case, it's probably worthwhile to check the files sooner, before the constructor, [as soon as we get the set](https://github.com/apache/accumulo/blob/a9100ac35f3d72677b767d7670dfb032c7e7d733/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/CompactableImpl.java#L986). Then maybe just put a debug stat

[2021-08-24 13:39] Manno15 commented on #2239
Good idea, I will take a look at it.

Neither do I, unfortunately.

[2021-08-24 18:22] milleruntime commented on #2239
I ran the configuration from the testing branch CI locally just using Uno and I was surprised how quickly this error showed up.  It happened after only running CI for a few minutes. I will take a closer look at this code again.

[2021-08-24 19:02] milleruntime commented on #2239
@Manno15 can you push this improvement up to main? I think it would be a good start to improve the log message.

[2021-08-24 19:12] Manno15 commented on #2239
Yeah, I will do that.

[2021-08-24 19:25] Manno15 commented on #2239
@milleruntime I created PR #2243 for this. Was easier to do it this way instead of looking for my password token.

[2021-08-24 20:22] DomGarguilo opened #2244 "Explore adding a setProperties() method to InstanceOperations"
In some cases multiple properties are set one after the other each with a call to [`setProperty()`](https://github.com/apache/accumulo/blob/dcca6ce23e5a365fa162275f2082dc81f973fff8/core/src/main/java/org/apache/accumulo/core/client/admin/InstanceOperations.java#L46).

I wanted to bring up the possibility of adding a `setProperties()` method which would accept a map of properties to set. This may l

[2021-08-25 16:32] milleruntime opened #2245 "CompactionManager fails to find configured planner"
While running CI on https://github.com/apache/accumulo-testing/pull/149 when starting up Accumulo printed the below errors:
<pre>
2021-08-25T10:53:15,518 [compactions.CompactionManager] ERROR: Tablet 2;466666666666666d;4000000000000006 returned non existent compaction service cs1 for compaction type SYSTEM.  Check the table compaction dispatcher configuration. Attempting to fall back to default se

[2021-08-30 18:06] dlmarion commented on #1126
It appears that Hadoop is looking to remove HTrace. The HTrace functionality looks to be disabled in the 3.4.0 release (see https://issues.apache.org/jira/browse/HADOOP-17424). There is an umbrella ticket (https://issues.apache.org/jira/browse/HADOOP-15566) for moving to OpenTelemetry.

[2021-08-30 22:31] keith-turner commented on #2239
@Manno15  would you happen to know the specific commit you were using for Accumulo 2.1.0-SNAP?

[2021-08-30 22:37] Manno15 commented on #2239
The latest commit should still have the error occur.

[2021-09-01 01:23] wx930910 opened #2253 "Refactor MockRateLimiter to improve test design"
### Description

I noticed that there is a test class [MockRateLimiter](https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/core/src/test/java/org/apache/accumulo/core/file/streams/MockRateLimiter.java#L25) implements a production interface [RateLimiter](https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/core/src/main/java/org/apache/accum

[2021-09-01 13:41] #2239 closed

[2021-09-01 17:26] harjitdotsingh commented on #2226
I can work on this if needed.

[2021-09-01 17:46] dlmarion opened #2257 "Migrate from HTrace to OpenTelemetry"
**Is your feature request related to a problem? Please describe.**
No, there is no problem

**Describe the solution you'd like**
Migrate code from using HTrace to using OpenTelemetry

**Describe alternatives you've considered**
No alternatives considered, it appears that projects on consolidating on the OpenTelemetry project. In fact Hadoop is targeting OpenTelemetry adoption in their 3.4.0 releas

[2021-09-03 14:29] milleruntime commented on #2147
I missed some when I opened this ticket. There are actually 7 Sunny day ITs. The 4 above plus these:
<pre>
main/java/org/apache/accumulo/test/ShellIT.java:@Category({MiniClusterOnlyTests.class, SunnyDayTests.class})
main/java/org/apache/accumulo/test/functional/ReadWriteIT.java:@Category({StandaloneCapableClusterTests.class, SunnyDayTests.class})
main/java/org/apache/accumulo/test/ShellServerIT.ja

[2021-09-03 15:55] #2147 closed

[2021-09-07 15:38] milleruntime commented on #2076
Need to finish #2197 before completing this task.

[2021-09-08 14:40] #2253 closed

[2021-09-08 18:50] Manno15 opened #2264 "Show few option does not work with commands that extend ScanCommand"
**Describe the bug**
Original ticket: https://issues.apache.org/jira/browse/ACCUMULO-814. Several commands that extend the `ScanCommand` do not properly implement the show few option.  It is possible other options behave similarly.

**To Reproduce**
Steps to demonstrate. Also can follow the example given below.
1. Launch an accumulo instance and create a table in the accumulo-shell.
2. Insert a ro

[2021-09-08 18:59] dlmarion commented on #1126
I think we should close this in favor of moving to OpenTelemetry (#2257)

[2021-09-08 22:02] Manno15 commented on #2264
Commands that seem to have this issue:

[code]
`DeleteManyCommand` does extend `ScanCommand` but overwrites the '-f' arg with a force option. If the usefulness of the --show-few option is low for these commands then a solution might be to just remove it so it doesn't show up as an option in the shell.

[2021-09-08 22:09] EdColeman commented on #2264
Going from memory, does show few does work with scan (and is useful)? I seem to think it does, but maybe I'm thinking of something else.   grep and egrep would seem to similar to a scan that it should apply, but I don't recall using those commands as frequently as scan during development and troubleshooting.

[2021-09-08 22:16] Manno15 commented on #2264
It does work for scan. It might be useful in some applications but I do not what they are. Just the commands that extend ScanCommand it does not work. I could see grep/egrep being useful in the same vein. MaxRow is one I am unsure of since it will only return the row name.

[2021-09-09 11:51] dlmarion commented on #1383
@keith-turner  - it looks like your PR #1440 resolved this. Can this be closed or is there more work?

[2021-09-10 17:08] keith-turner commented on #1383
@dlmarion this can be closed.

[2021-09-10 17:08] #1383 closed

[2021-09-15 11:04] #666 closed

[2021-09-15 16:47] keith-turner opened #2271 "Generate metrics for each user configurable thread pool"
**Is your feature request related to a problem? Please describe.**

Accumulo has a lot of user configurable threads pools.  While looking into #1749 the following thread pool related properties were found.

[code]

It would be very useful if each of these thread pools generated metrics on at least the number of task queued and running.  Other metrics per thread pool like runtime and queue time sta

[2021-09-15 16:52] keith-turner commented on #1749
I took a look at 2.1.0-SNAPSHOTS properties and opened #2271 as a result of noticing that a lot of the props that could use metrics were all thread pools.  Other than that I found the following props need further exploration to see if they could benefit from having metrics to help tune them.  Some of these may not make sense for metrics, I just took any that I thought may. I plan to work down the

[2021-09-15 21:16] keith-turner opened #2272 "Fate thread pool property listed as ZK mutable but does not dynamically resize."
**Describe the bug**

The property `manager.fate.threadpool.size`is listed as ZK mutable in the documentation implying that changes to it should cause changes in a running system.  However looking at the following code that creates the thread pool, I can not find a place in the code that changes the thread pool size after its created.

https://github.com/apache/accumulo/blob/ba83d8fa26a8adc92ca024

[2021-09-16 13:39] #2227 closed

[2021-09-17 17:53] dlmarion commented on #2161
@keith-turner - I [found](https://github.com/apache/accumulo/blob/main/server/base/src/main/java/org/apache/accumulo/server/init/Initialize.java#L198) where the locality groups are set on the Metadata table. Looking at [MetadataSchema](https://github.com/apache/accumulo/blob/main/core/src/main/java/org/apache/accumulo/core/metadata/schema/MetadataSchema.java), should we create a locality group for

[2021-09-17 18:22] dlmarion commented on #2271
I think this should wait until we pull in #2188

[2021-09-17 19:04] milleruntime commented on #2230
@Manno15 have you done anything with this? I started looking at it and it should be pretty straightforward.

[2021-09-17 19:14] dlmarion commented on #1305
@Manno15  - It seems like you may have done some work on this. Can this issue be closed?

[2021-09-17 19:19] dlmarion commented on #1265
When this is addressed, the DumpConfig command will need to be updated also

[2021-09-17 19:29] Manno15 commented on #2230
@milleruntime No, I haven't.

[2021-09-17 20:03] Manno15 commented on #1305
@dlmarion Yes. It apparently was removed from the pom in #1517.

[2021-09-17 20:03] #1305 closed

[2021-09-17 21:11] harjitdotsingh commented on #2264
Can you assign this to me? I can work on this. Thx

[2021-09-17 22:38] keith-turner commented on #2272
@dlmarion there is still some work do to for this, so reopening it.  The code does the following after it creates the thread pool, it executes a number of transactionrunner task equal to the pool size.  Need to make this dynamic somehow also.

[code]

[2021-09-17 22:44] keith-turner commented on #2272
Not sure how well this work work, was thinking of possibly doing the following to make the thread pool more dynamic.
  * Modify TransactionRunner.run() removing the outer `while (keepRunning.get())` loop.  So that when it runs, it only runs a single repo.
  * Create the ThreadPool with a Queue that supplies an endless number of transactionrunners.  So when a thread in the pool becomes idle and req

[2021-09-17 22:48] keith-turner opened #2276 "Look into using new method for adjusting thread pool sizes more widely."
Currently in the code there are three bits of code that adjust thread pool sizes as config changes.  Would it be possible to make these use the new method introduced in #2274?  Below are the places in the code that adjust thread pool sizes.

https://github.com/apache/accumulo/blob/ba83d8fa26a8adc92ca0249780b1ddf9d7135d7a/server/tserver/src/main/java/org/apache/accumulo/tserver/TabletServerResource

[2021-09-17 22:53] keith-turner commented on #2276
The code in TServerUtils.java would probably need to continue to be custom as it starts a  configurable minimum and grows/shrinks based on usage.

[2021-09-18 00:36] dlmarion commented on #2272
I can look at this more on Monday.

[2021-09-20 20:17] dlmarion commented on #2272
@keith-turner - https://github.com/apache/accumulo/pull/2278 should include your latest comments

[2021-09-20 20:43] #2114 closed

[2021-09-21 02:10] ctubbsii commented on #1126
Closing in favor of #2257

[2021-09-21 02:10] #1126 closed

[2021-09-21 02:41] ctubbsii commented on #2226
@harjitdotsingh You're welcome to it, if you wish. I wouldn't characterize it as "needed", though I can't speak for all users. If it interests you, feel free to pursue it. We can assign it to you, so others know you're pursuing it and can coordinate with you if they also have an interest. Would you want us to assign it to you?

[2021-09-21 04:13] harjitdotsingh commented on #2226
Yes Please.

Thanks

- Harjit

On Mon, Sep 20, 2021 at 10:41 PM Christopher Tubbs ***@***.***>
wrote:

[2021-09-21 16:11] dlmarion opened #2280 "SimpleTimer replacement is not a Singleton"
ThreadPools.createGeneralScheduledExecutorService replaced SimpleTimer, but a new ThreadPoolExecutor is being created for each call instead of re-using a singleton ThreadPoolExecutor for that property.

[2021-09-21 16:45] EdColeman opened #2281 "Ensure ZooKeeper data version rollover is handled correctly."
**Describe the bug**
ZooKeeper uses integers to track versions and it may be possible that the numbers could rollover and become negative - verify that we don't rely on the versions always being positive and increasing,  See [ZOOKEEPER-4372](https://issues.apache.org/jira/browse/ZOOKEEPER-4372) (Identified by @ctubbsii)

**Versions (OS, Maven, Java, and others, as appropriate):**
 - All ZooKeeper

[2021-09-21 19:58] milleruntime commented on #2230
It would be nice to include how many are queued as well, like how we do on the tables and table status pages.

[2021-09-21 22:58] #2199 closed

[2021-09-22 11:13] milleruntime commented on #2280
Your mention of singleton usage reminded me of a class @keith-turner created to manage static singletons, the `SingletonManager`. I don't know if it applies or not but I thought it was worth mentioning. https://github.com/apache/accumulo/blob/323bbea9a48930a6aa39546dc7f15943a1574e60/core/src/main/java/org/apache/accumulo/core/singletons/SingletonManager.java

[2021-09-22 17:30] dlmarion opened #2284 "Break up ExternalCompactionIT"
The IT takes about 15 minutes, break it up into multiple ITs

[2021-09-22 19:50] milleruntime opened #2285 "Use DataTables for GC page"
**Is your feature request related to a problem? Please describe.**
The GC page on the Monitor is using the old way to generate a table.

**Describe the solution you'd like**
Replace the jquery table with datatables.

[2021-09-23 12:02] milleruntime opened #2286 "Make text alignment consistent in Monitor"
**Describe the bug**
The text alignment in table cells is different across pages in the monitor. This is due to the 2 different ways we have of creating tables. The older way which uses straight JS functions and jquery, aligns text one way, while datatables aligns text the other way. It would be nice to replace all tables with datatables but that is a lot of work so until that happens we could at

[2021-09-23 14:38] #2230 closed

[2021-09-23 17:00] #2280 closed

[2021-09-23 17:06] ctubbsii commented on #2280
The SingletonManager stuff is quite complicated. It's not intended to manage all singletons, but rather to manage closable singleton lifecycles, and I would argue against reusing it for more singletons. It's primary use case is for implementing a singleton lifecycle for the closeable AccumuloClient, when legacy Instance/Connector APIs are used, so we can clean up the internal AccumuloClient when t

[2021-09-23 17:23] ctubbsii opened #2288 "Support stronger ZooKeeper digest algorithms after 3.7.0"
Accumulo uses ZooKeeper's DIGEST and the `instance.secret` in Accumulo's config file for protecting nodes in ZooKeeper with ACLs. ZooKeeper 3.7.0 added support for using stronger algorithms. On moving to some future Accumulo version that requires using ZooKeeper 3.7.0 or later as its minimum supported ZooKeeper version, Accumulo should take advantage of the ability to use a stronger digest algorit

[2021-09-23 17:59] ctubbsii commented on #2286
Not sure if this is still the case, but I noticed that in the past, we've used tables to store data that didn't need a table (e.g. where there was only a single row of information, and we just put it in a tabular format for lack of design creativity). If that is still the case, instead of switching to datatables or fixing the alignment, it might make sense to just use a different style of display

[2021-09-24 04:23] keith-turner commented on #2280
That is not quite right. The Instance/Connector code could be removed and we would still need the singleton manager.  Its needed to manage singletons in the implementation that were never moved into the client context.  Once these singletons are moved into the client context we can remove the SingletonManager.  Instance/Connector does not prevent this from movement from happening, its just that no

[2021-09-24 13:22] #2284 closed

[2021-09-24 14:12] ctubbsii commented on #2280
Thanks for the clarification, @keith-turner ; my misunderstanding was based on how/when we use the various SingletonManager modes. In case it helps others looking at this, the best way to understand what singletons are being managed is to see which SingletonService objects are registered with the SingletonManager. (`grep -Rl SingletonManager.register **/*.java`)

[2021-09-27 19:49] milleruntime opened #2290 "Include some External Compaction info in Monitor"
**Is your feature request related to a problem? Please describe.**
There is currently nothing reported about External Compactions in the Monitor

**Describe the solution you'd like**
At the minimum, include the same info about External compactions that we currently provide for internal compactions (number running, queued). If possible it would be helpful to list the process ID or external compacti

[2021-09-28 16:07] AlbertWhitlock commented on #2207
I have been looking at this some. Could someone assign this ticket to me please?

[2021-09-28 20:09] DomGarguilo commented on #1841
I'm reopening this issue for now since this test still appears to be flaky. The changes in #1847 just increased the timeout. I'm not sure that this helped because the test still hits its timeout after 7 mins. I have been running this test on main and seeing the timeout most frequently. Less frequently I see the test pass and I also see it fail with the below error:
[code]

[2021-09-28 20:21] milleruntime opened #2292 "ConcurrentDeleteTableIT Timing Out"
ConcurrentDeleteTableIT is consistently failing as of late by way of timeout. The problem seems to be with `testConcurrentDeleteTablesOps`. Looking at the logs the Manager process did not appear to start. I did not see any errors though.

[2021-09-28 20:23] ctubbsii commented on #2292
Duplicate of #1841

[2021-09-28 20:23] #2292 closed

[2021-09-28 20:37] milleruntime commented on #2280
@keith-turner or @ctubbsii do you know if there a ticket for this work?

[2021-09-28 20:49] ctubbsii commented on #2280
There is a general informal initiative spearheaded by some of us, reflected in our contributions, to try to remove our static resources in favor of managing resources with lifecycles. This was the basis of many decisions in 2.0, such as the creation of AccumuloClient, and before that, the creation of ClientContext and ServerContext. But, I do not think there is any specific tickets to complete the

[2021-09-28 21:22] keith-turner commented on #2280
Would probably make sense to open an issue for each thing that [registers with the singleton manager](https://github.com/apache/accumulo/blob/d4cb0ebacddcad11a520e87829714f3f67dc71d5/core/src/main/java/org/apache/accumulo/core/singletons/SingletonManager.java#L115) to explore moving it to client or server context.

[2021-09-30 13:48] milleruntime opened #2295 "MergeIT timing out on some machines"
MergeIT is consistently timing out on my instance. It seems like a resource issue, perhaps with the GC because I saw a warning in the logs. One tserver reported this warning during the second test ran, mergeTest:
<pre>
TabletServer_512107.out [server.GarbageCollectionLogger] WARN : Running low on memory
</pre>

[2021-09-30 17:03] milleruntime commented on #2295
This IT didn't have any problems until recent ThreadPool changes, beginning with https://github.com/apache/accumulo/pull/2274

[2021-09-30 18:08] #2138 closed

[2021-09-30 18:58] dlmarion commented on #2295
I believe I have found the culprit [here](https://github.com/apache/accumulo/pull/2278/files#diff-467b6cb7af0f7b7339d81d3112329b8e19557e685a3c659bc623160826c8f01dL64). Fate.TransactionRunner would sit in a loop until the Fate transaction was successful. Now, it runs once, and if `op.isReady` returns <> 0, then it bails.

[2021-09-30 19:04] Manno15 commented on #2295
That was my suspicion as well. I reverted some of the changes in Fate, including that one, and the ITs pass.

[2021-09-30 19:16] dlmarion commented on #2295
Putting up a PR shortly

[2021-10-01 12:55] #2295 closed

[2021-10-04 19:46] Manno15 commented on #1841
The fixes made in #2296 appear to have fixed the timeout issues. The test still appears to be flaky, however.

[2021-10-04 19:49] DomGarguilo commented on #1841
It does seem like the current code no longer times out. I am still seeing the test error out with `java.lang.RuntimeException: org.apache.accumulo.core.client.AccumuloException: Table is being deleted` which to me seems like it should be expected since the test is concurrently deleting tables and performing other ops.

[2021-10-05 10:06] milleruntime commented on #2290
@keith-turner @dlmarion Any ideas for this?

[2021-10-05 11:16] dlmarion commented on #2290
IIRC the external compactions *are* included currently in the number of running and queued compactions displayed on the monitor. This is because the external compactions are queued up from the tserver and the tserver knows when they are running/finished/failed. There are several places where external compaction information is stored.

1. When an external compaction is running an `ecomp` column is

[2021-10-05 11:55] milleruntime opened #2298 "Explore Moving ZooSession to ServerContext"
The class core/src/main/java/org/apache/accumulo/fate/zookeeper/ZooSession.java registers a static singleton with SingletonManager. It might be possible to refactor this code to live in ServerContext. There is already a `ZooReaderWriter` object living in `ServerContext`.

There are two access points to the static state in ZooSession:
- getAuthenticatedSession() - used by ZooReaderWriter, ServiceLo

[2021-10-05 12:20] milleruntime opened #2299 "Explore refactoring ZooCacheFactory"
This class is registered as a singleton with SingletonManager. It might be possible to drop this class by moving the getZooCache() methods to their respective places in ServerContext and ClientContext.

Some of the server code uses this factory to get the systemConfig in `ZooConfigurationFactory` and `ServerConfigurationFactory`, both of which store static objects. The `ServerInfo` object uses thi

[2021-10-05 12:34] milleruntime commented on #2290
I am not sure what exactly we should show but I think the important part now would be to determine if we need to create any Thrift RPCs in `ManagerMonitorInfo` to expose the information to the Monitor. We won't be able to create new RPCs in a bug fix release. As long as the information is available to the monitor, we should be able to change how the information is viewed in a bug fix release thoug

[2021-10-05 13:39] ctubbsii commented on #2299
@EdColeman is working on versioned properties in ZK to reduce the number of watchers per table, among other benefits (I don't have the ticket numbers immediately available to reference). That work is replacing the use of ZooCache with another caching mechanism for config properties stored in ZK. Since config properties are a substantial use case for ZooCache, it might sense to limit the scope of a

[2021-10-05 14:01] milleruntime opened #2300 "Explore moving Tables into ClientContext"
The client code uses the `Tables` class a lot to get different information about tables and maintains its own static TableID and table name cache. This cache is mapped out using the `TableMap` class. This static cache is the main reason `Tables` is registered as a SingletonService in the SingletonManager. Almost every method in `Tables` is already taking a `ClientContext` so it may not be too diff

[2021-10-05 14:08] ctubbsii commented on #1841
The fact that the table is being deleted might be expected, but the exception being propagated and erroring out the test is not. :frowning_face:

[2021-10-05 14:09] ctubbsii commented on #2300
I'll take a look at this one. This class has been annoying me for awhile, and it overlaps with some of the code I've been looking at recently regarding tablename/id lookups for RPC calls.

[2021-10-05 14:37] milleruntime opened #2301 "Explore refactoring TabletLocator code"
The `TabletLocator` is an abstract class with multiple concrete classes, all maintaining static state locations of tablets for clients. These classes also cache information about mutations and ranges for reading and writing to a table. The `TabletLocator` abstract class itself is registered as a singleton with the SingletonManager. This is probably the most complicated singleton registered as you

[2021-10-05 14:58] milleruntime opened #2302 "Explore moving ThriftTransportPool to ClientContext"
The `ThriftTransportPool` class contains the static code for connection pooling. It contains a traditional `instance` object of `ThriftTransportPool` type so refactoring this code may only involve making the object a private member of `ClientContext`.

[2021-10-05 15:01] #2285 closed

[2021-10-05 15:21] milleruntime commented on #2290
If this is the case, then perhaps there is nothing that we need to do for now. I will leave this ticket open until someone can confirm this.

[2021-10-05 15:28] milleruntime commented on #2302
I will take a look at this one. It seems less disruptive than the other ones and shouldn't interfere with ZooKeeper and configuration changes.

[2021-10-05 18:41] #2222 closed

[2021-10-05 18:45] Manno15 commented on #2184
From my testing, the exception always occurs right after either the Root table or Metadata tablets would sleep (`TabletGroupWatcher`: line 346). Though the sleep occurs more often than the exception so may be unrelated.

[2021-10-05 18:50] milleruntime commented on #2111
@dlmarion you recently refactored the ExternalCompaction ITs, do you know if they cover this scenario?

[2021-10-05 20:54] keith-turner commented on #2111
I actually started working on some unit test that are related to this this morning.  Should be posting a PR shortly

[2021-10-06 17:44] cbevard1 opened #2306 "Allow custom FileSystem implementations to be used with Accumulo"
https://github.com/apache/accumulo/blob/8d714bb19bcf3fc4f29818fd16b04901fdeb3a99/server/base/src/main/java/org/apache/accumulo/server/manager/recovery/HadoopLogCloser.java#L72-L75

The underlying FileSystem implementation is abstracted in Accumulo, but custom FileSystem implementations are restricted by this section of code in the HadoopLogCloser. I'm working on an S3 classpath extension that woul

[2021-10-06 23:32] Manno15 commented on #2184
The issue appears to be when the tablet server attempts to send a message to the manager during the upgrade process. The line in `TabletServer` and of the send function that calls `reportTabletStatus` is below.

https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/server/tserver/src/main/java/org/apache/accumulo/tserver/TabletServer.java#L811

https://github.com/apache/

[2021-10-07 06:46] #2306 closed, assigned to nobody

[2021-10-07 14:38] milleruntime opened #2308 "External Compaction status percentage incorrect in logs"
The External Compaction processes (Compaction Coordinator and Compactor) report compaction status progress in the logs.
<pre>
[coordinator.CompactionCoordinator] DEBUG: Compaction status update, id: ECID:024ac5c5-029e-4760-85b0-b7b58d88cadb, timestamp: 1633542296465, state: STARTED, message: Compaction started
</pre>

But something is wrong with the calculation of the progress percentage as it alw

[2021-10-08 18:48] milleruntime opened #2311 "Failed to reconfigure compaction services"
I am getting this error while trying to run external compactions using Uno.
<pre>
2021-10-08T14:30:10,916 [compactions.CompactionManager] ERROR: Failed to reconfigure compaction services
java.lang.RuntimeException: Failed to create or update compaction service cs1 with planner:org.apache.accumulo.core.spi.compaction.DefaultCompactionPlanner options:{executors=[{"name":"small","type":"external","ma

[2021-10-11 15:47] #2308 closed, assigned to jmark99

[2021-10-12 12:40] dlmarion commented on #2311
The compaction service and its configuration are used in the tablet server. I'm not sure that the inability to reconfigure it and the use of external compaction processes are related. Has anyone tried to reconfigure it w/out using external compactions?

[2021-10-12 14:07] DomGarguilo commented on #2311
Just double checked and it seems to be working fine.

[2021-10-12 15:54] milleruntime opened #2313 "Tool to validate Compaction configuration"
It would be nice to have a CLI tool to run against a compaction configuration to allow you to check it before deploying. There are a lot of requirements and differences between `internal` and `external` Compactable types that can be tricky and probably won't get caught until the compaction manager tries to create them as a compaction service. These would fall under the `tserver.compaction.major.se

[2021-10-12 21:23] #2111 closed

[2021-10-12 22:00] keith-turner commented on #2311
I can look into this and see what the behavior is and if any additional validation of config is needed.

[2021-10-19 19:50] mjwall opened #2322 "GarbageCollector deleted rfiles that were still in use"
**Describe the bug**
Similar to the issue described in #1916, the garbage collector did not remove candidates that were still in use.  So these rfile references were removed from HDFS

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: 1.9.4
 - OS: CentOS 7
 - Others:

**To Reproduce**
Unable to reproduce

**Additional context**
Unlike the issue in

[2021-10-20 05:07] #1916 closed

[2021-10-20 05:09] ctubbsii commented on #2322
That seems reasonable to me. It's safer than proceeding.

[2021-10-21 17:15] milleruntime opened #2323 "Replace pluggable documentation with SPI"
With the next release, this section of the user manual needs to be updated accordingly: https://accumulo.apache.org/docs/2.x/getting-started/features#extensible-behaviors
The balancer is now part of the SPI and I think this would be a good place to describe the new SPI package. I think the 3 other sections can be removed.

[2021-10-25 18:53] ctubbsii opened #2327 "Broken or Flaky test: CleanUpIT and ManagerApiIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.CleanUpIT.run
 - org.apache.accumulo.test.functional.ManagerApiIT.z99_testPermissions_shutdown

**Describe the failure observed**
These tests repeatedly fail since #2303 was merged.

<details>
<summary>CleanUpIT had an assertion failure and a more common IllegalStateException</summary>

[code]

</details>

<details>
<summary>ManagerApiIT had

[2021-10-26 15:07] dlmarion opened #2328 "Add parameter to Merge command to cancel blocking fate operations"
**Is your feature request related to a problem? Please describe.**
The merge operation tries to get a write lock on the table. It can't get a write lock if there are any other fate transactions that have the read lock or write lock. There are cases where a merge operation needs to be done now as opposed to when it can get the lock.

**Describe the solution you'd like**
A parameter to the merge com

[2021-10-27 00:06] andrewglowacki opened #2331 "OutOfMemoryError During BinMutations cause stuck BatchWriter"
**Problem**
The first step in flushing mutations from the Batch Writer to the Tablet Servers involves binning mutations by destination tablet server. If the tablet server throws an OutOfMemoryError or any non-Exception based Throwable, the error will be thrown on the client side. The error will not be caught and will cause the bin thread to die without reporting the fact that an error occurred. Th

[2021-10-31 14:13] andrewglowacki commented on #2331
After looking main over more closely, I see what @dlmarion was talking about with regard to changes in #1840. I decided not to do anything on main since #1840 explicitly prevented TabletServerBatchWriter from catching Throwbles.

However, after considering the discussion in #1840, I think the changes there were all made from the server's perspective even though TabletServerBatchWriter is primarily

[2021-11-01 12:06] dlmarion commented on #2331
Fair point about the client API, but I'm struggling with how to deal with this. Suggestions would be welcome. The [api](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Error.html) docs say " a reasonable application should not try to catch" Error's. The [JLS](https://docs.oracle.com/javase/specs/jls/se8/html/jls-11.html#jls-11.3) says that "... catching errors from which rec

[2021-11-01 15:38] andrewglowacki commented on #2331
Yeah it's a tricky. Unfortunately in this situation the error is recoverable and handling it is required in order to prevent resource leaks (stuck threads in this case).

In either case, I think the system property is probably the easiest way to determine whether or not to halt. As far as notifying the user, I think the cleanest way is to use the existing mechanism (in 1.10.x) where the Throwable

[2021-11-01 17:54] ctubbsii commented on #2331
Trying to recover from Errors seems like the moldy bread of the Java world. Yeah, sure, *maybe* you can cut around the problem, and continue eating safely, but it's not a great idea. When mold occurs, you can't trust that there's not mold in smaller, less visible amounts on the rest of the loaf. Similarly, when an Error occurs, I don't see how you can trust the rest of the state of the JVM... espe

[2021-11-01 19:11] dlmarion commented on #2331
So, two other related thoughts here:

1. There are many flavors of OutOfMemoryError. I imagine that you are trying to handle the case where it's "java heap space" by trying to create a smaller object (From what I read, Java heap space is thrown based on a pre-calculation of the size of the object being allocated and the max heap size, thus the VM didn't really run out of memory). It's not clear to

[2021-11-01 19:15] dlmarion commented on #2331
@ctubbsii  - do you have any thoughts on not halting the VM from the AccumuloUncaughtExceptionHandler when it's being used in a client application? I do agree with @andrewglowacki that libraries should not be shutting down the VM.

[2021-11-01 19:24] #2327 closed

[2021-11-01 20:06] ctubbsii commented on #2331
The library didn't cause the OutOfMemory. The alternative is that the library intentionally leaves the client in a bad, likely unrecoverable, state. I'm not sure that's any better. This isn't that different from a segfault in a library that causes a process to die. Or, a memory-hogging native process to cause another process in the OS to be killed by the OOM-killer. No, a library shutting down the

[2021-11-01 20:20] dlmarion commented on #2331
There are good examples.

[2021-11-01 21:13] keith-turner commented on #2331
The uncaught handler that hlts seems to be setup by Threads.createThread(...).  One possible way to make this not halt for client code is to move this to client context.  So client context could have a create thread method that does not halt in the createThread method and server context could override createThread and halt in the uncaught handler.

[2021-11-02 00:49] andrewglowacki commented on #2331
@dlmarion exactly there are many flavors of OOM error.
@ctubbsii OOM errors are recoverable in certain situations.

1. The one I see regularly is the 'direct memory' flavor. This one occurs when you try to allocate a direct byte buffer, but you've reached your pre-configured direct memory limit. This happens because direct memory is only freed after DBBs are GC'd. This is unlike normal resources w

[2021-11-02 02:46] andrewglowacki commented on #2331
Sorry I think I've gotten this issue quite a bit off topic. Clearly main's batch writer will not become stuck in this case, so my single PR resolves this issue.

I will (or someone can if they think it's still worth addressing) can open a separate issue for Error handling in client APIs on main.

[2021-11-02 11:42] dlmarion commented on #2331
This makes sense, but then I would have to wire up the Context in all the places, possibly modifying even more code where a Thread is created but there is no reference to the Context. If we want to make it such that an Error does not halt the client VM, then it looks like the `SingletonManager.getMode()` might do what I need. `SingletonManager.setMode(Mode.SERVER)` is only called from `ServerInfo`

[2021-11-02 13:18] keith-turner commented on #2331
That would work perfectly, I like it.  Its internal code so it could always be improved later if we think of a better way to solve the problem,  But it would be nice to fix the problem before release.

I am not sure its appropriate for this particular case but one thing to consider in general from an API perspective is letting users pass in ExecutorServices and Thread Factories.  The new bulk load

[2021-11-02 17:39] ctubbsii commented on #2331
I agree that some are. I just don't think we can *reliably* distinguish between them, or that it's worth adding substantial code complexity to try to add in heuristics to try to distinguish. It may be worth adding minimal code complexity to allow users to decide, though.

[2021-11-02 17:46] keith-ratcliffe opened #2341 "Minor compactions failing on 2.1.0-SNAPSHOT"
Discovered this while testing DataWave on 2.1.0-SNAPSHOT (5f20e386)....
Minor compactions are failing as a result of `ClassCastException`, as shown below, which arises from a `deepCopy` call in this [DataWave iterator](https://github.com/NationalSecurityAgency/datawave/blob/feature/accumulo-2.0/warehouse/ingest-core/src/main/java/datawave/iterators/PropogatingIterator.java#L285), which is configur

[2021-11-02 18:43] milleruntime commented on #2341
I started looking into this issue but got sidetracked by another nasty bug in #2342. It seems like the issue here is due to the moving of system iterator classes done for #1411 and when a runtime iterator stack gets created with iterators for locality groups, the class hierarchy is broken.

[2021-11-02 21:37] mjwall opened #2343 "Periodic test failures running `mvn clean test` on main"
**Describe the bug**
Periodically getting the errors when run `mvn clean test` on main.  Capturing here in case others are getting it.

[code]

**Versions (OS, Maven, Java, and others, as appropriate):**
 - main (commit dc847b1fb971efa81e6fcc24f126e93fcc1ddf8a)
 - OS: CentOS 7
 - Others: java 11.0.11 2021-04-20 LTS

[2021-11-02 21:38] mjwall commented on #2343
Here is another failure

[code]

[2021-11-02 21:43] mjwall commented on #2343
@milleruntime have you see this behavior?

[2021-11-02 21:54] keith-ratcliffe commented on #2341
FWIW....I temporarily modified my snapshot deployment to have `SortedMapIterator` re-implement `InterruptibleIterator` so that I could proceed with integration testing. That does seem to have resolved the issue for me, but I'm assuming that's not the desired fix, since it ostensibly violates the spirit of #1411

[2021-11-03 03:40] ctubbsii commented on #2343
I have seen this on the ASF Jenkins builds... but I have never seen it anywhere else. The ASF Jenkins servers aren't available for administrative access to troubleshoot the logs and state of the system when it happens, though, so it's been hard to track down. I can't reproduce it locally.

Also, just a note of caution, you shouldn't use `mvn clean test` for Accumulo, in general. For `<lengthy expl

[2021-11-03 07:14] ctubbsii commented on #2343
I think the issue is that RFileTest and CryptoTest can sometimes run concurrently, and they both use the same path for their key files (`CryptoTest.keyPath`). One might overwrite the file created by the other, so that when the other tries to read it, it gets no content. They should use unique paths. I'll prepare a PR.

[2021-11-03 12:23] milleruntime commented on #2343
I had not seen this failure but look like @ctubbsii already got a fix in #2344

[2021-11-03 12:27] mjwall commented on #2343
Thanks @ctubbsii @milleruntime, will take a look tomorrow

[2021-11-03 20:36] milleruntime commented on #2341
@keith-ratcliffe do you know if you may have different version of iterators on your classpath? Maybe try -verbose:class to see what jar the iterators are being loaded from. I can't seem to reproduce this using an example jar from 2.0 and Uno running 2.1. I found a similar class in the examples repo, `ChunkCombiner` that extends SKVI and does a deepCopy on its source. This class gets loaded from a

[2021-11-03 21:25] keith-ratcliffe commented on #2341
As far as Accumulo iterators, I only have the 2.1.0-SNAPSHOT versions on the classpath. In the deepCopy example you ran, did the code path include `LocalityGroupIterator`? Seems like that's one of the few, if not only, ways to trigger that explicit cast on deepCopy

[2021-11-03 21:32] milleruntime commented on #2341
I don't think so. I will try again with locality groups and see if I can print the whole iterator runtime stack as well.

[2021-11-03 23:11] milleruntime commented on #2341
Actually, I am not sure that matters. The `FileCompactor` will call the method even without any locality groups setup. Here is the part of the code in `compactLocalityGroup()` that creates the `ColumnFamilySkippingIterator` and then loads the configured iterators:
https://github.com/apache/accumulo/blob/146b1d3d0dc2ade6f1888c9905d83e37d98aedbe/server/base/src/main/java/org/apache/accumulo/server/c

[2021-11-03 23:22] milleruntime commented on #2341
Disregard my last comment. I see what you are talking about now. The problem could be with the cast in LocalityGroupIterator here:
https://github.com/apache/accumulo/blob/6a74b4667e3bd33e34b5262c5dd8ea64167fb657/core/src/main/java/org/apache/accumulo/core/iteratorsImpl/system/LocalityGroupIterator.java#L48

[2021-11-04 01:23] keith-ratcliffe commented on #2341
Yep. Substituting in a new system-level subclass of SortedMapIterator, maybe “InterruptibleSortedMapIterator”, could do the trick, if reverting the change to the original class isn’t desired

[2021-11-04 01:27] #2343 closed

[2021-11-04 14:35] milleruntime commented on #2341
OK I finally was able to reproduce it locally using Uno and ChunkCombiner from examples. It is a bit of a pain to reproduce since it is a very specific situation but a good find either way. To add another layer to this bug, I also noticed testing that it depends on whether native map is used or not.

Natvie map iterator has no problem loading:
<pre>
2021-11-04T10:04:53,287 [system.LocalityGroupIte

[2021-11-04 19:16] mjwall commented on #2343
this would not catch the failure since it is only running the RFileTest

[2021-11-04 19:56] ctubbsii commented on #2343
Yep. I figured that out later. This is why I couldn't reproduce it locally. Even running both tests couldn't reproduce it. I had to leave the tests unspecified, so that there was a greater chance of collision between the two tests, and that seemed to do the trick, after a few loops.

[2021-11-05 14:32] Manno15 opened #2348 "Broken or Flaky test: WatchTheWatchCountIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.test

**Describe the failure observed**
This test seems to have been flaky for some time now. Failing in about once every five test runs.

<details>
<summary>WatchTheWatchCountIT would see more than the expected amount of watchers</summary>

[code]

</details>

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commi

[2021-11-05 15:47] EdColeman commented on #2348
With property store changes this test with either need to change or will be OBE.  I'll look at it when the prop store final PR is ready.

[2021-11-05 16:17] Manno15 commented on #2348
I figured it would but I wanted to make sure it was documented.

[2021-11-08 17:36] milleruntime opened #2350 "External compaction error when table is deleted"
I saw a few errors that I did not expect to see after deleting a table that had active running external compactions. Here is what gets printed in the compactor log:
<pre>
2021-11-08T12:20:31,706 [compaction.FileCompactor] ERROR: File does not exist: /accumulo/tables/2/t-000002w/C0000115.rf_tmp (inode 17654) Holder DFSClient_NONMAPREDUCE_55427
0523_18 does not have any open files.
        at org.ap

[2021-11-08 17:37] milleruntime commented on #2350
Here is when the Manager deleted the table:
<pre>
2021-11-08T12:20:31,099 [tableOps.Utils] INFO : table 2 (dcd003ecac0a015) locked for read operation: DELETE
2021-11-08T12:20:31,111 [cancel.CancelCompactions] DEBUG: FATE[0dcd003ecac0a015] setting cancel compaction id to 1 for 2
2021-11-08T12:20:31,114 [zookeeper.DistributedReadWriteLock] DEBUG: Removing lock entry 0 userData 0dcd003ecac0a015 lockT

[2021-11-09 19:07] AlbertWhitlock opened #2351 "Verification of continuous ingest with agitation should check for orphaned files"
Original Jira ticket:   [https://issues.apache.org/jira/projects/ACCUMULO/issues/ACCUMULO-4748?filter=allopenissues](url)

We have found instances where files are being orphaned but we have not as of writing this ticket figured out why. We should however expand the continuous ingest verification to check for orphaned files which we hypothesize will show up when agitation is when running continuous

[2021-11-09 19:35] keith-turner commented on #2351
@milleruntime just made some changes to improve log4j logging related to files in #2342.  Looking at this issue and the changes by @milleruntime made me wonder if orphaned files are found, will there be enough information in the debug logs to understand where they came from?  If not that may show us some areas where we could make more improvements to logging about files.

[2021-11-09 20:25] #2257 closed

[2021-11-09 20:36] ctubbsii opened #2352 "Investigate a sampler customizer for OpenTelemetry"
**Is your feature request related to a problem? Please describe.**
PR #2259 replaced HTrace with OpenTelemetry. One of the features that was lost (would have been lost if HTrace had been upgraded also) is the ability to be very granular with the sampler configuration. It may be possible to inject a sampler customizer into the autoconfigured OpenTelemetry implementation to gain back some granularit

[2021-11-10 13:22] milleruntime commented on #2323
Duplicate of https://github.com/apache/accumulo-website/issues/302

[2021-11-10 13:22] #2323 closed, assigned to nobody

[2021-11-10 14:16] milleruntime opened #2353 "PerTableVolumeChooser config error is misleading"
When trying to configure a PerTableVolumeChooser, if you don't set the properties correctly, an error gets printed that is misleading:
<pre>
2021-11-10 13:37:15,981 [thrift.ProcessFunction] ERROR: Internal error processing waitForFateOperation
org.apache.accumulo.server.fs.VolumeChooser$VolumeChooserException: Property volume.chooser or volume.chooser.default must be a valid VolumeChooser to use t

[2021-11-10 15:47] ctubbsii commented on #2353
It looks like there's a couple places in that class that only show the property without the suffix in the error message and/or logs.

[2021-11-10 17:26] #2353 closed

[2021-11-10 19:01] DomGarguilo opened #2355 "Remove unused code in DatafileManager"
In DatafileManager,java, there is a while-loop whose condition, a boolean value, is always false - meaning the loop will never be entered. The boolean is instantiated as false and never changed. My first thought was to just remove the unused loop and its boolean condition however I first wanted to see if anyone knew what was supposed to be going on here.

The boolean value:
https://github.com/apac

[2021-11-10 19:15] Manno15 commented on #2355
Seems some code was removed in #1490 that did change the value of `reservationsBlocked to true.

[2021-11-10 20:59] #2341 closed

[2021-11-11 16:27] ctubbsii commented on #2355
The code in #1490 looks like it became vestigial after fixing issue #936 in PR #1313. The code here is now also vestigial. It was only ever used for scanning the root tablet when we relied on HDFS being the canonical source of truth for the files the root tablet was using. Since #1313, that is no longer needed. This can be cleaned up.

[2021-11-11 23:59] bmcclureii opened #2356 "Incorrect scan range in Accumulo shell getsplits command."
I have experienced an issue using the getsplits command in the accumulo shell.  It occurs when the tableId of the table happens to be a single letter ("w" for example ) and there are other tables in the system that start with that letter ("w1", "w3" for example).  The result is the output of getsplits is displaying splits for other tables.  This has produced outputs with multiple default tablets f