[2020-09-24 14:46] milleruntime opened #1713 "Standalone ITs failing due to new compaction changes"
**Describe the bug**
Multiple ITs are now failing when run as a Standalone cluster due to recent changes with compactions.  Related to #1084

**Versions (OS, Maven, Java, and others, as appropriate):**
- Defaults configured with Accumulo 2.*

**To Reproduce**
Run the ITs against a standalone cluster.  Directions can be found in TESTING.md

**Additional context**
The following ITs have compaction r

[2020-09-24 14:50] ctubbsii commented on #1713
Is it possible these tests are no longer suitable for Standalone mode? I have not seen failures during a regular build. Perhaps they merely need to have their JUnit Category annotation updated?

[2020-09-24 14:54] milleruntime commented on #1713
Yes that's definitely possible.  I was thinking that looking at all the ITs now failing in #1084.  It looks like the contents of ```AccumuloClusterHarness``` are mainly for dealing with a Standalone cluster.  Perhaps a lot of the ITs could extend ```AccumuloITBase``` instead.  This may be a lot of work though.

[2020-09-24 20:04] ctubbsii commented on #1574
I recently got a matrix build of all our ITs running in GitHub Actions (on demand), and this IT is our only failure on my test run. It's also routinely failing on my laptop also. It might just be resource-constrained, because it rarely fails in my Jenkins instance, which is somewhat beefier than I imagine the GitHub Actions runners are, and certainly more so than my old laptop.

[2020-09-25 02:07] arvindshmicrosoft commented on #1574
Ack. I will prioritize this once I get back to work next week. I was able to get a repro on a VM a while ago, and then unfortunately I just was sidetracked with other stuff.

BTW, you probably already found [this info](https://docs.github.com/en/actions/reference/specifications-for-github-hosted-runners#cloud-hosts-for-github-hosted-runners) on the hosted runners, but in case you did not, GitHub r

[2020-09-25 18:31] milleruntime commented on #1713
I don't think its feasible to change the parent class of these ITs away from ```AccumuloClusterHarness```.  There is a lot of ```MiniAccumuloCluster``` baked into that type, everything is based on whether its a MINI or STANDALONE cluster type.  We may be able to just override the cluster type to MINI for ITs that we know won't run on a Standalone cluster.  I will look into that.

[2020-09-25 18:39] milleruntime commented on #1713
Looks like we already have that power!
https://github.com/apache/accumulo/blob/618ba7a9f88342ea7c8d692ce19df34d88bf07c8/test/src/main/java/org/apache/accumulo/harness/AccumuloClusterHarness.java#L366

[2020-09-26 03:37] #1713 closed

[2020-09-28 14:22] EdColeman commented on #1713
Some of those tests - MasterMetricsIT may be failing if the stand-alone is not configured to generate metrics (metrics prop file on the class path)

[2020-09-28 19:19] milleruntime commented on #1084
Updated list after merging #1713 and copying the accumulo-test jar into lib directory of the running accumulo 21c7a0b9fea405b834f3c79b5df7de8fc80e184d.

### Timeout failures
org.apache.accumulo.test.functional.SessionBlockVerifyIT
org.apache.accumulo.test.functional.ScanIteratorIT
org.apache.accumulo.test.functional.ReadWriteIT
org.apache.accumulo.test.functional.BulkSplitOptimizationIT
org.apache

[2020-09-28 19:52] milleruntime commented on #1713
I discovered that a lot of the ITs that were failing due to missing classes will run in standalone if you simply copy the test jar into the accumulo lib folder of the running instance.  This may allow some of these ITs to run in standalone mode.  I will have to re-run them with the test jar present.

[2020-09-29 03:11] ctubbsii commented on #1712
I believe this is fixed by #1716

[2020-09-29 03:11] #1712 closed

[2020-09-29 13:59] milleruntime opened #1718 "Have Standalone fail fast when no Accumulo instance"
Some ITs that run in standalone mode will still run if they can't connect to the Accumulo instance.  It would be nice if a check was added to ```AccumuloClusterHarness``` during setup that did a sanity check to make sure Accumulo is running and fail quickly if the connection can't be made.

[2020-09-29 14:25] milleruntime opened #1719 "Per Table problem links not working in Monitor"
On the Monitor if there are table problems (Debug menu -> Table problems) the page will get populated with links.  The links in the Summary table under the "Table" column do not work.  The links in the "Table" column in the Details table do work though and will take you to the table status page for that table. See screenshot.

![per-table-problem-bug-marked](https://user-images.githubusercontent.c

[2020-09-29 17:37] milleruntime commented on #1719
I did some research on the old monitor and it seems like the links that aren't working in the summary Table column were used to filter the Details table below.  The Table column links in the Details table has changed, it also used to filter the Details table where now it will take you to the Table page.

[2020-09-29 18:28] milleruntime commented on #1719
I am thinking we should update the tables on the problems page to use the Datatables JavaScript.  It will be consistent with the other pages, we get all the benefits of Datatables and then won't have to worry about links for filtering the tables.

[2020-09-29 20:06] ctubbsii commented on #1719
What do the bad links look like, as compared to the good links?

[2020-09-29 20:14] milleruntime commented on #1719
This link works: ```http://localhost:9995/tables/!0```
This link is broken: ```http://localhost:9995/problems?table=!0```

[2020-09-29 20:17] ctubbsii commented on #1695
Should be fixed with #1717

[2020-09-29 20:17] #1695 closed

[2020-09-29 20:20] ctubbsii commented on #1719
Hmm, that looks like we were trying to have a page view that shows only one specific table's problems. I don't even know if the underlying code supports that. In any case, your suggestion to use datatables.js instead would resolve this, as we don't need to have separate views for each table if the javascript can filter the single view adequately. If we do have code on the backend to support separa

[2020-09-29 20:24] milleruntime commented on #1719
I looked at the old monitor on a production system and both links filter the bottom table to show only the problems for that table.

I think converting the tables to datatables will fix multiple issues and we will benefit from the added features.

[2020-10-01 18:12] milleruntime commented on #1084
With the exception of one, I saw all of the failing tests above pass on an instance that was less taxed and with a timeout.factor=3.  The only test that is now failing is SessionBlockVerifyIT, which I will disable so I can close this issue.

[2020-10-01 18:42] #1084 closed

[2020-10-02 17:52] #1719 closed

[2020-10-05 18:25] milleruntime commented on #1659
@cradal thanks for the help reviewing internal code but this ticket was more for handling code that currently is NOT part of the API or SPI.  This was to deal with code that should either be part of the public API/SPI or removed from configuration properties, like I did with the MemoryManger.  We had a property for users to write their own MemoryManager but the interface used server components tha

[2020-10-05 19:40] milleruntime commented on #1659
@keith-turner @ctubbsii I came up with one solution in #1721 to solve the issues with the security interfaces.  It will break if a user actually has a custom security implementation so its not perfect but we maintain the Kerberos functionality and get those interfaces out of the properties.

[2020-10-06 17:29] Manno15 commented on #1718
I took a look at this and have some follow up questions. Is the main intent of this to fail fast when the entire standalone suite is run? Since each individual test has it's own timeout anyways it would just crash when that is reached.

I also wonder if you have any ideas on the best way to implement this? From what I can tell, there are multiple reasons as to why it can't connect to an accumulo i

[2020-10-06 18:35] milleruntime commented on #1718
I was thinking have the test to fail similar to what we did with checking the properties file: https://github.com/apache/accumulo/blob/3fd5cad92f9b63ac19e4466f3f2d5237b905262c/test/src/main/java/org/apache/accumulo/harness/conf/AccumuloClusterPropertyConfiguration.java#L68
Except this would be to just test a connection to AccumuloClient based on the properties in that file.   I think the quickest

[2020-10-07 14:25] milleruntime commented on #1659
@ctubbsii what are your thoughts on moving the VolumeChoser to SPI?  At first glance it doesn't look like there are any offending types across the interfaces, so it may just be a matter of relocation.  Since the VolumeChoser doesn't directly affect user data (just where the data is stored) then it seems like the SPI is a more appropriate place.

[2020-10-07 16:26] ctubbsii commented on #1659
I'm in favor, but would want to review it's methods to be sure there's nothing we should polish first. Right now, it might be a bit Stringly typed, and we might want to consider using a proper 'Volume' type.

[2020-10-07 16:53] milleruntime commented on #1659
I did notice there are a lot of hadoop types.  So that may be something to consider as well.

[2020-10-07 17:28] Manno15 commented on #1718
Is there a way to limit the 2x zookeeper timeout period? As it stands, most of the tests will timeout before the zookeeper timeout is reached.

[2020-10-07 17:42] ctubbsii commented on #1718
@Manno15 Not a good way for an existing (standalone) cluster, no. Even if there was an easy way to time out before that, we would probably end up with false negatives (we conclude that ZK is not running when it really is, but we didn't give it enough time to connect). If tests are set to time out before 2x ZK timeout, I'm surprised we don't have more flaky tests. I would consider 2x ZK timeout to

[2020-10-07 17:43] ctubbsii commented on #1718
It's possible there's not a good way to fail fast, and there's nothing to be done for this ticket.

[2020-10-07 17:57] milleruntime commented on #1718
You should be able to set the ```.zkTimeout()``` [here](https://github.com/apache/accumulo/blob/3fd5cad92f9b63ac19e4466f3f2d5237b905262c/test/src/main/java/org/apache/accumulo/harness/conf/StandaloneAccumuloClusterConfiguration.java#L110) on the ClientInfo.  I am not sure if that will get overridden by the framework though.  If that works, we could add the timeout as another property in the standa

[2020-10-07 18:12] ctubbsii commented on #1718
Based on [the docs](https://zookeeper.apache.org/doc/r3.4.14/zookeeperAdmin.html), the minimum session timeout that the client is able to negotiate is determined by a server-side setting, and defaults to 2x the `tickTime`. So, setting something in our client lower than that would be limited by the minimum. This is what I thought @Manno15  was referring to. However, reading back, I'm not sure if he

[2020-10-07 19:37] Manno15 commented on #1718
I am not quite sure on the terminology but from what I noticed and based on the error message, it runs through our default zookeeper timeout twice before failing. The default instance.zookeeper.timeout is 30s and will throw my exception 2x that time. I had difficulties trying to lower the default timeout client side but I will look at what Mike mentioned tomorrow.

[2020-10-08 11:58] Manno15 commented on #1718
This is the specific thing I am talking about:
```Failed to connect to zookeeper (localhost:2181) within 2x zookeeper timeout period 30000```

That 2x timeout period.

[2020-10-08 21:54] keith-turner opened #1730 "Scans experience contention on global classloader lock when creating iterators"
**Describe the bug**
In the past when running test against Accumulo w/ lots of concurrent scans and profiling tablets servers, the static synchronization around class loading was something that showed up in profiling data. Every scan uses class loaders to create iterators and this static synchronization causes locking contention between scans.

I think the following code is called to create iterat

[2020-10-09 11:10] larsw opened #1731 "1.10: build_native_library.sh fails on alpine due to mktemp template format mismatch"
Re.

https://github.com/apache/accumulo/blob/314f2aa6639449bf99db9191d3255349f84c5b61/assemble/bin/build_native_library.sh#L43

A fix for this is to update the script with:
[code]

[2020-10-09 14:37] ctubbsii commented on #1731
What are the requirements of the busybox version of `mktemp`? Does it have to be exactly 6 `X`s or can it be longer?

I'd prefer to avoid the conditional, so we have one line that works for everybody. If that means making the template exactly 6 `X`s or longer, that's fine, or we can just omit the `TEMPLATE` name entirely, and have it be generated randomly by `mktemp`.

Feel free to submit a PR to

[2020-10-13 16:48] #1631 closed

[2020-10-13 19:26] milleruntime commented on #1718
No practical solution within the current build system and test framework.

[2020-10-13 19:26] #1718 closed

[2020-10-14 10:05] QiAnXinCodeSafe opened #1733 "Unreleased Resource: Sockets"
https://github.com/apache/accumulo/blob/3dae7d3357248e97193acb3bbac0448183df165e/server/tracer/src/main/java/org/apache/accumulo/tracer/ZooTraceClient.java#L186

The program can potentially fail to release a socket.

[2020-10-14 16:41] milleruntime commented on #1659
I am hoping #1721 can be a temporary fix for the security interfaces only to get replaced by #1221 .  I found the branch that I started last year and am going to try and revisit it (https://github.com/milleruntime/accumulo/tree/sec-module).

[2020-10-14 18:26] ctubbsii commented on #1733
For context, this socket is used in the thrift client in AsyncSpanReceiver to send spans to the tracer service. The thrift client appears to be cached for reuse, but it does not appear to ever be closed. I'm not sure this is a serious issue, and I think I would prefer to remove the tracer service entirely, as it isn't well-maintained, and it'd be better to send spans to a span receiver for a sink

[2020-10-14 19:08] #1731 closed

[2020-10-14 20:11] milleruntime commented on #1221
I have some ideas that I started to implement in a draft PR: https://github.com/apache/accumulo/pull/1736

I am having trouble deciding what the ```User``` class should be and how it should work with the Accumulo internals.  I didn't want to go as far as replace the client methods in [SecurityOperation](https://github.com/apache/accumulo/blob/main/core/src/main/java/org/apache/accumulo/core/client

[2020-10-15 17:22] ctubbsii opened #1739 "CreateTable FaTE operation may not clean up splits files if operation is killed"
The CreateTable FaTE operation creates files in DFS for storing split points, if the user is creating a pre-split table. If the task completes, it should delete these files. However, if the job fails, it may not delete one or both. The `undo` method for the `ChooseDir` step should delete one of the files, but nothing seems like it will delete the other one, unless the operation completes successfu

[2020-10-15 17:29] ctubbsii opened #1740 "VolumeManagerImpl proxying convenience methods around Volume/FileSystem operations need reviewed"
The VolumeManager interface has a bunch of convenience methods, like `delete` and `create` and `globStatus` that perform the same operation on the underlying Volumes that it manages. However, these behave inconsistently, and are used inconsistently. In some cases, calling one of these methods means we want to perform that function on *all* volumes the VolumeManager is managing. In other cases, we

[2020-10-16 14:18] Manno15 commented on #1739
Is there a good way to force a pre-split to fail? I want to confirm things on my end so I have a better idea on what to look for.

[2020-10-16 14:30] ctubbsii commented on #1739
I can't think of a great way to do it. However, I'm not that familiar with the FaTE code right now. I was thinking that you might have to introduce a delay to test it (insert a long Thread.sleep in the CreateTable.call method, just to force it to take a long time... and then remove it when you're done testing). While it is sleeping, you could fail the fate operation (I think you can do that in the

[2020-10-16 14:44] Manno15 commented on #1739
Okay, I will test that out. Thanks.

[2020-10-16 17:08] Manno15 commented on #1739
I did confirm that your suggestion works. I was able to fail the fate operation in the shell while master service was down and the split files were still in DFS. I created a simple delete function that's called after table is created to check if those files still exist and then delete them if they do.

[2020-10-16 18:12] ctubbsii commented on #1739
@Manno15 The files should not exist after the table is created. There is already a cleanup step at the end of creating a table. The current cleanup step might be broken, but it should work after my changes in #1738 are complete and merged. The issue identified in this ticket is only to address cleanup of these files if the table creation fails... not if it finishes, because that's already handled.

[2020-10-16 18:34] Manno15 commented on #1739
I misspoke in my previous comment. It is called after the create table call. Regardless if it completed or not. So if it fails, the files are still cleaned up.

[2020-10-19 01:58] wangxiaofan777 opened #1741 "java.util.ServiceConfigurationError: org.apache.accumulo.start.spi.KeywordExecutable: Provider org.apache.accumulo.server.init.Initialize could not be instantiated"
[vagrant@node-1 accumulo-2.0.0]$ ./bin/accumulo
2020-10-19 09:53:50,343 [start.Main] ERROR: Uncaught exception
java.util.ServiceConfigurationError: org.apache.accumulo.start.spi.KeywordExecutable: Provider org.apache.accumulo.server.init.Initialize could not be instantiated
        at java.util.ServiceLoader.fail(ServiceLoader.java:232)
        at java.util.ServiceLoader.access$100(ServiceLoader.j

[2020-10-19 02:19] ctubbsii commented on #1741
@wangxiaofan777 If you are having trouble, please provide more than just a stack trace. Please provide information about how you encountered the stack trace... what did you do? What version are you using? What environment? What did you do to configure it?

[2020-10-19 02:32] wangxiaofan777 commented on #1741
Ok, i follow the document(https://accumulo.apache.org/docs/2.x/getting-started/quickstart) to  install it .. My version is 2.0.0, i configured these files:
accumulo.properties
   instance.volumes=hdfs://node-1:8020/accumulo
   instance.zookeeper.host=node-1:2181
   trace.password=123456

accumulo-env.sh
   basedir=/usr/local/software/accumulo-2.0.0
   bin=/usr/local/software/accumulo-2.0.0/bin

[2020-10-19 02:38] EdColeman commented on #1741
Which version of zookeeper are you using?  There have been recent classpath / directory issues between zookeeper versions – maybe the changes in these issue (https://github.com/apache/accumulo/pull/1716 or https://github.com/apache/accumulo/issues/1503) can help?

From: wangxiaofan777 <notifications@github.com>
Sent: Sunday, October 18, 2020 10:33 PM
To: apache/accumulo <accumulo@noreply.github.co

[2020-10-19 05:51] wangxiaofan777 commented on #1741
The version of my zookeeper is  3.5.8....

[2020-10-19 07:15] #1741 closed

[2020-10-19 18:04] ctubbsii commented on #1741
Hi @wangxiaofan777

Accumulo 2.0.0 was released with support for 3.4.14. However, starting with ZooKeeper 3.5, they moved their jars into a `lib/` subdirectory. So, you will need to modify the instructions slightly to add `$ZOOKEEPER_HOME/lib/*` to your `CLASSPATH` variable in your `accumulo-env.sh` .

I hope that helps.

[2020-10-19 21:39] milleruntime opened #1742 "Better Use of forEach on Scanner to simplify iteration"
It would be nice if we could reduce some of the boiler plate when iterating using Scanner.  It feels like Scanner should be able to use the [forEach](https://docs.oracle.com/javase/8/docs/api/java/lang/Iterable.html#forEach-java.util.function.Consumer-) method introduced in Java 1.8 better than the way it works now.  For example, since Java 1.8 I can use the forEach to iterate over a Map nicely li

[2020-10-20 00:01] ctubbsii commented on #1742
In ScannerBase, something like the following should work fine:
[code]

[2020-10-20 00:12] keith-turner commented on #1742
Could also consider stream support.  This would give forEach and more.

https://issues.apache.org/jira/browse/ACCUMULO-4562

[2020-10-20 07:22] ctubbsii commented on #1742
I was thinking about that also. However, a `Stream` would only give us a stream of `Entry<Key, Value>`, and a `forEach` for that wouldn't be as useful as one with a `BiConsumer`, like the `Map` interface provides. It might be nice to have both eventually. However, this can be done independently without worrying about all the messiness that comes with decisions about streams (like what to do with `

[2020-10-21 16:43] dlmarion opened #1747 "Deprecate VFS ClassLoader, add ability for user to define context classloaders"
As [discussed](https://lists.apache.org/thread.html/r65e8f1100b9c7af727456b3f98a4de440a04e0b54633b240b7b52f27%40%3Cdev.accumulo.apache.org%3E), this issue is related to the tasks:

1. deprecating the old VFS ClassLoaders
2. creating a mechanism for users to plug in their own context classloaders, configured externally to Accumulo
3. Creating a new VFS ClassLoader that can be used as the `java.syst

[2020-10-21 16:47] dlmarion commented on #1747
Related `accumulo-classloaders` PR is https://github.com/apache/accumulo/issues/1747

[2020-10-21 19:21] #1739 closed

[2020-10-21 21:26] keith-turner opened #1749 "Survey which performance properties have associated metrics."
Accumulo has many configuration properties that enable runtime performance tuning.  For tuning a productions system it would be nice if each of these properties had the following when feasible.

 * An associated set of metrics that can be used to make informed decisions about tuning the property.
 * Documentation that explains for each performance property what its associated metrics are.

This al

[2020-10-22 15:15] dlmarion commented on #1730
In #1715 I modified how classes are loaded and all of the server side code uses [ClassLoaderUtil.loadClass()](https://github.com/apache/accumulo/pull/1715/files#diff-f8f44086240fb20a620240b6428fae288d4faf2851ddf348cf8e1c6e17edc693R25) which is not `synchonized`. If the table has a context defined, the `loadClass` operation is not `synchronized` either. Without a context the code still uses `Accumu

[2020-10-22 15:36] keith-turner commented on #1742
Good point. BiConsumer is really nice and stream of Entry is a bit cumbersome.

[2020-10-22 16:30] milleruntime opened #1750 "Drop redundant Thrift enum in Master"
I have been trying to clean up some code in Master, specifically a very confusing but important part, the TabletGroupWatcher.  One issue is that there are many similar enums scattered across the master classes, all referring to "state" in some way.

An enum was added in [ACCUMULO-4353](https://github.com/apache/accumulo/pull/121) called ```TUnloadTabletGoal```.  This enum is only used by [one meth

[2020-10-27 16:32] milleruntime commented on #1750
I think we are stuck with this enum for now since it is tied to the Thrift RPC.  Closing for now.

[2020-10-27 16:32] #1750 closed

[2020-10-27 17:31] Manno15 opened #1753 "`admin stop` created deadlock in TabletServer being stopped"
Taken from [ACCUMULO-3898](https://issues.apache.org/jira/browse/ACCUMULO-3898) and confirmed to still exist in accumulo. If you have multiple tservers and try using 'admin stop' to shutdown each individual tserver, the last tserver active will hang while trying to shut down. The issue on jira goes into more detail on the specificities happening during this process.

I updated the IT that was atta

[2020-10-28 01:08] ctubbsii commented on #1007
I have completed my refactor in #1755. After that is merged, this should be much easier to investigate.

[2020-10-28 17:21] EdColeman commented on #1007
I can look at this as part of the configuration changes that I'm going to work on when my current task completes.

[2020-10-28 18:31] tynyttie commented on #1628
@keith-turner   Is this ticket still relevant base on your new updates to Compaction? If so, what components do I directly affect to accomplish the task? Plus, what was your expected result?

[2020-10-28 22:02] ctubbsii commented on #1689
I ran into this old JIRA issue that seems to be the same issue: https://issues.apache.org/jira/browse/ACCUMULO-1708

[2020-10-28 22:37] ctubbsii commented on #1689
Another related JIRA issue: https://issues.apache.org/jira/browse/ACCUMULO-2495

[2020-10-29 13:55] Manno15 commented on #1753
It seems [ShutdownTserver.java](https://github.com/apache/accumulo/blob/c43471a725bc2259aa80d041d233997c8844c37a/server/manager/src/main/java/org/apache/accumulo/master/tserverOps/ShutdownTServer.java) is what is called right before this hangs. We wait for completion in [MasterClientServiceHandler.java](https://github.com/apache/accumulo/blob/f88cb3bcebb744d7d1f3150877243c756d717ddb/server/manager

[2020-10-29 15:02] tynyttie commented on #1303
@ctubbsii I would like to take a look at this.

[2020-10-29 17:37] Manno15 commented on #1753
My current solution is to check if there is more than one tablet server before attempting to shutdown each tserver. I put in a error log as well so the user knows that 'admin stop' cannot stop the last tserver. I believe [ShutdownTserver.java](https://github.com/apache/accumulo/blob/c43471a725bc2259aa80d041d233997c8844c37a/server/manager/src/main/java/org/apache/accumulo/master/tserverOps/Shutdown

[2020-10-29 20:33] milleruntime commented on #1303
I think the unique directory would have to be added to the destination path here:
https://github.com/apache/accumulo/blob/3fd5cad92f9b63ac19e4466f3f2d5237b905262c/server/base/src/main/java/org/apache/accumulo/server/master/recovery/RecoveryPath.java#L45

It looks like that method `getRecoveryPath(Path walPath)` takes the WAL path and returns the recovery path for sorting.  So given something like:

[2020-10-30 16:00] milleruntime opened #1760 "The `listcompactions` command error is not helpful"
One improvement for the `listcompactions` command could be to provide a tserver parameter and only list the compactions on that tserver.

[2020-10-30 23:16] ctubbsii opened #1763 "Flaky test: SimpleTimerTest"
**Test name(s)**
 - org.apache.accumulo.server.util.time.SimpleTimerTest.testFailure

**Describe the failure observed**
Stacktrace
[code]
Standard Output
[code]

**Testing Environment:**

 - ASF Jenkins
 - Commit ea5fa7d1da90da9dfe1128c9561022d310102777
[code]

**What have you tried already?**
I re-ran the test and it usually passes.

**Additional context**
There's a good chance this is just a fla

[2020-10-30 23:20] keith-turner opened #1764 "Parallelize calls to InstanceOperations.getActiveCompactions() in listcompactions shell command"
The shell command to list compactions gets a list of tservers and then for each tserver it calls InstanceOperations.getActiveCompactions() which makes an RPC to the tserver.  This could be slow for many tservers.  The calls to getActiveCompactions() for multiple tservers could be done in parallel.

[2020-10-30 23:21] keith-turner commented on #1760
I was looking at the code after seeing this issue and opened #1764

[2020-10-30 23:25] ctubbsii commented on #1764
@keith-turner Would this be a `good first issue`? It seems pretty straight-forward.

[2020-10-31 03:42] keith-turner commented on #1764
@ctubbsii the following code calls getActiveCompactions().  The code is self contained, but it being in this iterator complicates parallelizing it a bit.

https://github.com/apache/accumulo/blob/d820360b975de759b1575d68456e69c828225a85/shell/src/main/java/org/apache/accumulo/shell/commands/ActiveCompactionIterator.java#L64

[2020-10-31 05:05] ctubbsii commented on #1764
I [saw another way to do it with a custom executor](https://4comprehension.com/parallel-collection-processing-1/), rather than specifically requiring a ForkJoinPool:
[code]
This submits all the tasks to an executor, then collects all the futures, then joins all the futures into the list of final results. Exception handling is tricky, but I imagine that it's tricky with parallel streams and ForkJoi

[2020-11-02 14:13] milleruntime commented on #1760
Thanks, I was originally thinking this command was slow because of that impl.

[2020-11-02 19:45] keith-turner commented on #1764
One possible way to implement this is :

 * Move the code in ActiveCompactionItertator that converts an ActiveCompaction object to a display string into a function called `toDisplay(ActiveCompaction)`.
 * Replace this [line](https://github.com/apache/accumulo/blob/d820360b975de759b1575d68456e69c828225a85/shell/src/main/java/org/apache/accumulo/shell/commands/ListCompactionsCommand.java#L67) with a

[2020-11-03 01:35] #1611 closed

[2020-11-03 01:35] #1612 closed

[2020-11-03 01:35] #1629 closed

[2020-11-03 01:35] #1608 closed

[2020-11-03 18:43] milleruntime commented on #1609
The autoformat is line wrapping your change in 79611ee.  Please fix the comment.

[2020-11-03 18:43] milleruntime commented on #1609
@keith-turner

[2020-11-03 19:07] milleruntime opened #1766 "IteratorEnvironment.getPluginEnv() is not implemented"
The new IteratorEnvironment.getPluginEnv() is not implemented and throws UnsupportedOperationException.  There was also a bug with the IteratorEnvIT, which was masking the issue.  The bug in IteratorEnvIT was fixed in 02f778a

[2020-11-03 20:25] milleruntime commented on #1766
From the tserver log when running IteratorEnvIT:
[code]

[2020-11-04 03:36] ctubbsii commented on #1766
This is a simple fix. I'll knock this out.

[2020-11-04 14:21] milleruntime commented on #1766
Thanks.  I was in the middle of a few other unrelated tasks and didn't want to get side tracked.

[2020-11-04 17:09] #1766 closed

[2020-11-04 17:14] ivakegg commented on #1628
@tynyttie As far as I can tell this ticket is still relevant.  You would still be creating a CompactionSelector implementation as described and initiating the compaction.

[2020-11-05 22:28] milleruntime commented on #1317
@keith-turner @ctubbsii I have been working on this as it seems like a very useful tool.  One of the issues I am running into is that the only way to get the current state of tablets is to use objects in the master and this introduces a dependency in the shell on accumulo-server-base.  There are other parts of the code that depend on accumulo-server-base, like the GC [here](https://github.com/apac

[2020-11-05 22:56] ctubbsii commented on #1317
Ampl might be okay for this. It might also be okay to have a public API for the shell to use.

[2020-11-06 01:56] keith-turner commented on #1628
@tynyttie I would add the test to the following class.

https://github.com/apache/accumulo/blob/main/test/src/main/java/org/apache/accumulo/test/CompactionExecutorIT.java

The test could do something like the following.  Could create BuggySelector as a static public class in CompactionExecutorIT

[code]

[2020-11-06 02:10] keith-turner commented on #1317
@milleruntime I suspect the code could be moved to accumulo core OR reimplemented in core (and existing code migrated to Ample). One possible way to add it to ample would be to modify TabletMetadata class to add a method like the following.

[code]

Then maybe Ample could have a getLiveTservers() method.

[2020-11-06 02:13] keith-turner commented on #1317
For my previous comment, the Location type will not really work for this case.  Need a type that just encapsulates `(server,session)` for the set of live tservers. TabletMetadata.Location has those plus LocationType, which makes no sense for a live tserver.

[2020-11-06 04:37] ctubbsii commented on #1764
It looks like the order of this one will depend on which tservers respond first, but within a tserver, it looks like they'll still be grouped and ordered correctly within a tserver. They could be grouped and sorted by tserver with an intermediate multimap or something, though.

While I don't think the flatMap will mess with the ordering, it does look like it will prevent parallelization, without u

[2020-11-06 14:40] keith-turner commented on #1764
Good catch, I was thinking the stream would buffer some between steps.   But there is no good reason the stream should do that.  I attempted to explicitly force buffering of all the futures in the stream below.

[code]

[2020-11-06 15:36] tynyttie commented on #1628
@keith-turner Thank you for replying back to me. My issue is when the unchecked exception is thrown, where in Compaction Manger hierarchy should I appropriately handle it in order for Accumulo to re-kick and select a new compact-able? Should it be in the Compaction Manger Class, Compaction Executor class or Compaction Service class?

[2020-11-07 00:32] keith-turner commented on #1628
@tynyttie my hope is that it already works, but the test will let us know if it actually works.  The following code is where files are selected.

https://github.com/apache/accumulo/blob/18ba45e144ea8213a9637fe36bf0d8a68c3f15f5/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/CompactableImpl.java#L328

If an exception is thrown, the following should catch and hopefully reset things t

[2020-11-09 17:53] milleruntime commented on #1317
What do you think about a new type in core.metadata (similar to what I did for TabletFile) that could be used everywhere?  And would we want to keep the ZK session Id?  @EdColeman and I were talking about the usefulness of storing the internal session ID.  It seems like its used as a unique identifier of the ephemeral ZooLock for that tserver.  This is a separate issue but I don't think we would w

[2020-11-09 18:44] milleruntime commented on #1317
And I suppose it would need to replace this type here:
https://github.com/apache/accumulo/blob/d1b06d317983d460039861d4ab462d5a65ca3c11/core/src/main/java/org/apache/accumulo/core/metadata/schema/Ample.java#L191

[2020-11-09 21:07] keith-turner commented on #1317
I like that. That Location type in TabletMetadata could possibly extend it.

[2020-11-09 21:16] milleruntime commented on #1317
Instead of a new type, since the class is much simpler from TabletFile, I am playing around with just moving TServerInstance from master to core and using it.  https://github.com/apache/accumulo/blob/main/server/base/src/main/java/org/apache/accumulo/server/master/state/TServerInstance.java

[2020-11-10 21:16] milleruntime opened #1773 "Analyze DeleteTable FATE for race condition"
On a cluster with a lot of tables being created and deleted (and bulk imports occurring), it is possible for table delete operations to "get stuck" and not complete.  During periods with a high number of FATE transactions, there may be a race condition or something in the delete FATE operation that is not repeatable.  The work around is to change the Table state in ZK to online and then issue anot

[2020-11-10 23:19] milleruntime opened #1775 "Monitor not reporting killed tserver"
When a tserver reaches its max hold time and is killed, it is not showing up in the monitor under "Dead Tablet servers".  The error message that is reported is coming form the Master here: https://github.com/apache/accumulo/blob/80a5d253249359f8863ad1b54126852e958820d4/server/manager/src/main/java/org/apache/accumulo/master/Master.java#L854

This was reported in 1.9.3 but I wanted to open a ticket

[2020-11-12 15:30] jmark99 opened #1776 "Check for consistency of shell commands that operate on a table."
There have been recent updates to several shell commands that operate on tables for the purpose of adding the <code>--table/-t</code> option. This option allows a specified table to be the target of the command. This can be useful in situations where the shell command is not be within a table context or if the command needs to operate on a table other than the current table context. It is also esp

[2020-11-12 15:32] milleruntime opened #1777 "Monitor will always report Error on startup"
When starting up an Accumulo cluster, the Monitor will always report the Error "Unable to get info from Master", mostly because it will start up faster than the master.  It shouldn't be that difficult to add a bit of code to delay the error reporting until the Master is initially available.

[2020-11-12 19:41] ctubbsii commented on #1777
This is a cluster-startup timing issue only, and depends on how the cluster is started. The monitor is doing the correct behavior today... the master isn't up, so it says it's not up. The monitor is not wrong about that.

If we introduce a small delay in the monitor before it starts up, that might be okay... but it should not wait indefinitely for the master to be available initially, because it m

[2020-11-12 19:47] milleruntime commented on #1777
That is fair.  I just thought it might be nice to not have any errors show up on a perfectly clean cluster with no data.

[2020-11-12 19:59] ctubbsii commented on #1777
It might be best to just modify the cluster management scripts you're using to wait a few seconds before starting up the monitor.

[2020-11-12 20:03] milleruntime commented on #1777
Well @ctubbsii I was trying to create an easy issue for newcomers but you had to make me look into it and test it myself... https://github.com/apache/accumulo/pull/1778

[2020-11-12 20:57] #1777 closed

[2020-11-16 17:37] milleruntime opened #1781 "Optimize TableId cache performance"
The TableId class uses a guava cache for all accesses to table ID and it currently uses `weakValues()`.  [According to the Guava javadoc](https://guava.dev/releases/28.0-jre/api/docs/com/google/common/cache/CacheBuilder.html#weakValues--), `weakValues` are poor for caching and `softValues` should be considered instead.  It would be good to compare the performance of the two to see which is better.

[2020-11-16 18:06] ctubbsii commented on #1781
SoftReferences are cleaned up at the discretion of the Garbage Collector. They are kept around longer, which is better for caching, because it is more likely you'll get a cache hit. However, that's not how we're using this cache. We're using WeakReferences, specifically because we're only using it for deduplication/canonicalization, and *not* cache hit performance.  The javadoc for WeakReference s

[2020-11-16 18:13] milleruntime commented on #1781
OK sounds good.

[2020-11-16 18:13] #1781 closed

[2020-11-16 18:14] milleruntime commented on #1781
It is probably worth mentioning this in the code since there are no comments about the cacheing in the class.

[2020-11-16 18:20] ctubbsii commented on #1781
I will add some comments.

[2020-11-16 18:41] ctubbsii commented on #1781
Added comments in #1782

[2020-11-17 13:52] dlmarion commented on #1463
I was able to remove the beanutils references and compile the code. Some tests are failing and I'm a little confused as to why. The tests in `start` run just fine, but some of the tests in other modules fail with:

[code]

Also, something to note is the output of `mvn dependency:tree`.  When run from `core` I see:
[code]

But `beanutils` has been removed as a dependency in the branch. Branch at ht

[2020-11-17 13:56] Manno15 commented on #1463
I'll help investigate.

[2020-11-17 14:51] #1747 closed

[2020-11-17 15:15] dlmarion commented on #1463
So, I ran `mvn clean install -DskipTests -DskipITs -Dspotbugs.skip` to install the snapshot jars without the dependency into my local Maven repo. `mvn clean test -Dspotbugs.skip -DskipITs` just completed successfully for me. Interesting...

[2020-11-17 15:16] Manno15 commented on #1463
Yeah, I am running the full test suite currently. I got past the issue you had and so far only one IT has failed. `IteratorEnvIT`. Not sure why as of yet.

[2020-11-17 15:27] ctubbsii commented on #1463
@dlmarion So, it seems like you might be using Maven a bit wrong, and it may be the reason you're seeing inconsistent results. `mvn test` generally only works in a multi-module project if all the modules are of `jar` or `pom` packaging type. That's not the case for all Accumulo modules. You should use `mvn package` which includes the `test` phase, in order to ensure all the modules have access to

[2020-11-17 15:30] dlmarion commented on #1463
Interesting, I was just following the [test](https://github.com/apache/accumulo/blob/main/TESTING.md) instructions. Even my IDE was unhappy and the tests failed in the same manner until I installed the artifact.

[2020-11-17 15:32] ctubbsii commented on #1463
Ugh, those instructions need to be fixed.

[2020-11-18 19:27] #1742 closed

[2020-11-18 21:08] ctubbsii commented on #1463
This was closed by #1786

[2020-11-18 21:08] #1463 closed

[2020-11-18 21:30] milleruntime opened #1788 "Ability to update password hash"
Updating the password hash to use something stronger than SHA-256 is problematic for existing users.
Expanding on the technique described on this JIRA issue: https://issues.apache.org/jira/browse/ACCUMULO-4044
Ideally, we would have a utility (maybe something similar to [ChangeSecret](https://github.com/apache/accumulo/blob/f88cb3bcebb744d7d1f3150877243c756d717ddb/server/base/src/main/java/org/apa

[2020-11-18 21:48] ctubbsii commented on #1788
This seems to be in high demand, so I'll mark this as something to do for 2.1.

[2020-11-18 21:54] ctubbsii opened #1789 "Broken test: LargestFirstMemoryManagerTest"
**Test name(s)**
 - org.apache.accumulo.tserver.LargestFirstMemoryManagerTest.test

**Describe the failure observed**
[code]

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit known to fail (or current commit): 5cb30ed0e9a7f3d481ea49dd126d64cc7ab9ef53
 - Jenkins shows:
[code]

[2020-11-18 22:02] ctubbsii opened #1790 "Flaky test: FateStarvationIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.FateStarvationIT

**Describe the failure observed**
The test timed out repeatedly after 120 seconds, and on the final run, failed in the `AccumuloClusterHarness.setupCluster` with an assertion error (probably caused by previous failed runs, but the test framework should try to be robust against such issues):
[code]

**Testing Environment:**

[2020-11-18 22:05] ctubbsii opened #1791 "Flaky test: SuspendedTabletsIT"
**Test name(s)**
 - org.apache.accumulo.test.master.SuspendedTabletsIT.shutdownAndResumeTserver

**Describe the failure observed**
The test failed with an assertion error on the first run, and passed on the second. It should pass every time:
[code]

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit known to fail (or current commit): 5cb30ed0e9a7f3d481ea49dd126d64c

[2020-11-18 22:10] milleruntime commented on #1789
This test passes for me locally.

[2020-11-18 22:10] ctubbsii opened #1792 "Broken test: GcMetricsIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.GcMetricsIT.gcMetricsPublished

**Describe the failure observed**
[code]
STDOUT contained:
[code]

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit known to fail (or current commit): 28ba8434334293d4bff9683464b293cd4540c245
 - Jenkins:
[code]

[2020-11-18 22:15] ctubbsii opened #1793 "Flaky test: ManagerMetricsIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.MasterMetricsIT.compactionMetrics

**Describe the failure observed**
Test timed out after 240 seconds
[code]
<details>
<summary>STDOUT had a curious comment about tasks remaining in a threadpool when stopped (click to expand)</summary>

[code]

</details>

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit kno

[2020-11-18 22:18] ctubbsii commented on #1789
Me too... however, this part of the code is important enough that it makes sense to take a closer look to see if we can figure out which circumstances could have caused this and to address it.

[2020-11-19 15:08] ctubbsii commented on #1788
For reference, commons-digest can perform crypt(3)-compatible hashing: https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/digest/Crypt.html

I suspect our custom algorithm is not possible to convert into something that is crypt(3)-compatible. However, if it is, then the ideal solution on upgrade is to convert our existing ZooKeeper stored hashes into this format. If t

[2020-11-19 15:14] ctubbsii commented on #1788
Once the format is written in a way that we can detect the algorithm used to hash when we authenticate, then it will be safe to make the default algorithm configurable. However, it might make more sense to prefer the default algorithm of commons-codec (currently SHA-512).

[2020-11-19 15:14] BukrosSzabolcs commented on #1788
The crypt hash results has very rigid format with fixed id and salt length (if the default salt is used) so recognizing a crapt hash is very easy. Theoretically I think an overlap with the old hash format is possible but highly unlikely.

[2020-11-19 15:18] BukrosSzabolcs commented on #1788
I would also prefer to rely on the default algorithm and use no custom hash, since the default is the most robust solution. Any change the customer could do would only weaken the hash.

[2020-11-19 15:56] ctubbsii commented on #1788
I initially came to the same conclusion. However, the length of our current salt + sha-256 hash should be 40 bytes, exactly, and it's not possible for any of the algorithms supported by commons-codec to produce an encrypted String of that length.

[2020-11-19 16:05] ctubbsii commented on #1788
Also, I was able to verify that we cannot naively convert our existing hashes to the crypt(3) format on upgrade, because we use an unconstrained 8 byte salt, but the crypt(3) format (at least, as implemented by commons-codec) is constrained to choosing a salt from the B64T character set. We could, in theory, encode our current hashes to the proper String encoding, but the constraint on the salt by

[2020-11-19 16:23] BukrosSzabolcs commented on #1788
My solution was to try matching the zkData to "^\\$([56])\\$(rounds=(\\d+)\\$)?([\\.\\/a-zA-Z0-9]{1,16})\\$(.*)", to see if it was created by Crypt, but checking the length seems simpler.

[2020-11-19 16:43] dlmarion opened #1794 "Separate api classes into their own api module / jar."

[2020-11-19 16:59] ctubbsii commented on #1794
Hi @dlmarion ; I created a ticket for this in JIRA awhile back (https://issues.apache.org/jira/browse/ACCUMULO-1483), but marked it as "Won't Fix", because it may be obsoleted by the availability of Java modules for exposing API classes/packages.

Also, I'm not sure this has much value on its own, because it would involve dynamic loading of the implementation classes from the class path (probably

[2020-11-19 17:21] dlmarion commented on #1794
@ctubbsii - This [comment](https://issues.apache.org/jira/browse/ACCUMULO-1483?focusedCommentId=13674603&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13674603) from you sums up nicely what I was thinking about:

I was thinking of a client api jar (that should be mostly, if not all, interfaces) so that I could deprecate the API methods that use Text.

[2020-11-19 17:30] ctubbsii commented on #1794
I think this kind of thing should be a "major release" kind of change, to avoid breaking too many expectations with 2.x. But, I'm not sure it's necessary, if we can get leverage modules. It also may introduce too much API churn, if we rename the packages to match our convention of having package names match artifact names. If we don't rename packages, it can create jar sealing violations or user c

[2020-11-19 17:38] milleruntime commented on #1794
For reference, here is some research I did last year about Java Modules: https://github.com/apache/accumulo/issues/1434
To summarize my findings... it may be possible to use Modules in the future but will require some adoption by our dependencies which is difficult/slow and/or may never happen.

[2020-11-19 22:57] #1764 closed

[2020-11-20 14:21] BukrosSzabolcs commented on #1788
Created  #1798

[2020-11-20 15:36] EdColeman commented on #1776
Mark, thanks for picking this up - when scripting, needed to switch into a table before being able to run a command was a pain point.

As for then it comes to requiring or having -t as an option on the remaining six - my inclination is to always have -t available so the commands take consistent input rather than needing to remember that those six are outliers.  However, there are two that stand ou

[2020-11-20 15:56] jmark99 commented on #1776
I tend to side with the consistency argument that you present. Granted, with the commands that do not have the option, it is pretty clear that a table name is required. So I can go either way. @ctubbsii commented on the PR with his preference if you would like to take a look. You are correct that the clonetable and renametable would have to be handled slightly differently. Perhaps a few others can

[2020-11-20 18:47] jmark99 opened #1800 "Examine new error seen with use of ZooKeeper 3.5.8"
Since changing the ZK version to 3.5.8 a new error has been appearing in the logs.

<pre>
2020-11-20T10:40:02,189 [tracer.ZooTraceClient] ERROR: unable to get destination hosts in zookeeper
org.apache.accumulo.fate.zookeeper.ZooSession$ZooSessionShutdownException: The Accumulo singleton that that tracks zookeeper session is disabled.  This is likely caused by all AccumuloClients being closed or ga

[2020-11-20 23:50] lbschanno commented on #1533
@plainolneesh has requested that I take over this ticket. I've submitted a PR with the fix.

[2020-11-21 00:58] ctubbsii commented on #1776
The main concern with adding the option when it's already a required argument is confusion. A user might not know which to specify. They might specify both. What if the user specified both and they were different?! We'd have to add unnecessary complexity to report errors in those cases that we can avoid by limiting it to just the existing required arguments in those cases. I also prefer consistenc

[2020-11-22 20:01] #1776 closed

[2020-11-23 23:02] #1533 closed

[2020-11-24 20:30] ctubbsii opened #1805 "Tablet obscuring should be consolidated to one place in the code"
Currently, tablet information is obscured when printed in certain places (like in logs, metrics, or on the website). The implementation is basically a hash of the tablet's endRow using a SHA-256 MessageDigest, and then base64-encoded to a String.

The implementation seems to exist in multiple places. It should move to a single implementation in one place (probably KeyExtent).

This was identified

[2020-11-24 21:09] ctubbsii opened #1806 "Broken or Flaky test: SuspendedTabletsIT"
**Test name(s)**
 - org.apache.accumulo.test.master.SuspendedTabletsIT

**Describe the failure observed**
[code]

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit known to fail (or current commit): uncertain; current commit on main branch is f279ae8aa5abde0511fdfefbcfc7338e17f4f7ec
[code]

**What have you tried already?**
I tried reverting #1799 but the test time

[2020-11-24 23:01] milleruntime commented on #1806
I ran this IT prior to my changes for #1774 and it timed out.  It did not have that same error though so that is something different at least.  I do think this IT was flaky before though.

[2020-11-25 06:19] ctubbsii opened #1808 "LoggingRunnable causes servers to happily ignore catastrophic failures"
**Describe the bug**

LoggingRunnable catches Throwable. This is very bad. I saw a compaction thread die due to OutOfMemoryError, and LoggingRunnable logged it, and the tserver kept on running... in a very bad state.

I get that maybe we want a best effort attempt to log when there's a problem in a LoggingRunnable thread... but we should still propagate the Throwable, *especially* if it's an Error

[2020-11-25 06:26] ctubbsii commented on #1806
Oops, apparently, I've opened similar tickets about this test in the past. While things may have gotten worse for this test recently, the overall problems with this test are already being tracked in another issue: #1791

[2020-11-25 06:26] #1806 closed

[2020-11-25 06:28] ctubbsii commented on #1791
@milleruntime  I assigned this issue to you, because you self-assigned #1806, which I closed as a duplicate of this one. The impetus for creating these two issues may have been separate failures... but there's no reason to track its failures on two separate issues.

[2020-11-25 13:34] milleruntime opened #1809 "ZK Watchers remain after table delete"
**Describe the bug**
When a table is created, Accumulo creates around 20 Zookeeper watchers associated with that table.  This is with the default configuration for that table.  The more properties and iterators that are configured on the table, the more watchers that will exist.  When the table is dropped, anywhere from 8 to 15 watchers will persist indefinitely.  The only way for ZK to drop these

[2020-11-25 13:36] milleruntime commented on #1454
I created an issue #1809 for one of the bugs I think this change will fix.

[2020-11-25 15:23] EdColeman commented on #1809
While the issue with large number of watchers was document in https://issues.apache.org/jira/browse/ACCUMULO-2757 - the resolution of that is still open.  This is a separate issue that aggravates the problem with lots of watches because the tservers (and the master) seem to keep unnecessary watches after a table is deleted.

[2020-11-25 17:02] EdColeman commented on #1808
I wonder if this is related to - or just similar behavior to the issue in https://github.com/apache/accumulo/issues/1689  That was also triggered by low / OOM, but I do not know at this time if LoggingRunnable was also present in the logs. My recollection is that it is was not, but mentioning for completeness if there is a possibility of a correlation.

[2020-11-25 17:17] ctubbsii commented on #1808
@EdColeman I was thinking the same things. It's certainly similar in nature. This catching of Throwable, and/or not setting UncaughtExceptionHandlers on threads we spin off is really likely to bite us. It'd be great if we could take a comprehensive look at 1) all occurrences of us catching Throwable to verify their correctness, and 2) check all thread management code to ensure we properly handle u

[2020-11-25 17:29] ctubbsii opened #1810 "Use crypt(3) format for SystemCredentials"
PR #1798 updates the hash format for user credentials and upgrades the algorithm used for hashing to SHA-512. The same should be done for the SystemCredentials, which can be made to utilize the crypt(3) format. This change will prevent rolling upgrades, but since rolling upgrades have limited support already, this should be okay to do in a minor or major release (just not in a patch release), as i

[2020-11-25 17:30] ctubbsii commented on #1810
See https://github.com/apache/accumulo/pull/1798#discussion_r529826482

[2020-11-25 17:46] ctubbsii opened #1811 "Flaky test: TracerRecoversAfterOfflineTableIT"
**Test name(s)**
 - org.apache.accumulo.test.functional.FateStarvationIT.run

**Describe the failure observed**
I observed this test time out twice in two subsequent Jenkins runs on ASF's Jenkins. In both times, it timed out after the test timeout of 2 minutes, and the test was looping, waiting to observe traces in the trace table:
[code]

**Testing Environment:**
 - Version of this project: 2.1.0

[2020-11-25 21:31] DomGarguilo commented on #1763
I am looking into implementing the fix you suggested and am running into the issue of looping over an assert statement. From my understanding it is not possible to stop the loop based on the condition that an assert statement has passed(or failed for that matter). In other words, the assert statement would be called continuously, within the loop, until an added JUnit timeout occurs. Apparently the

[2020-11-26 04:56] ctubbsii commented on #1763
@DomGarguilo Thanks for your interest in working on this issue. I have assigned this ticket to you in response to that interest. You are correct that you can't have the assert statement execute repeatedly in a loop. However, what you can do is do a simple `if` check inside the loop and similar checks inside the loop. If the loop is an infinite loop, the only way the test won't time out is if the c

[2020-11-26 18:13] ctubbsii commented on #1792
I thought this was fully addressed in #1745, but it may not have been.

[2020-11-30 14:43] ctubbsii commented on #1808
This is related to https://issues.apache.org/jira/browse/ACCUMULO-3723 (though this issue is much more narrowly targeted).

[2020-11-30 16:33] jzgithub1 commented on #1809
Maybe some of the ideas in this old and closed pull request can motivate the ultimate solution to this issue:

https://github.com/apache/accumulo/pull/1443

[2020-11-30 19:26] milleruntime commented on #1809
Here is another ticket for reference: https://github.com/apache/accumulo/issues/1423

[2020-11-30 20:27] dlmarion commented on #1773
While working on #1808 I noticed that Fate runs transactions in Threads with no UncaughtExceptionHandler. I fixed this in #1818 . It's possible this could be contributing to this issue.

[2020-11-30 21:33] dlmarion commented on #1225
It looks like there are a number of improvements / fixes in ZK 3.6+ for Watchers. This is a good one: https://issues.apache.org/jira/browse/ZOOKEEPER-1177

[2020-11-30 22:14] #1763 closed

[2020-12-01 15:31] milleruntime commented on #1773
Unfortunately I did not get a stacktrace for this issue.  @EdColeman did you remember ever seeing this error?

[2020-12-01 15:39] milleruntime commented on #1225
We should definitely look into updating ZK to 3.6+ for Accumulo 2.1.  Has anyone attempted to run a newer ZK with Accumulo 1.9.x or 1.10?  I am wondering how backwards compatible the binaries are for ZK.

[2020-12-01 15:46] ctubbsii commented on #1225
@milleruntime Yes, I've run ZK 3.6 with 1.10 during testing with fluo-uno, but I have not done comprehensive testing at scale or anything like that. However, 1.10 targeted ZK 3.4 as a minimum, so while it can work with newer versions, it would be disruptive to make 1.10.1 require anything newer. So, we shouldn't bump the version we develop against for 1.10. I'm fine with bumping to 3.6 for 2.1.

[2020-12-01 16:05] milleruntime commented on #1225
Right.  I was thinking upgrading ZK to 3.6 would be a good mitigation for #1809 since its looking like a direct code fix is unlikely.

[2020-12-02 16:50] EdColeman commented on #1773
I do not recall seeing this exception - however, there would generally be a considerable period between when the exception might have been thrown and when it was detected that the table deletion was not progressing.  If the exception was thrown once, then even if it was present, the connection might have not been made between the events. But again, I don't recall this exception being in the master

[2020-12-02 20:52] DomGarguilo commented on #1760
Was looking into this issue and was wondering if what you are looking for differs from the `tserverOption` in [ListCompactionsCommand.java](https://github.com/apache/accumulo/blob/ca58658cce43d4758fe3b0dfcc0653cb11791850/shell/src/main/java/org/apache/accumulo/shell/commands/ListCompactionsCommand.java#L87)? From the description, it seems as though this option allows for a tserver to be passed as

[2020-12-02 21:56] ctubbsii commented on #1760
@DomGarguilo I think you're right. This already exists. @milleruntime can you double-check to make sure we're not missing something here? Thanks.

[2020-12-03 13:59] milleruntime commented on #1760
@DomGarguilo you a right!  I think @ctubbsii 's improvement in #1783 made this no longer an issue, since the main problem was with how we were getting the information.

I did notice that the error printed when the command does not find the tserver is not helpful:
<pre>
root@uno> listcompactions -ts ip-10-113-12-25
2020-12-03T08:53:52,805 [Shell.audit] INFO : root@uno> listcompactions -ts ip-10-113

[2020-12-04 15:38] #1800 closed

[2020-12-04 15:52] DomGarguilo commented on #1760
@Manno15 and I were looking into this and found where the error is coming from. It appears that the error is an `IllegalStateException` which is being [caught here](https://github.com/apache/accumulo/blob/391cfbff3a29f735fb80ddd0695f50b06dd72f28/shell/src/main/java/org/apache/accumulo/shell/commands/ActiveCompactionHelper.java#L88) with `Exception e` while trying to retrieve the active compactions

[2020-12-04 16:13] milleruntime commented on #1760
It might be better to let the exception be thrown all the way up to the shell and just catch the IllegalStateException.  You could print a helpful message for the Exception with the empty message and let everything else go up to Shell.  The execute method throws Exception. I am not sure this is possible with the stream though, so perhaps that's why we are hiding the exceptions in the List of compa

[2020-12-04 18:02] milleruntime commented on #1773
I wonder if this could be related to a change made in 1.9.3 https://github.com/apache/accumulo/pull/727

[2020-12-04 19:01] #1574 closed

[2020-12-05 05:09] ctubbsii commented on #1773
@milleruntime Given the possibility that this was already fixed, and presumably, you haven't been able to reproduce it, should this be closed as "Cannot reproduce"? We can always reopen if it is observed again and more information is available.

[2020-12-05 06:33] ctubbsii commented on #1760
I'm not sure we should let it be thrown all the way up to the shell. That could be confusing, because of the way this code gathers up all the responses and orders them. The error may be harder to debug. That said, we could definitely format this message better. For one, it would be nice if the whole stack trace was included. We could use something like https://stackoverflow.com/a/1760673 and use `

[2020-12-07 09:02] QiAnXinCodeSafe opened #1825 "There is a vulnerability in Apache Thrift 0.12.0,upgrade recommended"
https://github.com/apache/accumulo/blob/c29c102b2de156d3ffdbc204271d602706b2339d/pom.xml#L157

CVE-2019-0205 CVE-2019-0210

Recommended upgrade version：
0.13.0-hotfix.1

[2020-12-07 14:51] milleruntime commented on #1773
I don't know that it was fixed (or that there is a problem).  The issue that I was referring to in #727 was #587 and had to do with metadata pollution.  I will try and talk to the admins reporting it to see if they are still seeing the problem in their deployment of 1.9.3.  It could be a lack of insight as to what is going on in the cluster since there isn't an easy way to get the state of Tablets

[2020-12-07 15:05] milleruntime commented on #1825
Thanks @QiAnXinCodeSafe but we already have an open pull request for this https://github.com/apache/accumulo/pull/1780

[2020-12-07 18:00] DomGarguilo commented on #1760
I added the stack trace to the message which now reads:
<pre>root@uno> listcompactions -ts nonExistantTserver
 TABLET SERVER        | AGE       | TYPE  | REASON | READ  | WROTE | TABLE           | TABLET                                   | INPUT | OUTPUT                              | ITERATORS | ITERATOR OPTIONS
ERROR: null. The specified tServer, 'nonExistantTserver', was not found.
java.lang.Il

[2020-12-07 19:55] ctubbsii commented on #1825
Also, there doesn't appear to be any such version '0.13.0-hotfix.1'. Perhaps they mean 0.13.0? In either case, this can be closed as a duplicate, since we can use the other issue to track this.

[2020-12-07 19:55] #1825 closed

[2020-12-07 20:22] ctubbsii commented on #1760
This stack trace implies that the error we're seeing in this example is that `HostAndPort.java`'s `getPort` method should use the version of `checkState` that allows us to provide a more meaningful message, such as `the address does not include a port`.

Seeing the stack trace is useful for finding out where we can improve the messages, such as that one, but I'm not sure we want to keep the full s

[2020-12-08 15:04] DomGarguilo commented on #1760
Would something like this work better?
<pre>
root@uno> listcompactions -ts myTserver
 TABLET SERVER        | AGE       | TYPE  | REASON | READ  | WROTE | TABLE           | TABLET                                   | INPUT | OUTPUT                              | ITERATORS | ITERATOR OPTIONS
ERROR java.lang.IllegalStateException: null. No port was defined for given address: myTserver
</pre>
The error

[2020-12-08 15:32] ctubbsii commented on #1760
@DomGarguilo I think if you use `checkState(boolean expression, String errorMessageTemplate)` version of `checkState` in `HostAndPort.getPort`, then you get the message instead of the `null`, at least in this case. We'd still want to check the output if you pass in something that has a port, but is still an invalid server.

[2020-12-08 19:41] DomGarguilo commented on #1760
I ran some tests to see the rest of the error messages and it seems as though the only unhelpful message is when a tserver address (valid or unvalid) is passed without a port. The combinations I tested are: (valid and invalid tserver address) in conjuntion with: (no port passed, valid port passed and invalid port passed). I will list the results from my tests below.

**Valid tserver address with v

[2020-12-08 19:50] ctubbsii commented on #1760
Based on this, it looks like most possibilities already have meaningful messages. So it may be only the missing port case that needs a better message. I don't think we need to keep the stack traces visible if that case is addressed. However, it may still be useful to log the exception at DEBUG anyway, when it is caught.

[2020-12-08 21:35] #1788 closed

[2020-12-09 16:58] DomGarguilo commented on #1760
I was able to change the checkState version to include a more helpful message which now reads: `mytserveraddress ERROR The given address does not include a port`.
@ctubbsii, by stack trace in this situation, do you mean the exceptions (e.g. `org.apache.thrift.transport.TTransportException: java.net.ConnectException: Connection refused`) included in the message, or were you referring to the full st

[2020-12-09 17:34] ctubbsii commented on #1760
@DomGarguilo I mean we don't need the full stack trace you had included. If you have already removed it, then we're on the same page. For the exceptions logged at DEBUG, I was thinking we could do that in addition. If you open a PR with your fix for this issue, I can make more specific suggestions in a code review, if necessary.

[2020-12-10 13:25] #1805 closed

[2020-12-10 13:25] #1810 closed

[2020-12-10 13:26] #1760 closed

[2020-12-11 11:46] metsy opened #1836 "Accumulo 1.9.3 RegexExample job failed because of Exception org/apache/commons/configuration/CompositeConfiguration"
I tried to run this example
`bin/tool.sh lib/accumulo-examples-simple.jar org.apache.accumulo.examples.simple.mapreduce.RegexExample -u root -p 1 -i project -t rya_po --rowRegex 'Prot.*' --output output`

but I got this Exception
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/commons/configuration/CompositeConfiguration

I use this versions:
accumulo-1.9.3, hadoop-3.1.2, zoo

[2020-12-11 12:41] ctubbsii commented on #1836
Hi @metsy . Based on the exception, it seems you are missing commons-configuration on your class path. Without a full stack trace, it will be hard to determine which specific part of our code was looking for commons-configuration. However, if you put that on your class path, it should solve your problem. The tool.sh script was written to help add some things to your local class path, as well as th

[2020-12-11 12:41] #1836 closed

[2020-12-11 17:00] hlgp opened #1837 "Tablename-specific properties overridden in different table contexts"
**Describe the bug**
Individual table-specific properties are able to be overridden in different table contexts with no clear indication of precedence.  For example, table.custom.balancer.host.regex.accumulo.metadata can be set to different values on every table.  In https://github.com/apache/accumulo/blob/main/server/base/src/main/java/org/apache/accumulo/server/master/balancer/HostRegexTableLoad

[2020-12-11 17:14] dlmarion commented on #1837
`table.custom.balancer.host.regex.accumulo.metadata` should only be set once. I realize that the table properties can be specified per-table, but that's not how the code uses the properties. See the test[1] for an example. Maybe the properties should be renamed.

[1] https://github.com/apache/accumulo/blob/main/server/base/src/test/java/org/apache/accumulo/server/master/balancer/HostRegexTableLoad

[2020-12-11 17:26] dlmarion commented on #1837
Specifically, these examples:

https://github.com/apache/accumulo/blob/12395eeec06bc88d9a530ccc9927d924eb8108e8/server/base/src/test/java/org/apache/accumulo/server/master/balancer/BaseHostRegexTableLoadBalancerTest.java#L78

https://github.com/apache/accumulo/blob/12395eeec06bc88d9a530ccc9927d924eb8108e8/server/base/src/test/java/org/apache/accumulo/server/master/balancer/HostRegexTableLoadBalanc

[2020-12-11 17:48] hlgp commented on #1837
Yes, I recognize how the code is using the properties and I'm saying from a design standpoint it's too prone to error.  If a property is meant to be set only once, the product should do something to enforce that or warn about it.  In this case renaming the properties to omit the tablenames and simply defining it under the table context would work.

[2020-12-11 17:59] dlmarion commented on #1837
Understood. I didn't know if you were having an operational problem and I wanted to provide some feedback that might help you resolve the issue. I agree that a change may be needed here.

Since the HostRegexTableLoadBalancer is meant to be configured as the master balancer, it might make more sense to create `master.balancer.*` prefix property and add them there.

[2020-12-11 18:03] hlgp commented on #1837
Understood.  Such feedback is always welcome.  We figured it out a day or two ago and nuked the setting on every table, leaving it only at the system level, but it was not intuitive while hunting it down.  (No idea how they got set there, but still)

Yes, something like that would be good alternative as well.

[2020-12-11 18:40] ctubbsii commented on #1792
I tracked this down to two problems:
1. The test seems to be designed to look for new metrics from new GC cycles. However, what it's actually detecting is new metrics events written to the file, and not new GC cycle metrics.
2. It also seems to be using the relative nanos from the MetricsFileTailer as a demarcation point for the next GC cycle, instead of the previously parsed GC start or finish ti

[2020-12-11 19:23] metsy commented on #1836
Thanks @ctubbsii

[2020-12-11 20:43] ivakegg opened #1838 "HostRegexTableBalancer property confusion"
The HostRegexTableBalancer.parseConfiguration() will pull the related properties from all of the tables configurations and merges them together.  The table name is actually pulled from the table property.  The result is that you can override the host regex property for one table in a different table's configuration.  This was particularly bad for one installation where we changed the property at t

[2020-12-11 20:46] ivakegg commented on #1838
This is a dup of the previous ticket.  Sorry.

[2020-12-11 20:46] #1838 closed

[2020-12-11 20:48] ivakegg commented on #1837
I think the answer here is to simply put the property into the map in HostRegexTableBalancer.parseConfiguration IFF the table name from the property matches that of the table configuration being used.  This should handle properties being set at the system level appropriately as well.

[2020-12-11 21:10] hlgp commented on #1837
@ivakegg I think that is a good first step for now.  If the main reason the tablename properties came about was to be able to see them quickly at the system level, then I would argue that this is best addressed by a change to the config command.  It would be ideal to be able to run something like a config -f regex --all and return all table settings so we don't have to dump all the configs to find

[2020-12-14 15:01] ctubbsii commented on #1837
Based on the description, it seems that this issue is about how table-specific properties can override system-properties. However that is the design of per-table properties and works as expected.

Based on the discussion, though, it seems that this issue is not about table-specific properties overriding system properties, but specifically about the issues of HostRegexTableLoadBalancer poor use of

[2020-12-14 15:01] #1837 closed

[2020-12-14 15:08] ctubbsii commented on #1838
Duplicate of #1837

[2020-12-14 18:38] hlgp commented on #1837
No, that is not what the issue is saying.  I tried to clarify it in the discussion but it seems further clarity is needed.
Given a set of Tables T{T1, T2, ..., TN} and a set of configs C{C1,C2, ..., CN}, with some number of system-level properties S  with C1, C2, ... CN set, for a given table T1 with C1,..., CN set,   T1C1 can and does take precedence over SC1.  This is good, right, and proper.  T

[2020-12-14 19:36] ctubbsii commented on #1837
@hlgp I'm a little confused by your nomenclature, so let me translate first to make sure I understand, then I'll address it:

Imagine a config key: `table.custom.table1.key`

* In the system configuration, the value is set to `v0`
* In `table1`'s configuration, the value is set to `v1`
* In `table2`'s configuration, the value is set to `v2`
* In `table3`'s configuration, no value is set

It sounds

[2020-12-14 20:40] #1349 closed

[2020-12-14 20:48] hlgp commented on #1837
"It sounds like what you're saying is that if table2 sets table.custom.table1.key = v2, then operations performing in the context of table1 will see the v2 value instead of v0 or v1. Is that what you are saying?"
 -- No, I was not talking about operations within the context of table1.  I was talking about system-level operations, as exhibited by the HostRegexTabletLoadBalancer which you characteri

[2020-12-14 21:05] DomGarguilo commented on #1378
Is this issue outdated? It seems the referenced code no longer exists. @hkeebler

[2020-12-14 21:05] ctubbsii commented on #1837
Sorry about that! I understand now.

In 2.0+, these kinds of operations can still access per-table config, if they need it. Even if we didn't provide an API through the pluggable interface, like we do for the balancer right now, they could always use some other tactic (like reflection or accessing static APIs) to get what they want. So, I don't see that going away any time soon.

I'm not sure if t

[2020-12-14 21:12] ctubbsii commented on #1378
@DomGarguilo This was obsoleted by #1441

[2020-12-14 21:12] #1378 closed

[2020-12-14 21:20] hlgp commented on #1837
Oh, yes, I entirely agree with keeping properties flexible, but keeping to certain tenets can also prevent confusion (like what we just experienced with the balancer) and unintended or obscured contradictions in configs.  Maintaining the simple construct of "if you want this at the system level, set it thus" and "if you want this on specific tables, set it thus" while minimizing possible contradic

[2020-12-14 21:54] dlmarion commented on #1689
#1818 handles the case where exceptions are thrown in threads. I can look at the places where we are still catching Throwable.

[2020-12-14 22:18] ctubbsii commented on #1837
Well, we do have that separation today (`general.*` vs. `table.*`). `HostRegexTableLoadBalancer` was just not following it, and instead did it's own thing. Convention is one thing. Enforcement is harder. :smiley_cat:

[2020-12-15 20:52] DomGarguilo commented on #947
Is this issue obsolete? The referenced methods getCustom() and getTableCustom() no longer exist in ServiceEnvironmentImpl.java

[2020-12-15 21:02] ctubbsii commented on #947
It looks like the implementation moved to core/src/main/java/org/apache/accumulo/core/util/ConfigurationImpl.java

As for the proposed change, I'm not sure exactly what is being proposed.

[2020-12-15 21:13] DomGarguilo commented on #1023
Should #1495 close this issue?

[2020-12-16 01:41] ctubbsii commented on #1023
@DomGarguilo #1495 probably took care of most of the basic opportunities to make improvements here. There may still be opportunities to use parallel streams and forEach to improve performance in some places, but those would have to be identified on a case-by-case basis, and this issue is too broadly scoped to help in those specific cases. So, I'll close this. Thanks for bringing it to our attentio

[2020-12-16 01:41] #1023 closed

[2020-12-16 06:28] ctubbsii opened #1839 "Accumulo.newClient().from(Properties) can mutate the argument in subsequent builder methods"
**Describe the bug**
One possible way to construct a new AccumuloClient is to initialize the client builder with a set of Properties, as in:
[code]
The current implementation (in 2.0.0) of this `from(Properties)` method is to use the provided Properties object to store additional properties as subsequent builder methods are called while building the client. In the above example, the properties to

[2020-12-16 06:30] ctubbsii commented on #1839
This hit me while merging the changes from #1832 into the main branch. The new ManagerApiIT kept failing, with what was supposed to the root user's AccumuloClient instance was unable to create a new test user. The error message showed that the `AccumuloClient.whoami()` was a different test user from a different AccumuloClient builder earlier in the test.

[2020-12-16 06:39] #1839 closed

[2020-12-17 04:24] #1792 closed

[2020-12-17 19:28] dlmarion commented on #1606
@FineAndDandy  - any updated information on the question in the comment above? Is this still an issue?

[2020-12-17 19:31] dlmarion commented on #1559
@milleruntime - should this issue be closed as the PR for it is merged? Is there something still left to do?

[2020-12-17 19:44] ctubbsii commented on #1559
@dlmarion I think this was just overlooked and not automatically closed because the original linked PR was for 1.10, and the 2.1 PR that was merged was separate. I can close it now.

[2020-12-17 19:44] #1559 closed

[2020-12-17 20:05] DomGarguilo commented on #637
The attached link suggests the use of `.withProtection()` while creating the ephemeral sequential nodes. From what I can tell, this is an apache curator function which is not used in the creation of ephemeral sequential nodes which happens in [ZooReaderWriter.java](https://github.com/apache/accumulo/blob/243e5771b03281c64115a625da83a20cd586adde/core/src/main/java/org/apache/accumulo/fate/zookeeper

[2020-12-17 20:34] ctubbsii commented on #637
@DomGarguilo I think the idea was to see how Curator solves the issue, to see if we can adopt a similar strategy in the relevant code in Accumulo. We have previously attempted (a very long time ago) to use Curator directly, but it was a *much* bigger effort that was ultimately abandoned.

[2020-12-17 20:38] EdColeman commented on #637
This "type: of issue was also discussed in https://github.com/apache/accumulo/issues/1086.

[2020-12-17 21:07] ctubbsii opened #1841 "Broken or Flaky test: ConcurrentDeleteTableIT takes 30 minutes to run!!!"
**Test name(s)**
 - ConcurrentDeleteTableIT.testConcurrentDeleteTablesOps took 587 seconds (nearly 10 minutes)
 - ConcurrentDeleteTableIT.testConcurrentFateOpsWithDelete took 1,152 seconds (nearly 20 minutes)

**Describe the failure observed**
These tests take *WAY* too long to run. There has to be a better way to get the coverage needed from these tests.

**Testing Environment:**
 - Version of th

[2020-12-18 21:37] milleruntime commented on #1559
Yep this is done.  It never made it into 1.10 or legacy bulk import.  The new property is in 2.1 and only used with the new bulk import technique.

[2020-12-21 15:27] DomGarguilo commented on #637
It seems that something like the `.withProtection()` in curator could be implemented to help with this issue. From what I understand, `.withProtection()` prefixes the name of the node being created with a GUID/UUID which, if creation fails, is searched for on the parent path and returned if found. In accumulo if node creation fails, depending on why it fails, the creation is either retried or an e

[2020-12-21 20:14] milleruntime opened #1844 "Error recovering metadata tablet"
I saw 2 metadata tablets fail to recover during a long running session of the Randomwalk test.  The error that was reported read:
"Error recovering tablet !0;51e7e10b1827d193;490d5011198f9047 from log files"
Here is the stacktrace from the tserver trying to load the tablet:
[code]

At some point before this the Master went into SAFE_MODE to UNLOAD_METADATA_TABLETS to UNLOAD_ROOT_TABLET to STOP so

[2020-12-21 20:46] milleruntime commented on #1844
Accumulo was able to recovery and everything resumed functioning properly (i.e. I can scan the full metadata table, tservers all up).  So it is likely that this was a transient error.

[2020-12-22 19:13] ctubbsii opened #1845 "Post-vote release checklist for version 1.10.1"
- [x] Label this issue with the [project](https://github.com/apache/accumulo/projects) that corresponds to this release version
- [Git](https://github.com/apache/accumulo) tasks
  - [x] Create a signed `rel/<version>` tag (and push it)
  - [x] Merge `<version>-rc<N>-next` branch into a maintenance branch (if maintenance is expected),
        and then into the `main` branch (and push them)
  - [x]

[2020-12-22 19:13] ctubbsii opened #1846 "Post-vote release checklist for version 2.0.1"
- [x] Label this issue with the [project](https://github.com/apache/accumulo/projects) that corresponds to this release version
- [Git](https://github.com/apache/accumulo) tasks
  - [x] Create a signed `rel/<version>` tag (and push it)
  - [x] Merge `<version>-rc<N>-next` branch into a maintenance branch (if maintenance is expected),
        and then into the `main` branch (and push them)
  - [x]

[2020-12-22 21:42] DomGarguilo commented on #1841
When I run these tests they only take about 40 seconds each, but it appears that a significant amount of time is spent within both tests in:
[code]
From what I know, ```future.get();``` is used to retrieve the result of a future and will block until the result is ready. Maybe there is an issue with some of the threads blocking for long amounts of time. I'm not sure if this is what caused the exces

[2020-12-23 00:07] ctubbsii commented on #1841
If that's the expected runtime, then we may just need to add a timeout rule to the test, so we can detect when something goes awry, but it doesn't hold up the rest of the tests for half an hour. I'm still curious about why it took so long, but the immediate work is to put a cap on the test duration with a reasonable upper bound.

[2020-12-23 13:56] DomGarguilo commented on #1841
I can add a timeout as an immediate fix. Do you have a suggestion for the amount of time?

[2020-12-23 18:40] DomGarguilo commented on #1841
I have added timeouts of 3 mins for each test which should be plenty of time if they are running correctly. The issue you got may have been caused by the large number of threads (20) that this test spawns which will block the test from completing if any of the threads does not finish. If that is the case then I'm not sure what could be changed about this test to prevent that from happening.

[2020-12-23 18:57] ctubbsii commented on #1841
It's possible that one of the threads died and we didn't properly clean up. Adding the timeout is probably sufficient for now. Hopefully other work will help handle issues pertaining to dead threads, and if not, we can always create a new issue if this test remains flaky.

[2020-12-23 22:03] puchreiner commented on #1753
`1.10.0` seems affected too.
I had no problem with `1.9.0`, but after upgrade to `1.10.0` "admin stop" often hangs

[2020-12-24 03:58] ctubbsii commented on #1846
In order to build the javadocs for 2.0.1 for the website using Java 15 (the latest available to me at the time), I had to backport the following javadoc fixes from the main branch:

[code]

Building with the newer javadoc tool for the website is preferable to using an older JDK, because javadoc bug fixes aren't always backported to the older JDKs.

[2020-12-24 11:22] karthick-rn opened #1848 "Update column name in the monitor UI"
Following the conversation with @ctubbsii on slack, I'm creating this improvement work.

~~**Description:** The overview page in Accumulo monitor displays the total no of tablet servers configured as highlighted in the below screenshot. In the event of a tablet server failure, this count still displays the total tablet servers. If we can change this behaviour to display the no of tablet servers on

[2020-12-24 15:25] karthick-rn commented on #1775
@milleruntime Hi, I tested this scenario in Accumulo 2.0.1-rc1 by changing `tserver.hold.time.max` from `5m` (default) to `5s`, after few minutes of running cingest the below warning appeared in the monitor logs but the dead tablet server was not showing up in the tablet server status page & also the dead tablet server count remains '0' in the overview page. Therefore, the issue still occurs in th

[2020-12-24 20:58] karthick-rn commented on #1848
When Accumulo master kills the tserver due to exceeding maximum hold time, in which case the highlighted field displays the active no. of tablet server and not the total. Found this when testing #1775. I think we need to make this behaviour consistent across  different tserver failures, currently when Agitator kills the tserver it displays the total and when master kills the tserver it displays th

[2020-12-25 03:18] ctubbsii commented on #1848
Rather than change the behavior, would it suffice to update the column header to clarify by changing "Tablet Servers" column to something like "Total Known Tablet Servers" or similar?

[2020-12-27 21:38] andrewglowacki commented on #1669
I saw this after checking the status of  #1050. This is the exact situation I am interested in. Maybe this could be possible with a per-table manual configuration?

Otherwise, the solution I'm looking at implementing is:
- offline the table
- manually merge the metadata for small tables (the MERGING state of a merge)
- online the table

[2020-12-28 16:16] Viv1986 opened #1849 "Azure datalake integration"
Hello,

found article for accumulo 2.0 with azure datalake setup
https://accumulo.apache.org/blog/2019/10/15/accumulo-adlsgen2-notes.html

but when I do config same as article I get
Caused by: Configuration property xxx.dfs.core.windows.net not found

I set at accumulo.properties
instance.volumes=hdfs://first.xxx.cloudapp.net:8020/apps/accumulo/data,abfss://accumulo2@xxx.dfs.core.windows.net/accum

[2020-12-28 16:19] Viv1986 opened #1850 "Azure Configuration property xxx.dfs.core.windows.net not found"
**Describe the bug**
Hello,
Tryint to set azure datalake storage for accumulo 2.0 and
found your article at accumulo website
https://accumulo.apache.org/blog/2019/10/15/accumulo-adlsgen2-notes.html

hdfs work fine, but accumulo and have problem on start

<details>
<summary>Stack Trace (click to expand)</summary>

[code]
</details>

when I set  at `accumulo.properties`
[code]

**Versions (OS, Maven

[2020-12-28 16:21] #1849 closed

[2020-12-28 16:27] ctubbsii commented on #1849
I believe this was closed in favor of #1850

[2020-12-28 16:32] ctubbsii commented on #1850
@karthick-rn or @arvindshmicrosoft Any ideas?

[2020-12-28 16:37] andrewglowacki commented on #1669
An automated merge could also use some configurable heuristics like:
- Only consider tablets that have had no data written to them in 24 hours
- Only consider tables whose number of tablets is more than a multiple of the number of tablet servers

[2020-12-28 17:25] karthick-rn commented on #1850
@Viv1986, Based on the description, looks like you added both HDFS & ABFS volumes at one go and ran `accumulo init --add-volumes`. In Accumulo 2.0, this need to be done in 2 steps as described in the blog.
1. Add HDFS volume in `accumulo.properties` file
`instance.volumes=hdfs://first.xxxxx.cloudapp.net:8020/apps/accumulo/data`
2. Run `accumulo init` to initialise Accumulo on HDFS
3. Now add ABFS

[2020-12-28 17:33] Viv1986 commented on #1850
@karthick-rn
if you read my message, all this was already done

[2020-12-28 17:49] karthick-rn commented on #1850
What version of Hadoop are you using?

[2020-12-28 17:56] Viv1986 commented on #1850
3.1
hadoop fs -ls abfs://accumulo2@xxx.dfs.core.windows.net/
Found 1 items
drwxr-xr-x   - accumulo accumulo  0 2020-12-25 10:56 abfs://accumulo2@xxx.dfs.core.windows.net/accumulo

[2020-12-28 18:16] DomGarguilo commented on #1841
I have done some more investigating and it seems as though the time these tests take can be scaled by the amount of splits that are added to the tables within the tests. The current number of splits is 1000 and with a reduction of this number comes a reduction in runtime. I'm not sure how altering the splits will affect the effectiveness of these tests however. If we want to reduce the time these

[2020-12-29 04:52] #1845 closed

[2020-12-29 04:52] #1846 closed

[2020-12-29 13:47] karthick-rn commented on #1850
Support for ABFS connector in the `hadoop-azure` module has been added from Hadoop 3.2.0 onwards (Refer [RN-3.2.0](https://hadoop.apache.org/docs/r3.2.0/hadoop-project-dist/hadoop-common/release/3.2.0/RELEASENOTES.3.2.0.html)). I'd suggest you upgrade Hadoop to 3.2.0 or above and let us know if you still see this issue.

[2020-12-29 18:43] arvindshmicrosoft commented on #1850
@Viv1986 I think Karthick's suggestion to leverage Hadoop 3.2.x is a good one, given almost all of our testing with this configuration was done with Hadoop 3.2.1+

That said, given you seem to be able to access the ADLS Gen2 account through Hadoop commands, but Accumulo cannot see it, in my experience this is an indication of something missing in the classpath specified for Accumulo. Hadoop looks

[2020-12-30 11:48] milleruntime commented on #1669
Is the underlying problem the performance of merging empty tablets on an active table?  If so, I wonder if it would be possible to add an option to Merge a range of empty tablets and not have to lock the table.  This would essentially just remove the empty tablets from the metadata table.  We could check if the provided range of tablets is empty before locking and if so drop the stale references.

[2020-12-30 12:01] milleruntime commented on #1669
Or maybe just a separate utility to remove empty tablets.  For example, you have a table with splits configured A-Z for the alphabet.  One time you got a lot of "Quilting" data so there are lots of Q tablets.  There won't be another Quilt convention so you just need to remove tablets "P-Q" from the table.

[2020-12-30 13:57] andrewglowacki commented on #1669
@milleruntime there are two cases:
- A situation as @ivakegg described originally that results in many tablets empty or very small compared to the split size.
- Over time you need to increase the split size and now all of your tablets are much smaller than it.

A utility to do this periodically would work, however I'm not sure that alone would suffice since the tablets need to be offline when the

[2020-12-30 17:51] ctubbsii commented on #1669
I don't think you can avoid locking the table in some way, but we may be able to add some sort of range lock.

I was discussing the performance bottlenecks of merging with @EdColeman yesterday, and I pointed out that the biggest problem is chop-compactions, which truncate any non-empty tablets involved in the merge before completing the merge. This can be avoided in a special case if all sequentia

[2020-12-30 17:57] DomGarguilo commented on #637
To add this functionality it seems either a boolean value could be accepted by `ZooReaderWriter.putEphemeralSequential()`  to denote whether "protection" would be used during creation, or an additional method could be created, something like `putProtectedEphemeralSequential()` to achieve the same effect. I think it would depend on whether any other variant of node may need to be created with this

[2020-12-31 01:14] EdColeman commented on #637
Curator is a more general framework and is probably why they allow for the additional flexibility, but where we are creating / using locks, I believe that we would always want to have the stronger guarantee.  In addition to the curator code, the zookeeper recipe documentation also lays out how this can be achieved.  (https://zookeeper.apache.org/doc/r3.5.8/recipes.html#sc_recipes_Locks)

For Accum

[2020-12-31 03:09] ctubbsii commented on #637
@EdColeman Wouldn't including a UUID mean that we'd get a bunch of nodes with the "lowest" sequential ID, because they are all unique? Something like: `lock-uuid1-1`, `lock-uuid2-1`, `lock-uuid3-1`, etc.? Without the UUID, we get things that look like: `lock-1`, `lock-2`, `lock-3`, etc. Isn't that what we want?

[2020-12-31 14:30] EdColeman commented on #637
@ctubbsii the sequence number is based on the parent node, not the node name.  From the [(zookeeper programming guide)](https://zookeeper.apache.org/doc/r3.5.8/zookeeperProgrammers.html#Sequence+Nodes+--+Unique+Naming)

`When creating a znode you can also request that ZooKeeper append a monotonically increasing counter to the end of path. This counter is unique to the parent znode. `

I'm having e

[2020-12-31 22:13] EdColeman commented on #637
The advantage of using the uuid in the name vs. putting it in as a value is that the node names and sequence can be determined by calling getChildren() and then parsing the name.  If the uuid was only in the value, then you would need to call getChildren to get the node names, and then each client would need to call getData to read the uuid on at least the node with the lowest sequence id. If a cl

[2021-01-01 05:48] ctubbsii commented on #637
@EdColeman That all makes sense. I didn't realize the sequence was based on the parent node. Thanks for the explanation.

[2021-01-04 15:52] keith-turner commented on #1665
@ctubbsii I am interested in completing this issue, are you still thinking of working on it?

[2021-01-04 16:16] ctubbsii commented on #1841
dd637c350b388e31aadad85f3616f6f0a1d07272 / #1847 added a timeout, but does not ultimately address this test taking an excessive amount of time occasionally. If the test continues to fail, this will need additional work.

[2021-01-04 16:26] ctubbsii commented on #1665
@keith-turner I'll leave it to you, then. I'm busy with other tasks.

[2021-01-04 20:16] #1317 closed

[2021-01-05 13:20] karthick-rn commented on #1850
@Viv1986 Do you need any further help on this?

[2021-01-05 15:39] milleruntime opened #1853 "DefaultCompactionPlanner failing checkArgument preventing compaction"
I saw this running Randomwalk (conditional test) on 2.1 snapshot.  The randomwalk tests have not been updated to use the new compaction features so this is likely to happen in production if not fixed.  I noticed that something was holding up the test and didn't see this error until switching to DEBUG.  So we also may want to bump this log message up to WARN.

<pre>
2021-01-05T10:28:03,584 [compact

[2021-01-05 16:42] milleruntime commented on #1853
The check that is failing is here:
`
Preconditions.checkArgument(currSize >= sortedFiles.get(c - 1).getEstimatedEntries());
`
Due to the previous file size exceeding the current file size.  It seems this is indicating that the files are not sorted.

[2021-01-05 19:32] milleruntime commented on #1853
Looking at the code I think something is wrong with the values being compared.  We are comparing the estimatedSize of one entry with the estimatedEntries of the other.
https://github.com/apache/accumulo/blob/97de2d819ee5ff4fb09513c662eed6e1368f1318/core/src/main/java/org/apache/accumulo/core/spi/compaction/DefaultCompactionPlanner.java#L370-L373
It looks like the value of `getEstimatedSize()` shou

[2021-01-05 19:50] karthick-rn commented on #1850
You can refer this upgrade [doc](https://hadoop.apache.org/docs/r3.2.1/hadoop-project-dist/hadoop-hdfs/HdfsRollingUpgrade.html) from Apache. If this is a dev/test environment and the data is reproducible, I would straightaway go with a fresh install of Hadoop 3.2.0 or above and not bother with the upgrade. Like @arvindshmicrosoft pointed above, you can leverage [Muchos](https://github.com/apache/f

[2021-01-05 20:07] #1853 closed

[2021-01-05 20:55] DomGarguilo commented on #637
@EdColeman, how far did you get with the implementation? If you are not currently working on this, I could give it a shot. Do you have any existing code or suggestions?

[2021-01-05 21:11] DomGarguilo commented on #637
My current thinking is to append the UUID to the path passed to `create()` within `ZooReaderWriter.putEphemeralSequential` which should achieve the format discussed earlier: `lock-[uuid]-########`. I'm not too sure where the best place to implement the portion which recovers the created node via `getChildren()` when this error occurs or how exactly to detect when this error occurs.

[2021-01-06 15:01] karthick-rn commented on #1848
@ctubbsii I agree, changing the header name makes sense than changing the behaviour. I'd change the name to "Total Known Tablet Servers" as you suggested. Thanks!

[2021-01-06 20:29] #1320 closed

[2021-01-06 21:52] brianloss opened #1858 "Monitor should use long instead of integer for "Scan (Entries/s)" graph"
When running Accumulo 1.10 on a large cluster with a very high scan rate, the "Scan (Entries/s)" graph flatlined at 2,147,483,647. Looking at the [Monitor code](https://github.com/apache/accumulo/blob/6bf3f406481a392c5bcffc15d44ccdfd52c2b577/server/monitor/src/main/java/org/apache/accumulo/monitor/Monitor.java#L157), it appears that the queryRateOverTime and scanRateOverTime lists use an Integer i

[2021-01-06 21:59] ctubbsii commented on #1850
Closing this, since the user is being assisted with using Muchos to set up ADLS Gen2 on apache/fluo-muchos#383

[2021-01-06 21:59] #1850 closed

[2021-01-06 22:17] karthick-rn commented on #1848
PR: https://github.com/apache/accumulo/pull/1859

[2021-01-06 22:51] #1848 closed

[2021-01-07 21:18] ctubbsii commented on #1858
This issue was fixed in 1.10 by #1860 . However, it is not yet merged to the main branch for 2.1.0. I don't know if 2.1 is similarly affected, but I assume so. So, this issue should stay open until it is fixed there (or determined to be unnecessary there).

[2021-01-08 16:08] milleruntime commented on #1844
I attempted to replicate this error in 2.1 with no success.  I will try to replicate it in 1.10.1.

[2021-01-08 17:44] DomGarguilo commented on #637
It seems there could be two ways this issue could be handled. In the [zookeeper recipes](https://zookeeper.apache.org/doc/r3.5.8/recipes.html#sc_recipes_GuidNote) which was linked earlier, it does not explicitly say what should happen to a node once its path is recovered. It seems like the path to the recovered node could either be returned, or the node itself could be deleted and node creation re

[2021-01-08 19:23] milleruntime commented on #1844
I discovered that one of the Randomwalk tests in the Concurrent suite will actually shutdown the Master.  This is most likely what was causing Master to do a CLEAN_STOP, as I can't find anywhere that does this automatically in the code. Here is the test:
https://github.com/apache/accumulo/blob/f4f43febbc3e68013d8a1bcd46d8b44275e2e55e/test/src/main/java/org/apache/accumulo/test/randomwalk/concurren

[2021-01-08 21:06] milleruntime commented on #1844
After some more Randomwalk testing in just a 1.10 Uno cluster, I was able to reproduce this error for other tables but not the metadata. In all the errors, for some reason the extent in the logEntry only had the endRow and not the prevRow.  The error gets thrown when there isn't a Finished file so I am thinking that the Tablet tried to load but recovering wasn't done sorting the WAL.  I am still n

[2021-01-11 14:18] #1858 closed

[2021-01-11 14:34] milleruntime commented on #1844
I saw this error happen, which I think is a similar situation.  This error does provide a message about the sort not being finished.
<pre>
2021-01-11 07:51:37,858 [tserver.TabletServer] WARN : exception trying to assign tablet !0;2ac755608c39162d;26dbd6f6192bcaee hdfs://localhost:8020/accumulo/tables/!0/t-00001z4
java.lang.RuntimeException: Error recovering tablet !0;2ac755608c39162d;26dbd6f6192bc

[2021-01-11 20:15] keith-turner commented on #1321
I have been looking into this and have found two problematic cases so far.

 1. For GC its possible that newer delete candidates and stale tablet files could be read.  In general this would be problematic, the root table may be oky because there is only a single tablet. However its still very dicey.
 1. When the root tablet is loaded, the root tablets metadata is read from ZooCache.  This could po

[2021-01-12 14:25] #1321 closed

[2021-01-12 15:18] brianloss commented on #1808
I see that #1818 fixes this issue for the 2.1 release. Is the desire for 1.10.2 to simply re-throw the original Throwable, or were people thinking of something more than that?

[2021-01-12 16:25] dlmarion commented on #1808
I think that is fine. I'm not sure we want to backport my change for this.

[2021-01-12 18:42] #1665 closed

[2021-01-12 19:17] milleruntime commented on #1844
I have yet to see this error again after testing with my change in #1863.  I think I can close this once that change is merged into the main branch.

[2021-01-12 19:53] #1844 closed

[2021-01-12 19:53] milleruntime commented on #1844
Fixed in #1863

[2021-01-13 05:19] ctubbsii commented on #1808
We definitely shouldn't backport something like this. These changes are huge, and could have hugely destabilizing effects on the stable 1.10 line. I like the more modest approach @brianloss took in #1865 for 1.10

[2021-01-14 18:20] brianloss commented on #1640
I was thinking of taking this on. In looking at the Properties class, it appears it already supports `Deprecated` and `ReplacedBy` annotations on properties. Given that, I was thinking something like the following could work:

1. Copy all `MASTER_` properties and make a `MANAGER_` equivalent.
2. Deprecate all `MASTER_` properties and set the `ReplacedBy` property to the corresponding `MANAGER_` pr

[2021-01-14 18:42] ctubbsii commented on #1640
@brianloss I think it might be a bit burdensome to use `AccumuloConfiguration.resolve` in so many places. Also, it might get complicated if we are monitoring any properties for changes (I'm not sure if we are). As an alternative, I was thinking we could:

1. Produce an error if both `master.*` and `manager.*` properties exist in the `SiteConfiguration` file on startup and fail to start,
2. Automat

[2021-01-14 18:58] brianloss commented on #1640
@ctubbsii I don't know why I assumed Property was in the public API but since it's not, I agree your approach will be cleaner. Thanks!

[2021-01-14 19:03] DomGarguilo commented on #1791
This test fails for me more often then it passes. I got the same error as you for shutDownAndResumeTserver once but most of the time this test reaches the 5 minute timeout for me. It did pass once in which case the crashAndResumeTserver test failed with similar error:
[code]
It looks like in both cases an assertEquals() of deadTaletServer and another server is failing. In both cases either the exp

[2021-01-14 19:04] keith-turner commented on #1640
I like the idea of centralizing handling of the old master props in the code and avoiding `AccumuloConfiguration.resolve` in lots of places. It would also be nice to avoid having lots of deprecated master props in the Accumulo Property ENUM if possible and centrally handle this special case in the code instead.  The centralized handling needs to ensure we have a concept of what the current master

[2021-01-14 19:08] ctubbsii commented on #1640
Yes it was. We would still support reading an old config file, but would otherwise prevent any new properties from being set using the old names.

[2021-01-14 19:16] keith-turner commented on #1640
That means these props would not be going through a deprecation cycle? That could have a negative impact on any automation developed around Accumulo.  Its not always user sitting at terminals setting properties.

[2021-01-14 19:28] ctubbsii commented on #1640
With my suggestion, they would still go through a deprecation cycle. While deprecated, we would still respect existing config files, but yes, it would disallow automation of the type you describe, altering these properties in ZooKeeper... at least, without any additional effort.

We could put in the additional effort of allowing such properties by translating any incoming property changes intended

[2021-01-14 19:52] keith-turner commented on #1640
Having sets of deprecated properties that behave in very different ways would be confusing from a user perspective.  It would need to be reflected in the documentation, so users know what to do.

Could try to put specialized handling in AccumuloConfiguration to map these props on lookup.  Like what resolve does, but not spreading it everywhere in the code.  This may not be additional effort but no

[2021-01-14 19:57] ivakegg commented on #1640
I am thinking we may be too nice here.  I propose:
1) Fail to startup if any of the master.* properties still exist with an informative message.
2) Use the version upgrade mechanism to fix any overrides in zookeeper.

[2021-01-14 20:24] brianloss commented on #1640
I was wondering about this too. Even though the class Property is not in the public API, by having a mechanism to deprecate properties and using that mechanism, including on `master.bulk.rename.threadpool.size`, it seems we're treating them as though they are part of the public API.

Maybe this idea is worth exploring? It seems like possibly it could be done in the `get(Property)` method.

[2021-01-14 20:45] keith-turner commented on #1640
I think this treatment derives from the fact that they are user facing.  I am uncertain about the best path is in the particular situation, but I do know its good to give user facing changes a bit more consideration.  The conversation is making me think about property deprecation in Accumulo in general.

[2021-01-14 20:51] ctubbsii commented on #1640
This is kind of a special case. I think we could document it well enough, and provide meaningful error/warning messages, that consistency with regular property deprecations won't matter much, because it will be clear what to do from the documentation and/or messages.

[2021-01-14 21:36] brianloss commented on #1640
I was looking at `Property` and `AccumuloConfiguration` and was wondering what people think about something like the following... In `Property` the class has a member variable `replacedBy` that gets filled in if the `ReplacedBy` annotation is on a specific `Property` enum (that's done by `Property.precomputeAnnotations` which is invoked on each property enum value. What if we changed that to somet

[2021-01-14 22:46] keith-turner commented on #1640
The broad strokes you mentioned SGTM, if there is a fatal flaw it will certainly show up during implementation.  It seems like a good general change  that may make the prop deprecation code more maintainable, centralized, and consistent.

Trying to think about how the proposal relates to this issue, I am trying to think of special cases that are unique to this large set of deprecated properties. O

[2021-01-15 03:28] ctubbsii commented on #1640
@brianloss There are a few concerns I'd have with that proposal:

1. Extra complexity (it seems a little more complicated and a lot more code changing than the previous proposals),
2. I think we should encourage phase out of these deprecated stuffs, not continued support indefinitely for code or properties that have been discontinued (this plan sounds like the intent is to support "old names" in p

[2021-01-15 13:20] brianloss commented on #1640
I'm not sure it's that complicated since the changes would be pretty much limited to Property and AccumuloConfiguration (changes to the AccumuloConfiguration sub-classes would be through IDE refactoring). I had been thinking I might prototype it and see, but the idea was just a thought, and see below...

I wasn't intending that we'd support the old names indefinitely, but rather follow semver rule

[2021-01-15 14:13] Manno15 opened #1867 "Small bug in change user command of the shell"
**Describe the bug**
I discovered a small bug while investigating other issues. Entering the wrong credentials when changing users in the shell will properly give an `AccumuloSecurityException` but visually it still shows the user being changed (i.e from root to jeff). This is just a visual glitch though, behind the scenes the user doesn't properly change and no commands can be run except for `who

[2021-01-15 15:38] keith-turner commented on #1640
I agree that lots of complexity should not be added to the code to support this one case. The complexity of the Accumulo code base could be considered in conjunction w/ the complexity of the user experience.  Having sets of deprecated properties w/ different runtime behaviors is a complicated user experience.  An ideal solution would reduce the complexity of both, not sure it exists though.

There

[2021-01-15 19:36] ctubbsii commented on #1640
I don't think we should adopt anything more aggressive than semver for deprecated props, but I do think this is a special case that may need to be considered apart from what we might do "normally", and that it's okay to flex semver under special circumstances. However, I don't think we need to do that here. Given the conversation indicating a desire to keep support for setting new properties in th

[2021-01-15 21:15] DomGarguilo commented on #1791
@milleruntime Are you working on this? I noticed you are assigned to this ticket.

[2021-01-16 01:25] milleruntime commented on #1791
Not at the moment, no, knock yourself out!  I had looked into it some last year but don't remember if I got anywhere.  My guess is that since I don't have a branch for it, I did not find anything significant.   I assigned it to you

[2021-01-16 01:35] keith-turner commented on #1384
Opened apache/accumulo-website#257.

I experimented with creating the old style ~del splits points in 2.0.1, upgrading, creating new style split, and then merging.  I took some notes from these experiments and stored them at the link below.

https://gist.github.com/keith-turner/9896c511f71d47b06eb8af46ed74b691

[2021-01-16 18:47] ctubbsii commented on #1384
Is this issue satisfied by the referenced documentation PR, or is there more to do for this?

[2021-01-17 04:28] keith-turner commented on #1384
Yeah the referenced website PR satisfies this issue.

[2021-01-17 04:52] ctubbsii commented on #1384
Okay, I'll close this then, since apache/accumulo-website#257 is the intended solution. (For some reason, I thought GitHub had already linked a reference to that PR, but it didn't... it only linked to the commits in the PR, not to the PR itself.)

I've used that recently as well. It's nice (assuming the class path is set up, and you know the fluent entry point to the API). I was thinking we might

[2021-01-17 04:52] #1384 closed

[2021-01-19 12:22] #1808 closed

[2021-01-19 13:07] #1689 closed

[2021-01-19 14:30] slackwinner commented on #1384
@ctubbsii I'd be happy to assist the team with creating the bin/accumulo jshell command if it's needed.

[2021-01-19 20:09] ctubbsii opened #1870 "Create new "jshell" convenience entry point"
**Is your feature request related to a problem? Please describe.**
The new `jshell` command in Java 9 and later is super convenient for quick tasks with Accumulo. However, it is frustrating that one must first set up the `CLASSPATH`, and then import a bunch of Accumulo API classes in order to started using it.

**Describe the solution you'd like**
I would like to see the ability to easily start `j

[2021-01-19 20:09] ctubbsii commented on #1870
@slackwinner had expressed interest in working on this.

[2021-01-19 20:10] ctubbsii commented on #1384
I created a separate issue to track that at #1870

[2021-01-19 20:12] DomGarguilo commented on #1791
The `assertEquals` that is failing compares the equivalence of the tablets on a server before and after that server is suspended. There is a comment before the assert that reads:

I'm not too sure if this statement is true however I have observed tablets travelling between servers before and after being suspended. Below is a printout of the list of tablets on two servers before and after suspensio

[2021-01-19 20:22] ctubbsii commented on #1791
That is a correct interpretation of the reported error. The intent of the suspending feature is to ensure that tablets get reassigned to the same server as before, if the outage is brief enough. One would need to investigate to determine why they are migrating... but here are a few possible scenarios:

* the suspend time elapsed and the tablets are free to migrate before we are able to check (poss

[2021-01-20 14:25] GreenCee commented on #1625
Working on this with only a few minor fixes

It's setup to create an interactive bash, but before submitting a PR I want to setup to also run the commands as args e.g.
docker run accumulo-docker-build mvn <args>
for unattended or fire-and-forget type builds. In particular using this to limit build resource permutations for issues like https://github.com/apache/accumulo/issues/1811

[2021-01-20 14:38] milleruntime opened #1872 "Stop waiting during Table Delete CleanUp"
The final step to the FATE TableDelete operation is CleanUp and can take a long time in certain situations.  This step will wait for all Tablets to be `TabletState.UNASSIGNED` until it can complete the delete operation.  It is necessary to wait for Accumulo to unassign all the tablets in order to the metadata to be cleaned up properly.  I think there is a more efficient way that the Table Delete o

[2021-01-20 14:41] milleruntime commented on #1773
Since this ticket was mainly for analysis, I will close it as I was unable to find a bug.  I did come up with some ideas for improvements that I opened in #1872

[2021-01-20 14:41] #1773 closed

[2021-01-20 15:37] #1867 closed

[2021-01-20 20:00] milleruntime commented on #1872
The motivation for this enhancement came from the work around for #1773, when Deletes are taking too long on a cluster with lots of activity.  The work around is to offline and then online the table, which will allow the delete to finish. I am not sure exactly why this works but my guess was that it short circuits the delete steps, bypassing the typical transition path tablets take when deleted.

[2021-01-20 20:57] dlmarion opened #1874 "To Halt or not when Error seen in AccumuloUncaughtExceptionHandler"
There was a [discussion](https://github.com/apache/accumulo/pull/1818#discussion_r543599320) in a previous PR regarding whether or not the VM should be halted when an [Error](https://docs.oracle.com/javase/7/docs/api/java/lang/Error.html) is thrown in a Thread.

Issue assigned to interested parties and a cc to @FineAndDandy

[2021-01-20 20:58] dlmarion commented on #1874
Relevant code is [here](https://github.com/apache/accumulo/blob/main/core/src/main/java/org/apache/accumulo/core/util/threads/AccumuloUncaughtExceptionHandler.java)

[2021-01-20 21:50] keith-turner commented on #1872
I wonder if delete table unnecessarily waits on tablets that are running compactions.  There are mechanisms in the code to cancel a running compactions, can't remember when its called though.

[2021-01-20 21:51] ctubbsii commented on #1874
@dlmarion I'm going to close this issue for a few reasons:

1. it doesn't represent anything actionable to do, and therefore isn't very good as an issue in our issue tracker,
2. it's not a good idea to assign tasks to others, even just to try to tag them, because ASF is composed of volunteers, and people should be able to opt-in to tasks, rather than have it assigned to them, and
3. tagging a sele

[2021-01-20 21:51] #1874 closed

[2021-01-20 22:11] dlmarion commented on #1874
@ctubbsii - Should we get rid of the `Question` issue type then?

[2021-01-20 22:27] #760 closed

[2021-01-20 22:30] ctubbsii commented on #1874
The Question label is a built-in one that is created by default by GitHub when you enable issues on a GitHub repository. It can be deleted, but I wouldn't, because it is useful to use it when users ask questions on our project issue tracker. We have no control over what issues users might create, so it's useful to have a label so we can use it to distinguish their questions from actionable items.

[2021-01-21 12:48] milleruntime commented on #1872
Compactions being the big hang up seems likely because the offline/online FATE code is very similar to the DeleteTable step, which both call `TableManager.transitionTableState()`, changing the state in Zookeeper.

[2021-01-21 14:51] milleruntime opened #1875 "ClassCastException in CompactionExecutor cancel"
Saw this exception running CI on 2.1 snapshot:
<pre>
java.lang.ClassCastException: class org.apache.htrace.wrappers.TraceRunnable cannot be cast to class org.apache.accumulo.tserver.compactions.CompactionExecutor$CompactionTask (org.apache.htrace.wrappers.TraceRunnable and org.apache.accumulo.tserver.compactions.CompactionExecutor$CompactionTask are in unnamed module of loader 'app')
	at org.apach

[2021-01-21 14:55] Manno15 commented on #1875
I will try to reproduce on my end and investigate. Did you do anything special beyond running CI? Was this running against main and with the most recent commit?

[2021-01-21 15:15] keith-turner commented on #1872
I looked around in the code, in 2.1.0-SNAP there is an attempt to cancel any running compactions.

https://github.com/apache/accumulo/blob/0bfa4251930dc763ffabd9c2ece4b45f36ae6bc9/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/Tablet.java#L1197

In 1.10 there is also some code w/ the intent to cancel compactions.

https://github.com/apache/accumulo/blob/018756754ff0f289a8b30f846af

[2021-01-21 15:32] milleruntime commented on #1875
Not really, I just added some debugging for what I am working on.  I think the commit it was based off was: bbd87a6693fc5cdbbe947b0821a4f05a18cf905b

[2021-01-21 15:33] Manno15 commented on #1875
Okay, I will see what I come up with.

[2021-01-21 15:37] milleruntime commented on #1875
I was trying to reproduce #1775 and did change `tserver.hold.time.max` to 5s.  Although, I was unable to reproduce the monitor error, I did see this error happen twice.

[2021-01-21 15:43] Manno15 commented on #1875
I got the error now. I wonder if it's tied to the hold time as I wasn't getting it until after I changed that.

[2021-01-21 15:56] milleruntime commented on #1872
Looking at where `Tablet.close()` is happening in `UnloadTabletHandler`, there is a chunk of code that could wait, preventing the close from being called:
https://github.com/apache/accumulo/blob/bbd87a6693fc5cdbbe947b0821a4f05a18cf905b/server/tserver/src/main/java/org/apache/accumulo/tserver/UnloadTabletHandler.java#L66-L72

[2021-01-21 16:00] DomGarguilo commented on #1791
The issue may be caused by this section of code:
[code]
The problem may be coming from the amount of time that is waited for migrations to finish. In the for loop, the break condition is the same as the do-while loop meaning once the for loop is finished the do-while will only execute once(essentially rendering it useless). This may be an issue since the migrations are only ever given 5 seconds to

[2021-01-21 16:02] milleruntime commented on #1872
Would it be possible to have deadlock on `server.openingTablets` if Accumulo is trying to load and unload a tablet at the same time?

[2021-01-21 16:44] milleruntime commented on #1875
I looks like it only happens when a compaction is cancelled.  It is because the comparator that is used on the queue will sometimes return a `TraceRunnable` object since these can exist on the queue as well.  The cast in the `removeIf` check needs to mirror what is going on in this method:
https://github.com/apache/accumulo/blob/e62ace6a9d37572d95999f5412c6148efbba50b9/server/tserver/src/main/java

[2021-01-21 16:46] ctubbsii commented on #1791
It does call `waitForBalance` before entering this second loop, so even though the loop condition is the same, I think the expectation is that `waitForBalance` call could make the condition not true temporarily, hence the second loop. I'm not sure if this 5 seconds is enough time to guarantee that balance has actually started.

Hopefully not. Once balancing has settled, there should be little reas

[2021-01-21 17:26] milleruntime commented on #1791
@DomGarguilo I agree with your assessments of that IT and I think you are on the right path.  Your analysis led me to look at what the Master is doing in `waitForBalance` and I noticed a TODO in the findbugs warning suppression:
https://github.com/apache/accumulo/blob/bbd87a6693fc5cdbbe947b0821a4f05a18cf905b/server/manager/src/main/java/org/apache/accumulo/master/Master.java#L1594-L1608
It may be

[2021-01-21 17:30] milleruntime commented on #1875
@Manno15 I think I fixed this issue in #1876 but I wouldn't mind for you to give it a test to see if you can see the error again, since you saw it as well.

[2021-01-21 17:31] keith-turner commented on #1872
Maybe, if not deadlock it could get stuck there a long time.   Thinking maybe the method could just return if the tablet is currently opening instead of waiting.   Another unload message will be sent later.

One approach to this issue is to try to add enough debugging info so that if the issue does happen again, can see where things are gummed up. For example could possibly add some logging to the

[2021-01-21 17:42] milleruntime commented on #1775
@karthick-rn I would be curious to know if you are still seeing this error on a more recent build of Accumulo snapshot.  I have been running CI on an Uno cluster with modified hold time but have been unable to reproduce this failure.  The commit I built off of was bbd87a6693fc5cdbbe947b0821a4f05a18cf905b

[2021-01-21 17:48] Manno15 commented on #1875
I will test and let you know.

[2021-01-21 18:22] #1875 closed

[2021-01-21 18:44] milleruntime commented on #1775
Ah whoops... its probably the part `tserverStatus.size() > 1` which I am unable to pass using Uno with 1 tserver:
https://github.com/apache/accumulo/blob/80a5d253249359f8863ad1b54126852e958820d4/server/manager/src/main/java/org/apache/accumulo/master/Master.java#L853

[2021-01-22 14:33] karthick-rn commented on #1775
@milleruntime I can test this on the latest build and let you know. In the past, I was able to repro this issue with '1' tserver. Do you want me to do the same or try with '2' tservers?

[2021-01-22 14:52] milleruntime commented on #1775
I was finally able to reproduce this error.  I ran CI on Uno with 2 tservers with these properties:
<pre>
tserver.hold.time.max=500ms
tserver.memory.maps.max=5%
</pre>

[2021-01-22 21:03] brianloss commented on #1642
I've been looking into this issue and see at least a couple problematic areas:
1. [org.apache.accumulo.server.master.balancer.TabletBalancer](https://github.com/apache/accumulo/blob/main/server/base/src/main/java/org/apache/accumulo/server/master/balancer/TabletBalancer.java) and its class hierarchy. The balancers are configured using site and/or zookeeper properties. We could handle renaming thos

[2021-01-22 21:31] ctubbsii commented on #1642
FWIW, 2.0 can't talk to 2.1 anyway, because we've already bumped the wire version in d9ed7b411c9ca686c89870a363ca199042057d2d

I'd be fine waiting until 3.0 to do the package rename, if we want to have the balancer stuff go through a deprecation cycle, as though it were public API. I'd also be fine ripping off the bandage quickly, and relying on the fact that it's not public API and has always bee

[2021-01-25 13:23] brianloss opened #1880 "Implement SPI for tablet balancers"
We need an SPI for tablet balancers to isolate users from underlying thrift types and have a stable, public API for balancers. This change is driven by #1642 which will impact all existing tablet balancers in some form (either through deprecation or immediate removal). This SPI is intended to be the long-term replacement.

The methods provided on TabletBalancer do not need to change. Only the thri

[2021-01-25 13:46] milleruntime commented on #1872
I added a log info statement before waiting in the UnloadTabletHandler #1881

[2021-01-25 13:48] milleruntime commented on #1880
This is a sub-task of https://github.com/apache/accumulo/issues/1659

[2021-01-25 13:48] brianloss commented on #1642
Does it have to be an all or nothing? Would it make sense to rename as much as we can now (everything that doesn't impact the balancers) and then complete the renaming in 3.0? Or, given that an SPI will probably have objects for the tablet server status and migrations that wrap the existing thrift objects, maybe we could do something similar with renamed thrift objects for the existing balancers.

[2021-01-25 17:02] milleruntime commented on #1872
I did some testing with Uno running MultiTable RW and have yet to see the log statement I added in #1881.  I was able to see the delete FATE `CleanUp` waiting briefly and it was usually for compactions. So I think your theory of waiting for compactions is more likely.

From the master log:
<pre>
2021-01-25 10:16:20,209 [tableOps.CleanUp] DEBUG: Still waiting for table(1k) to be deleted; Target tab

[2021-01-25 18:18] milleruntime commented on #1872
Instead of messing with the current delete work flow, another idea would be to enhance the delete command for the client.  We could have an option for the client wait for delete to complete.  We could then provide information as to what it is waiting on (scans, compactions, etc). While this wouldn't change any behavior in Accumulo, it would provide feedback directly to the client and allow them to

[2021-01-25 20:05] ctubbsii commented on #1642
No, it doesn't have to be all or nothing. It might make sense to rename as much as we can now... the value is that it may highlight more potential breakage points than the balancer so there aren't surprises with the final renames for 3.0. The downside is that it's extra work... and and increased risk of other breakage if we miss something.

I think that's a reasonable solution if we really need to

[2021-01-25 21:01] DomGarguilo commented on #1791
It seems like the suspend time elapsing could very well be the cause of this issue. I don't think that the time taken for the tserver to restart has bearing on this issue because the inconsistent tablet locations are recorded before tservers are restarted.

I do not think this can be the case because the tservers are not restarted until after the issue-causing assert occurs. This error happens bet

[2021-01-26 04:49] ctubbsii commented on #1791
Hmm, based on where it's failing, it seems like it's possible that not all tablets are yet marked as suspended. The loop condition on line 213 only waits until there's *some* suspended tablets for at least two tservers that were killed. However, it doesn't loop until *all* tablets hosted on those tservers are marked as suspended, which is the check on line 225 that is failing.

The comment above l

[2021-01-26 07:14] liusheng opened #1884 "Propose to support building and testing Accumulo on ARM64 platform"
**Is your feature request related to a problem? Please describe.**
Currently, there are many softwares have support running on ARM64 platform. We have also done many efforts about making big-data projects support ARM64 platform.
For an example, Hadoop has published ARM64 platform specific packages:
https://www.apache.org/dyn/closer.cgi/hadoop/common/hadoop-3.3.0/hadoop-3.3.0-aarch64.tar.gz

and al

[2021-01-26 13:10] dlmarion opened #1885 "Modify ZooLockIT to use ZookeeperTestingServer instead of MAC"

[2021-01-26 13:12] EdColeman commented on #1872
When you say client, are you thinking the shell?  How would you handle this for automated clients? Feedback could be an intermediate step, but I think the desired behavior in almost all cases would be to terminate any outstanding operations and delete as quickly as possible.

Is there any value in waiting for a compaction to complete if the next thing to happen is that the table / file is deleted?

[2021-01-26 13:31] #1775 closed

[2021-01-26 13:40] #1640 closed

[2021-01-26 14:11] milleruntime commented on #1872
I was thinking of adding to the API, which could definitely be added to the Shell as a new command. We could add another API method (similar to how `flush` evolved) to evolve the current delete method.

In TableOperations.java:
`  @Deprecated
void delete(String tableName)`
`@since 2.1
void delete(String tableName, boolean wait)`

No that I know of but perhaps Keith may know of a reason.  There are

[2021-01-26 14:14] milleruntime commented on #1872
I agree but I think we are seeing that this isn't always realistic since a highly active cluster can become gummed up with the way Accumulo is designed to cautiously delete tables and clean up afterwards.

[2021-01-26 14:27] dlmarion commented on #1086
Created [PR](https://github.com/dlmarion/accumulo/pull/3) against the [637-validate-lock-acquired branch](https://github.com/apache/accumulo/pull/1866) branch. This new PR modifies ZooLock such that is uses the native ZooKeeper client instead of using ZooReaderWriter.

[2021-01-26 18:12] ctubbsii commented on #1791
It was suggested on a private call that extending the suspend duration might be helpful, because it may not be long enough. Also, it may help to ensure the system is initially balanced by creating the table with initial split points, rather than adding split points after the table is created. That could help avoid active migrations before the tservers are taken offline.

[2021-01-26 19:17] ctubbsii commented on #1775
This was backported to 1.10 in 48e483b6fab9006a224b4630dfdc3449110cb9a0

[2021-01-26 19:44] ctubbsii commented on #1884
@liusheng While most users probably deploy Accumulo on `x86_64` servers, Accumulo doesn't do a lot that could be considered architecture dependent, so we're probably not aware of any specific problems on ARM64 or other architectures.

Are you aware of any specific problems with building or running Accumulo on ARM64? If not, I'm not sure what there is to do be done here. If you are aware of such pr

[2021-01-26 20:23] milleruntime opened #1886 "Exception getting EC policy"
Exception occurs during startup of a new cluster.
<pre>
2021-01-26T15:06:44,962 [fs.VolumeManagerImpl] DEBUG: exception getting EC policy for hdfs://localhost:8020/accumulo/wal
java.io.FileNotFoundException: Path not found: /accumulo/wal
        at org.apache.hadoop.hdfs.server.namenode.FSDirErasureCodingOp.getErasureCodingPolicy(FSDirErasureCodingOp.java:371)
        at org.apache.hadoop.hdfs.ser

[2021-01-27 17:00] milleruntime commented on #1872
Created one potential improvement for this here: https://github.com/apache/accumulo/pull/1887

[2021-01-27 21:01] DomGarguilo commented on #1841
@ctubbsii, during the meeting yesterday you mentioned pre-splitting the table in [a flaky IT](https://github.com/apache/accumulo/pull/1888) I'm working to improve. I remembered working on this flaky IT and it has a lot of splits (1000) so I tried pre-splitting the table for this test and saw a huge decrease in the time it takes to complete. I saw a decrease on the order of minutes by pre-splitting

[2021-01-27 21:14] ctubbsii commented on #1841
It can definitely be a huge improvement. It eliminates the need to go through cycles of updating metadata, by taking tablets offline and online and migrating tablets to balance, on each split point added. There are many tests that could possibly benefit from this feature. There's probably only a few that actually need to create the splits after the table already exists. A PR to address that would

[2021-01-28 15:53] alerman opened #1889 "Null pointer exception encountered in code that worked in 1.9.2"
We encountered an NPE in the init method of combiner. We were sending in null as the ENV and in 1.9.2 that did not cause issues as the method returned prior to this line. @milleruntime I believe you made those changes and I am not sure what should occur if it is null so hoping you will take a look

https://github.com/apache/accumulo/blob/6af856b38bb57f49418547a8b9c262c66a1fe31e/core/src/main/java/

[2021-01-28 18:12] keith-turner commented on #1460
Looking into this code a bit, below are some potential problems.

 1. When there is a problem connecting to a tserver, it [tries to connect to the tserver to ask it to halt](https://github.com/apache/accumulo/blob/6af856b38bb57f49418547a8b9c262c66a1fe31e/server/manager/src/main/java/org/apache/accumulo/master/Master.java#L931-L934).
 2. Since the code for dealing with potentially bad tservers is i

[2021-01-28 18:15] keith-turner commented on #1460
I removed the blocker label, I don't think the code should be removed even though it does need improvement.  The improvements needed are not concrete and therefore should not block a release.

[2021-01-28 22:30] ctubbsii commented on #1889
@alerman The environment is provided to the iterator by Accumulo itself, and Accumulo should never provide a null environment. What is the use case for supporting the receipt of a null environment rather than recognizing that as an exception? Is it for testing your iterator? If so, why not create a mock environment?

[2021-01-29 11:24] alerman commented on #1889
@ctubbsii In this case our code was calling the init function itself. I can see the argument that we shouldnt be doing that but 1) its public and 2) this worked in 1.9.x and it is a behavior change in a minor release. I have put up a PR to our codebase to have it send in an empty environment rather than null, so this won't affect us any longer, but this could still affect anyone else that was doin

[2021-01-29 14:17] milleruntime commented on #1889
@alerman I am not sure what change you are refering to but the bug fix I did for the Combiner was in 1.10.  PR: https://github.com/apache/accumulo/pull/1680
And here is the commit: e3a14cd083848917b1f3f739eb79e6ea65a3e704

[2021-01-29 14:55] alerman commented on #1889
reopened as I had closed by mistake.

[2021-01-29 15:43] ctubbsii commented on #1889
Since this was re-opened, I will reply to the points that were made:

The fact that the method is public says nothing about whether the arguments can be null, and in the absence of documentation (javadoc, annotations, etc.), the behavior is not defined. The behavior didn't break... a user's invalid assumption was broken. However, in this case, the API is clearly designed to be called by Accumulo,

[2021-01-29 15:45] ctubbsii commented on #1889
In short, I don't think there's a bug here, or any code to fix. But, it may be helpful to improve SortedKeyValueIterator's javadoc for the init method.

[2021-01-29 23:58] EdColeman opened #1893 "Improve handling of interrupt conditions."
**Is your feature request related to a problem? Please describe.**
We are not consistent on handling interrupts.

**Describe the solution you'd like**
1) Code should not swallow interrupts without at least resetting the interrupt flag - throwing an Exception if possible and appropriate.
2) If an exception cannot be thrown, the caller code should be checking interrupt status and reacting if an inte

[2021-01-30 00:03] ctubbsii commented on #1893
I recall discussing this in the past. There may be some old JIRA issues that this would supersede that could be closed with this.

[2021-02-01 14:33] milleruntime commented on #1893
Some parts of the code could use this util:
https://github.com/apache/accumulo/blob/3fd5cad92f9b63ac19e4466f3f2d5237b905262c/core/src/main/java/org/apache/accumulo/fate/util/UtilWaitThread.java#L49
But it should probably be moved out of the FATE package.  It is already used in a bunch of ITs.

[2021-02-01 16:36] dlmarion commented on #1666
@EdColeman - can you point me to the code that you are referring to when you say "reading and caching the tablet markers in a wal file?" Are you referring suggesting making this [map](https://github.com/apache/accumulo/blob/main/server/tserver/src/main/java/org/apache/accumulo/tserver/log/SortedLogRecovery.java#L142) a cache, or something else?

[2021-02-01 17:42] ctubbsii commented on #1893
This is a holdover from when accumulo-fate was a separate jar. A lot of the fate stuff was left in their current packages to avoid making any changes that might affect FaTE serialization. This one is probably safe to move, since it is a static void method only, and there's probably other generic utilities that can be moved as well, but since it's all internal, it doesn't matter that much to move i

[2021-02-01 18:13] EdColeman commented on #1666
I'll look @keith-turner suggested this approach - from what I recall, during recovery the logs would show repeated messages from reading / processing the wals.

I think it may have been the list of wals was processed multiple times - once for each tablet?  I believe the idea was that the processing could occur once and then be cached for the duration of that recovery session.  I didn't explore if

[2021-02-01 18:32] EdColeman commented on #1893
It seems that there were multiple packaging decisions that were originally made with the FATE design - I believe the stated goal was that FATEs could become a stand-alone product outside of Accumulo.  Should we revisit that?  If moving the method would impact FATE serialization should other changes be made concurrently so that FATE serialization would only change once?  Also, I believe that during

[2021-02-01 18:32] #637 closed

[2021-02-01 20:38] #1889 closed

[2021-02-01 20:53] ctubbsii commented on #1893
While that may have been something that was considered, the implementation was, and has always been, very tightly coupled to Accumulo itself.

The problem is that we use Java serialization (in hindsight, a bad choice), and therefore, lots of Java objects can accidentally leak into our serialized FaTE objects. We have, for example, unintentionally serialized Thrift objects (I believe TInfo was one)

[2021-02-01 20:59] dlmarion commented on #1893
May want to look at [flatbuffers](https://google.github.io/flatbuffers/) if you have not done so already.

[2021-02-02 14:08] milleruntime commented on #1893
I agree. I only recommended its use as an easy way to standardize our handling of the sleep and catch IterruptedException, one of the situations this ticket aims to fix.

[2021-02-02 15:30] EdColeman opened #1897 "Improve MiniAccumuloCluster error handling to fail fast and completely."
**Is your feature request related to a problem? Please describe.**
During development, because of an error on my part, tservers could not start.  MiniCluster tests would just hang.

**Describe the solution you'd like**
If mini cluster cannot start necessary processes - terminating the instance instead of hanging would improve test turn around time. This way more tests may run (and fail) rather tha

[2021-02-02 17:31] billierinaldi opened #1898 "License and notice review for 2.x"
I noticed that the LICENSE and NOTICE need to be updated in the main branch. (I can't recall now if it was just the L&N for the binary tarball, or if the source tarball L&N also needed updates.) We should address this before the next 2.x release.

[2021-02-02 17:51] slackwinner commented on #1870
@ctubbsii I have integrated the Accumulo jshell command into "bin/accumulo". In addition, I am currently working on automating the import process for the Accumulo public API into jshell. Will push over a working version of the modified files soon.

[2021-02-02 20:24] ctubbsii commented on #1898
@billierinaldi Do you happen to remember what was wrong with the one you saw?

[2021-02-02 22:12] billierinaldi commented on #1898
I started looking into it, but have not completed an exhaustive analysis. It looked like DataTables and Bootstrap were added to the monitor source and do not appear in the source tarball license file. In the binary tarball, I started looking at the included jars and it seemed like there were a number of them that might require inclusion in the license or notice file.

[2021-02-03 16:15] keith-turner commented on #1659
I was looking at VolumeChooser and it has some new methods added for 2.1.  Thinking it would be a good candidate for moving to SPI, possibly only adding the new methods in the SPI.  I am going to look into doing this.

[2021-02-03 16:18] keith-turner opened #1900 "Implement SPI for VolumeChooser"
This is a sub task of #1659.  See [comment](https://github.com/apache/accumulo/issues/1659#issuecomment-772628843_) on that issue.

[2021-02-03 16:23] keith-turner commented on #1900
Below are two commits that changed the interface for 2.1.0-SNAP

bd2ddba861a466aa8bdfe59fcab53ab6003a03be
9af60eacc570ccc807201cb0673123c67d3e6d07

[2021-02-03 17:42] Manno15 opened #1902 "Manager specific max message size"
In relation to [ACCUMULO-2352](https://issues.apache.org/jira/browse/ACCUMULO-2352). Issue proposes implementing a specific manager max message size over defaulting the use to `general_max_message_size`. Similar to the specific Tserver one. Before I implement it, I want to see if this is still a desired feature or not considering the age of the original ticket.

[2021-02-03 18:54] Manno15 opened #1903 "Add explicit error message for '-s' option when granting System permission"
In relation to [ACCUMULO-1559](https://issues.apache.org/jira/browse/ACCUMULO-1559). Does anyone have strong opinions either way? I know I have been tripped up by this before since the other permissions do not require an extra option to grant.

[2021-02-03 18:58] dlmarion commented on #1902
So, https://issues.apache.org/jira/browse/ACCUMULO-2360 implemented a fix for large messages so that an OOME does not occur. https://issues.apache.org/jira/browse/ACCUMULO-2367 suggests that each service should have its own configurable thrift buffer pools. https://issues.apache.org/jira/browse/ACCUMULO-2352 is for adding one to the master specifically. I have the following questions:

1. What's t

[2021-02-03 19:24] dlmarion commented on #603
@ctubbsii It looks like this may have been addressed in https://github.com/apache/accumulo/pull/781

[2021-02-03 19:36] milleruntime commented on #1872
Another area I want to look into is here in Tablet.completeClose():
https://github.com/apache/accumulo/blob/fd001c9ec3a55aa6427667c4143f1d6772739c86/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/Tablet.java#L1260

It looks like every bulk import call to a tablet will increase `writesInProgress`. So if a tablet has a lot of Bulk Imports or one large one, it could cause the close t

[2021-02-03 21:02] #1086 closed

[2021-02-03 21:17] ctubbsii commented on #1902
I don't think this has really been a problem. The 2367 was pretty speculative about the possible benefits from this.

I think the downside is probably small to none. If this hasn't been a problem since 2014 when the issue was created, I'm inclined to recommend closing this and ACCUMULO-2367 as "not a problem".

[2021-02-03 21:18] #603 closed

[2021-02-03 21:19] dlmarion commented on #1902
+1 to closing.

[2021-02-03 22:20] ctubbsii commented on #1903
@Manno15 issues should generally not be questions, but clear well-defined tasks whenever possible. This is especially true for those with the "good first issue" label, because those can attract new contributors. If a new contributor tries to work on a task with an open ended question, it can create a very confusing and unpleasant experience for them if the community hasn't yet decided on a course

[2021-02-03 22:30] Manno15 commented on #1903
My apologies. that makes sense. I will keep that in mind in the future so I don't make the same mistake.

I will look into this tomorrow. I am open to closing this issue as is.

[2021-02-03 22:32] Manno15 commented on #1902
I am open to closing both. I will leave this open until tomorrow in case anyone else wants to add in their feedback and opinions.

[2021-02-04 12:29] #1880 closed

[2021-02-04 14:39] #1903 closed

[2021-02-04 14:45] Manno15 commented on #1902
Closing as per the discussion above. If anyone has additional comments or feedback, they can still comment on this issue thread.

[2021-02-04 14:45] #1902 closed

[2021-02-04 16:25] EdColeman commented on #1872
Is it feasible to cancel bulk imports if a table is being deleted?  Could save a lot of work / waiting for a bulk import to complete and then just turn around and throw it away.  If you wonder how this could happen?  If someone had asynchronous processes that handled bulk imports and a second process that scheduled deletions - unless those processes are communicating it seems feasible that if a ta

[2021-02-04 16:26] ctubbsii opened #1909 "Broken test: ZooLockIT.testLockSerial"
**Test name(s)**
 - org.apache.accumulo.test.fate.zookeeper.ZooLockIT.testLockSerial

**Describe the failure observed**

[code]

**Testing Environment:**
 - Version of this project: 2.1.0-SNAPSHOT
 - First commit known to fail (or current commit):
 - OS: Fedora 32
 - Java: OpenJDK 11
 - Maven: 3.6.3
 - Other environment details: Jenkins 2.278

**Additional context**

<details>
<summary>STDOUT (DEB

[2021-02-04 16:29] ctubbsii commented on #1909
@dlmarion Do you think this might be related to #1896 or #1866?

[2021-02-04 16:55] dlmarion commented on #1909
I don't think it's related. I have run this test many times without those
issues. Is it continually happening?

On Thu, Feb 4, 2021 at 11:29 AM Christopher Tubbs <notifications@github.com>
wrote:

[2021-02-04 19:28] milleruntime commented on #1872
We already have the `BulkImportCacheCleaner` so it may not be bad to modify it to handle cancelled bulk imports or look for a deleted flag.

[2021-02-04 19:48] ctubbsii commented on #1909
It has to be related. The code that failed is brand new in #1866. I just checked.

I don't know how often it happens, only that it's a new failure that didn't happen before (it couldn't have, since this test code is new). ConnectionLoss is usually a transient issue, so I suspect the test can be made to handle it. Since ConnectionLoss can happen frequently, it makes me wonder if the code change in

[2021-02-04 20:20] milleruntime commented on #1909
FYI You can drag and drop text files (with .txt extentions) to attach files to an issue. It is useful for logs so it won't show up in notification messages.

[2021-02-04 22:57] #1900 closed

[2021-02-05 13:56] ctubbsii commented on #1909
@dlmarion In answer to your previous question about how frequent the failure is: it has failed in 4 out of 4 Jenkins builds since #1896. The ConnectionLoss was the first I saw, but the other 3 were:

[code]

One had an repeated message in STDOUT that looked like:

[code]

Two others had:

[code]

[2021-02-05 14:03] dlmarion commented on #1909
So, it passes when building locally and in the GitHub CI build. What's
different about the Jenkins server? Using the native client was something
suggest in this comment thread:
https://github.com/apache/accumulo/pull/1677#discussion_r469470006. I'm not
sure what the solution should be here, since we were specifically getting
rid of the retries...

On Fri, Feb 5, 2021 at 8:57 AM Christopher Tubbs <

[2021-02-05 14:17] ctubbsii commented on #1909
It doesn't pass locally for me. It fails on the assertion on line 436, as in the above. It seems the missing handling of the transient ConnectionLoss issue is only one problem. The assertion failure is a separate problem. When it failed locally for me, there were no errors or warnings in any logs other than the normal warnings about swappiness or deprecated config properties, and typical warnings

[2021-02-05 14:19] dlmarion commented on #1909
Interesting. Ok, I will look at it on Monday.

On Fri, Feb 5, 2021 at 9:17 AM Christopher Tubbs <notifications@github.com>
wrote:

[2021-02-05 15:45] milleruntime commented on #1872
I was able to see a compaction cancelled while testing 1.10. This exception was thrown in the compactor:
https://github.com/apache/accumulo/blob/0a9837f3f8395d89c5cd7bab7805c4aae28919be/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/Compactor.java#L406
[code]

[2021-02-08 14:03] gancho-ivanov commented on #1884
+1 to add CI on ARM64!

@ctubbsii Accumulo is coded mostly in Java but still there is `server/native` that produces a `.so` (Linux native library). I have built Accumulo on ARM64 hardware and there is no problem, but with a CI we could be sure that there are no regressions.
Also, in the past I've had problems with third party dependencies like Protobuf-Java and Brotli. That is, the project itself

[2021-02-08 14:22] ctubbsii commented on #1884
TravisCI was previously used, but we discontinued that for several reasons. If support for these are coming in Q1 2021, then I would prefer we wait until then to add testing for other arches, rather than reintroduce TravisCI.

[2021-02-08 15:02] dlmarion commented on #1909
@ctubbsii - I was able to replicate this. The issue stemmed from the changes in removing the constructor in ZooLock that was only called by the ZooLockIT.

[2021-02-08 18:24] DomGarguilo opened #1916 "Garbage Collector deleted metadata file before it should have"
**Describe the bug**
While investigating a flaky test ([SuspendedTabletsIT](https://github.com/apache/accumulo/pull/1888)), it was found that the garbage collector deleted a metadata file that was still needed for the test which caused it to fail once there was an attempt to read the metadata. This error was reported in [this comment](https://github.com/apache/accumulo/pull/1888#issuecomment-76867

[2021-02-09 12:41] #1642 closed

[2021-02-09 21:16] milleruntime opened #1919 "Compact FATE undo failed"
While running RW MultiTable jobs for 2.1.0-SNAPSHOT on Uno with 2 Tservers, I saw a few user initiated compactions run after a table was already being deleted and throw an error while trying to back out of the FATE compaction. Here is a trace of revelevant log activity in the Manager:
<pre>
2021-02-09T15:17:34,268 [tables.TableManager] DEBUG: Transitioning state for table 6w from ONLINE to DELETIN

[2021-02-10 07:27] liusheng commented on #1884
Hi @ctubbsii Sorry for reply lately,  thanks for @gancho-ivanov help clarified. Like other Java projects, Hadoop, Spark, Most code of Accumulo can be directly built and run on ARM64 platform, but there is also native code that produces a .so (Linux native library) with is architecture sensitive, it is better to add ARM CI to ensure ARM platform support for future development. As mentioned, the ARM

[2021-02-10 12:30] #1909 closed

[2021-02-10 20:11] milleruntime opened #1922 "Better document Upgrader9to10"
It would be good to better document `Upgrader9to10` as it has grown to include lots of changes in the latest version. The javadoc at the top only contains a single line "Handles upgrading from 2.0 to 2.1". With all the changes now included, I think we could put references to github tickets in the javadoc, that will tie certain parts of the upgrade code to its particular code change. If something g

[2021-02-10 20:14] milleruntime commented on #1922
@brianloss while it is still fresh in memory, can you add something to the `Upgrader9to10` javadoc for your recent master to manager renames?

[2021-02-10 20:23] ctubbsii commented on #1922
I'm not opposed to this idea, but what's wrong with `git log -p **/Upgrader9to10.java`?

[2021-02-10 21:00] milleruntime commented on #1922
While that works great for you, the people performing the upgrade have a much better chance of looking at the documentation where the error in the file occurred than they do of taking the extra steps on that file to use git to track the history.

[2021-02-10 23:19] ctubbsii opened #1924 "SharedRateLimiterFactory.create() method does not correctly use WeakHashMap"
**Describe the bug**
While looking at our use of WeakHashMap throughout our code, I observed that the SharedRateLimiterFactory uses a WeakHashMap called `activeLimiters`. However, it uses `activeLimiters.put(name, new SharedRateLImiter(name, ....))`, and the constructor stores a strong reference to `name` as a member variable. Therefore, it is impossible for `activeLimiters` to ever garbage collec

[2021-02-11 20:42] ctubbsii opened #1928 "Flaky test: LargestFirstMemoryManagerTest"
**Test name(s)**
 - org.apache.accumulo.tserver.memory.LargestFirstMemoryManagerTest.test

**Describe the failure observed**
[code]

This error occurred on Jenkins while testing an unrelated PR, but when I tried to reproduce it manually, the test passed. It's not clear to me how this could happen, but should be investigated.

[2021-02-11 20:55] DomGarguilo commented on #1928
@ctubbsii is this different from #1789?

[2021-02-11 20:57] ctubbsii commented on #1928
Looks the same. I will close as duplicate.

[2021-02-11 20:57] #1928 closed

[2021-02-11 21:17] DomGarguilo commented on #1924
Which constructor are you referring to?

[2021-02-11 21:26] ctubbsii commented on #1924
`new SharedRateLImiter`

[2021-02-12 11:53] milleruntime commented on #1928
The line numbers in the error on this one match up with the latest revision. The line numbers in the older error in #1789 are out of date due to changes to the file on 12/8/20.

[2021-02-12 12:24] milleruntime commented on #1789
There are timing elements to the `LargestFirstMemoryManager` that I think will cause it to behave differently if the test takes too long to run. For instance, there is a variable that is clocked when the class is loaded (`ZERO_TIME`) that is used to compare for compaction idle times. The value here could become over 15 minutes (`getMinCIdleThreshold()`one of the overridden methods returns):
https:

[2021-02-12 12:26] milleruntime commented on #1789
I have been looking at this test for #1899 so I can try and fix it there.

[2021-02-12 12:36] milleruntime commented on #1789
There could be an issue with the timing of the `LargestFirstMemoryManager` class being loaded by the JVM long before (perhaps by another test since that class is used quite frequently) the test class is loaded. I don't know how we could fix that.

[2021-02-12 13:04] ctubbsii commented on #1789
We use `<reuseForks>false</reuseForks>` in `maven-surefire-plugin`, so it shouldn't use the same JVM as another test, and shouldn't be affected by another test.

[2021-02-12 13:27] Manno15 opened #1929 "Compaction from Shell hangs on unknown property"
Initial bug report here: https://issues.apache.org/jira/browse/ACCUMULO-4486

**Describe the bug**
The compact command will cause the shall to hang if the user enters an incorrect property (see example in that issue).

**Versions:**
 I confirmed it still occurs on 2.1.0 and most likely still happens on every version still.

**To Reproduce**
There is a complete example in the JIRA issue that will r

[2021-02-12 13:41] milleruntime commented on #1789
OK cool. So maybe just the timeout will suffice.

[2021-02-12 15:24] milleruntime opened #1930 "Missing MajC and Split stats in Monitor"
On a cluster that I have been running for about a day, the monitor is reporting that 0 major compactions have occurred in the tserver all time history. The Split stats are screwed up as well. See screenshot.

**To Reproduce**
1. In the Monitor... Click Servers -> Tablet Servers
2. Click on the ip address link of a tserver
3. Look at the All-Time Tablet Operation Results table
![image](https://user

[2021-02-12 18:18] milleruntime commented on #1789
Added a timeout in 0d5ea4b51e5f781c35280789d281817d4bb730ee so I guess we will see if we get the timeout, then we will know its probably a timing issue.

[2021-02-12 20:45] ctubbsii commented on #1789
When the test failed in #1928, it did so after 3.2 seconds. So, I'm not sure if this would be a timing issue.

[2021-02-16 13:26] milleruntime opened #1932 "TabletStateChangeIteratorIT Failing"
The test is failing consistently for me. It is timing out while waiting for the batch writer to close.
<pre>
[ERROR] test(org.apache.accumulo.test.functional.TabletStateChangeIteratorIT)  Time elapsed: 180.016 s  <<< ERROR!
org.junit.runners.model.TestTimedOutException: test timed out after 180 seconds
	at java.base@11.0.10/java.lang.Object.wait(Native Method)
	at java.base@11.0.10/java.lang.Objec

[2021-02-16 18:23] milleruntime commented on #1789
Ah OK. You wouldn't know if the class was loaded at the same time the test started up would you? I don't know enough about the maven test plugin to know when it loads classes and when the timer on the test would start.

[2021-02-16 18:44] milleruntime commented on #1932
While I was looking at why this test was passing in 1.10, I added improvements to the test so I figured might as well merge them in case we start seeing failures in 1.10 as well. Opened #1933

[2021-02-16 20:29] #1932 closed

[2021-02-16 20:44] ctubbsii commented on #1303
Closing based on conclusion in https://github.com/apache/accumulo/pull/1803#issuecomment-771883813

[2021-02-16 20:44] #1303 closed

[2021-02-16 20:50] ctubbsii commented on #1789
We have maven-surefire-plugin configured to not reuse forks, so it should have been a fresh JVM, and the class loaded at the start of the test.

[2021-02-17 12:42] #1510 closed

[2021-02-17 13:33] milleruntime commented on #1872
I merged another related improvement here: https://github.com/apache/accumulo/pull/1931

[2021-02-17 16:56] milleruntime opened #1935 "Invalid ZooLock found when running FateCommand"
While running 2.1 in Uno, I issued the `fate print` command in the shell and got the following warning:
<pre>
2021-02-17T11:49:53,986 [zookeeper.ZooLock] TRACE: validating and sorting children at path /accumulo/d4197716-1810-44e9-bda9-2f4f8b1afd1a/table_locks/35
2021-02-17T11:49:53,986 [zookeeper.ZooLock] TRACE: Validating lock-0000000000
2021-02-17T11:49:53,986 [zookeeper.ZooLock] WARN : Child fo

[2021-02-17 20:42] dlmarion commented on #1935
I believe what's happening here is something other than ZooLock is creating `/accumulo/d4197716-1810-44e9-bda9-2f4f8b1afd1a/table_locks/35/lock-0000000000` and then ZooLock later see's it and complains about it.

[2021-02-18 16:15] milleruntime commented on #1930
I think the MajC stats are fixed with #1937 but it appears that the Split stats have been missing since 2.0.

[2021-02-19 14:07] #1930 closed

[2021-02-19 17:25] milleruntime opened #1940 "Improve Detailed Tablet Operations in Monitor"
The monitor has a page for details about a tserver that also displays information about tablets on that tserver. This information could be useful but for security purposes the actual tablets (split points) have been obscured (see screenshot). The information isn't very useful if you can't pin point the tablet that may be having problems. AFAIK there is no way for an admin to decrypt the tablets. S

[2021-02-19 18:55] ctubbsii commented on #1940
I thought we had a command in the shell to list tablets in a de-obfuscated way, for an authenticated user, so they can cross-reference with the monitor.

[2021-02-19 18:56] ctubbsii commented on #1940
Without authentication, I don't think we should de-obfuscate the monitor... and I don't think it's worth baking in authentication to the monitoring service. It'd probably be better to have an authenticated TUI to list the detailed information that the monitor is showing instead.

[2021-02-19 18:58] milleruntime commented on #1940
I added a `listtablets` command but that is separate from the monitor and you will have no way to associate it with the information on the monitor.

[2021-02-19 19:01] milleruntime commented on #1940
I agree. This issue wasn't for that.

TUI? Trusted User Interface?

[2021-02-19 20:23] ctubbsii commented on #1940
TUI = https://en.wikipedia.org/wiki/Text-based_user_interface

[2021-02-19 20:32] ctubbsii commented on #1940
No, the `getsplits` command has a verbose option to show the obfuscated form that would appear on the monitor.

I'm not sure what `listtablets` does exactly, but if it overlaps with `getsplits`, it might be worth consolidating its features into a `getsplits` option, since that command existed already, and it might be somewhat redundant.

[2021-02-19 22:45] EdColeman commented on #1940
This comment may be late in the game - but:

`Since splits don't have to be sensitive, I think it would be reasonable to have a property to disable the tablet obscuring in the monitor.`

Split points can be very sensitive and should only available to admin users.

[2021-02-19 23:55] ctubbsii opened #1942 "Automatically impose a filter for non-admin users manually scanning the metadata tables"
**Is your feature request related to a problem? Please describe.**

It is well known that in order for metadata lookups to occur in Accumulo clients, they must scan the metadata table, which may leak information from user tables in the form of split points. Users can mitigate this risk by carefully selecting their split points, rather than allow them to be automatically derived from user data. How

[2021-02-22 12:47] milleruntime commented on #1940
I understand they _can_ be very sensitive. My point is that they don't have to be. They can also be mundane.

Do you think you or anyone would ever use a separate command line utility (like getsplits) to translate the encrypted tablet text on the monitor? It seems like a very cumbersome task and if you are already on the command line, there are probably better ways of finding out if there are issu

[2021-02-22 13:07] milleruntime commented on #1940
This does work. At the very least I think we should put something on the monitor so a user knows that `getsplits -v` will provide the same information.

[2021-02-22 15:34] ctubbsii commented on #1940
Yes, they do.

It may be cumbersome, but it was done intentionally in order to avoid leaking user data. As far as I can tell, nobody has developed a better way to securely identify tablet issues on the monitor, and for an administrator to associate them with the information they have access to in the server logs. This is the best, and only, way, we have come up with.

[2021-02-22 15:46] milleruntime commented on #1940
What about a simple number sequence? Something generated like `Tablet-1`, `Tablet-2`? It would be the same amount of work to run the getsplits command to translate them but they would be at least human readable.

[2021-02-22 15:49] ctubbsii commented on #1940
You can't associate "Tablet-1" with a specific split point, unless you track the entire unique history of split points. That's because splits change over time. It doesn't need to be reader-friendly... it just needs to be uniquely associable to a specific tablet for matching up to server logs.

[2021-02-22 15:55] milleruntime commented on #1940
It doesn't matter if they change because you can just refresh the page and run the command again. It doesn't need to be a permanent unique association, just a temporary one from the time the user looks at the page and runs the command.

I disagree. The hashes we generate don't get printed in the logs only on the webpage or run from the `getsplits` command. There is currently no way to search for t

[2021-02-22 16:59] EdColeman commented on #1940
I think I'm agreeing more with Christopher's characterization?

tl;dr

This is a long way around to expressing that the split info in the monitor seems of marginal utility to me and should never be display directly by our monitor - if someone needs that, then they need to build their own and handle user authentication and authorization to meet their own requirements.

I'm only relating my recollec

[2021-02-22 20:35] ctubbsii commented on #1940
No. It needs to be a permanent unique association, because an active table that is constantly splitting can make association nearly impossible, certainly extremely inconvenient. Additionally, admins often need to associate monitor information with historical log information.

The typical administrator workflow is:

1. See something funny on monitor page,
2. Identify split using shell,
3. Search lo

[2021-02-22 20:44] milleruntime commented on #1940
The Tablet details are on the page of their current tablet server. Clicking on the tserver address is typically how you get to the page. Every tablet would list the current server of the page you are on so it wouldn't make sense to display the current assigned server.

[2021-02-23 17:19] milleruntime commented on #1940
I saw this happen during a failure:
<pre>
[INFO] Running org.apache.accumulo.tserver.memory.LargestFirstMemoryManagerTest
[INFO] Running org.apache.accumulo.tserver.TabletResourceManagerTest
[ERROR] WARNING: An illegal reflective access operation has occurred
[ERROR] WARNING: Illegal reflective access by org.easymock.cglib.core.ReflectUtils$1 (file:/home/runner/.m2/repository/org/easymock/easymock

[2021-02-23 17:22] milleruntime commented on #1789
I saw this happen during a failure:

<pre>
[INFO] Running org.apache.accumulo.tserver.memory.LargestFirstMemoryManagerTest
[INFO] Running org.apache.accumulo.tserver.TabletResourceManagerTest
[ERROR] WARNING: An illegal reflective access operation has occurred
[ERROR] WARNING: Illegal reflective access by org.easymock.cglib.core.ReflectUtils$1 (file:/home/runner/.m2/repository/org/easymock/easymoc

[2021-02-23 20:17] ctubbsii commented on #1789
Multiple tests are running by default (1C), but they shouldn't be using the same JVM. So, they should be independent, at least with respect to Java VM resources (they might still compete with OS/environment resources).

[2021-02-24 13:46] #1473 closed

[2021-02-24 17:05] milleruntime commented on #1789
After some experimenting with the ZERO_TIME value of the test and printing different values coming out of the `LargestFirstMemoryManager`, I think I have figured out how the test occasionally fails. As to exactly how all the numbers at play come to cause it to fail, is another story. Here are the strange circumstances I created to lead to the failure.

I modified the ZERO_TIME of the test to be _e

[2021-02-25 07:04] #1898 closed

[2021-02-25 16:30] ctubbsii opened #1949 "Deprecate ScriptCommand in Accumulo shell"
The default script engine in Java has changed from rhino, which has been removed, to nashorn, which is now also scheduled for removal. Users may still be able to plug in their own JSR-223 compatible script library, but the utility of this feature in the Accumulo shell is significantly diminished/impaired.

Additionally, much of the use case for having this script command is likely able to be repla

[2021-02-25 16:32] ctubbsii commented on #1949
Deprecation basically just involves marking it deprecated, adding a log message to warn about deprecation when it's used, and updating documentation/release notes.

[2021-02-25 16:36] #1940 closed

[2021-02-25 16:38] #1789 closed

[2021-02-25 17:53] milleruntime commented on #1872
With the various improvements I made for deletes, I am going to close this issue. The only other path I didn't really explore was for cancelling Bulk imports during a delete. I can't seem to create a long enough running bulk import locally using the new bulk import so it may no longer be an issue. And now that we have the new bulk import, I don't want to waste time testing the old one since it is

[2021-02-25 17:53] #1872 closed

[2021-02-25 18:12] #1929 closed

[2021-02-25 18:35] #1791 closed

[2021-02-25 20:17] milleruntime commented on #1666
Is it possible this was already completed in 1.10 with this change: https://github.com/apache/accumulo/pull/1462

[2021-02-25 20:17] EdColeman commented on #1666
This maybe be OBE with #1462 - but in 1.9.3, the error message here - https://github.com/apache/accumulo/blob/a834aa8f36f1305b3d41abccb4eadc4f3b39302c/server/master/src/main/java/org/apache/accumulo/master/recovery/RecoveryManager.java#L156 will create a wall of log statements during recovery (in the master debug log)

[2021-02-26 02:48] ctubbsii commented on #1666
Closing, since it looks like this was already done. Please re-open or submit a PR if there is something more to do here.

[2021-02-26 02:48] #1666 closed

[2021-02-26 12:51] milleruntime commented on #1886
The way we are detecting EC policy, I am not sure there is a better way to do this and avoid printing the error. The error should only be printed once on debug.

[2021-02-26 12:51] #1886 closed

[2021-02-26 16:14] EdColeman commented on #1666
The comments in #1462 seems to point to additional areas that could be investigated for additional improvements - this issue was generic enough to cover that - should a new issue be created to point to the possibility that additional improvements may be possible?

[2021-02-26 18:24] ctubbsii commented on #1666
Issues work best when they are narrowly targeted and actionable, so somebody can grab one from the queue and work on it. I didn't see anything like that in the referenced PR, but if you do, please feel free to create a new issue to highlight and track the specific work to be done.

[2021-02-26 19:21] DomGarguilo commented on #1885
I would like to be assigned to this ticket please.

[2021-03-01 15:32] billierinaldi commented on #1898
Thanks @ctubbsii!

[2021-03-02 14:38] dlmarion commented on #1451
Updated design document located at https://github.com/apache/accumulo-website/pull/266

[2021-03-02 20:15] keith-turner commented on #1451
This supersedes apache/accumulo-website#223.  One major difference between #223 and #266 is the  per tablet compaction queue stored in the metadata table is replaced with a compaction coordinator process that maintains per tserver summary information.  Per tablet information is not tracked by the coordinator, it only tracks enough information to know which tserver to contact next.  Tservers track

[2021-03-02 22:17] #1870 closed

[2021-03-03 01:11] ctubbsii opened #1953 "Throw IllegalArgumentException in public API when table names aren't valid"
For many public API operations, we accept a table name or namespace name argument. These are often sent to the server as-is, where an exception may be generated and returned to the client because the argument is not in the correct format.

In our API, wherever we accept a table or namespace name as an argument, we should validate it on the client side to see if it even makes sense, and throw an `I

[2021-03-03 15:34] dlmarion opened #1954 "Major Compaction checkpoints for restartable compactions"
For a major compaction on a tablet, if we captured:

  1. the set of input files
  2. the output file
  3. the configuration (iterators, etc)
  4. the read offsets in the input files (updated periodically)

Then we might be able to re-start a major compaction that failed in certain conditions (tserver shutdown, tablet re-hosting, etc.)

[2021-03-03 16:19] DomGarguilo opened #1955 "Log spam while running ZooLockIT"
**Describe the bug**
While running ZooLockIT, there is a debug log that gets logged several hundred times per second. This issue was uncovered while working on #1952. Initial discussion suggested this may be a problem rather than a case of incorrect log type(debug vs. trace). Example of the log:

[code]

**To Reproduce**
This can be reproduced by running ZooLockIT and viewing the logs.

[2021-03-03 18:45] Manno15 commented on #1935
I went back and tested this with `2.0.1` and it appears that the issue is still there. I still noticed the Lock that was held was `lock-000000000`. We just didn't log it as a warning then. Which I believe was added in #1866. I plan to investigate this further if neither of you two is doing so already.

[2021-03-03 20:17] DomGarguilo commented on #1935
I have observed this as well while running `ZooLockTest`

[2021-03-04 17:26] Manno15 commented on #1935
It appears the issue is because tableOps has its own Util function that utilizes `ZooQueueLock.java` which uses a different prefix (which is just "Lock-").  By changing that prefix to include "zlock#", it got through that first check but now fails because it does not end with a "#".  I am working on getting past that now, but before I get too far I wanted to get ideas on what the best solution wou

[2021-03-04 18:41] EdColeman commented on #1935
My preference would be to use ZooLock so that there is one place in the code that is managing a lock in zookeeper - otherwise - the tableOps utils would need to be verified that it handles the ZooKeeper connection edge cases that ZooLock was recently modified to handle.

However, that may not be straight forward because ZooQueueLock seems to be either doing something different - or at least has ex

[2021-03-04 19:32] ctubbsii commented on #1935
At the very least, if it's using a different implementation, it shouldn't be using the same path in ZK as ZooLock.

[2021-03-04 21:37] #1885 closed

[2021-03-04 21:58] DomGarguilo commented on #724
Does this still seem like something that would be good to add?

[2021-03-05 16:16] Manno15 commented on #1935
I created a draft PR with a simple solution of altering the prefix in `ZooQueueLock` to match the expected prefix from `ZooLock.validateAndSortChildrenByLockPrefix`. I am still investigating the possible solutions mentioned in the comments above.

[2021-03-05 19:08] slackwinner commented on #1953
@ctubbsii Per our conversation, I would like to be assigned to this task.

[2021-03-08 18:20] #724 closed

[2021-03-08 18:46] dlmarion commented on #1955
The `Renewing watch on prior node` messages from ZooLockIT all have the path  prefix `/zltestDeleteWaiting` which is from the `testDeleteWaiting` test method. Adding `@Ignore` to this test suppresses these messages. Only running this test does not produce these messages. My assumption here is that the watchers being set in the `testDeleteWaiting` method are being triggered by the other tests.

[2021-03-08 19:15] dlmarion commented on #1955
This issue is not reproducible on every test run. It seems to be happening randomly.

[2021-03-08 19:35] dlmarion commented on #1955
So, I think I understand what's happening here in the test method `testDeleteWaiting`. 3 ZooLocks are created and then the first two ephemeral nodes are delete from ZK while the method continues to hold the live ZooLock objects. In a deployed system, a TabletServer would have a ZooLock and if the path was deleted (by the Master), then the TabletServer would halt. This test is somewhat similar to w

[2021-03-08 19:52] ctubbsii commented on #1955
@dlmarion Should we just ignore these logs from this test, then and take no action, or throttle the log message, or something else?

[2021-03-08 19:56] dlmarion commented on #1955
I was talking with @EdColeman - I'm going to look once more at the code where it renews the watcher to make sure it's not renewing on a node that does not exist.

[2021-03-08 20:01] dlmarion commented on #1955
So, the code currently logs a message, adds the watcher to the node, then if the node does not exist it removes the watcher. I'm moving the log message to the case where the node does exist. PR up soon.

[2021-03-08 20:39] #1955 closed

[2021-03-09 18:18] dlmarion commented on #1955
I moved the log message, not sure why the watcher was being invoked at the rate that it was. May warrant further investigation.

[2021-03-10 19:18] ivakegg opened #1963 "Provide ability to track a bulk imported file"
This is similar to #650 but different enough I thought it warranted a separate ticket.  The is related to the 1.x versions.

Basically the problem is being able to absolutely verify that a bulk imported file was successfully loaded into the system.  This requires being able to determine what the file is renamed to during the bulk import process.  Given that information we would be able to scan the

[2021-03-10 19:25] ivakegg commented on #1963
Perhaps a trace mechanism akin to a scan trace is doable where we can trace the life of a file through the accumulo system.  That could include everything from initial mapping through to deletion.

[2021-03-11 02:53] ctubbsii commented on #1924
@DomGarguilo The `WeakHashMap` already uses weakly referenced keys. However, the objects in the value are strong references by default. The way to ensure the values in the hashmap don't retain strong references to the keys in the map is to wrap the values themselves in a `WeakReference`. So, instead of a `WeakHashMap<String,SharedRateLimiter>`, you would simply wrap the values and make them `WeakH

[2021-03-12 13:05] Manno15 opened #1966 "Give lock paths more specific types"
As per the comment and following discussion [here](https://github.com/apache/accumulo/pull/1958#issuecomment-792956720).

A more specific type given to LockPath instead of `String` will make it more clear what kind of lock is being used and the best way to handle it.

This is somewhat dependent on the finalization of #1958.

[2021-03-12 13:26] Manno15 opened #1967 "Rename `ZooLock` and `ZooQueueLock` to more explicit and appropriate names"
It was discussed briefly that some confusion could be avoided if some of the locking classes could have more appropriate names that reflected their use cases properly. Specifically `ZooLock` and  `ZooQueueLock`. This issue aims to continue that discussion and ultimately decide on the most appropriate name. This issue or a new issue can be used to track any code changes (if any) from the results of

[2021-03-12 19:12] harjitdotsingh commented on #1949
I would like to start working on this. Which files/methods need to be deprecated?

[2021-03-13 15:55] ctubbsii commented on #1949
@harjitdotsingh I've assigned it to you, based on your interest. The ScriptCommand is the relevant java class. For reference, the DebugCommand is one that is already deprecated, as is the DeleteScanIterCommand. The former models deprecating the class with an annotation and the description for the help documentation in the shell, while the latter models printing a warning message when it is used (I

[2021-03-16 14:40] #1935 closed

[2021-03-16 15:35] #1924 closed

[2021-03-16 15:41] DomGarguilo commented on #947
I would like to be assigned to this ticket please.

[2021-03-16 15:45] EdColeman commented on #947
If these changes involve reading properties from zookeeper - could you hold off - the storage of those is close to being changed.

[2021-03-16 15:47] DomGarguilo commented on #947
Yes, will do.

[2021-03-16 21:59] EdColeman commented on #1134
@DomGarguilo - are you interested in having this assigned to you for an initial look?

micrometer.io seems really promising - but the first steps would be to become familiar with the current metrics and  the requirements of metrics systems in general.  The Prometheus docs provide a view of the collection / display side of things as well as guidance on naming to prevent issues with high-cardinality

[2021-03-17 01:56] harjitdotsingh commented on #1949
@ctubbsii - I have updated the files. Let me know if there is anything else that needs attention on this PR.

[2021-03-17 13:45] DomGarguilo commented on #1134
Sure

[2021-03-17 20:30] ctubbsii commented on #1949
@harjitdotsingh Thanks! I will try to take a look tomorrow.

[2021-03-18 16:07] #1966 closed

[2021-03-18 16:07] #1967 closed

[2021-03-18 17:03] DomGarguilo commented on #1134
@EdColeman - I'm starting to look into this and trying to get more familiar with everything. I was wondering if the main reason for the proposed switch away from hadoop metrics is the ability to allow plugable sources/sinks like you mentioned earlier or if there are other reasons as well.

[2021-03-18 17:39] DomGarguilo commented on #1561
Not sure if I would call this a duplicate but it seems very similar to #1134. Might be able to merge the discussion of these two and remove one of them.

[2021-03-18 20:49] keith-ratcliffe opened #1973 "Possible recurrence of issue described in #774"
**Bug Description**
It appears that we've encountered the same behavior as observed in #774 while testing our rel/2.0.1 deployment in AWS. For a period of time, we observed that our table scans would sporadically fail with the error below (maybe once or twice per hour over a period of a couple days of continuous query testing)
[code]

**Versions:**
 - **Accumulo:** 2.0.1
 - **OS:** CentOS 7.7.1908

[2021-03-19 16:22] EdColeman commented on #1134
Plug-able source and sinks are a big advantage - but others include:
- eliminate an unnecessary hadoop dependency in the Accumulo code base.
- simplify metrics - the hadoop metrics can be cumbersome to configure and to use in the code - mircometer seems much more straight forward. The goal would be to reduce the complexity of adding metrics so that often requested metrics enhancements would be eas

[2021-03-19 19:22] EdColeman commented on #1561
Good catch - I think 1134 was first written to see what was viable, and this one was created once micrometer seemed to meet our requirements - no preference to which one is used going forward.

[2021-03-19 19:40] ctubbsii commented on #1561
I'll close this one as a duplicate of #1134

[2021-03-19 19:40] #1561 closed

[2021-03-19 20:17] keith-ratcliffe commented on #1973
Update: Apparently I misstated our cache config changes above. Sorry about that
(OHC wasn't involved, although we had been testing that recently)

LRU cache had already been re-enabled, so the sequence of events was actually...

1. We were testing with LRU cache manager configured, but with data and index cache both disabled
2. Index cache was enabled via the shell followed by a few hours of testi

[2021-03-19 20:24] keith-ratcliffe commented on #1973
We'll try to replicate this and collect more info as well

[2021-03-19 22:17] ctubbsii commented on #1973
@keith-ratcliffe We could probably easily prevent the error if we disallowed cache manager reconfiguration without a restart of the process, like we do with some other properties. How detrimental would that be to your use case?

[2021-03-20 00:28] keith-ratcliffe commented on #1973
Makes sense. Not detrimental at all, really.

[2021-03-24 00:07] #1949 closed

[2021-03-24 12:35] ivakegg commented on #1963
I would like this ticket to stand as something to consider which is to create a mechanism akin to trace which allows us to track a file through the system; from bulk import through compaction through garbage collection.

[2021-03-24 17:03] keith-turner opened #1974 "Support reading metadata for multiple non-contiguous tablets using Ample"
**Is your feature request related to a problem? Please describe.**

While working on #1451 I ran into a situation where I needed to read metadata for multiple non-contiguous tablets from the metadata table.  To do this using Ample currently requires an RPC for each tablet, which is inefficient.  Ample currently only supports reading a range of contiguous tablets or a single tablet.

**Describe the

[2021-03-24 21:53] mfmettler opened #1975 "TinyLfu cache manager hangs in accumulo 2.0.1"
We've tried testing Datawave with Accumulo 2.0.1 with the
TinyLfuBlockCacheManager and the tservers hang under load within a few
minutes.  It reproduces every time.  This same configuration and tests
run fine with LruBlockCacheManager.  Our configuration includes

[code]

We're testing on a 10 worker, 2 manager node configuration on amazon aws.

CentOS Linux release 7.7.1908 (Core)
Hadoop 3.0.0-cd

[2021-03-25 17:28] ben-manes commented on #1975
I would guess that you are observing a livelock due to recursive `computeIfAbsent` calls being unsupported by `ConcurrentHashMap`. You can verify this using jstack.

The TinyLFU cache uses this method for the loader calls,

https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/core/src/main/java/org/apache/accumulo/core/file/blockfile/cache/tinylfu/TinyLfuBlockCache.java

[2021-03-25 18:55] keith-ratcliffe commented on #1975
@ben-manes Thanks. I believe you are correct. Here's a jstack exerpt showing a deadlock that we experienced...
[code]

[2021-03-25 23:19] ctubbsii commented on #1963
#1480 added a TabletLogger class to centralize management of logging events for tablet activity. A similar logger utility class could be used for centralized tracking of log messages pertaining to file activity.

[2021-03-26 00:54] ben-manes commented on #1975
This might be slightly different, but similar.

https://github.com/apache/accumulo/blob/1dc72fce2c781dee597c8c11876a3bc6c321c199/core/src/main/java/org/apache/accumulo/core/file/blockfile/cache/tinylfu/TinyLfuBlockCache.java#L202-L209

This calls `policy.getMaximum()` which currently reads under the eviction policy's lock as it is a non-volatile field. That called under the a `ConcurrentHashMap#co

[2021-03-26 12:52] milleruntime opened #1976 "Context classloader fails to load class from the shell."
**Describe the bug**
Context classloader fails to load class from the shell.

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: 2.1

**To Reproduce**
Follow the instructions for the classpath example: https://github.com/apache/accumulo-examples/blob/main/docs/classpath.md

**Expected behavior**
The filter should be loaded by the shell for the itera

[2021-03-26 13:47] ctubbsii commented on #1976
Could try to add a debug statement in `ClassLoaderUtil.getClassLoader(context)` to verify the shell is correctly obtaining the context from the table config and it is reaching this code with the correct context, and to check the returned ClassLoader class `name()`.

[2021-03-26 15:36] milleruntime opened #1977 "Setting a table config using "-t" while in the table context silently fails"
**Describe the bug**
Setting a table config property using "-t" while in the table context silently fails.

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: 2.1

**To Reproduce**
Steps to reproduce the behavior (or a link to an example repository that reproduces the problem):
1. In the shell, enter a table context with the command: "table <name>"

[2021-03-26 16:23] jmark99 commented on #1977
I'm not sure this is failing as much as the return from the config -f call is failing to display result properly. If you set the context then then use the -t option along with the -f option it appears to be set.

<pre>
root@uno> createtable foo
root@uno foo> config -t foo -s table.classpath.context=cx1
root@uno foo> config -f classpath -t foo
-----------+----------------------------+--------------

[2021-03-26 19:34] ctubbsii commented on #1977
If you're setting it to the same value at the per-table scope that it is set to at the system scope, then the per-table value won't be displayed. That's because the way configs inherit from their parent in the config hierarchy makes it impossible to tell the difference between a table config being set at the table scope or inherited from the system scope. It's possible with some implementation cha

[2021-03-26 20:40] milleruntime commented on #1977
Ah interesting, thanks. It looks like this isn't a bug as just an oddity of the way Accumulo configuration and the shell commands work.

[2021-03-26 20:40] #1977 closed

[2021-03-26 21:05] milleruntime commented on #1976
The obfuscation in the classloading code makes it difficult to debug what is going on. I was seeing a null context on the server side but I think that was a red herring as it appears it wasn't making it to the server code. I finally just printed the exception in the shell:
<pre>
java.lang.ClassNotFoundException: org.apache.accumulo.test.FooFilter
	at java.net.URLClassLoader.findClass(URLClassLoade

[2021-03-26 21:21] milleruntime commented on #1977
On the topic of setting config in the shell... why doesn't this work?
<pre>
root@uno> config -s general.context.class.loader.factory=org.apache.accumulo.core.classloader.DefaultContextClassLoaderFactory
2021-03-26T17:12:20,561 [shell.Shell] ERROR: org.apache.accumulo.core.util.BadArgumentException: Property cannot be modified in zookeeper near index 10
config -s general.context.class.loader.factor

[2021-03-26 21:53] milleruntime opened #1978 "DefaultContextClassLoaderFactory fails to load"
**Describe the bug**
DefaultContextClassLoaderFactory fails to load when configured for the "general.context.class.loader.factory" property.

**Versions (OS, Maven, Java, and others, as appropriate):**
 - Affected version(s) of this project: 2.1

**To Reproduce**
Steps to reproduce the behavior (or a link to an example repository that reproduces the problem):
1. Configure the property: general.con

[2021-03-26 22:08] dlmarion commented on #1978
Thats the default value for the property, right? You are saying that setting it causes the error?

[2021-03-29 02:49] ctubbsii commented on #1977
We are very selective about which properties are configurable in ZooKeeper, because some don't make sense to be read from ZooKeeper after a service has started up, or can cause problems. What you linked in the code is a curated allow list for such properties. The error in the shell reflects the documentation about these properties at https://accumulo.apache.org/docs/2.x/configuration/server-proper

[2021-03-29 03:17] ctubbsii commented on #1976
That complexity was one of the motivations for moving the classloading code out of Accumulo and supporting its features in a different way. The transition period is a bit rough, though, because we still have to support the existing behavior with the existing config. But, once we can drop these deprecated classes (presumably 3.0?), a lot of this code will make a lot more sense and these features wi

[2021-03-29 03:43] ctubbsii commented on #1978
The default value is an empty string, and it is constructed specially when no user implementation is provided. The DefaultContextClassLoaderFactory implements our built-in behavior, which can change over time, and should not be configured by users. The current implementation uses the SiteConfiguration and delegates to the AccumuloVFSClassLoader to preserve the previous VFS class loading behavior u

[2021-03-29 11:31] dlmarion commented on #1976
I recently tested the classloaders implementation in 2.1 using the procedure at https://github.com/apache/accumulo-classloaders/blob/main/modules/vfs-class-loader/TESTING.md

[2021-03-29 15:40] milleruntime commented on #1978
OK then I guess the bug is in the default behavior of the empty string configuration, which I am seeing in #1976. I will close this and continue the discussion on that ticket.

[2021-03-29 15:40] #1978 closed

[2021-03-29 15:46] milleruntime commented on #1976
That would explain why I saw it work once after running another example, assuming I forced the ZooCache to update.

[2021-03-29 16:16] jmark99 commented on #1976
I created a new instance and tried @ctubbsii suggestion but ended up with same result (class not found).

[2021-03-29 19:09] milleruntime commented on #1976
I think I found the issue. The problem was with one of the methods in the Shell that got the table context. See #1979

[2021-03-29 19:34] #1976 closed

[2021-03-30 16:06] sjyang18 opened #1984 "TLS + Kerberos Support in Accumulo"
**Is your feature request related to a problem? Please describe.**
Both TLS and Kerberos can be configured and turned on at the zookeeper and hadoop layer. However, Accumulo is required to turn only one of them: SSL or SASL for Kerberos. Turning off SSL but still keeping the zookeeeper.ssl* JVM switches (so that Accumulo may connect to secured zookeepers) would not work with the following error. T

[2021-03-31 14:26] dlmarion opened #1986 "Review ZK node setup in Compactor.announceExistence"
It's possible that we are creating one too many nodes here.

[2021-03-31 14:33] dlmarion opened #1987 "Review logic in Compactor.getRunningCompaction()"
It's possible that the DeadCompactionDetector that runs in the Coordinator could be stuck waiting on a Compactor that is trying to reserve a compaction. Review the logic around the use of the currentCompactionId variable.

[2021-03-31 14:36] dlmarion opened #1988 "Investigate the potential for running a standby CompactionCoordinator"
Look at what has to be done in CompactionCoordinator.getCoordinatorLock() to run a standby coordinator

[2021-03-31 14:42] dlmarion opened #1989 "Finding TServer hosting tablet on CompactionCoordinator re-start could be more efficient"
Use the logic in CompactionFinalizer.processPending() to find the tablet's location. Try that first before trying all tservers.

[2021-03-31 14:45] dlmarion opened #1990 "Integration tests for External Compactions"
Need to figure out a good way to write the tests

[2021-03-31 14:51] dlmarion opened #1991 "External Compactions documentation"

[2021-03-31 15:23] keith-turner commented on #1990
We have been manually testing changes so far.  This is going to be fun to figure out how to write ITs for.  One approach to look into could be using the good old slow iterator, giving a chance to observe external compaction metadata in an IT.  However timing  like that is still iffy and makes ITs unstable.

[2021-03-31 15:35] #1989 closed

[2021-03-31 15:40] dlmarion opened #1992 "External Compaction metrics"
Investigate what metrics should be reported during external compactions

[2021-03-31 15:44] dlmarion opened #1993 "Expose external CompactionCoordinator internal information in UI"
The QUEUES and RUNNING map provide some insight into how much work is being done and queued up. It would be easy to serialize these maps as JSON and put them on a web page. Something more complex could be done to integrate this information into the existing Monitor.

[2021-03-31 15:59] milleruntime commented on #1990
Maybe have a separate utility for testing external compactions in accumulo-testing?

[2021-03-31 16:31] keith-turner commented on #1992
One use case I would like to experiment with that will need metrics is dynamically adjusting the number of external compactors running in Kubernetes based on the number of external compactions queued.  To test this scenario I would somehow need to obtain the running and queued counts from Accumulo.  Since not all running compactors may necessarily be running a compaction, that is why I am thinking

[2021-03-31 17:47] keith-turner commented on #1990
We could use the existing code in accumulo-testing and run continous ingest w/ configuration to use external compactions for large compactions.  Run that for a day or two and then verify it looking for lost data.

[2021-04-01 15:40] milleruntime opened #1994 "Tablets processed by multiple tservers"
**Describe the bug**
On a very active 1.9.3 cluster, Zookeeper reached a certain state where it wasn't functioning 100%, causing tservers to see warnings about Transient connections. The tservers did not lose the ZK lock during this time but were spamming Transient connection warnings. In this time, the Master marked the tserver as dead and began reassigning its tablets to other tservers. ZK was a

[2021-04-01 23:32] sjyang18 commented on #1984
When I enabled both TLS and SASL in Zookeeper side, I am getting more ACL in /accumulo/*/delegation_token_keys.

2021-04-01T22:05:26,786 [delegation.ZooAuthenticationKeyDistributor] ERROR: Saw more than one ACL on the node
2021-04-01T22:05:26,788 [delegation.ZooAuthenticationKeyDistributor] ERROR: Expected /accumulo/1478471c-189b-453d-b186-bdc0bc84215c/delegation_token_keys to have ACLs [31,s{'aut

[2021-04-05 13:23] dlmarion commented on #1992
@keith-turner started this with [commit](https://github.com/apache/accumulo/commit/f3ece8801ebf027bb1e7b3b665bd14ae90012c6f)

[2021-04-05 13:38] dlmarion commented on #1986
Reviewed this code and it matches what is being done in TabletServer.announceExistence() which creates a node containing the servers Thrift client address and then attempts to get a lock at the same path with a Watcher that will Halt the process if the node is deleted or the ZooKeeper communication is interrupted. I think this is correct.

[2021-04-05 22:11] keith-turner opened #1996 "Make listcompactions work with external compactions"

[2021-04-05 22:11] keith-turner opened #1997 "Need to ensure when a table is deleted that any external compactions running are canceled."

[2021-04-05 22:12] keith-turner opened #1998 "Decide behavior of external compactions when a table is taken offline."
Currently external compactions continue running when a tablet is closed for any reason (balancing or table taken offline).  External compactions can gracefully deal with a tablet being offline when the compaction finishes.  So there is not problem to let external compactions run for an offline table.  Need to decide if this is the behavior we want.

[2021-04-06 14:33] keith-turner opened #1999 "Investigate exception from new sanity check"
After adding a new sanity for the sets of files passed between the tablet and a planner, the sanity check is catching an overlap in two sets files that are supposed to be disjoint.  The problem is transient, but it does hint that there is a bug.  Need to investigate this.

[code]

[2021-04-06 16:49] keith-turner commented on #1987
@dlmarion made some changes related to this 75274ab29b5399788a8a61e4973acde3defa74bf. If those changes look good to you I think we could close this.

[2021-04-06 18:03] milleruntime opened #2000 "Read encrypted files with Encryption disabled"
I want to be able to have AESCyptoService configured to run, encrypt some files and then after turning it off to stop encrypting files, be able to read the files that were encrypted. This is not possible now as encryption and decryption are all or nothing.

[2021-04-06 18:05] milleruntime opened #2001 "Per table encryption"
I want to be able to configure the CryptoService to encrypt on a per table basis.

This will probably require new properties and new information to be passed into the CryptoEnvironment. This also might require changing the CryptoService configuration from `instance` properties to use `general` properties instead.

[2021-04-06 21:56] ctubbsii opened #2002 "Bug in VolumeManager.FileType parsing of volume"
**Describe the bug**
Taken from https://issues.apache.org/jira/browse/ACCUMULO-3577
FileType doesn't parse out the volume from the directory correctly, because it incorrectly matches on partial path elements.
For example, while trying to parse out the volume from a path that looks like: "file:///some/path/to/accumulo/tablesexample/tables", it will match on "file:///some/path/to/accumulo/" as the v

[2021-04-06 21:59] ctubbsii commented on #2002
I have somebody in mind who might be interested in working on this issue, who is interested in contributing their first patch to Accumulo. I will reach out to them and assign it to them if they are interested. If they aren't, then I will make another comment here indicating that it's available for somebody else to work on.

[2021-04-06 22:01] ctubbsii commented on #2002
@jjmar11 are you interested in working on this?

[2021-04-07 11:03] dlmarion opened #2003 "Determine whether CompactionCoordinator::update should cancel running compactions"
@keith-turner - can you check this method, it pre-dates the work you did with putting the compaction information in the metadata table. I don't think we need to cancel these running compactions when a tserver goes down anymore, the tablet will just be re-hosted.

[2021-04-07 13:28] Manno15 opened #2004 "Unit tests should reuse forks"
Original Jira ticket https://issues.apache.org/jira/browse/ACCUMULO-2781

Currently, neither unit tests nor IT's reuse forks with maven. This can be changed for unit tests with only a few exceptions that can be excluded.