[2019-09-20 00:39] #1090 closed

[2019-09-20 15:44] reggert opened #1370 "InputConfigurator.validatePermissions checks for Table.READ but not Namespace.READ"
When reading a table via the Accumulo Shell or via `Scanner`/`BatchScanner`, it is sufficient for the user to have **either** `Table.READ` **or** `Namespace.READ` permission for the table or its namespace. However, when reading a table via `AccumuloInputFormat` (in Hadoop or Spark), prior to launching the job, `InputConfiguration.validatePermissions` checks only whether the user has `Table.READ` p

[2019-09-20 17:43] ctubbsii commented on #1370
This looks to be the result of some overly-aggressive fast-failure checks. We could remove the check entirely and let the tasks fail if the user doesn't have permission, or we can patch the check to allow `Namespace.READ` also. I'm inclined to do the latter, since the fast-failure is probably still useful.

[2019-09-20 17:45] ctubbsii commented on #1370
@reggert Are you interested in working on this?

[2019-09-21 02:10] reggert commented on #1370
Sure, I could take a stab at it. It seems like it should be a pretty straightforward fix.

Is there an existing function somewhere to extract the namespace from a table name? It wouldn't be hard to write one, but there's no point reinventing the wheel if it already exists.

[2019-09-21 03:10] reggert commented on #1370
Submitted pull request targeting the `1.9` branch.

[2019-09-23 20:42] keith-turner opened #1373 "Could the preferred volume chooser support the init scope?"
While [experimenting with S3](https://accumulo.apache.org/blog/2019/09/10/accumulo-S3-notes.html) I tried to use the INIT scope with the Preferred volume choose and it did not work because of [PreferredVolumeChooser.java line 60](https://github.com/apache/accumulo/blob/f5314b7e2a49cd315a16a72fe93c6828f4c7ba98/server/base/src/main/java/org/apache/accumulo/server/fs/PreferredVolumeChooser.java#L60).

[2019-09-23 22:17] ctubbsii commented on #1370
Probably somewhere deep in the code, used internally. Nothing that is likely intended for reuse.

[2019-09-24 03:34] lbschanno commented on #1122
@keith-turner I've submitted draft PR #1374 for you to take a look at when you have a chance.

[2019-09-25 12:24] BukrosSzabolcs opened #1375 "Make the ZooKeeper config customizable in Accumulo Mini Cluster"
Currently there is only a hardcoded list of zookeeper properties when MiniAccumuloCluster starts it's own zookeeper. It would be nice if we could define our custom Zookeeper config properties that would extend and if necessary override the hardcoded ones. Maybe something similar to the current siteConfig?

[2019-09-25 13:19] joshelser commented on #1375
Adding some more context onto this: Szabolcs was looking at this (along with a coworker, Maté) after a ZK 3.5 upgrade inside of Hive and the AccumuloStorageHandler.

ZK3.5 added an "AdminServer" (a little jetty server). The Accumulo-hive unit tests were failing because of a port-conflict where a local ZK was running and already bound on the port that the tests were trying to bind. It was a trivial

[2019-09-25 20:09] keith-turner commented on #1375
Is the following the troublesome code?

https://github.com/apache/accumulo/blob/a60089890cff3a56dba2462b51971dcd6af69f48/minicluster/src/main/java/org/apache/accumulo/miniclusterImpl/MiniAccumuloClusterImpl.java#L395

[2019-09-25 20:15] keith-turner commented on #1375
Would [MiniAccumuloConfig.setZooKeeperPort()](https://github.com/apache/accumulo/blob/a60089890cff3a56dba2462b51971dcd6af69f48/minicluster/src/main/java/org/apache/accumulo/minicluster/MiniAccumuloConfig.java#L94) help with this issue?  Not sure if that is the problematic port. If it is the javadoc says it will generate a random port if not set, I wonder if that is working properly.

[2019-09-25 20:23] keith-turner commented on #1375
To answer my own question, I don't think `MiniAccumuloConfig.setZooKeeperPort()` will help here, its a completely different port.

https://zookeeper.apache.org/doc/r3.5.5/zookeeperAdmin.html#sc_adminserver_config

[2019-09-25 23:42] joshelser commented on #1375
Yeah, the admin port is a completely different port than the server port.

[2019-09-27 14:56] #1365 closed

[2019-09-27 17:25] keith-turner opened #1377 "Add table ID sanity checks to garbage collector"
Currently the Accumulo GC checks that each user table seen in the metadata table is properly formed (this check was recently improved by #1266). However there is no check to ensure all expected user tables are seen in the metadata table.  So if there is an error and nothing is seen for a user table in the metadata table, then the Accumulo GC will not know there is a problem.

The garbage collectio

[2019-09-27 17:58] keith-turner commented on #1375
Its a hack and I am not sure if it would work.  We could always set `admin.enableServer=false`.  If older versions of ZK ignore this property and newer versions don't start the admin server, that could be a way to fix this w/o any API changes.  This change could be made for 1.9.4 and 2.0.1

[2019-09-27 19:30] hkeebler opened #1378 "Look at using System.gc() in Upgrade9To10 to free up memory"
In ticket #1365 which does the upgrade processing for ~del entries on Master startup will only read up to a point of memory close to full. (actually %50).  Then it has to wait for java gc to run which could take minutes depending on the state of things.  The command System.gc() can be submitted to tell the java gc to run.  It doesn't mean the java gc will listen but testing with this has worked co

[2019-10-02 13:59] keith-turner commented on #1364
A JDK issue was opened.

https://bugs.openjdk.java.net/browse/JDK-8231592

[2019-10-02 14:34] belugabehr commented on #1225
I think Curator Recipes are the way to go.  Accumulo could benefit from leaning more on the framework throughout the code base.

Just keep in mind that, in this instance, as I understand the code, to avoid recreating this same situation, you must set the 'disableZkWatches' in the `Builder` class in order to create a polling mechanism instead of a watcher-per-node setup like currently exists.

[2019-10-02 14:58] jzgithub1 commented on #1225
I have implemented what @ctubbsii recommended at the top of the ticket but it is not perfected yet (even though it seems to run well) so I will not make a pull request at this time.

What I learned along the way by trace debugging ZooCache.get(zPath) function and the process function in ZCacheWatcher (and other parts of the code also)  pretty much convinces me that @ctubbsii's idea is a sound solu

[2019-10-02 15:07] jzgithub1 commented on #1225
@belugabehr,  I like Curator too.  I have been running the TreeCacheExample alongside my Accumulo instance to check against my debug tracing of what goes on with the Accumulo Zookeeper cache.  But for now we have to stop shooting ourselves in the foot by blowing away table configurations in the ZooCache unnecessarily.

[2019-10-04 00:01] ctubbsii commented on #1364
Not a problem. Explained by comment added in #1380

[2019-10-04 00:01] #1364 closed

[2019-10-04 00:06] ctubbsii commented on #1225
I don't think we should add in curator as a dependency for this. It's not strictly necessary to reduce the number of watchers, and would introduce a much larger changeset. Using curator was already discussed, and previously attempted, and abandoned because of too many issues. It's probably worth revisiting again, but it should probably be done incrementally, by first abstracting our ZK code and is

[2019-10-04 21:52] keith-turner opened #1383 "Make scan execution hints influence caching."
There are two use cases I was recently thinking through were I thought it would be nice to not cache data.  One was when the Accumulo garbage collector scans the metadata table for deletion and blip markers.  Another is when Fluo scan for notifications.  In both cases the data is only scanned sequentially and never accessed randomly.

There are a few possible ways this could accomplished using exe

[2019-10-04 22:35] keith-turner opened #1384 "Handle split points in delete range of metadata table"
After the changes in #1365 an upgraded Accumulo instance could have metadata table splits in the ~del range that are irrelevant.  It would be nice to document what users need to do remove these in the release notes.

[2019-10-04 23:08] ctubbsii commented on #1383
The option I like the best is 2. There's a typo in the DispatchParameters object anyway, so we can fix that typo and evolve the API to return an object that is more than just the ScanExecutor's name... it can contain additional ScanExecutor execution environment with decisions from the dispatcher. This additional environment can be passed down into the cache code, which can skip the cache if certa

[2019-10-05 00:25] ctubbsii opened #1385 "Ensure Namespace.READ is sufficient for fast-failure checks in new (2.x) M/R code"
A similar fix to the one in #1371, which addressed the legacy M/R APIs in accumulo-core, may be required in the new accumulo-hadoop MapReduce module code. This should be checked and fixed, as needed.

[2019-10-05 00:33] #1370 closed

[2019-10-08 16:05] keith-turner commented on #1383
There was a discusion about this issue at the hack day.  One thing that came out of that is that would be good to also consider the use case of scan hints influencing file system read flags, with any refactoring.

[2019-10-08 17:55] keith-turner commented on #1323
The reason for this is because metadata table writes must always be accommodated.  We could possibly track the number of active non-metadata threads and limit this to a maximum.   It might be tricky to intercept this before its queued though.

[2019-10-08 19:35] keith-turner commented on #1383
https://issues.apache.org/jira/browse/HADOOP-16317

[2019-10-08 20:16] GreenCee commented on #1383
Digging in, it doesn't appear that Hadoop has reached a stable enough point to have a common API applications can use to inform the IO patterns across s3a, abfs, etc.
Talking through this at Hack Day also doesn't seem like this would be the right integration point for that anyhow

[2019-10-08 21:55] ctubbsii commented on #1383
While there may not be an integration point available in Hadoop for informing IO patterns at this time, the fact that we know there are potentially other use cases for these hints at various layers can help inform API decisions around these hints, in order to design in a future-resilient way.

[2019-10-08 23:19] ctubbsii commented on #1336
@keith-turner , I noticed you self-assigned this about a month ago. Are you still looking into this? Have you made any progress?

[2019-10-09 15:43] phrocker opened #1386 "Update Native Maps to use more recent C++ standards"
It may also help us to move away from raw pointers for internal objects where we can use RAII to better manage resources. Only top level objects need a java managed lifetime. everything else should use smart pointers. this alleviates any potential concern for memory leaks and also allow us to better manage object lifetimes.

Further, I think we can better exploit move semantics and improve perform

[2019-10-09 15:43] phrocker commented on #1386
I think it is fair to stick with C++11 as that would give us the most bang for the buck and also alleviate one issue I found with the "Iterator" struct and reference management.

[2019-10-09 15:53] keith-turner commented on #1386
I am so out of the loop on C++.  Why do you think C++11 is a good goal?  I am guessing that is whats currently available in recent Centos and Ubuntu releases.

[2019-10-09 15:57] phrocker commented on #1386
C++14 and C++17 are well supported on most distros, but there are some older compilers on u14/16 that only support certain portions of C++11. Realistically those are EOL, but there is nothing new  in C++14 or C++17 that I would use other than std::make_unique ( https://en.cppreference.com/w/cpp/memory/unique_ptr/make_unique ).

TL;DR I don't want to impact the requirements for compilation in a min

[2019-10-09 19:17] ctubbsii commented on #1386
@phrocker Is this something you're thinking about working on?

[2019-10-10 00:02] phrocker commented on #1386
@ctubbsii Yah I've started... since it's something I hope to use as a reference artifact in my c++ client (https://github.com/phrocker/sharkbite), I hope I'm not a liar and finish it in a reasonable amount of time.

[2019-10-10 13:32] mjwall commented on #1386
[What is RAII?](https://en.cppreference.com/w/cpp/language/raii)

[2019-10-10 14:01] keith-turner commented on #929
I experimented with a per table option for warming the cache after compactions.  This work was just for experimentation, still not sure of the best path forward.

https://github.com/keith-turner/accumulo/tree/warm-cache

[2019-10-10 19:01] #471 closed

[2019-10-11 12:59] keith-turner commented on #929
Below is the commit message from the commit d659418b3ca6e1887ee8bedadee15f1e728b7642 in my branch.

[code]

[2019-10-12 06:08] SlickNik commented on #1386
@phrocker Would love to pair on this with you if possible! It's been a long while since I've brushed off my C++, and I've been itching to give some of the newer RAII/move semantics pieces of C++11 (and later) a shot. Would also be a good avenue for me to learn more about Accumulo's use of Native Maps.

[2019-10-14 12:40] GreenCee commented on #1383
That's very true. Stepping back this would be the path should there be a nice high level all-DFS option in the future. For any application (Accumulo) to share it's intention to the underlying store as described in the HADOOP-16317 that would be signaled by the scan.
In some cases Accumulo may have special knowledge of the data and use like metadata table, but that won't be hard and fast and anythi

[2019-10-14 16:52] phrocker commented on #1386
@SlickNik absolutely I'll get some thought together on breaking this up. Thanks!

[2019-10-14 19:02] mjwall commented on #1386
I will be watching for this too. Let me know if you need any help reviewing or whatever.

[2019-10-15 12:41] kubina commented on #1383
I think adding a table level option to flag if the results of a scan should be cached or not would be a great way to help the cache from being polluted by queries that are scanning and returning a lot of single use data. It would be very useful for those tables that are scanned to satisfy user generated queries and scanned by applications to return a large collection of records that will be saved

[2019-10-15 15:48] milleruntime opened #1388 "API for loading iterators from config"
Work was done in 2.0 to make IteratorUtil more public API friendly by moving out a lot of the methods, including loadIterators().  It would be good to have something API friendly in IteratorUtil to load iterators from the configuration since this seems to be useful for users.  Or perhaps it should be in the new SPI package.

[2019-10-21 17:09] ctubbsii commented on #1383
I think we've taken steps in recent years to put more scan-time configuration in the scan API, rather than put them in table configs. This puts more responsibility on users, but is easier for us to maintain while satisfying user expectations (because expectations are explicit in each scan, from a table config which may not be consistent across a cluster and could be in flux). Certainly, at this po

[2019-10-22 19:47] milleruntime opened #1390 "Declare core.iterators package public API"
This is something that is long overdue but has been put off for good reasons.  Some refactoring was done in 2.0 for classes in this package to not use internal types.  SortedKeyValueIterator should be declared public API and I think this package is close to this goal where it could be done for 2.1

[2019-10-22 19:48] milleruntime commented on #1388
This is related and could assist in #1390

[2019-10-25 21:47] arvindshmicrosoft opened #1394 "Accumulo 2.0 Monitor shows weird ingest rates in E notation"
With reference to the below screenshot, this test cluster had no major activity happening yet we see some off-the-chart numbers. I guess there are potentially 2 issues:

- More trivial one (I guess?) is how to handle this gracefully in the UI
- More interesting is why those numbers were this large

Either ways thought I'd raise this in public interest.

![ENotationMonitor](https://user-images.gith

[2019-10-25 21:56] arvindshmicrosoft opened #1395 "Hold time is reported differently in Tables and TServers UI"
Background: on a test cluster we had a user error wherein an ageoff filter was misconfigured (and Shell did not validate user input) and prevented MinCs, thereby driving up hold time. Separate issue, I will log a distinct issue on what we saw there.

Current issue: I see the hold time is reported in a not-human-friendly manner in the Tables UI:
![MNotationTables](https://user-images.githubusercont

[2019-10-28 15:21] milleruntime commented on #1395
Thanks @arvindshmicrosoft this should be an easy fix for the new 2.0 monitor.

[2019-10-28 16:28] milleruntime commented on #1395
@arvindshmicrosoft are you seeing the ugly time on any other pages?  How about the Master Server page?

[2019-10-28 17:48] #1395 closed

[2019-10-28 19:18] keith-turner opened #1396 "Create type to represent tablet files"
Accumulo tablet files have a very specific structure of `<volume>/tables/<table id>/<tablet dir>/<tablet file>`.  Code that deals with these paths use String or Hadoop Path type along with utility methods to extract needed information and sanity check the paths.  The reason String is used sometimes is that for the case where a path originates from the metadata table, it is extremely important to m

[2019-10-28 19:50] keith-turner commented on #1396
[FileRef](https://github.com/apache/accumulo/blob/4c9429e8563d714fd3997d6b7eb9c7d0e3a8c837/server/base/src/main/java/org/apache/accumulo/server/fs/FileRef.java) is somewhat similar to what is proposed in this issue, but not quite the same.  Looking at FileRef, it would be nice to exclude serialization/deserialization code from TabletFile and make it a data only class.

[2019-10-28 19:56] ctubbsii commented on #748
Closing this as won't fix for now. This doesn't look that useful right now. Perhaps it will be useful in future.

[2019-10-28 19:56] #748 closed

[2019-10-28 20:18] milleruntime commented on #1396
Would you also need a member (possibly boolean) to indicate that it is a metadata entry or not?

[2019-10-28 20:22] keith-turner commented on #1396
Possibly. Or could have a method `Optional<String> getMetadataEntry()`

[2019-10-28 20:36] arvindshmicrosoft commented on #1395
Thanks @milleruntime I appreciate your prompt help on this! Will keep you posted if we see any other occurrences.

[2019-10-28 20:45] milleruntime commented on #1395
No problem.  FYI I just pushed the second part of the fix in 1fe2705.  With both commits, the issue should be fixed now.

[2019-10-28 21:37] ctubbsii opened #1397 "Transition from instance.dfs.{uri,dir} to instance.volumes on upgrade"
In 1.7.0, `instance.dfs.uri` and `instance.dfs.dir` were deprecated in favor of `instance.volumes`. These worked by resolving relative paths in the metadata, with a number of fallback mechanisms (including falling back to HDFS config files to resolve the `defaultFS` for the URI).

These should be replaced with an explicit resolution, similar to `instance.volumes.replacements`, but using a property

[2019-10-29 15:50] jmark99 commented on #1249
@EdColeman are you currently working on this task? If not, do you mind if I give it a go?

[2019-10-29 16:17] phrocker commented on #1386
@SlickNik Here is the current changeset https://github.com/phrocker/accumulo/compare/master...nativeupdates2x?expand=1

Note that I've brought in two dependencies. One is a lock free concurrent queue that will facilitate work down the road to improve concurrency of native maps in general but it also allows me to use a singleton pattern for memory delegation. I'm performing some benchmarks now, but

[2019-10-29 18:17] etseidl opened #1398 "trace server advertising default bind address (0.0.0.0) in zookeeper"
While trying to get traces from my tservers, I noticed that the trace server was advertising its address as 0.0.0.0 in zookeeper.  This appears to be due to obtaining the address to advertise from the server socket address (tracer.TraceServer around line [225](https://github.com/apache/accumulo/blob/9c7e91c5129a595f6b0896c9a99aebfc7e51fea4/server/tracer/src/main/java/org/apache/accumulo/tracer/Tra

[2019-10-29 19:29] milleruntime commented on #1390
Classes under core.iterators with *impl* imports:
[code]

[2019-10-29 21:08] phrocker commented on #1386
I'll do some cleanup tomorrow morning then submit a WIP PR so you all can take a look in a PR.

[2019-10-29 21:15] EdColeman commented on #1249
I'm working fate metrics, but have not started this.

[2019-10-29 23:23] #1398 closed

[2019-10-29 23:30] ctubbsii commented on #1398
@etseidl Thanks. I see you created this, and then immediately created a PR within minutes. For future reference, it is not necessary to create a separate issue since, on GitHub, PRs are also issues and have their own trackable issue number. Sometimes it is useful to have a separate issue to track a problem before a fix is complete, but you can often skip that if it's not necessary, since we don't

[2019-10-30 00:03] etseidl commented on #1398
@ctubbsii sorry, I wasn't sure if this one would turn into a bigger fix.  Thanks for the info.

[2019-10-30 06:08] SlickNik commented on #1386
Thanks for pushing this up @phrocker! I've pulled down the changes from your branch and should have some time to go through them over the next day or two. I haven't yet looked at how this is all being built, so I may have some more questions as I do that - maybe the move to cmake is something that I can help with as well, as I look into this.

[2019-10-30 18:08] reggert opened #1401 "ShowTrace servlet is unusable"
The fix for ACCUMULO-4660, 6f187823e4309ed79d6fa3f24b049731126f5263 , introduced a regression that makes it impossible to view traces via the Accumulo Monitor.

Specifically, `Basic.getStringParameter` was modified to strip out non-alphabetic characters from query parameters. Given that trace ids are hexadecimal strings, this causes all decimal digits to get stripped out. The `ShowTrace` servlet t

[2019-10-30 19:39] ctubbsii commented on #1386
If anybody has questions about how the native map builds currently work, I can probably answer those... although I think it's relatively simple: Essentially, we have a maven module that, instead of producing a jar at the package phase, produces a tarball containing a `Makefile` and our C++ sources (including those generated from `javac -h` earlier in the multi-module maven build). This tarball is

[2019-10-30 21:49] ctubbsii commented on #1398
No worries. That is one of many perfectly legitimate reasons to create an issue first. :smiley_cat: . I just wanted to make sure you (and others) don't do it because you think you *have to* (as some holdover from JIRA days, for example).

[2019-10-30 22:01] ctubbsii commented on #1390
It's okay to have *impl* imports. It's just not okay for them to expose those types in their public/protected members. apilyzer-maven-plugin should catch violations of this.

[2019-10-30 22:02] ctubbsii commented on #1390
We should probably move system iterators out of the way, because those should not be public API, but otherwise, I think this is fine.

[2019-10-31 16:13] phrocker commented on #1386
@ctubbsii I agree that the make file is relatively simple, but I'm afraid it's not about simplicity.

In the case where you have external projects that you are linking and using ( in my branch I am ), there is an ExternalProject command which not only simplifies that but helps ensures that you don't link incorrectly. It also helps avoiding pollution of your source especially when you are only incl

[2019-11-01 00:09] ctubbsii commented on #1386
Those are all very good reasons to use cmake. I'm not opposed. I just want to understand the benefits.

I do wonder if it's a good idea to add third party dependencies to code which is currently very small, and has very minimal dependencies. Even if it's a performance benefit... or a maintenance benefit (less code)... it may not be worth the trade off. It'd be nice if that could be done as an inde

[2019-11-01 01:29] phrocker commented on #1386
@ctubbsii to be fair I'm not proposing cmake at this time or for this task. I'm only doing task two(modernization) but the fallout is that item three is quite natural (avoiding custom code, where other code is maintained to avoid bugs with compilers, is cross platform, etc. ) I'm excluding Google benchmark at this time due to not wanting to handle dependencies in make.

[2019-11-01 18:06] ctubbsii opened #1408 "New integration test failures from metadata volume changes"
These tests seem to be consistently failing as a result of the changes in #1389 :

* org.apache.accumulo.test.SplitRecoveryIT.test
* org.apache.accumulo.test.VolumeChooserFailureIT.missingVolumePreferredVolumeChooser
* org.apache.accumulo.test.VolumeChooserFailureIT.notInstancePreferredVolumeChooser
* org.apache.accumulo.test.functional.CleanTmpIT.test
* org.apache.accumulo.test.functional.CloneTe

[2019-11-01 20:50] SlickNik commented on #1386
@ctubbsii Totally agree that issue 1 is orthogonal to 2 and 3. There may be some coupling between 2 and 3 (in some cases where the more modern code may depend on 3rd party libs) - and @phrocker has more visibility to that than I do, so he is in a better position to talk about that.

Also agree that it's a good idea tackle a move to cmake, or any other such build improvements separately. That will

[2019-11-01 21:00] ctubbsii commented on #1386
I think it should be a goal to minimize the coupling between 2 and 3, if it can be done, but understand that it may not be possible (or sensible).

[2019-11-05 18:32] milleruntime commented on #1394
I looked into trying to block against this behavior and I don't think it is worth trying to prevent.  We could check for small values but it is possible the rates could be small so it would be difficult to determine what is valid. This only happens during the first few seconds at the start of a new cluster.

[2019-11-06 02:10] ctubbsii commented on #1394
One option might be to delay presentation of the data until at least 5 or 10 seconds have passed since the server started, so that the monitor can have enough time to produce numbers that make more sense. That could be done in the client-side javascript, or as some special case in the monitor server code that sends the data used.

[2019-11-06 02:45] arvindshmicrosoft commented on #1394
Thank you both for sharing your perspective on this. It would be a good exercise for me to look into what Christopher mentioned, so let me do that.

[2019-11-06 05:36] #1401 closed

[2019-11-06 15:28] keith-turner commented on #1394
Could these just be rounded to an integer?

[2019-11-06 20:30] #1408 closed

[2019-11-06 20:56] milleruntime commented on #1394
Having a delay would work, I am just not sure where in the code would be the best place.  It would probably be overly complicated to try and do it in the javascript.  Perhaps in the constructor of the Monitor.

Rounding to an integer would work but we would lose precision during slower ingest rates.  Although, I'm not sure how much difference < 1MB would make...

[2019-11-06 23:12] keith-turner commented on #1394
Would be nice to keep some precision.   Could do `(long)(d * 1000)/1000.0` where `d` is a double to truncate `d` to a few decimal places.

[2019-11-07 01:30] ctubbsii commented on #1394
Flot has options for displaying the axes:
https://github.com/flot/flot/blob/master/API.md#customizing-the-axes

In particular, the `tickDecimals` and the `tickFormatter` are probably what we should be changing.

[2019-11-07 21:44] milleruntime opened #1415 "Update Apilyzer to treat core.iterators as SPI"
Refactoring done for #1390 requires the Apilyzer plugin to run on core.iterators, ensuring there is no internal types in the API.

[2019-11-07 21:47] milleruntime opened #1416 "Update documentation to include core.iterators as API"
Make sure javadoc and all other documentation includes the org.apache.accumulo.core.iterators package as part of the public API.   This will require updates to the website as well.

[2019-11-07 22:16] ctubbsii commented on #1416
I think this is mostly on the website, but the javadoc configuration for publishing our javadocs to the website probably needs to be updated to include this package.

[2019-11-07 22:20] ctubbsii commented on #1415
This should be a simple single line addition to the apilyzer-maven-plugin configuration in `core/pom.xml`

[2019-11-07 23:16] #1308 closed

[2019-11-08 14:58] keith-turner opened #1417 "Remove usage of Text from code creating mutations"
While working on #1412 I noticed some unnecessary usage of Text in the creations of mutations, like at [InMemoryMapIT.java line 193](https://github.com/apache/accumulo/blob/6b54a5d89aa10103105db1a6c6c88903fcaa90e6/test/src/main/java/org/apache/accumulo/test/InMemoryMapIT.java#L193).  These usages are historical from a time long ago when mutation only supported text, now it supports charsequence.

[2019-11-08 15:50] milleruntime commented on #1200
This was done in #1264

[2019-11-08 15:50] #1200 closed

[2019-11-08 15:54] keith-turner commented on #1417
Any attempt at this may not catch all instances and that is ok.

[2019-11-08 16:25] keith-turner opened #1418 "Remove DefaultMap and use computeIfAbsent instead."
I think [DefaultMap](https://github.com/apache/accumulo/blob/bbee47b8b95d230ba9def235917013dcfeaf7c38/server/base/src/main/java/org/apache/accumulo/server/util/DefaultMap.java) could be removed from the code.  There are currently two places in the code that create a DefaultMap.  I think these could instead create a HashMap and when `get()` is called on that hasmap use `computeIfAbsent()` creating

[2019-11-08 22:12] milleruntime opened #1419 "Use StandardCharsets.UTF_8"
There are a few places in the code where the UTF-8 charset can be replaced with the static equivalent from java.nio.charset.StandardCharsets.  The following classes should have
 ```Charset.forName("UTF-8")``` replaced with ```StandardCharsets.UTF_8```:

- org.apache.accumulo.core.cryptoImpl.AESCryptoService
- org.apache.accumulo.core.cryptoImpl.NoFileEncrypter
- org.apache.accumulo.core.data.KeyBu

[2019-11-08 22:35] keith-turner commented on #1086
I looked into this a bit today.  Another issue I discovered with ZooLock's use of ZooReader is that it automatically creates new Zookeeper objects when a session has expired.  I am not sure if this is causing any problems, but its a concern I have.  The following is some background info.

 * Zookeeper objects have a one to relationship with a zookeeper session.  When a session expires zookeeper ob

[2019-11-08 22:52] milleruntime opened #1420 "Make fields in AESCryptoService final"
AESCryptoService has multiple inner classes, which have private fields that can be made final.  These are the fields set in the constructors of AESGCMCryptoModule, AESGCMFileEncrypter, AESGCMFileDecrypter, AESCBCCryptoModule, and AESCBCFileDecrypter.

[2019-11-12 18:41] milleruntime commented on #1415
I modified the core/pom.xml as so:
[code]
And saw the following failures:
[code]
I added the first method to IteratorEnvironment as a replacement for AccumuloConfiguration.  It seems that SPI has now entered into the quasi-API limbo, where iterators have lived for some time.  Perhaps SPI should be declared as public API along with iterators.  Even if SPI doesn't affect data like iterators do, it h

[2019-11-12 19:54] keith-turner opened #1423 "Only call getData in ZooCache"
While looking at #1422 I noticed that zoocache calls exists() and then getData().  I think it may be able to only call getData() and catch NoNodeException to know something does not exists.

https://github.com/apache/accumulo/blob/6b54a5d89aa10103105db1a6c6c88903fcaa90e6/core/src/main/java/org/apache/accumulo/fate/zookeeper/ZooCache.java#L408

[2019-11-12 20:26] ctubbsii commented on #1415
Could add an "allows" line for the service environment instead of promoting it to public API. It might be okay to have it leak into the public API, as long as it's documented carefully, and just treat it as an excepted case.

[2019-11-12 22:54] mandarinamdar commented on #1419
I will work on this

[2019-11-12 23:01] at1012 commented on #1418
Started taking a look at this during Accumulo hack day. Will work on this.

[2019-11-12 23:08] srajtiwari commented on #1417
I will attempt to fix this issue.

[2019-11-13 15:43] milleruntime commented on #1415
After some discussion with @keith-turner and @ctubbsii, I think we should treat iterators as SPI.  They are pluggable server mechanisms, that can be affected by internal server changes, similar to the other plugins in the SPI.   I think, along with the other SPI packages, we should only guarantee compatibility across bug fix versions.

[2019-11-13 15:48] milleruntime commented on #1390
Based on some discussion in #1415, iterators should be treated as SPI instead.

[2019-11-13 15:51] keith-turner commented on #1415
Pluggable interfaces in SPI related to scan execution and caching are tightly coupled to Accumulo's internal model for executing scans.  If these interfaces are in the API it could make it very difficult to change the internal execution model for scans.  The reason is because it may require going through a deprecation cycle where a single release supports an old and new model of executing scans, w

[2019-11-13 15:54] keith-turner commented on #1415
I thought it made sense to place iterators in the public API because they can change the data returned by scans and are tightly coupled to a users data and queries.  I can take a stab at this.

[2019-11-13 18:26] #1168 closed

[2019-11-13 18:40] keith-turner commented on #1415
I took created a draft PR #1426 where I attempted to pull iterators in to the API from Apilyzer perspective.  I also attempted to document/define SPI in that PR.

[2019-11-13 23:11] ctubbsii opened #1428 "Make MiniAccumuloCluster default to using RawLocalFileSystem when not using MiniDFSCluster"
RawLocalFileSystem does not do checksumming and sync actually works which makes it a much more reliable testing FileSystem over LocalFileSystem (in which sync is not guaranteed to work as we want it).

We should default to using RawLocalFileSystem (configured via "fs.file.impl" in core-site.xml) and let the user override it if they so choose. This would alleviate having to manually set it in new u

[2019-11-13 23:40] Jman24 commented on #1423
Hello, I would like to work on this if it's still available. Thanks!

[2019-11-13 23:57] ctubbsii opened #1429 "HTTP 500 error when viewing the REST/XML status on the monitor"
When attempting to view the monitor's REST/XML output, I get a HTTP 500 server side error.

In the monitor logs, I see that there is a `ClassNotFoundException` for `com.sun.istack.Pool` coming from jersey.

It appears that we are missing some jars at runtime on the class path. I discovered that the class is contained in jaxb-core:

[code]

This does not appear to be listed in the output of `mvn de

[2019-11-14 00:51] ctubbsii opened #1430 "Limit the size of new table names"
Giant table names can take down ZooKeeper and the master server. There should be a reasonable limit on table name sizes. This can be imposed on the server side for creating tables, renaming tables, and cloning tables. Existing tables need not be affected.

Client code can be updated for fast-failure (and to limit the number of invalid requests sent to the server-side).

For reference, the informat

[2019-11-14 00:58] keith-turner commented on #1423
Sure @Jman24 .   Let me know if you have any questions.

[2019-11-14 00:59] ctubbsii commented on #1430
I marked this issue as a "good first issue", because adding the limit is relatively simple. However, the code changes are in an area that may be somewhat unfriendly to approach, so it's slightly more challenging than other possible "good first issues". Perhaps this might be a "good second issue". Either way, it's a small amount of code to be changed and should be easy to implement and create simpl

[2019-11-14 01:02] ctubbsii commented on #1430
Upon completion of this issue, a good follow-up PR would be to implement the same restrictions in the size of namespace names.

[2019-11-14 01:12] ctubbsii commented on #1429
This issue is marked a "good first issue" because it doesn't really involve any code, just class path and build tooling. However, it will likely require some familiarity with Maven, the maven-assembly-plugin, and class paths in general. It will also be best if the contributor who works on this already knows how to run Accumulo, say in [Uno](https://github.com/apache/fluo-uno).

[2019-11-14 15:17] keith-turner commented on #1430
@ctubbsii where do you think a change should be made for this?

[2019-11-14 16:19] EdColeman commented on #1430
Do we know what the impact / actual limit is?  The might be quite a gap between "giant" and  255.  Depending on how tables are created, it is not hard to get larger than 255.  Throw in a base name, a yarn job name and a timestamp or two and you can get a generated name that is not user friendly, but does encode some system runtime info that can be useful.

Whatever limit is "chosen" an approach co

[2019-11-14 16:39] keith-turner commented on #1430
Nevermind @ctubbsii , the information I was asking about is in the description.

[2019-11-14 17:40] ctubbsii commented on #1430
@EdColeman I think adding a configuration parameter makes this issue more complex than something I would be comfortable asking a first-time contributor to do. That could be done as a follow-on issue, if it's in high demand. However, I do think we should keep in mind that the table name is primarily for humans, and should be within reason for humans to read, memorize, type in the shell, view on the

[2019-11-14 18:08] #1419 closed

[2019-11-14 19:28] mandarinamdar commented on #1429
I was about to report this. I will take this

[2019-11-14 23:09] ctubbsii commented on #1429
@mandarinamdar Cool. Don't hesitate to ask for help if you have any issues.

[2019-11-15 04:45] mandarinamdar commented on #1429
Have tested with Uno deployment. Output from http://127.0.0.1:57965/rest/xml as below..(snip)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><stats><servers><server id="man-dev:9997"><hostname>man-dev:9997</hostname><lastContact>6211</lastContact><responseTime>0</responseTime><osload>0.37</osload><version>2.1.0-SNAPSHOT</version><compactions.........</stats>

[2019-11-15 16:25] milleruntime opened #1434 "Research exporting public API packages as Java Module"
It may be possible to use the Modules system, added in Java 9, to export the packages we want to treat as public API as a single module.

[2019-11-15 17:21] #1429 closed

[2019-11-15 18:10] keith-turner commented on #1434
I read this and thought it was a good overview

http://tutorials.jenkov.com/java/modules.html

[2019-11-15 21:27] ctubbsii opened #1435 "Master OOME during GCUpgrade9to10TestIT (test fails)"
I am seeing repeated failures in GCUpgrade9to10TestIT ever since #1427 . It seems to be caused by the Master server getting an OutOfMemoryError, and the rest of the test waiting for it to come back before it times out. However, I cannot get a consistent stack trace in the logs from the master, to identify where in the code it is failing. I think it's in a child thread, because it keeps triggering

[2019-11-16 16:56] Jman24 commented on #1423
It looks to me like the exists() method must be called before getData() since getData() in ZooKeeper requires a Stat variable which is generated by exists(). Am I interpreting this correctly? If so can Stat used by getData() be null?

[2019-11-16 21:37] jzgithub1 commented on #1423
Read the comment above the call to exists().  It explains why it is doing this.

         * The following call to exists() is important, since we are caching that a node does not
         * exist. Once the node comes into existence, it will be added to the cache. But this
         * notification of a node coming into existence will only be given if exists() was
         * previously called. If the

[2019-11-16 22:56] keith-turner commented on #1423
Good catch, I think I wrote that comment a very long time ago.  Thinking something like the following may avoid the two calls to zookeeper when something exists.

[code]

Would still be two calls to zookeeper when it does not exists.  When I opened the issue I was thinking the exists case would be more prevalent, but now I am not sure.

[2019-11-17 23:19] Jman24 commented on #1423
OK I see, thanks for the explanation. Should it just be left as is then?

[2019-11-18 01:10] jzgithub1 commented on #1423
I am inclined to think it should be left as it.  Let @keith-turner give you direction on how to proceed.  Thank you for your investigation of this issue.

[2019-11-18 15:31] keith-turner commented on #1423
I did a quick survey of the code to see how Accumulo is using node data from zoocache.  I found the code is using it to obtain the following information.

 * servers locks and locations
 * tables name to id mapping
 * root tablet metadata
 * accumulo instance id
 * accumulo user information
 * table properties

For all of the above categories, except table properties, I think the expectation is th

[2019-11-18 16:04] #1418 closed

[2019-11-18 19:41] milleruntime commented on #1434
I think a good first step would be adding the ```Automatic-Module-Name``` to our JAR manifest files and getting our dependencies to set this property as well.  Here is a good blog post explaining the situation:
http://branchandbound.net/blog/java/2017/12/automatic-module-name/

[2019-11-18 20:27] keith-turner commented on #1434
We should probably look for Accumulo dependencies that have not yet set `Automatic-Module-Name` and encourage them to set it.

[2019-11-18 20:36] milleruntime commented on #1434
I am going to try and write a script to analyze our dependencies and generate a list.  Otherwise it will be time consuming to inspect each JAR by hand.

[2019-11-18 21:18] milleruntime commented on #1434
It turns out the maven dependency plugin already does this so we can generate a list easily with the following command:
```mvn dependency:list -DexcludeTransitive=true | grep "(auto)" | grep -v "optional" | sort | uniq```

[2019-11-19 03:52] Jman24 commented on #1423
OK sounds good, thanks for the help.

[2019-11-20 16:49] #1417 closed

[2019-11-20 21:38] milleruntime commented on #1434
For dependencies that have not broached the subject yet, I created the following issues about adding automatic-module-name:
-  https://issues.apache.org/jira/browse/CLI-299
-  https://issues.apache.org/jira/browse/VFS-746
-  https://issues.apache.org/jira/browse/CURATOR-550
-  https://issues.apache.org/jira/browse/THRIFT-5023
-  https://issues.apache.org/jira/browse/ZOOKEEPER-3625

[2019-11-20 21:59] milleruntime commented on #1434
Here is a list of dependencies without a module name and their status:
- com.beust:jcommander:jar:1.72:compile -- module jcommander (auto)
https://github.com/cbeust/jcommander/issues/385
- com.google.code.gson:gson:jar:2.8.5:compile -- module gson (auto)
https://github.com/google/gson/issues/1238
- com.google.protobuf:protobuf-java:jar:3.7.1:compile -- module protobuf.java (auto)
Fixed in 3.10.0:

[2019-11-25 16:50] karthick-rn commented on #1373
I'm interested to work on this.

[2019-11-25 17:29] milleruntime commented on #1355
This was analyzed in #1442

[2019-11-25 17:29] #1355 closed

[2019-12-02 22:12] keith-turner commented on #1122
Closed by 2e5182b

[2019-12-02 22:12] #1122 closed

[2019-12-05 18:56] ctubbsii opened #1449 "CleanUpIT fails after #1374"
I've been seeing this test failure since #1374 was merged into the master branch:

[code]

[2019-12-05 23:06] keith-turner commented on #564
I have been doing some simulation and experimentation related to this issue.

https://gist.github.com/keith-turner/16125790c6ff0d86c67795a08d2c057f

[2019-12-06 17:55] phrocker commented on #564
Could we break these runners out into sep processes to facilitate containerized compactions ?

[2019-12-06 22:23] keith-turner opened #1451 "Support external compactions in containers"
For use cases like large scale filtering data on an accumulo table, it may be useful to support running compactions externally from a tserver in a system like kubernetes. This feature could support the following operations and behaviors.

 * Client side Accumulo API that selects tablets and files to compact that returns serializable+runnable objects for each external compaction. The objects can be

[2019-12-06 22:35] keith-turner commented on #564
I have been thinking about that, wondering should I do that or this or both.  I have concluded that I think doing both makes sense.  The reason I am thinking that way currently is it seems like the external compactions would be good for one off really large filtering and/or transformation operations.  The internal compactions seem better suited to maintaining order with a constant stream of incomi

[2019-12-10 15:39] EdColeman commented on #1451
Concerning leases and lease management.  The apache river / jini project has a lease manager specification that may provide some guidance with this type of functionality.

See https://river.apache.org/release-doc/current/specs/html/leaseutil-spec.html

[2019-12-10 15:45] ivakegg commented on #1451
A few comments:
1) I would imagine that this is primarily for handling larger files that may not be compacted using the configured compaction manager.
2) Using something like yarn instead of kubernetes might be a good initial implementation.
3) I would like to add the ability to do this while accumulo is off line.  This might be very difficult since we still need to make modifications to the accum

[2019-12-10 15:46] ivakegg commented on #564
+1

[2019-12-10 15:50] ivakegg commented on #564
I presume that the CompactionPrioritizer and Compactionmanager would be pluggable.

[2019-12-10 17:03] drewfarris commented on #564
I think this is looking good as well, just a couple questions:

Have you thought much about how the `CompactionManager` decides to perform work or decides to cancel scheduled work? Is this implemented via some sort of pluggable strategy and does this mean that there's a new interface we need to design to support this?

I could be misunderstanding the role of the `CompactionPrioritizer` - it seems

[2019-12-10 17:07] ivakegg commented on #1451
Now that I think about it, doing this while accumulo is off line might not be worth the effort.  Doing this for an off-line table may be reasonable however.

[2019-12-10 18:24] keith-turner commented on #564
The work I was doing with [compaculation](https://github.com/keith-turner/compaculation) was all centered around creating a new default algorithm for Accumulo that can leverage multiple executors in an efficient manner that keeps the avg files per tablet low.  I [wrote up](https://gist.github.com/keith-turner/16125790c6ff0d86c67795a08d2c057f) some of my results so far, but I am still working towar

[2019-12-10 19:01] keith-turner commented on #1451
The Accumulo API's will return a list of serializeable runnables.  Then a user could run those wherever they want.  This could lead to multiple little bridge projects that help run compactions in different execution environments.  This is an approach we took with Fluo when creating [fluo-yarn](https://github.com/apache/fluo-yarn) and [fluo-docker](https://github.com/apache/fluo-docker).

Ideally s

[2019-12-10 19:38] Manno15 commented on #1449
Looks like Thrift Connection Pool Checker thread does not get properly closed now since #1374. I will work on a fix.

[2019-12-10 20:39] ctubbsii opened #1454 "Create a single node (per context) for configuration in ZooKeeper"
Configuration in ZooKeeper is currently stored in a tree of ZooKeeper nodes under some `conf/` directory. In order to reduce the number of watches, support atomic configuration changes in ZooKeeper, and generally make the configuration code simpler, we should serialize the configuration for each table, as well as the system-wide configuration, into a single node (each).

The serialization formatio

[2019-12-10 21:04] ctubbsii commented on #1220
This is superseded by #1454

[2019-12-10 21:04] #1220 closed

[2019-12-10 21:23] ctubbsii commented on #1454
This also supersedes https://issues.apache.org/jira/browse/ACCUMULO-4050

[2019-12-10 21:35] EdColeman opened #1455 "Use limited number of watched nodes to track table properties."
This is related to and a subtask of https://github.com/apache/accumulo/issues/1225 (and will likely supersede work in pr #1422 )

This task is to model using a limited set of watched nodes to replace ZooCache watching on a per property (or with issue #1454  - a single table)

[2019-12-10 22:11] ctubbsii commented on #1007
ZooUtil.putData was moved to ZooReaderWriter.putData.

[2019-12-11 01:16] ctubbsii commented on #1007
I'm currently refactoring some of the `ZooReader{Writer}` code to reduce redundancy and simplify things, and saw the problematic code in question. I can look into a fix.

[2019-12-11 12:19] alerman opened #1456 "Prevent catastrophic tserver shutdown by restricting the status shutdown"
We had a situation where the master had a bad hosts file for a 2 minute period. During that time, the master marked ~70% of the tservers as bad. When the good hosts file was then put in place, the master issued shutdowns to that 70% due to the master having failed the max number of status requests.

There should be a threshold percentage of tservers where the master refuses to issue that shutdown.

[2019-12-11 15:52] alerman commented on #1456
After discussion with @keith-turner, I am implementing this as a rateLimiter with a number of tservers that can be shut down per minute, defauling to 10.

[2019-12-11 16:05] milleruntime commented on #1397
In addition to above, we should only require the new property if relative paths exist and check the existence of all files before renaming relative paths.  We need to make sure the value in the new property is absolutely correct before renaming metadata paths.

Also need to check delete markers for relative paths.

[2019-12-13 06:31] ctubbsii opened #1458 "ZooSession should use nanoTime instead of currentTimeMillis"
`ZooSession` currently uses `System.currentTimeMillis()` to track connection timeouts. It should use `System.nanoTime()` instead, which is more appropriate for computing durations, as it's not subject to changes in the system clock. Appropriate unit conversions should be made to ensure the behavior does not change.

[2019-12-13 14:59] keith-turner opened #1460 "Assess value of bad server handling code"
The Accumulo master has some code that kills bad servers.  This code caused #1456.  While reviewing a fix to lessen the possible bite of this code, the question was raised what positive value does the code have?  Need to research this in order to make an informed decision about the future direction of this code.

[2019-12-18 03:42] ctubbsii opened #1463 "Investigate the need for commons-beanutils dependency"
In d7a407a3d6367b96fbc513f5b94b3c0511a68bf0, commons-beanutils was added to satisfy a missing runtime dependency for commons-configuration 2.5, which is not necessarily a mandatory dependency (it's optional, depending on how one uses the commons-configuration API).

It's not clear that we actually need or want to use the features in commons-configuration 2 that require commons-beanutils. In 1ed12f

[2019-12-18 03:45] ctubbsii commented on #1463
Searching existing code for PropertiesConfiguration and FileBasedConfigurationBuilder will reveal the relevant code to change to investigate this.

[2019-12-19 03:21] arvindshmicrosoft opened #1464 "Leverage SimpleThreadPool for improving importtable performance"
Importtable reads the mappings.txt file (which in turn is created [here](https://github.com/apache/accumulo/blob/1ed12fa585a37caf36cfd674bd7ad6903c1d4e79/server/master/src/main/java/org/apache/accumulo/master/tableOps/tableImport/MapImportFileNames.java#L69-L93)) and [renames](https://github.com/apache/accumulo/blob/1ed12fa585a37caf36cfd674bd7ad6903c1d4e79/server/master/src/main/java/org/apache/ac

[2019-12-19 04:21] ctubbsii commented on #1464
You would need to be very careful to catch and propagate any exceptions from the renames in the executor, so that the FaTE operation fails properly, without leaving behind a bunch of threads, and without breaking any reproducibility or rollback problems.

Looking at the bulk import code you linked, it seems like it's trying to handle failures, so if that same design can be adopted here, it seems l

[2019-12-19 21:18] milleruntime commented on #1209
Closing.  No real design for this and this was really just for me to test github projects.

[2019-12-19 21:18] #1209 closed

[2019-12-19 21:19] milleruntime commented on #1208
Closing.  No real design for this and this was really just for me to test github projects.

[2019-12-19 21:19] #1208 closed

[2019-12-19 21:19] milleruntime commented on #1207
Closing.  No real design for this and this was really just for me to test github projects.

[2019-12-19 21:19] #1207 closed

[2019-12-19 21:22] milleruntime commented on #1390
This is dependent on #1426

[2019-12-19 21:52] milleruntime opened #1465 "Replace relative paths in delete markers on upgrade"
Follow on work from #1461 and related to #1043.  The upgrade code that was done for #1043 takes into account relative paths for the delete markers.  The relative paths should be replaced in delete markers as well, so no more relative paths exist after the upgrade.

[2019-12-23 21:42] mikewalch opened #1466 "Exception related to invalid dir name"
I was ran the helloworld.Insert in the examples repo using Accumulo 2.1.0-SNAPSHOT when I received the exception below.

[code]

[2019-12-31 18:38] rcarterjr commented on #1323
What would be the best way to inform the client that the write thread limit is reached? Right now my implementation uses MutationRejectedException, but should I create a more specific exception?

[2020-01-03 20:30] keith-turner commented on #1390
I made a few changes to #1426 and moved it from draft to ready for review.

[2020-01-10 22:28] keith-turner opened #1473 "Move TabletsMetadata builder to Ample"
Ample has methods to read the metadata for a single tablet.  In order to read the metadata for multiple tablets, the method `TabletsMetadata.builder()` must be used. The following is an example of some current code.

[code]

It would be nice if this were hanging off of Ample to make it discover-able.  This might look like the following.

[code]

There is one possible road block to making this chan

[2020-01-10 22:31] keith-turner commented on #1473
The reason this code is the way it is is that TabletsMetadata was created first as an abstraction layer for reading tablet metdata.   Later Ample was created as an abstraction layer for reading and writing all Accumulo metadata.   Not everything in TabletsMetadata has been transitioned to Ample

[2020-01-11 06:56] #1373 closed

[2020-01-14 16:11] ivakegg opened #1474 "Clone a table but leave offline"
When cloning a table via the shell, we should have the option to keep the table offline.

[2020-01-14 16:33] keith-turner commented on #1474
In #575 the ability to create tables in the offline state was added.  Would be worth looking at the API changes made for that in order to try and achieve consistency if possible.

[2020-01-14 16:54] #1350 closed

[2020-01-15 14:19] #1396 closed

[2020-01-16 17:32] #1456 closed

[2020-01-17 00:32] #1449 closed

[2020-01-21 17:03] milleruntime commented on #1415
Related to #1390

[2020-01-24 16:42] milleruntime commented on #1466
I was able to run helloworld insert example against 2.1.0-SNAPSHOT with the commit [dfceef696](https://github.com/apache/accumulo/commit/dfceef696e131bc838720ed93cd25179c67153a8) and did not see this error.

[2020-01-24 16:42] #1466 closed

[2020-01-24 17:18] milleruntime commented on #1415
Done in #1426

[2020-01-24 17:18] #1415 closed

[2020-01-24 22:56] ctubbsii opened #1482 "Broken tests in 1.x"
In 1.9 branch builds, I'm getting the following tests consistently failing:

* org.apache.accumulo.test.RecoveryCompactionsAreFlushesIT.test
* org.apache.accumulo.test.proxy.ProxyDurabilityIT.testDurability

Both are timeouts. It's possible that the test timing needs to be tuned a bit, but it's also possible that there's something else going on that is preventing the tests from passing. I have not

[2020-01-24 22:58] ctubbsii commented on #1482
On #1481, @milleruntime mentioned that VerifySerialRecoveryIT was also timing out on 1.x builds.

[2020-01-25 19:38] Manno15 commented on #1482
I can do some investigating as well this week.

[2020-01-27 18:28] milleruntime commented on #1482
I opened #1483 which should fix a few of the recovery tests.

[2020-01-27 19:14] milleruntime commented on #1482
I saw those 3 tests pass on my branch with the timeout.factor=3.  Here were the times I got:
[code]
Running Ubuntu 18 VM on EC2 m4.2xlarge

[2020-01-27 19:22] milleruntime commented on #1482
I think adding 2 minutes to the timeout for these 3 tests is appropriate.  They are all doing recovery, which now basically has a 45 second waiting period since the recovery cache change here: 828a3219fd4234dfa045c8a63e02285170afda96

Once I merge #1483 I will increase the timeout for these tests in 1.10 and master.

[2020-01-28 15:34] milleruntime commented on #1482
The only non replication test I am now seeing consistently fail is RollWALPerformanceIT.  This test was dropped in 2.x so maybe we should just drop it since it is nondeterministic.

[2020-01-28 18:46] ctubbsii opened #1485 "Broken GarbageCollectorIT"
GarbageCollectorIT is consistently failing, I suspect due to @milleruntime changes in #1479  to getting rid of relative path code:

[code]

[2020-01-28 18:50] ctubbsii opened #1486 "Broken SplitRecoveryIT"
SplitRecoveryIT has been broken in 2.1 builds lately, possibly due to @keith-turner changes in #1462 :

[code]

[2020-01-28 18:51] ctubbsii commented on #1486
1.x might also be affected, since #1462 was also merged into the 1.9 branch.

[2020-01-28 20:08] ctubbsii commented on #1482
It was removed from 2.x in 9d78365d8f4d7a97a7ca4f104fa107e1f900e5f9 because it was added to the accumulo-testing repo in apache/accumulo-testing#90 ; the accumulo-testing repo is only applicable to the 2.x code. We left the testing code for 1.x where it was. So... I'm not sure if we should remove it or not. I'm okay with leaving it for now as long as it passes regularly in CI.

[2020-01-28 21:21] ctubbsii commented on #1482
For this issue, I'm going to review all our default timeouts on my laptop... which I think has reasonable specs, and bump any that consistently fail. We should be able to run ITs on reasonable developer hardware. For reference, my laptop has an Intel i7-5500U CPU, 8G RAM, and an SSD.

[2020-01-28 21:36] #1474 closed

[2020-01-29 04:08] ctubbsii opened #1488 "ManyWriteAheadLogsIT is flakey"
While attempting to tune the timing of many of our ITs, I found that ManyWriteAheadLogsIT occassionally fails with an assertion error:

[code]

This occurs on the 1.9 branch, at the very least, but probably also affects the master/2.1 branch.

[2020-01-29 04:11] ctubbsii commented on #1488
Also, the test has a timeout of 10 minutes, but when I ran it on a modest laptop, when it passed, it did so in less than 35 seconds. So, the default timeout setting is way off from what we should expect if the test were working reliably.

[2020-01-29 18:55] milleruntime commented on #1323
@matthpeterson I'd like to learn more about the issue you are seeing to see if this is an appropriate solution to the underlying problem.

[2020-01-29 19:24] milleruntime commented on #1482
Ah right.  I thought this was one of the tests we ended up just dropping.  This one is probably affected by the increase in recovery time with the 45 second cache.  It will probably need to be re-written.

[2020-01-29 21:16] milleruntime commented on #1485
I am working on using TabletFile in this part of the code and it will fix this text.

[2020-01-30 16:32] milleruntime commented on #1485
OK after some tinkering, I believe the IT can be fixed independent of the next TabletFile change I am now working on.  The GC method that takes a string will have to stay like that due to the way the GC deletes directories.

[2020-01-30 16:54] #1485 closed

[2020-01-30 23:05] ctubbsii opened #1491 "Broken ChaoticBalancerIT"
The ChaoticBalancerIT keeps failing. I found the following in the master logs.

[code]

The code appears to fail here in ChaoticLoadBalanacer, when assigning `int index = r.nextInt(tServerArray.size());`

[code]

[2020-01-31 10:31] ctubbsii commented on #1491
This doesn't seem to be an issue in 2.x, because it was stabilized already by @milleruntime in ACCUMULO-4602 (520d23d85dfce9297bab887726322861163a1fb2). I'm going to backport those fixes to 1.x

[2020-01-31 11:11] ctubbsii commented on #699
Closing this inactive question.

[2020-01-31 11:11] #699 closed

[2020-01-31 11:13] ctubbsii commented on #407
Closing this based on last comments and age of ticket.

[2020-01-31 11:13] #407 closed

[2020-01-31 11:14] ctubbsii commented on #517
I think much of this is OBE by removal of srv:dir property. If there's still more related to this, please re-open or create a new tracking issue.

[2020-01-31 11:14] #517 closed

[2020-01-31 11:19] ctubbsii commented on #603
Is this still an issue? What versions does it affect?

[2020-01-31 11:20] ctubbsii commented on #666
Any progress on this?

[2020-01-31 11:22] ctubbsii commented on #742
Closing inactive question.

[2020-01-31 11:22] #742 closed

[2020-01-31 11:22] ctubbsii commented on #755
Closing inactive question thread.

[2020-01-31 11:22] #755 closed

[2020-01-31 11:26] ctubbsii commented on #958
This was been done in #1295 and #1236 , and will be supported in 1.10.0

[2020-01-31 11:26] #958 closed

[2020-01-31 11:33] alerman commented on #517
I concur. Thanks @ctubbsii

[2020-01-31 11:36] ctubbsii opened #1492 "Disable unreliable replication ITs"
As discussed on the mailing list, the flakey replication ITs should be disabled for now, until a contributor steps up to maintain the replication feature and related code, in order to stabilize builds and more reliably test actively maintained features.

Related to #1226 (That issue specifically mentions CyclicReplicationIT, but other replication ITs also fail similarly)

[2020-01-31 12:17] ctubbsii opened #1493 "AccumuloITBase should enforce a default timeout"
Our builds can sometimes get stuck for long periods of time or forever (until killed). We should enforce a default timeout for all our integration tests by updating the `defaultTimeoutSeconds()` method in `AccumuloITBase` to enforce a global default timeout (5 minutes?).

Some tests may be taking longer than this default, so all tests should be run after applying the new default, and overrides est

[2020-01-31 13:48] #1491 closed

[2020-01-31 13:48] #1482 closed

[2020-01-31 14:53] ctubbsii commented on #1458
Other (non-test) references that might also benefit from using nanoTime can be found with:
[code]

[2020-01-31 17:24] milleruntime commented on #1493
5 minutes seems a little short, since there are many that run around the 4 minute mark... we should probably just go with the max test timeout (if its reasonable).  Quick at the overrides and seems like 10 minutes.

[2020-02-03 18:06] #1420 closed

[2020-02-03 18:50] EdColeman commented on #1049
The ability to require a number of tservers and a max wait time have been merged into the baseline.

1.9: https://github.com/apache/accumulo/pull/1158
2.0: https://github.com/apache/accumulo/pull/1204

[2020-02-03 18:50] #1049 closed

[2020-02-03 18:55] EdColeman commented on #946
PR: https://github.com/apache/accumulo/pull/1379 - added improved metadata consistency checking - this may be another candidate for improved reporting.  Initially considered adding it to the gc metrics improvements, but decided that a more comprehensive look and additional testing makes it better suited as a separate change.

[2020-02-03 20:18] EdColeman commented on #693
Closing for the same reason as: https://github.com/apache/accumulo/issues/1049.

The ability to require a number of tservers and a max wait time have been merged into the baseline.

1.9: #1158
2.0: #1204

[2020-02-03 20:18] #693 closed

[2020-02-06 14:01] cradal commented on #1430
Currently working on this one.

[2020-02-06 17:24] milleruntime commented on #1169
I think this was completed with the new option in https://github.com/apache/accumulo/pull/1158
It is not what you described here but I think it addresses the same problem.

[2020-02-06 17:29] milleruntime commented on #1169
Nevermind.  Ed's change in #1158 solves the problem restarting the master with the whole cluster.  But it looks like your talking about restarting a large group of tablet servers themselves.

[2020-02-10 15:42] milleruntime commented on #1486
This should be fixed when #1501 is merged. I think this was a case where TabletFile was used for part of the code, mismatching types and caused the ImmutableMap to fail.

[2020-02-10 20:42] milleruntime commented on #1488
This test is passing for me in master branch.

[2020-02-10 22:00] keith-turner opened #1502 "Determine if files are deleted from metadata table when using volume.replacements"
It's possible that when a tablet is loading and it replaces volumes that it may forget the original strings that are stored in the metadata table.  This would cause compactions to not delete the files being compacted from the metadata table.  Not completely sure if this is the case, opening this issue to investigate.  Noticed this while reviewing #1501

[2020-02-11 13:22] milleruntime commented on #1502
I was able to confirm that "something is not right" when taking your suggestion on #1501 and throwing an Error on TabletFile.getMetadataEntry().  I ran VolumeIT (I think the only test where we use replacements) and it will just hang on the verify scan during testCleanReplaceVolumes().

[2020-02-11 13:29] milleruntime commented on #1502
Some more info from VolumeIT.testCleanReplaceVolumes() hanging... a jstack on the pid shows:
[code]
And the client log shows:
```2020-02-11 08:21:23,450 [clientImpl.ThriftScanner] DEBUG: Failed to locate tablet for table : 1 row : ```

[2020-02-11 14:44] milleruntime commented on #1502
Nevermind this stacktrace was for a bug I had in my code.

[2020-02-11 15:16] milleruntime commented on #1502
I was able to see an error when initializing a Tablet with the replaced volumes but this is expected since the file is in the list of fliesToAdd when updating tablet volumes.
[code]

[2020-02-11 15:43] billierinaldi opened #1503 "Make branch 1.9 compatible with ZooKeeper 3.5"
In ZooKeeper 3.5, the zookeeper jar has been moved from ZOOKEEPER_HOME to ZOOKEEPER_HOME/lib. Some things that need to be fixed in the 1.9 branch to support ZK 3.5 are:
- The start-all.sh script validates the existence of the jar at maxdepth 1, which could be changed to maxdepth 2 to locate the jar for 3.5: https://github.com/apache/accumulo/blob/1.9/assemble/bin/start-all.sh#L48
- The general.cla

[2020-02-11 15:45] karthick-rn commented on #1503
@billierinaldi, Can I start working on this?

[2020-02-11 15:51] billierinaldi commented on #1503
Sure! Thanks, @karthick-rn.

[2020-02-11 17:05] Manno15 commented on #1488
I am having trouble reproducing this error, both on 1.9 and on the master branch. What command did you use to run this IT or did you run the entire suite of IT's when running into this bug?

[2020-02-11 17:06] ctubbsii commented on #1488
@Manno15 I was running the entire suite in Jenkins, but to reproduce, I would probably repeatedly run something like: `mvn clean verify -Dtest=blah -Dit.test=ManyWriteAheadLogsIT -Dspotbugs.skip -Dcheckstyle.skip`; the assertion error on the 1.9 branch was particularly concerning to me, since it was more than a simple timeout.

[2020-02-11 17:09] ctubbsii commented on #1486
@milleruntime If you're confident that fixed it, I'll go ahead and close this issue. We can reopen if we see it again.

[2020-02-11 17:09] #1486 closed

[2020-02-11 17:14] Manno15 commented on #1488
@ctubbsii That's how I am running it. Still not hitting the error. Interesting.

[2020-02-11 17:34] ctubbsii commented on #1488
It might be rare. We could close it as not reproducible, but I'd feel a bit more comfortable if we had an explanation for how the above error could occur.

[2020-02-11 17:37] Manno15 commented on #1488
I will take a deeper investigation into the IT.

[2020-02-11 18:05] ctubbsii commented on #1430
Awesome @cradal . Let me know if you run into any issues.

[2020-02-11 18:45] #1458 closed

[2020-02-11 20:34] jzgithub1 commented on #1435
@ctubbsii ,  this is the only error I see when running this test  but it is not related to OOME.  The call to deleteLock in killMacGc  always fails.

`2020-02-11 14:59:33,790 [functional.ConfigurableMacBase] ERROR: Unable to delete ZooLock for mini accumulo-gc
java.lang.IllegalStateException: No lock is held at /accumulo/8d868a12-346d-4e31-98ba-fed5f5e04a16/gc/lock
	at org.apache.accumulo.fate.zoo

[2020-02-11 21:36] ctubbsii commented on #1435
I think this was fixed in #1441 (b0bbff007d372fb3a9e3c4c4f900e063a65a40b1)

[2020-02-11 21:36] #1435 closed

[2020-02-11 22:05] milleruntime opened #1507 "Throw Exception to prevent incorrect metadata"
Follow on work for #1501.  With the new TabletFile, we can now prevent metadata paths being incorrectly written (or not deleted) if an exception is thrown.  One way to do this is to have different methods on TabletFile to get the metadata entry depending if it is needed for reading, updating, inserting, or deleting.  If the path is needed for reading or inserting, we can use the normalized path.

[2020-02-11 22:07] milleruntime commented on #1267
@keith-turner is this the same as https://github.com/apache/accumulo/issues/1507 ?  It sounds similar... perhaps just related.

[2020-02-11 22:16] keith-turner commented on #1267
@milleruntime I think this is more similar to #1377.  I was thinking of the case where the master and gc scan the metadata table and the scan returns zero tablets.  I think this issue is too vague and could be closed in favor of #1377

[2020-02-11 22:16] #1267 closed

[2020-02-12 03:23] arvindshmicrosoft commented on #1464
FYI I'm starting to work on this, so if this issue can be assigned to me it would be appreciated.

[2020-02-12 15:27] jzgithub1 commented on #1488
@ctubbsii ,  I have run this test inside of IntelliJ IDE on repeat mode for 30 times and have not seen the test fail in the way you show up above.  Maybe allowing the number of open WALs to be 0 is what you want to do.  That way the assertTrue on line 212 in addOpenWals in ManyWriteAheadLogsIT.java won't throw an assertion error:
[code]
changed to:

[code]

[2020-02-12 18:13] ctubbsii commented on #1488
I ran the following to try to reproduce, expecting it to take some time:
[code]

It failed on the first attempt with:

[code]

It is possible that @jzgithub1 's suggestion to include `0` as a possible value in the test will "fix" the test, but without investigating further, I suspect, doing so would merely circumvent the test case the IT is looking for.

[2020-02-12 18:17] milleruntime opened #1508 "ITs failing since introduction of tablet event logging"
MergeStateIT and VerifySerialRecoveryIT have been failing since d73e3af870.  I think this is a bug with  this change (that hasn't been fixed by subsequent changes) since the tests were passing before this commit.

[2020-02-12 19:55] milleruntime commented on #1508
I think VerifySerialRecoveryIT was broken with a different change in 87ad69931f79c0755ac967d74ad3c9ca3868fa40

[2020-02-12 20:56] milleruntime commented on #1508
After doing some git bisect, I think VerifySerialRecoveryIT is failing due to #1480

[2020-02-12 21:07] milleruntime commented on #1508
The same for MergeStateIT

[2020-02-12 23:11] ctubbsii commented on #1508
I can confirm that reverting #1480 (e22ea93786281324702e36b1dc0c151a6be1fa7c) fixes both tests.

[2020-02-13 00:46] #1508 closed

[2020-02-13 01:12] ron-rico commented on #1428
Greetings, I am a new developer working on Ivan Bella 's team. Please assign this issue to me.

[2020-02-13 03:51] ctubbsii commented on #1428
Hi @ron-rico. I will assign the issue to you, to document your interest in working on this task.

However, please be aware that outside affiliations do not grant any special roles or privileges within the community. From the perspective of the Apache Software Foundation, all contributions to Foundation projects are done on an individual voluntary basis. Acceptance of contributions and recognition

[2020-02-13 14:12] cradal commented on #1430
Here is a possible non-time-based  solution, although it is admittedly naive and has a pitfall. What about appending the Accumulo version number that the table was created under to the table name? We could set the user limit to 1024 characters, but have the internal limit to 1027 where the last three chars identify the Accumulo version (e.g. ...tablename1.9). In this way, the validation function c

[2020-02-13 14:41] ctubbsii commented on #1430
The primary action for this issue is to simply impose the limit for new table names. There is no need to distinguish between tables created prior to the restriction being imposed, and after.

An optional secondary action is to log a warning with a recommendation to rename tables with names longer than the current limit. For that, there length of the current name is sufficient. There is still no ne

[2020-02-13 16:04] milleruntime commented on #1249
@jmark99 are you still looking at this?

[2020-02-13 16:20] milleruntime opened #1510 "Use Bulk import status for new bulk import"
There is a bulk import status baked into Accumulo for legacy bulk import process.  This gets displayed on the Monitor and was fixed for 2.X [here](https://github.com/apache/accumulo/issues/475).  It would be nice to have this work for the new bulk import and displayed nicely.  Here are the [states](https://github.com/apache/accumulo/blob/3fd5cad92f9b63ac19e4466f3f2d5237b905262c/core/src/main/java/

[2020-02-13 17:58] ctubbsii commented on #1510
Since Accumulo itself does a lot less work on the server side for the new bulk imports, the value in showing status is probably pretty limited (first, because there are fewer server-side states, and second, because they should transition to completion faster), but it may still be worth showing some status.

[2020-02-14 13:47] keith-turner commented on #1502
At the hackathon Tue I worked with @karthick-rn and @milleruntime and determined this not an issue.  @milleruntime found the place in the source where the delete happens, it happens when the tablet is loaded.  @karthick-rn ran a test on an Accumulo 2.0 cluster causing replacement to happen and we saw it functioned correctly.

[2020-02-14 13:47] #1502 closed

[2020-02-14 14:32] ctubbsii opened #1512 "CombinerTest shouldn't test by trying to capture logs"
The CombinerTest uses a questionable mechanism to test the expected logging behavior. It tries to hijack the log4j system, dynamically reconfiguring the logger with an appender that tries to capture log messages for the test.

This is unreliable and prevents upgrading to log4j2, which does not support such dynamic reconfiguration of logging, and whose APIs have changed significantly from log4j 1.2

[2020-02-14 14:34] ctubbsii commented on #831
Closing for reasons previously discussed.

[2020-02-14 14:34] #831 closed

[2020-02-14 14:38] ctubbsii commented on #1062
This won't be possible in log4j2 right now, since the SocketServer code is in a separate log4j-tools jar, which has not yet been released. It could be possible in future, but I'm closing this for now, since the effort is probably not worth it.

[2020-02-14 14:38] #1062 closed

[2020-02-14 14:39] #1116 closed

[2020-02-14 14:45] #1503 closed

[2020-02-14 16:24] billierinaldi opened #1513 "Support ZK 3.5 in Accumulo 2.x"
To make the accumulo-env.sh script work out of the box for ZooKeeper 3.5 and earlier versions, we need to add the ZooKeeper lib directory to the classpath alongside the ZooKeeper home directory which we already have: https://github.com/apache/accumulo/blob/master/assemble/conf/accumulo-env.sh#L62. We should try out the modified script with ZK 3.4 and 3.5 to make sure it works for both.

[2020-02-14 16:59] ctubbsii commented on #1513
It may be sufficient to add `$ZOOKEEPER_HOME/lib/*` to the `CLASSPATH`, but should be tested.

[2020-02-14 18:09] ctubbsii opened #1514 "Update logging dependencies for log4j2"
pom.xml files need to be updated to include log4j2 jars, remove log4j1 jars, exclude any transitive log4j1 stuff from the class path, and add any appropriate log4j2 bindings

any packaged jars for the tarball need to be updated as well

[2020-02-14 18:10] ctubbsii opened #1515 "AccumuloMonitorAppender needs to be updated for Log4j2"
The AccumuloMonitorAppender should not use the SocketServer feature, and should instead find some other mechanism to forward logs to the Accumulo Monitor.

[2020-02-14 18:13] ctubbsii opened #1516 "Log4j config files need updated for log4j2"
Default log4j configuration files should be updated for log4j2. This includes any configuration files we package in our tarball, as well as any we have for testing.

I would appreciate help from anybody who might be familiar with log4j2 configuration files to translate our existing configuration files over.

[2020-02-15 07:28] thanujayalath commented on #1513
@billierinaldi Can I work on this?

[2020-02-18 10:45] karthick-rn commented on #1513
@ctubbsii @billierinaldi - I can work on this.

[2020-02-18 14:34] keith-turner commented on #1062
It would have been a cool feature, but I agree its probably not worth the effort.

[2020-02-18 14:37] jmark99 commented on #1249
@millerruntime yes, I’ve been away for two weeks on vacation. Just getting back today.

From: Mike Miller <notifications@github.com>
Sent: Thursday, February 13, 2020 11:05 AM
To: apache/accumulo <accumulo@noreply.github.com>
Cc: Mark Owens <jmark99@apache.org>; Mention <mention@noreply.github.com>
Subject: Re: [apache/accumulo] Allow FATE operations to report goal and status information. (#1249)

[2020-02-18 16:59] #1493 closed

[2020-02-18 19:57] dan-blum opened #1520 "UnsynchronizedBuffer max array size is too large"
When the current array size is greater than 2^30 nextArraySize returns Integer.MAX_VALUE. While this is the theoretical maximum size for a Java array, a given JVM can have a smaller maximum size. For example, HotSpot (at least the build I tested) has a maximum size 2 bytes less than this, so when creating a large Mutation UnsynchronizedBuffer.reserve can throw "java.lang.OutOfMemoryError: Requeste

[2020-02-18 20:10] jzgithub1 commented on #1428
@ron-rico - take a look at the AccumuloClusterHarness.java class on line 362.
Maybe changing changing the function to:
[code]
 might work.

[2020-02-18 20:42] milleruntime commented on #1512
Looked at this test briefly and I think it is overly complicated.  I will look at it again but I think we can just remove the log4j stuff and test the cache if the error was logged.

[2020-02-18 22:47] ctubbsii commented on #1512
@milleruntime I initially assigned it to myself, because I expected to work on it, but if you have a good idea for how to improve it, I'd be happy to pass it off to you. I think you're right that it should be sufficient to check the cache.

[2020-02-18 22:55] ctubbsii commented on #1520
@dan-blum Creating a mutation that large seems like a bad idea. The exception seems like a reasonable one to throw under circumstances involving such a huge mutation. At the very least, it seems better to let the JVM throw that exception than to try to accommodate specific JVM behaviors.

Is there a way to determine programmatically the actual JVM limit? Or, do you have an alternate solution for l

[2020-02-18 23:15] dan-blum commented on #1520
I agree, but you'd have to convince the people actually using it.

In 2.0.0 Mutation will in fact throw a good exception when you're about to put data that will make the overall Mutation size grow too large, which I think is fine.

Note that this is the overall mutation size, not just this buffer. So in fact if this buffer ever got close to MAX_VALUE in size the Mutation would fail anyway, regardl

[2020-02-18 23:16] dan-blum commented on #1520
Note, in case it's not clear - the OutOfMemory exception gets thrown when the buffer exceeds half the maximum size. That is admittedly large but it's not pushing the limit.

[2020-02-18 23:19] ctubbsii commented on #1520
That would almost certainly happen later, when the mutation is put on the wire by Thrift.

[2020-02-18 23:26] ctubbsii commented on #1520
I'd be fine with updating UnsynchronizedBuffer to use that instead, since it's hard-coded in ArrayList, and likely a stable enough number to use. Though... anybody creating mutations big enough to hit this will still be asking for trouble elsewhere. Although we don't impose a limit, I'd subjectively say that anything larger than low 10s of MBs for a mutation is probably too large.

[2020-02-18 23:34] mjwall commented on #1520
This is handled in 2.0 I think see https://issues.apache.org/jira/browse/ACCUMULO-4709 and https://issues.apache.org/jira/browse/ACCUMULO-4708

[2020-02-19 14:29] milleruntime commented on #1512
OK I have a fix which removes the log4j and just checks the size of the cache to see if it was logged or not.  I think that is sufficient.  There is no need to check the string of the logger to make sure the error was logged.

[2020-02-19 14:31] dan-blum commented on #1520
It's not handled in 2.0 - when the buffer first gets beyond 2^30 bytes it will throw an exception, long before the overall Mutation size reaches the limit.

[2020-02-19 14:32] dan-blum commented on #1520
I agree that creating very large Mutations is probably not a great idea

I agree, but note that there's no way (at least as of 1.9.3, I didn't check 2.0) for the caller to see just how large the Mutation has gotten.

[2020-02-19 14:37] #1512 closed

[2020-02-19 14:55] mjwall commented on #1520
Hey @dan-blum, sorry I didn't mean to imply this issue is fixed in 2.0.  Only that the OOM appears to be handled *better* in 2.0 and link the existing tickets for that change.

[2020-02-19 17:36] ctubbsii commented on #1512
Awesome! Thanks @milleruntime !

[2020-02-19 23:34] #1520 closed

[2020-02-20 04:55] ctubbsii opened #1525 "Occasional VolumeIT failure on 1.9 branch"
I'm seeing this occasional failure from VolumeIT on the 1.9 branch. This most recent failure occurred as of commit b67d3f93eea742523a98af95ca3a7aaceda5a990, but I've seen it earlier than that commit, so it's not new. I'm putting the specific commit down so the line numbers are easier to track down.

#### Error Message
[code]

#### Stacktrace
[code]

[2020-02-21 12:57] ctubbsii opened #1529 "Update test log4j.properties files to log4j2-test.properties files"
Throughout our code, we have multiple src/test/resources/log4j.properties files.

It's not clear to me how many, if any, of these are still needed for our tests, since we tend to redirect test output to a file anyway.

For any that we need to keep, they should be migrated to use log4j2-test.properties instead.

Perhaps the most important one is the one for our integration tests, which is currently

[2020-02-21 16:21] ron-rico commented on #1428
Hi @ctubbsii ,
How would you suggest I test this issue once I integrate my code changes to default to RawLocalFileSystem? Sync is mentioned. Is there a unit test touches this sync function?
Thanks.

[2020-02-21 17:02] ctubbsii commented on #1428
DurabilityIT is one such IT. It currently overrides the LocalFileSystem to be RawLocalFileSystem, as do several other tests where it might matter. As long as those ITs pass, that should be sufficient. You need not wait until the ITs pass for you before you submit a PR. I can test the ITs once the PR is created and the change is reviewed.

[2020-02-24 21:57] #1514 closed

[2020-02-24 21:57] #1515 closed

[2020-02-24 21:57] #1516 closed

[2020-02-24 21:57] #1529 closed

[2020-02-24 22:10] #1226 closed

[2020-02-24 22:12] #1513 closed

[2020-02-26 20:31] EdColeman opened #1532 "Class not found org/apache/tools/ant/taskdefs/Execute - used by commons-configuration"
This is likely something in my environment / tooling but wanted to document what I am seeing in case this is a more general issue with dependencies / java runtime version.

Environment:

Accumulo: current 1.9 branch (1.9.3+)
java: openjdk full version "12.0.1+12"
IntelliJ:  IntelliJ IDEA 2019.3.3  Build #IU-193.6494.35, built on February 10, 2020
macOS 10.15.3

Trying to run IT tests with legacy m

[2020-02-26 20:58] milleruntime commented on #1532
I see you are using JDK 12... perhaps this is a change from 11 to 12.  I haven't tried running 12 yet.

[2020-02-26 21:15] ctubbsii commented on #1532
In the 1.9 branch, we have a dependency on commons-configuration 1.6. That dependency's pom.xml declares an optional dependency on an older version of ant:

[code]

It appears that your IDE is trying to include that dependency, but it is unavailable on your IDE's class path. I do not know enough about IntelliJ to know why it's even trying to include this dependency at all, but it is most certainly

[2020-02-27 13:27] milleruntime opened #1533 "Convert Translators to lambdas"
The custom paramaterized classes [Translators](https://github.com/apache/accumulo/blob/master/core/src/main/java/org/apache/accumulo/core/clientImpl/Translators.java) and [Translator](https://github.com/apache/accumulo/blob/master/core/src/main/java/org/apache/accumulo/core/clientImpl/Translator.java) can now be replaced with Java built in Lambda functions.

[2020-02-27 13:45] milleruntime opened #1534 "GarbageCollectorIT.gcLotsOfCandidatesIT failure"
The GarbageCollectorIT is currently failing, specifically gcLotsOfCandidatesIT is timing out.

[2020-02-27 13:56] cradal commented on #1507
@milleruntime Hello. I was looking at this issue as my possible next task, but I see some things which indicate some work might have already been done. For example, the metadataEntry field in TabletFile errors out if an attempt is made to instantiate it with a null metadataEntry. Hence, it seems that any call to getMetaDataEntry() will return something. Also, getMetadataEntry() is already being ca

[2020-02-27 14:27] milleruntime commented on #1507
Yes it is almost completed in #1519.  Thanks for the ping though I had forgotten I created an issue!

[2020-02-27 16:08] milleruntime commented on #1532
This isn't a build environment issue.  I was able to reproduce this error on the command line running the GcMetricsIT and enabling the two properties, ```gc.metrics.enabled``` and ```general.legacy.metrics```.   The issue was introduced with the backport of GC_METRICS_ENABLED in the commit 0d7d976085ca06ce0d303151803824386dbc6ad2.  There should be a test for this feature as well.

[2020-02-27 16:11] milleruntime commented on #1532
If this a conflict with the legacy metrics and the GC metrics, we may have to drop the support for legacy metrics if it is polluting the classpath with really old commons-configuration.

[2020-02-27 16:26] ctubbsii commented on #1532
I see. Since we've already dropped support for the legacy metrics in 2.x and upgraded to commons-configuration2, it kind of feels like this backport might be more trouble than it's worth... causing us to revisit already solved issues.

If backporting these GC metrics to 1.x is going to cause significant problems that can't easily be worked around, I'm inclined to just revert those changes in 1.x a

[2020-02-27 18:38] #1507 closed

[2020-02-27 18:53] milleruntime opened #1535 "Investigate empty files in Major Compactions"
I noticed while working on #1519 that if a Major compaction produces an empty file that it will still be added to the list of majorCompactingFiles.  This happens [here](https://github.com/apache/accumulo/blob/1.9/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/DatafileManager.java#L596). This is different from the rest of the code which checks if ```DataFileValue.getNumEntries() >

[2020-02-27 19:47] #1532 closed

[2020-02-27 19:48] ctubbsii commented on #1532
Fixed in 3779cf9de0a286d951f0bd92553edb345f1ada8e

[2020-02-28 00:58] keith-turner commented on #1451
An alternative approach : apache/accumulo-website#223

[2020-02-28 19:39] jzgithub1 commented on #1525
@ctubbsii ,  this consistently fails for me on the 1.9 branch.  I am looking into this.

[2020-02-28 20:06] cradal commented on #1473
@keith-turner I would like to delve into this issue. However, I can only see one build() method in TabletsMetadata, the one that takes a client. Has some work on this already been done?

[2020-02-28 21:26] keith-turner commented on #1473
@cradal  looking at history, I think the changes in 8c9a4e1 removed the other build method.  This changes is still valid and the changes in 8c9a4e1 may make this change easier.

[2020-02-28 21:32] jzgithub1 commented on #1525
@ctubbsii , @milleruntime  This commit broke the VolumeIT.testRemovesVolumes (it is a consistent error for me not occasional) :

commit 7513626cc504e5d93760c4218868dcb2dd6d49a5 (HEAD)
Author: Mike Miller <mmiller@apache.org>
Date:   Wed Feb 12 08:28:02 2020 -0500

    Optimize Tablet volume replacement (#1505)

    * Stop volume replacements from checking every file when not used

[2020-02-28 22:32] ctubbsii commented on #1473
@cradal I've set the assignee to you, since you have expressed interest in this. :smiley_cat:

[2020-03-02 16:46] #1535 closed

[2020-03-02 19:14] cradal commented on #1473
@keith-turner My idea for this is to define readTablets in the Ample interface, where it would take the TableId vice the KeyExtent as a parameter. Then an Options object can be built forTable(tableId) in the implementation.

[2020-03-02 19:29] ron-rico commented on #1428
The class ConfigurableMacBase is extended by many IT classes.
The class ConfigurableMacBase has a protected method called configure that passes properties
for MiniAccumulo configuration and hadoop configuration .
In many instances the IT classes that extend ConfigurableMacBase override the configure method
to define the FileSystem type as RawLocalFileSystem (the hadoop configuration) with the poin

[2020-03-02 21:23] ctubbsii commented on #1428
@ron-rico You shouldn't have to touch any code in the `test/` module to implement the change, only in the `minicluster` module. After doing so, it may be possible to remove some redundant configuration that sets it to `RawLocalFileSystem` in the `test/` module, but it shouldn't be necessary to implement.

That said, this one might be more complicated and annoying that I had realized at first:

The

[2020-03-02 21:59] jzgithub1 commented on #1534
@milleruntime ,  I am looking into this.  It fails one time out of 10 consecutive runs for me.  I am trying to see how I can check if the lock is held before trying to delete it in the killMacGc function in the GarbageCollectorIT.  It only times out trying to remove the lock for some reason.

[2020-03-02 23:56] ctubbsii commented on #1534
@jzgithub1 Do you know where in the code it is getting stuck? Can you run jstack on the process to see what it's doing?

[2020-03-03 14:28] jzgithub1 commented on #1534
@ctubbsii  between 10-20% of the runs I do fail here:
`020-03-02T17:01:02,678 [functional.ConfigurableMacBase] ERROR: Unable to delete ZooLock for mini accumulo-gc
java.lang.IllegalStateException: No lock is held at /accumulo/ebab5cc3-cdad-43fc-980b-c79a4fbda200/gc/lock
	at org.apache.accumulo.fate.zookeeper.ZooLock.deleteLock(ZooLock.java:499) ~[classes/:?]
	at org.apache.accumulo.test.functional

[2020-03-03 16:55] milleruntime commented on #1534
@jzgithub1 thanks for looking at this.

I have seen that ```TestTimedOutException``` but I am not sure how useful that is.  The same goes with the similar client exception I have seen:
[code]

We need to figure out what is happening on the server side that is causing the timeout.  Try doing a ```jstack``` on the pid of one of the IT processes.

[2020-03-03 17:03] EdColeman commented on #1534
Could there be a race condition with the shutdown?  From one of the stack traces it seemed to hint that the gc was shutdown (which should remove the lock) and then the clean-up is trying to delete the now non-existant lock.

If that is the case, then if gc shutdown is called, the delete could accept that the lock has already been removed by catching / ignoring the node does not exist exception.

O

[2020-03-03 17:04] #1525 closed

[2020-03-03 18:06] milleruntime commented on #1534
Looking at the IT, it is waiting for a specific output, which could have changed:
[code]

[2020-03-03 18:13] milleruntime commented on #1534
The output I think it is waiting for is here:

https://github.com/apache/accumulo/blob/e4b69f976c7223ff7dc3fd930462c323da0ef7ae/server/gc/src/main/java/org/apache/accumulo/gc/SimpleGarbageCollector.java#L219-L222

Perhaps with recent improvements, it is not running out of memory so never meets this condition.

[2020-03-03 18:25] jzgithub1 commented on #1534
I never hit those lines when I set breakpoints in them.

[2020-03-03 18:34] milleruntime commented on #1534
Are you seeing this in the SimpleGarbageCollector error log?
[code]

[2020-03-03 18:34] jzgithub1 commented on #1534
Let me look.

[2020-03-03 18:57] jzgithub1 commented on #1534
@milleruntime ,  I saw:
`Exception: java.lang.OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "org.apache.accumulo.gc.SimpleGarbageCollector"
Exception in thread "Thread-5" java.lang.OutOfMemoryError: Java heap space`

[2020-03-03 19:03] milleruntime commented on #1534
OK it looks like the SimpleGarbageCollector is running out of memory before it can call ```almostOutOfMemory``` I posted above.

[2020-03-03 19:19] jzgithub1 commented on #1534
I wrapped the call gc.runServer() in the main function of SimpleGarbageCollector in a try catch like this and did not hit a breakpoint set in the log.error statement I wrote:
[code]

[2020-03-03 20:31] jzgithub1 commented on #1534
@milleruntime or @EdColeman ,  I tailed all of the logs while running the test and when it does fail I see a connection loss to ZooKeeper in the TabletServer log.
`./test/target/mini-tests/org.apache.accumulo.test.functional.GarbageCollectorIT_gcLotsOfCandidatesIT/logs/TabletServer_812067704.out <==
2020-03-03T15:02:01,081 [zookeeper.ZooReader] WARN : Saw (possibly) transient exception communicati

[2020-03-03 20:37] milleruntime commented on #1534
I think the changes I made in 87ad69931f79c0755ac967d74ad3c9ca3868fa40 changed the timing of the test since it used to run out of memory but it would happen at a different time.  I am going to play around with the IT to see if I can get the timing right.

[2020-03-03 21:24] EdColeman commented on #1534
If things are running out of physical memory I suppose that all sorts of errors could pop up.  You might want to check if things are swapping to disk while the test is running.  (linux free, top... command) If not, then it could be hitting the JVM limits and doing expensive stop-the-world gcs - might be info in the logs if gc details are enabled, if not you may be able to enable them.  On a physic

[2020-03-03 21:29] milleruntime commented on #1534
I am pushing a fix... it had to do with the Java GC not having enough memory to start the process.  The test was manually setting the default memory to 16MB, which wasn't enough.  The Java GC for mini was changed in 33d8f2039541addc96849bce55e6fff3265957c8

[2020-03-03 21:32] jzgithub1 commented on #1534
@milleruntime ,  thanks  a lot.  Looking forward to testing it out.

[2020-03-03 21:46] ctubbsii commented on #1525
Historical note: the failure did not affect 2.1 branch, and the revert was not applied there.

[2020-03-03 21:46] #1534 closed

[2020-03-03 22:08] ctubbsii opened #1542 "TransportCachingIT.testCachedTransport sometimes fails"
Saw a failure of the transport cache in a recent build of master (commit
e4b69f976c7223ff7dc3fd930462c323da0ef7ae , for reference, but the failure seems unrelated to that commit)

[code]

[2020-03-03 22:20] ctubbsii opened #1543 "Use batching strategy for SimpleGarbageCollector candidate memory utilization"
The SimpleGarbageCollector tries to gather, check, and delete candidate files for garbage collection without running out of memory. It currently tries to do this by monitoring its own memory utilization when filling up its internal data structure of candidates, and then processing them before memory is full (or near full), clearing, and resuming collection of more candidates.

This makes the SGC h

[2020-03-03 22:26] ctubbsii commented on #1534
The G1GC (the default GC in newer JVMs) has more overhead, and can very quickly run out of memory on a JVM configured with too little memory. We saw the same issue in Upgrader9to10 and fixed it in #1441. I checked other places in our ITs to see where we set the JVM memory size for processes launched by mini, and this was the only one as low as 16MB. 32MB seems to be a reasonable minimum for G1GC.

[2020-03-04 18:05] jzgithub1 commented on #1488
@ctubbsii ,  I tried to force the situation of more WALs being open by reducing the TSERV_WALOG_MAX_SIZE to 850K but that caused the test to fail.  Raising it to 2M caused failure also.  I have reached the point of diminishing returns working on this issue and I really only have the the idea I posted above.  I will disengage from this issue for the time being.  Let me know if you would like me to

[2020-03-04 18:06] jzgithub1 commented on #1542
@ctubbsii ,  I working on this now.

[2020-03-04 18:15] milleruntime commented on #1542
This is sporadic but I did see this failure locally after a few attempts.

[2020-03-04 20:37] keith-turner commented on #1473
@cradal are you thinking of adding something like :

[code]

Where TableOptions is like the following except it does not have `forTablet(KeyExtent extent)`?

https://github.com/apache/accumulo/blob/a7251c3e970e815dfc8e49685a207ff7f5696ab8/core/src/main/java/org/apache/accumulo/core/metadata/schema/TabletsMetadata.java#L266

I think that is the direction I would start with if I were working on it.

[2020-03-05 19:51] milleruntime commented on #1397
Unassigned myself as I am currently not working on this.  The replacement of relative paths on upgrade and removal of relative path code is done.  Removal of the old properties still needs to be done.

[2020-03-08 06:49] ctubbsii opened #1554 "Saw periodic failure of SummaryIT due to missing RFile"
The following is the error.

[code]

Evidence from the logs show the file was previously compacted.

[code]

[2020-03-09 14:27] cradal commented on #1473
@keith-turner How about something like this?:
    TableRangeOptions builder = TabletsMetadata.builder().forTable(tableId);
If I understand correctly, this will obtain a Range that corresponds to all the tablets for a partitioned table. Then, Ample.readTablets() could be implemented in AmpleIMpl, without modifying TabletsMetadata.

[2020-03-09 20:57] keith-turner commented on #1473
@cradal if I were attempt this I think I would take the builder interfaces in TabletsMetadata and move them to Ample.  I would leave the implementation of the interfaces in TabletsMetadata.  Not sure if this approach will work, but its what I would try to start with.

[2020-03-10 17:05] jzgithub1 commented on #1488
@ctubbsii ,  the addOpenWals function ( where that assert statement exists)  is called on lines 140 and 183.  You are observing it fail on line 140 from the call stack above.  At that point in the test neither of the two BatchWriters have been flushed to at all.  On my system there are two open WALs after the addOpenWals function on line 140 (I would have thought there would be zero at that point)

[2020-03-10 18:54] milleruntime commented on #1488
The original issue that this IT was added, may still exist in 1.9.  https://github.com/apache/accumulo/issues/1336

[2020-03-10 19:01] ctubbsii opened #1557 "WalStateManager does not see a consistent snapshot of WAL state in ZK (race condition)"
WalStateManager does multiple ZooKeeper lookups to gather the state of the WALs. This can lead to race conditions, although it is not clear to what extent these matter. This should be investigated further.

`WalStateManager.getAllMarkers()` does one ZK lookup for the children of `/wals`, which gets the list of tservers, then loops through that and gets the WALs under each of those with separate ZK

[2020-03-11 14:42] drewfarris opened #1559 "Consider implementing failsafe to prevent large number of tablet assignments in bulk import"
We encountered an issue where our software produced a set of poorly partitioned rfiles and then attempted to bulk import them into Accumulo. Each of these files had data that corresponded to nearly every extent for a given table. This resulted in a very large number of  major compactions and it took quite awhile to work through these due to namenode contention, e.g: in `getBlockLocations`.

It wou

[2020-03-11 16:15] ctubbsii commented on #1559
Is this a problem with the new bulk import API?

[2020-03-11 16:26] milleruntime commented on #1559
I think this can still happen in the new bulk import for 2.x as well.  The version used was 1.9 but I think this is more of an enhancement to prevent bad data from causing catastrophic failures.

[2020-03-11 17:48] ron-rico commented on #1533
Please assign this issue to me.

[2020-03-11 19:50] EdColeman opened #1561 "Explore alternatives for metrics."
The [micrometer metrics facade](https://micrometer.io/) may be an alternative to hadoop metrics2 that might be able to simplify / enhance our current metrics.  This issue is to document what changes this would require.

[2020-03-11 20:26] milleruntime commented on #1434
I am no longer planning on doing research for this so closing.

[2020-03-11 20:26] #1434 closed

[2020-03-11 20:28] milleruntime commented on #1390
I think the work that needed to be done in the code for this is done.  So closing.  There is a separate ticket for documentation that is still open #1416

[2020-03-11 20:28] #1390 closed

[2020-03-11 20:32] EdColeman commented on #1434
Isn't this something that will need to be done (eventually)?  When that day comes, would any work done now be OBE,?  Are there steps that should adopt now that would lessen future work / pain?

Why not keep it open as a marker for future technical debt?  Maybe someone else would be interested?

[2020-03-11 21:18] ctubbsii commented on #1434
Yes, probably.

The automatic module stuff above will be a useful starting point.

It's not really technical debt, as modules aren't necessary or required. If somebody else is interested, we could always re-open or create a more narrowly scoped task. This one is a bit wide open, and there's no specific action to take in response to it. I'm not sure it's adding any value being perpetually open. If

[2020-03-11 21:24] ctubbsii commented on #1561
Since this is kind of open-ended exploration, I think we can leave off the 2.1.0 tag, since exploration isn't necessarily tied to any specific target version.

[2020-03-11 21:53] EdColeman commented on #1561
Okay with removing the tag - my intention was to signal that this was something that could go into 2.1.  Being is still speculation, but if it would work out / be accepted, then it could be tagged with a version then.

[2020-03-12 16:27] milleruntime commented on #1388
Looking for feedback about this issue... I found one use case for an API for this method [here](https://github.com/NationalSecurityAgency/datawave/blob/7e9f0c68275361cb57d5a82ddd874101c1867528/warehouse/query-core/src/main/java/datawave/mr/bulk/RecordIterator.java#L390).

One idea I had was to put this method onto the ```TableOperations``` interface.  It could look like this:
[code]

This would be

[2020-03-12 19:01] keith-turner commented on #1388
I would recommend decoupling this from obtaining the table properties like the following.

[code]

Then a user could call `Iterable<Entry<String,String>> TableOperations.getProperties(String tableName)` or get the properties in some other way.  A user could create a map of properties in a test and pas the maps entry set.

[2020-03-12 19:10] jzgithub1 commented on #1554
@ctubbsii ,  maybe we have another race condition here.  The file F000001x.rf is compacted into C000001z.rf.  Then F000001x.rf gets deleted (since it had be compacted and wasn't needed anymore - I need to check if that is the way it works) but then the startGetSummariesFromFiles function looks for F000001x.rf after it had been deleted because it is in an outdated list of RFiles.  We are seeing a p

[2020-03-12 21:10] ctubbsii commented on #1554
@jzgithub1 The outdated list of RFiles is my working hypothesis also. I do not know if the test is easily reproducible. Since @keith-turner self-assigned it, I assume he's interested in working on it, but you'd have to check with him. Also, it is likely he knows more about this code anyway, since he implemented much of it.

[2020-03-13 12:38] cradal commented on #1473
@keith-turner @ctubbsii I spent some time the last few days tracing through the function calls, just to get a better overall understanding of how TabletsMetaData is being used. I will generate a Work-In-Progress PR to show an example interface def and impl.

[2020-03-13 20:51] #1488 closed

[2020-03-16 13:48] milleruntime commented on #1463
I think this was inadvertently closed instead of #1465

[2020-03-16 13:50] milleruntime commented on #1465
Resolved in 7adc1f1652607f7e8430b687e5f79b705803233a

[2020-03-16 13:50] #1465 closed

[2020-03-17 06:15] #1430 closed

[2020-03-26 12:16] milleruntime commented on #1203
After doing some cleanup of ServerContext and ClientContext, I don't think this refactor is needed.  ServerInfo is now just internal to ServerContext and needs to exist since it extends ClientInfo.  ClientInfo is used a lot in Tests, mainly where we don't have a full ClientContext.

[2020-03-26 12:16] #1203 closed

[2020-03-26 17:34] #1464 closed

[2020-03-26 20:17] milleruntime commented on #1249
Here are some ideas for the displaying FATE status in the monitor (and an issue specific to the monitor, that can be done separately): https://issues.apache.org/jira/browse/ACCUMULO-809

[2020-03-27 20:42] ctubbsii opened #1573 "tserver.port.search=true steals master port"
I tried to start 3 tservers, with the following config:
[code]

The scripts started tservers first, and chose ports `9997`, `9998`, and `9999`. This prevented the gc and master from starting, because ports `9998` and `9999` was already in use by a tserver.

This behavior can be improved by having `tserver.port.search` skip over any ports reserved by other services in the configuration.

[2020-03-28 05:09] ctubbsii opened #1574 "Flaky test: MetadataMaxFilesIT"
The description of this test failure (involving a split and unresponsive tserver) has elements in common with what @keith-turner described on #1076, which also had a MetadataMaxFilesIT test failure. However, I think this might be a distinct issue, unrelated to Thrift, especially since the problem reported there was mitigated by rolling back the change that caused it.

The MetadataMaxFilesIT test o

[2020-03-30 19:50] drewfarris opened #1576 "Update importTable to represent directory list Set<String> instead of String"
In #1060 we add the ability to specify multiple directories for the `importTable` command. The current API for `importTable` expects multiple directories to be specified as a single, possibly comma-delimited `String`. @keith-turner raised the fact that the API should more explicitly reflect reality of the data it seeks to represent and take a `Set<String>` instead of a `String`.

We should try to

[2020-03-30 19:56] ctubbsii commented on #1576
Seems like a good idea, but I'd suggest `Set<String>` instead of `String[]`

[2020-04-01 12:44] karthick-rn opened #1578 "Accumulo master hangs after TLS on ZK"
After enabling TLS for ZK, I noticed that starting Accumulo master hangs in an intermediate process as shown below and require to kill the process in-order for Accumulo master to start.

[code]

Below is the jstack output collected during the hang

[code]

I & @keith-turner discussed this issue & looked at the jstack output, noticed there are 2 non-daemon threads (no. 27 & 30). As per the descript

[2020-04-01 13:54] drewfarris commented on #1576
Per @arvindshmicrosoft comment on #1060, this will include documentation updates for the `importTable` workflow.

[2020-04-01 18:26] ctubbsii commented on #1578
@karthick-rn Have you looked at the SetGoalState to verify that Accumulo isn't leaving any ZK objects unclosed?

[2020-04-02 15:53] #1573 closed

[2020-04-06 11:14] karthick-rn commented on #1578
@ctubbsii Sorry for the delay. There is a 'goal_state' node that exist in ZK before starting Accumulo master and the value is 'NORMAL' as shown below.
This 'goal_state' does exist on a non-TLS ZK cluster as well where Accumulo master doesn't hang. Fyi

Before starting Accumulo master:
[code]
Trying to start Accumulo master overwrites the 'goal_state' which can be noticed through the change in "mti

[2020-04-06 12:47] #1053 closed

[2020-04-06 15:00] ctubbsii commented on #1169
Closed with #1453

[2020-04-06 15:10] ctubbsii commented on #1578
@karthick-rn I'm not sure you answered my question about the `SetGoalState` Java class. In order to update the node in ZK, that class needs to create a connection to ZooKeeper, and issue the command to update the node. What I'm wondering is if the ZooKeeper connection object used for this is properly closed with a `.close()` call that might clean up the extra threads you saw. I'm just checking to

[2020-04-06 15:11] ctubbsii commented on #1578
Also, if you can explain the specific steps you took to configure TLS on ZK, so we can reproduce it, that could be helpful to test in different environments.

[2020-04-06 16:26] billierinaldi commented on #1578
I helped Karthick take a look at this. It seems like SetGoalState is using a ServerContext with SingletonReservation.noop(), so maybe that means that ZooKeeper is not automatically being closed. Should SetGoalState be using a client reservation instead?

[2020-04-06 16:44] karthick-rn commented on #1578
**Steps to configure TLS on ZK:**
a) Generate certificates & keystores:
1) Run the below commands on each hosts & generate a '.crt' file per host
[code]
2) Copy the '*.crt' file generated on each hosts to host1 and generate the truststore.jks as shown below
[code]
3) Copy "truststore.jks" to all the hosts
[code]
where `host_list` is a file that contains fqdn of all hosts

4) Verify the contents of

[2020-04-06 17:09] milleruntime commented on #1578
I noticed that SetGoalState is the only server utility using ServerContext that doesn't have a try-with-resources to automatically call close when finished.  I think this might be a bug with SetGoalState

[2020-04-06 17:16] ctubbsii commented on #1578
@keith-turner is the expert on the reservation stuff. I think most of that was done to try to internally manage resources when using Connector vs. the more lifecycle-oriented AccumuloClient. I'm not sure how it applies here.

That's the kind of thing I was thinking of being at the center of this. I don't know if closing `ServerContext` will achieve the desired result, though and clean up the ZooKe

[2020-04-06 17:37] milleruntime commented on #1578
This could be a separate issue with this utility.  I currently don't know enough TLS configuration to debug this deeper, since there seems to be an issue with it in the Master

[2020-04-07 02:38] ctubbsii commented on #1169
Reopening because #1453 is being reverted. It is not ready for merging. It caused fundamental breakage in the way locations are parsed, and broke dozens of ITs.

[2020-04-07 09:40] karthick-rn commented on #1578
I attempted try-with-resources for the ServerContext as shown below and still seeing the Accumulo master hangs.
[code]

[2020-04-07 14:38] keith-turner commented on #1578
The try-with-resources for the ServerContext will not work because the SingletonManager never closes anything for servers currently.  Creating a ServerContext puts the SingletonManager in server mode.  One possible solution to this is to add a new Mode.CLOSED for SingletonManager.  Then the SetGoalState could do something like the following.

[code]

I think it would also be good to open a zookeep

[2020-04-07 15:26] karthick-rn commented on #1578
@keith-turner I have initiated an email thread with ZK dev team but not JIRA. You can find the discussion [here](https://mail-archives.apache.org/mod_mbox/zookeeper-dev/202004.mbox/browser) with subject "Zookeeper & Netty framework". Feel free to comment your thoughts. Thanks

[2020-04-07 16:47] ctubbsii commented on #1578
@keith-turner Do you suspect this is a ZK issue and not an Accumulo issue on how it is using ZK?
In order to create a ZK issue in their JIRA, it would be nice to describe the behavior of ZK in terms of expected vs. actual. Currently, the discussion is centered around the behavior of Accumulo. To create a ZK issue, I think we'd want to be able to reproduce and describe the issue for an arbitrary ZK

[2020-04-07 16:52] ctubbsii commented on #1578
@karthick-rn BTW, thanks for your very excellent, and detailed guide for reproducing! I haven't had a chance to try it, but your guide left me with zero questions as to how to proceed. :smiley_cat: Once this is all figured out and working, that would make an excellent blog post (and possibly an integration test for accumulo-minicluster).

[2020-04-07 19:27] keith-turner commented on #1578
Accumulo probably should be closing ZK.  I suspected that ZK would want all of their threads to be daemon threads because many of their threads are and daemon is not the default.  In the ZK mailing list thread that @karthick-rn linked to someone said it was a netty thread, so not under ZKs control.

[2020-04-07 20:53] karthick-rn commented on #1578
I & @keith-turner made changes to `SingletonManager` & `SetGoalState` Java class as described [here](https://github.com/apache/accumulo/issues/1578#issuecomment-610425219) & did a quick test with the new jars. When we started Accumulo master it now starts successfully without hang. I'll put these new jars cluster wide and perform some more tests and keep you all posted. Thanks

[2020-04-08 16:24] andrewglowacki opened #1581 "Move ThriftClientHandler into a separate file."
TabletServer is very big. Moving ThriftClientHandler into a separate file would cut its size almost in half. This would also make it easier to continue refactoring TabletServer at a later date. They will still be very tightly coupled.

I can do this if it would be acceptable.

[2020-04-08 17:16] ctubbsii commented on #1581
@andrewglowacki I agree. Go ahead and submit a pull request. Please keep the change as minimal as necessary to refactor the class out, in order to lessen the burden on any code reviewers. Any subsequent improvements can be handled in follow-on tasks.

[2020-04-08 17:28] andrewglowacki commented on #1581
Sounds good, thanks!

[2020-04-08 20:19] andrewglowacki opened #1582 "Add vscode directory/files to .gitignore and apache-rat ignore."
VSCode creates a .vscode directory and .factorypath files that are flagged by the rat plugin, and git as changes. These should be ignored/excluded

[2020-04-08 20:36] ctubbsii commented on #1582
@andrewglowacki Are you filing this issue to document it for later, or are you interested in submitting a pull request to address this?

If you're just documenting the issue for potential later work (perhaps by some other volunteer), or if the work might be substantial enough to discuss first, in order to avoid potentially wasted or misdirected effort, then creating an issue first might make sense

[2020-04-08 20:40] andrewglowacki commented on #1582
Whoops! Yea, I'm going to submit a PR when this build is complete. I wasn't sure, but next time I'll just submit a PR. Thanks for the clarification!

[2020-04-08 20:45] ctubbsii commented on #1582
No problem. Just trying to make sure people don't do more work than they have to. Thanks for contributing! :smiley_cat:

[2020-04-09 14:37] drewfarris commented on #1576
Missed something, `ImportExportIT` failed in https://jenkins.revelc.net/job/2.1/75/

[2020-04-09 17:04] karthick-rn commented on #1578
Following the changes done on `SingletonManager` & `SetGoalState` Java class, the patch was tested cluster wide & we are able to successfully start all Accumulo services including the master service without any hiccups. However, stopping the services exhibit similar hang and @keith-turner helped me with the code change on `ZooZap` & `Admin` Java class to fix those. With all these changes in-place,

[2020-04-09 18:00] #1576 closed

[2020-04-09 18:03] #1582 closed

[2020-04-14 20:27] #1578 closed

[2020-04-14 21:25] karthick-rn opened #1587 "Warning message during start/stop of Accumulo master"
During start/stop of Accumulo master, a warning message appears on the console as highlighted below. I have already updated this warning message during discussion on #1578 and like I mentioned creating this issue to check if anyone else seen this? May be something that #1586 is uncovering. Operational wise I tested accessing the ashell and tried inserting rows into the new table  - all works fine

[2020-04-15 01:17] ctubbsii commented on #1587
This is a new ZooKeeper client-side generated event added as part of https://issues.apache.org/jira/browse/ZOOKEEPER-2368 (apache/zookeeper#529), added in ZK 3.5.5 and 3.6.0.

Our code has not been updated to recognize it yet, but I think it's probably safe to ignore. It would be good for us to update our watchers to handle this explicitly, though.

[2020-04-15 10:50] #1581 closed

[2020-04-15 16:26] karthick-rn commented on #1587
@ctubbsii Thanks for the update. I'll keep this as a low priority issue and work on it. You can assign it to me.

[2020-04-15 20:34] keith-turner opened #1588 "Investigate avoiding file rename in major compactions"
Opening this in response to a discussion on slack about running Accumulo on S3.  Major compactions create files with a `tmp` suffix and rename the file when its complete before adding an entry to the metadata table.  It seems like this rename could be avoided.

The only benefit I know of the current scheme is that it allows tablets to delete any tmp files from hdfs on load.  Would need to to deter

[2020-04-15 20:37] keith-turner commented on #1588
https://the-asf.slack.com/archives/CERNB8NDC/p1586961071077000

[2020-04-15 20:47] keith-turner commented on #1588
Two possible solutions to the problem of failed compactions leaving files around.

 * Could place an entry in the metadata table like `row=<tablet row> family=compacting qualifier=<uri>` for files currently being created by compactions.  When a tablet is loaded it looks for these and deletes the URIs and then the metadata entries.
 * Could create a tool that looks for files in DFS that are not in

[2020-04-21 20:29] ctubbsii opened #1591 "Saw transient GcMetricsIT failure"
Stacktrace below. Given the code where this failed and the fact that it failed on Jenkins, I suspect this was because it picked up a metrics test output file from a previous run. This test should be reworked, so it uses a unique temporary file name for the metrics output, so it doesn't have issues when run concurrently with other tests, or accidentally pick up output files from previous runs.

[co

[2020-04-22 13:31] EdColeman commented on #1591
The filename is determined by the metrics config file - so just changing the filename may not be straight forward. Also, concurrent tests will be another issue - normally there would be only one gc running.

[2020-04-22 17:38] ctubbsii commented on #1591
It's also possible my assumption about how the test failed is wrong. I was going off of the embedded comment in the `gcMetricsPublished()` method, which explains that a previous run or another test could affect what is parsed from the file, since the file is appended to.

In the stack trace above, it appears the value parsed was of an event time that occurred before the current test started, which

[2020-04-22 19:10] EdColeman commented on #1591
I didn't look closely either - but I will.  Either this test or possibly one of fate metrics tests was written so that it looked for an update - I'll check that this code does the same thing and that it's working as I intended.

[2020-04-23 16:19] arvindshmicrosoft commented on #1574
@ctubbsii I would like to look into this if it's not already being investigated by someone else (to best of our knowledge)?

[2020-04-23 16:53] billierinaldi commented on #1044
I was thinking that an Accumulo instance that uses cloud storage could have a mechanism to back up its ZK data to cloud storage as well. The VM instances could be spun down completely, and sometime later you could spin up new VMs, rehydrate ZK, and get a working Accumulo instance back. @keith-turner mentioned that snapshots could help support this.

[2020-04-23 21:20] ctubbsii commented on #1574
@arvindshmicrosoft Go right ahead!

[2020-04-27 15:34] EdColeman opened #1598 "Transient MasterMetricsIT Jenkins test failure."
Recent Jenkins build failed - it looks like there was resource contention.  The current test spins up multiple compaction (4) and the monitors the metrics for the FATE transactions to start.  It looks like the FATE transactions are queued, but never run.  The 4 transactions were used during development to drive interesting behaviour, but are not strictly necessary for a functional check and the nu

[2020-04-29 14:27] #1598 closed

[2020-04-29 14:29] #1591 closed

[2020-05-08 17:43] milleruntime opened #1606 "Ability to disable scan file limit in FileManager"
It seems the lock contention due to the file limit in FileManager is still an issue in 1.9.  This problem has been around since https://issues.apache.org/jira/browse/ACCUMULO-416 which is a prerequisite for https://issues.apache.org/jira/browse/ACCUMULO-543.  It would be worthwhile to revisit the first ticket and at the very least have a config option to disable the file limit lock.

[2020-05-08 18:18] milleruntime commented on #1606
Saw an issue where short scans were locking at this file limit gate so the client was killed.  The dead scans were stuck even after a client was killed and then new scans were waiting a long time at the semaphore for this file limit.  This situation could worsen as a user not seeing scans available, will retry creating more scans that get held up at this gate.   This is a situation where we want t

[2020-05-08 20:15] ctubbsii commented on #1606
Isn't the number of open files configurable? It seems like increasing that limit would mitigate this a bit.

[2020-05-11 11:37] milleruntime commented on #1606
Yes there is "tserver.scan.files.open.max".  I suggested increasing this but now now sure why this wouldn't suffice.  @FineAndDandy any idea why just increasing this limit wouldn't be enough to bypass this gate where necessary?

[2020-05-12 15:48] ivakegg opened #1607 "Host regex volume chooser for WALs"
There is a need to allow one to tie the volumes for sets of tservers to a specific volume.  This is especially useful if one wants to tie the WALs to a specific volume for performance or space purposes.  I suggest that we create a HostRegexVolumeChooser that can choose a volume based on the tserver hostname.  So given the following configuration:
[code]
We might create the following configuration

[2020-05-12 16:08] ctubbsii commented on #1607
FWIW, the `PerTableVolumeChooser` property for delegating the logger scope is: `general.custom.volume.chooser.logger`, rather than `volume.chooser.logger`, and the other properties would also have the `general.custom.` prefix.

Would such a chooser be useful for other scopes, other than the `logger` scope? (the answer may drive the name and when the implementation is more general).

[2020-05-14 03:08] keith-turner opened #1608 "Move compaction rate limiting to compaction service"
Accumulo supports rate limiting compactions reading and writing data.  Before #1605 there was only a single thread pool to execute compactions.  After #1605 there can be multiple threads pools.  Rate limiting is still across all thread pools though.  The ability to rate limit each compaction service would be much more useful.  This could be done with per compaction service rate limit config and pe

[2020-05-14 03:16] keith-turner opened #1609 "Reinitialize compaction services when configuration changes"
The changes in #1605 create compaction services based on configuration at tablet server startup.  If the configuration in zookeeper changes after startup, the compaction services never change.  It would be nice to update the compaction services whenever configuration changes.

When the configuration for an existing compaction service goes away, instances of that service should finish any running c

[2020-05-14 03:22] keith-turner opened #1610 "Determine if using Guava Suppliers.memoizeWithExpiration in compaction is too expensive"
In the CompactableImpl Guava's Suppliers.memoizeWithExpiration() is used to periodically see if a compaction is canceled.  This code is called per key/value compacted.  It may be chepaer to do something like the following instead.

[code]

[2020-05-14 03:27] keith-turner opened #1611 "Update shell compaction command to support new compaction features"
In #1605 compaction strategies were replaced with selectors and configurers.  Need to update the shell command to support setting these.  Also need to update it to support executing hints and warn about deprecation when compaction strategies are configured.

[2020-05-14 03:56] keith-turner opened #1612 "Support per compaction service metrics"
In #1605 compaction services with multiple thread pools were added.  Having metrics for the queue size and number of running compactions would be very useful. Not sure of the best way to do this, but it would be nice if the metrics included the compaction service name and thread pool/executor name within the service.

[code]

Having access to this information will be very important for tuning comp

[2020-05-14 04:01] keith-turner opened #1613 "Create documentation for new compaction features"
The new features introduced in #1605 must be documented in the user manual.  Also, the fact that CompactionStrategies are deprecated needs to be reflected in the user manual.

In a discussion on slack about #1605 there was a lot of discussion about selection of files for user compaction and how this interacts with subsequent user compactions.  This should be well documented in the user manual.

Th

[2020-05-15 17:48] ivakegg commented on #1607
Yes, such a chooser would be useful for other scopes as well.  If we have a set of tservers running on top of a particular HDFS cluster, then it might be beneficial to only choose that cluster for storing RFiles.  The implementation would work for mote table and "non-table" volume choosing.

[2020-05-15 19:13] ivakegg commented on #1607
After thinking a little more about this, I think this chooser should extend the PreferredVolumeChooser and hence the properties and defaults should follow the same scheme.  Here is the class javadoc I am starting with.  Please tell me if this makes sense:
[code]

[2020-05-15 23:14] ctubbsii commented on #1607
I was thinking more about the use case for configuring different servers to choose different volumes and realized that we don't need a new class to achieve this. This can already be easily accomplished by setting `PreferredVolumeChooser` with different config on different hosts.

There is some convenience in deploying the same config globally, but still behaving differently from server to server,

[2020-05-16 17:59] keith-turner commented on #1396
@ctubbsii why is this marked as TODO for the 2.1.0 project?

[2020-05-18 11:09] ctubbsii commented on #1396
@keith-turner Because I added it to the `2.1.0` project when I went through to clean up/organize issues/PRs that hadn't been organized by others in the appropriate release project. When adding a project to an issue/PR, the automation sets it to `To do`; normally, it would automatically move to `Done` when it is closed.

However, since I added the project to the issue after it was already closed, I

[2020-05-19 14:57] ivakegg commented on #1607
I was a little scared to do that because of the configuration comparison mechanism that tries to ensure configurations are consistent across hosts.  Are you saying that the volume chooser configurations to not get factored into that comparison?

[2020-05-19 15:30] milleruntime commented on #1607
Only the properties that begin with ```instance``` have to be the same across an entire cluster.

[2020-05-20 13:05] ivakegg commented on #1607
Well, then we will try doing this with local configurations and see how that goes.  If that goes well, then  I will not need to create this chooser unless you feel it is still worthwhile.

[2020-05-23 00:21] keith-turner opened #1615 "Add executor, selector, configurer, and hints to list compaction command and API"
In #1605 multiple compaction executors were added.  Also new options were add when initiating a user compaction.  It would be nice to show this information in the listcompaction shell command and via the API.

[2020-05-28 21:15] keith-turner opened #1617 "CompactionStrategy plugin interface not compatible with 2.0.0"
While working on #1605 I noticed that the pluggable CompactionStrategies in 2.1.0-SNAPSHOT are not compatible with 2.0.0 or 1.9.x.  The CompactionStrategy references a MaJorCompactionRequest type.  This type changed from using FileRef to StoredTabletFile.  This change would break any compaction strategies written by users.  The link below shows the change.  Not sure if we should try to maintain co

[2020-05-29 12:27] ivakegg commented on #1607
The experiment worked well.  We simply have the PerTableVolumeChooser being used at the top, and then the PreferredVolumeChooser for the logger.  The preferred volumes for the logger are then set differently in the accumulo-site.xml depending on the host.  This has the desired effect.  That being said I still think this might be a useful chooser.  It will require getting the host and port availabl

[2020-05-30 14:22] milleruntime commented on #1617
Good catch.  I can take a look at this.

[2020-06-01 20:43] keith-turner commented on #1617
@milleruntime it just occurred to me that the fileref type may have also changed.  These plugin interfaces outside of SPI that use internal types are so hard to keep stable because of the transitive need for stability.

[2020-06-03 18:30] milleruntime opened #1618 "Investigate TODO in exception message in new Bulk Import"
Investigate this [exception](https://github.com/apache/accumulo/blob/3951d98aeffc20fa4318d14d03ef3f0c8be56876/core/src/main/java/org/apache/accumulo/core/clientImpl/bulk/BulkImport.java#L618).  Figure out if there is work to be done, if not, then provide a better description of the scenario to the user.

[2020-06-03 18:34] milleruntime opened #1619 "Improve Javadoc in new Bulk import API"
The ```loadFileTo``` methods on the fluent API of the new bulk import have parameters for startRow and EndRow.  These parameters are interpreted differently depending on the ```RangeType``` enum.  This is not obvious just by looking at the ```loadFileTo``` method in ```LoadPlan``` and should be explained in the method javadoc.

The first of the methods:
https://github.com/apache/accumulo/blob/3fd5

[2020-06-03 18:57] milleruntime opened #1620 "Possible loss of parallelism in VolumeImpl"
The implementation of VolumeManager may be negating some of the work done in other areas of code where we are using threadpools and futures to improve calls to the Namenode.  I think this is only noticeable during the Bulk import processes (old and new) when we are calling [VolumeManager.rename()](https://github.com/apache/accumulo/blob/dd4a488a9077cdd5e90cbff89fbcf7e9147381a7/server/base/src/main

[2020-06-03 19:33] keith-turner commented on #1620
There is a possibly related change for import table #1569

I think it would be nice to have a VolumeManager.bulkRename() method for renaming lots of files.  Then we can have a single implementation of this in the code to fix and maintain.

[2020-06-03 20:02] milleruntime commented on #1620
It could also be that Hadoop is returning the same object either way since it caches FileSystem objects on the static FileSystem get(uri, conf) call.  Sorry can't find a link to the source code in Hadoop :roll_eyes:
The code I am looking at will always return this:
```return CACHE.get(uri, conf);```

[2020-06-04 12:38] ivakegg opened #1621 "The ClientPool thread pool allows all core threads to time out"
The configuration parameter is tserver.server.thread.minimum.  However the tserver (using the SimpleThreadPool) uses that as the core and max threads AND allows core threads to time out effectively allowing the number of waiting threads to fall to 0.  A timer is created in the createSelfResizingThreadPool method of TServerUtils which will move the max and core size up and down (but not below tserv

[2020-06-12 22:53] keith-turner commented on #1609
I have implemented this at the following branch.

https://github.com/keith-turner/accumulo/tree/accumulo-1609

Plan to submit a PR after #1605 is merged.

[2020-06-12 22:54] keith-turner commented on #1612
I have implemented this at the following branch.

https://github.com/keith-turner/accumulo/tree/accumulo-1612

Plan to submit a PR after #1605 is merged.

[2020-06-12 22:55] keith-turner commented on #1611
I have implemented this at the following branch.

https://github.com/keith-turner/accumulo/tree/accumulo-1611

Plan to submit a PR after #1605 is merged.

[2020-06-12 23:34] keith-turner opened #1625 "Add a docker build file for building Accumulo and running test"
I created the following little project.  It helps someone completely new to Accumulo get to the point of building Accumulo and running the test really fast. I think it would be nice to include this with Accumulo under contrib/docker-build and then Accumulo's documentation could reference it.

https://github.com/keith-turner/accumulo-docker-build

Including it with the source has the benefit that i

[2020-06-15 13:58] cradal commented on #1618
@millerruntime I traced through the logic for mergeOverlappinh() in BulkImport. It appears that the only scenario in which a merge will occur is if the overlapping KeyExtent (oke) fits lexicographically within the the previousEndRow and endRow of the KeyExtent (ke). The function will throw the exception if either end of oke extends beyond ke. It does not seem like anyone intended the function to d

[2020-06-15 17:03] milleruntime commented on #1618
@cradal thanks for looking into this message.  Please open a PR with an idea of what the message should say.

[2020-06-15 19:29] keith-turner opened #1627 "Add method to get properties with prefix to PluginEnvironment.Configuration"
[PluginEnvironment.Configuration](https://github.com/apache/accumulo/blob/db9c2b975f2db1b3903402dea69e32a014d122da/core/src/main/java/org/apache/accumulo/core/client/PluginEnvironment.java#L39) is a stable interface that allows plugins to access Accumulo's configuration.  Sometimes plugins need all properties with a certain prefix which currently requires iterating over all properties.  Accumulo's

[2020-06-15 20:13] keith-turner opened #1628 "Add test where compaction selector sporadically throws an exception."
Add test that does the following to org.apache.accumulo.test.CompactionIT

 * Create a compaction selector that only compacts file names that match a pattern and throws an exception randomly 50% of the time.
 * Initiate a compaction of a subset of file using above selector.  Confirm subset if compacted.
 * Add files and run above step a few times.

This test will ensure that compaction selector is

[2020-06-15 20:38] keith-turner opened #1629 "Look into parallelizing file selection and planning for compaction services"
The changes in #1605 introduced a compaction manager and multiple compaction services.  Currently the compaction manager has a single thread that goes through all tablets and does the following.

 1. Determine which compaction service a tablet should use
 2. Select files to compact
 3. Make compaction plan

Steps 2 and 3 occur in the compaction service.  Step 1 happens in the compaction manager.

[2020-06-15 20:59] keith-turner opened #1630 "Looking into marking tablet as chopped in compaction mutation"
While working on #1605 I noticed that chop compactions write out two mutations to the metadata table.   One mutation changes the tablets set of files.  The second mutation marks the tablet as chopped.  May be better to do this in a single mutation.  This behavior exist before and after #1605.

[2020-06-15 22:07] keith-turner opened #1631 "Tablet in memory compaction ID is updated before metadata write"
While working on #1605 I noticed that the tablets in memory tracking of the compaction ID (via `Tablet.setLastCompactionID()`) was updated before updating the metadata table.  If the metadata table update fails then this could lead to tablet server/FATE disagreement about a compaction being completed causing the FATE op to hang.  This is similar to the more general issue described in [ACCUMULO-18]

[2020-06-16 15:03] #1619 closed

[2020-06-17 15:52] milleruntime commented on #1620
I started looking into this and noticed some subtle differences in debugging and exception handling betwen tableImport and bulk import use of the thread pool.  I am not sure if the behavior is specific to the actual FATE operation or it is just how the code evolved independently.  For example, BulkImportMove has this [check](https://github.com/apache/accumulo/blob/15a95feebc74bd10e5ba73d4c2ecfc726

[2020-06-18 01:18] #564 closed

[2020-06-18 21:19] keith-turner commented on #1620
That is an interesting difference.  Both are FATE operations so they both need to be able to handle running part of the operation, process dying, and then having to run the move operation again later.  Would be nice if they used the same code for this that could possibly be tested.

[2020-06-19 12:48] milleruntime commented on #1620
That is what I was thinking too.  I have a branch where I basically combined the features of both that I will put a pull request up soon.

[2020-06-19 16:55] cradal commented on #1618
@milleruntime The latest PR should only have the needed changes.

[2020-06-23 15:18] jmark99 commented on #1249
Removed myself from this ticket since I haven't had a chance to do much work on it lately and Keith may be addressing it with #1624.

[2020-06-23 16:07] keith-turner opened #1638 "Collect possible new names for the Accumulo Master"
The community [discussed](https://lists.apache.org/thread.html/redcea10fc3c705491b9792b2b0bafa12b9bd246b64394c4dea2d9be0%40%3Cdev.accumulo.apache.org%3E) renaming the Accumulo Master.  To rename it, we must decide on a new name.  The purpose of this issue is to track proposed names.  The following names have been proposed so far in the discussion and on [ACCUMULO-2844](https://issues.apache.org/ji

[2020-06-23 16:17] keith-turner opened #1639 "Determine process for selecting a new name"
#1638 was opened to collect new possible names.  The community needs to agree on a process of actually selecting a name.  In the mailing list [discussion](https://lists.apache.org/thread.html/redcea10fc3c705491b9792b2b0bafa12b9bd246b64394c4dea2d9be0%40%3Cdev.accumulo.apache.org%3E) a ranked vote was proposed.  Need to determine if there are other possibilities and when action should be taken.  Thi

[2020-06-23 16:21] keith-turner opened #1640 "Rename Accumulo master properties"
After a new name is selected (#1638 and #1639) we can start making code changes.  One major change will be renaming the Accumulo master properties.  This is a user facing element so we need to come up with a good strategy for doing, which can be done before the name is selected.  The strategy can be discussed here.

[2020-06-23 16:30] keith-turner opened #1641 "Rename Accumulo master maven module"
Once a new name is decided on, need to rename the server/master maven module.

[2020-06-23 23:02] keith-turner opened #1642 "Rename accumulo master package"
After a name is selected, would need to rename the master package. There are some user facing plugins that are under that package.  Need to make a decision about what to do with these. The stability of these plugins over time has been very poor because they use lots of internal types.  The plugins could be moved to the SPI package which has build automation that prevents usage of internal types wh

[2020-06-24 02:33] keith-turner commented on #1629
Implemented this in the following branch.

https://github.com/keith-turner/accumulo/tree/accumulo-1629

[2020-06-24 12:35] brianloss opened #1643 "Rename master references in public API"
Once a new name is selected, we'll need to rename master references in the public API. Per [semver](https://semver.org/), the existing references will need to be deprecated for at least a release, and then the deprecated methods can be removed in a major release. Identify all public API references to master. At least the following exist:

- [Instance.getMasterLocations](https://github.com/apache/a

[2020-06-26 20:28] EdColeman commented on #1612
Keith I took a cursory glance and have a question that I hope you can answer of the top of your head.  In CompactionExecutorsMetrics, what is the cardinality of the CompactionExecutorId?

I'll try to look at this in more detail later.

[2020-06-26 20:51] keith-turner commented on #1612
That is the number of compaction executors across compactions services configured by users.  With the default configuration there will be 7 :

  * Compaction service for root tablet has 2 executors
  * Compaction service for metadata tablets has 2 executors
 * Compaction service for user tablets has 3 executors

[2020-06-26 21:25] EdColeman commented on #1612
Would the ids persist and be consistent across restarts?  The reason that I'm asking is that some metrics systems will create a separate time series for each metric "name"  Things that are unbounded (which seems this is not) cause issues - if the id are not consistent, then performing metric queries of a time-series that would cross restart boundaries could be misleading.  (Anyone / System queryin

[2020-06-26 21:55] keith-turner commented on #1613
Created apache/accumulo-website#232

[2020-06-27 03:04] keith-turner commented on #1612
Yeah.  The ids are based on user provided names in configuration.  For example the following configuration will create a compaction service named `cs1` with three executors named `small`,`medium`,large`.

[code]

This would result in the following metrics :

 * prefix_cs1_small_running
 * prefix_cs1_small_queued
 * prefix_cs1_medium_running
 * prefix_cs1_medium_queued
 * prefix_cs1_large_running

[2020-06-29 18:43] ivakegg opened #1644 "minor compaction never retries"
I came across a situation where a subset of minor compactions failed and were never retried (version 1.9.3).  This then resulted in a major compaction hanging in the TabletMemory.waitForMinC method forever.  Eventually the system backed with files on those tablets.
The reason the minor compaction thread died was because our system was being modified with a new context and the VFSClassLoader was ch

[2020-06-29 19:03] karthick-rn opened #1645 "Accumulo Monitor UI not displaying ZK metrics"
I configured TLS on ZK and found the Accumulo Monitor was not displaying ZK stats as shown in the below pic

![image](https://user-images.githubusercontent.com/7976585/86039867-00f34080-ba3b-11ea-8044-8a6382698f25.png)

Accumulo Monitor currently uses the ZK 4LW `stat` to display `MODE` & `CLIENTS` on the UI.
Based on the [link](https://zookeeper.apache.org/doc/r3.6.1/zookeeperAdmin.html#sc_zkComm

[2020-06-29 19:04] milleruntime commented on #1644
It looks like a NoClassDefFoundError will slip through the try/catch in MinorCompator [here](https://github.com/apache/accumulo/blob/0a9837f3f8395d89c5cd7bab7805c4aae28919be/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/MinorCompactor.java#L136).   The easiest solution would be to add a NoClassDefFoundError to the catch next to UnsatisfiedLinkError.

[2020-06-29 19:05] ivakegg commented on #1644
I believe we need a little more than that.  If the minor compaction blows out for any reason, the TabletMemory should be tagged as failing such that the waitForMinC does not hang indefinitely, and perhaps also will throw an exception.

[2020-06-29 19:08] ivakegg commented on #1644
Perhaps the TabletServerResourcemanager.manageMemory should also do something when a minor compaction is detected to have failed......

[2020-06-29 19:13] ivakegg commented on #1644
The Comparactor.call method could also me modified to turn the NoClassDefFoundError into a RuntimeException which I believe gets handled appropriately in the MinorCompactor.call method.

[2020-06-29 19:19] ivakegg commented on #1644
The stack trace of the exception was something like this:
[code]

[2020-06-29 22:48] keith-turner commented on #1608
https://github.com/keith-turner/accumulo/tree/accumulo-1608

[2020-06-29 23:00] keith-turner commented on #1644
If you want to retry on everything then that would be all Errors and RuntimeExceptions, anything extending those two types  can be thrown without being declared.

[code]

[2020-06-29 23:09] keith-turner commented on #1644
I think in #925 I chose to catch a specific error and retry because there are probably some errors that should not be retried.  The following javadoc has more info.

https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Error.html

Unfortunately it seems that we have run into two Errors where it completely makes sense to retry.  One worst case scenario for retrying on an error wou

[2020-06-30 11:55] ivakegg commented on #1644
I think I agree we only want to add the NoClassDefFoundError specifically and handle that gracefully as we do for the RuntimeException.  I would however like to somehow mark the minor compaction as failed (in TabletMemory) for errors/exceptions that are not specifically caught and then have routines such as the waitForMinC to also throw an error in that scenario.

[2020-06-30 15:14] keith-turner commented on #1644
@ivakegg  one possible way to handle unexpected errors during minc would be for the tserver process to halt itself.

[2020-06-30 17:38] ivakegg commented on #1644
@keith-turner I am ok with halting the tserver.  Can I confirm that a failed minor compaction (which cannot be retried) is fatal?  @milleruntime was suggesting that this is only critical for the tablet and not the tserver.  In that case would we want to unload that tablet or (given the tserver is still standing) somehow continually generate an error message that we have a critical situation?

[2020-06-30 19:32] brianloss commented on #1644
Could these unexpected errors ever be due to a bad configuration? (e.g., Setting iterator properties manually or something like that?) I'd just be worried about halting the tablet server if it's not a transient problem since it will lead to cascading failure of the whole Accumulo cluster.

[2020-06-30 21:18] keith-turner commented on #1644
That is a possibility.  However if unexpected errors cause minor compactions to hang indefinitely across the cluster, that will lead to another set of problems.  If there is something that automatically restarts tservers, halting may help work issues out automatically.

[2020-06-30 21:22] keith-turner commented on #1644
Many errors are a symptom of a wider problem.  For example when a thread tries to create another thread and gets an error, the problem is likely more widespread than the scope of the single thread.  Therefore some subset of error probably signify the entire tserver process is unhealthy in some way.

[2020-06-30 21:27] keith-turner commented on #1644
Hopefully in the case the iterator code throws a runtime exception, which I think are retried on when seen.

[2020-07-01 12:30] brianloss commented on #1644
Fair point. In a cluster with high load, restarting tablet servers is a fairly disruptive event. Having the tablet be unusable might be more disruptive, though. :) I missed that we're going to retry on the NoClassDefFound, so I agree for unknown errors it's better to halt the tablet server.

[2020-07-01 17:47] milleruntime opened #1647 "Compaction tests failing in TableOperationsIT"
TableOperationsIT is now failling with the merge of #1605.  I am seeing 3 tests failing:
testCompactEmptyTableWithGeneratorIterator
testCompactEmptyTableWithGeneratorIterator_Splits_Partial
testCompactEmptyTableWithGeneratorIterator_Splits
They have similar assertion errors:
[code]

[2020-07-01 17:48] Manno15 commented on #1543
@ctubbsii I think I have the changes made in #1441 transferred over to the SimpleGarbageCollector. Do you have an idea on the best way to test this? I don't think the current test for out of memory in the unit test is applicable anymore and I am struggling on a replacement for it and still keeping it as a unit test.

[2020-07-01 20:45] ctubbsii commented on #1630
A single mutation, if possible, is a good idea. Also, for reference only, there's an open ticket to remove chop compactions entirely: #1327

[2020-07-01 21:16] keith-turner opened #1648 "Generator compactions are failing"
After the changes in #1605 TableOperationsIT.testCompactEmptyTableWithGeneratorIterator started to fail.  This is because this test initiates a compaction with user iterators on an empty table.  Before the changes in #1605 the compaction would run even though there was no data and the iterators generated data.  After the changes in #1605 a tablet with no data will not run a compaction.

Should thi

[2020-07-01 21:43] ctubbsii commented on #1645
I am in favor of option 3. It makes the most sense to me. We don't need to be in the business of being the monitoring solution for external services we rely on. We should, however, have some basic information available about what ZooKeepers are configured (the ZK host:port list), perhaps in the "About" dialog box, next to the Accumulo instanceId.

[2020-07-01 21:52] keith-turner commented on #1647
I did not see this issue an opened #1648

[2020-07-01 21:52] keith-turner commented on #1648
Duplicate of #1647.

[2020-07-01 21:52] #1648 closed

[2020-07-01 21:54] ctubbsii commented on #1647
It seems sensible to me that "generator compactions" would be allowed to run. However, I have no particular opinion on how they should be scheduled. From the user's perspective, if I run a compaction, with a generator iterator configured in a compaction scope, I would expect the resulting table to contain the generated data when the compaction is complete.

[2020-07-02 14:02] milleruntime commented on #1647
With the limited full time contributors we have now, I would error on the side of less complexity by removing the test.  With this feature not advertised, it is possible, even likely, that it is not used.  As with all new features, there is new behavior so users have a different set of expectations.  We can always add the complexity later if there is a legitimate use case.  I would remove the ```@

[2020-07-02 19:25] milleruntime commented on #1647
From @EdColeman
Now sure if this helps - but there is a use case for having an empty tablet.  If a user processes a data set and generates multiple tables, say data, metrics and errors - the ideal case would be that there are no errors (so an empty table).  Rather than handling the logic of if the table does not exist, there must be no errors, it was simpler for their query / scan logic to have th

[2020-07-02 21:07] #1609 closed

[2020-07-02 21:23] ctubbsii commented on #1647
My main concern is inconsistent behavior. Iterators that generate data will work when there is existing files... but not work when there isn't. This is very unintuitive, and the actual state that the behavior turns on is invisible to the end user who executes a compaction.

[2020-07-02 21:50] keith-turner commented on #1647
That is a good point.  When I was thinking about this, I thought the generator iterators would only generate data when the source iterator was empty, but I suppose that does not have to be the case.  If a tablet has data, then a generator iterator would have to merge the generated data with existing data while respecting sorting.  Also the generator iterator would need to only generate data within

[2020-07-03 01:04] keith-turner commented on #1647
I was thought of a fairly simple way to implement empty compactions w/o riddling the code w/ special cases for the empty set.  Using a set with a special URI for this case instead of implementing special handling for the empty set made the changes quite small.  I made the changes in the following branch and the test pass now.

https://github.com/keith-turner/accumulo/tree/accumulo-1647

These chan

[2020-07-06 14:58] EdColeman commented on #1645
The documentation was updated in April (under the troubleshooting section) describing the need to add the stat command to the allowed-list while a longer-term solution is worked.

[2020-07-07 14:57] #1621 closed

[2020-07-08 15:04] #1543 closed

[2020-07-09 15:39] #1618 closed

[2020-07-10 17:18] friedlou opened #1655 "Unable to set bulk import tries to only once."
There are two properties that control the number of times a bulk import is attempted: master.bulk.retries and tserver.bulk.retry.max.

master.bulk.retries is used by LoadFiles.java to limit the number of retries. The code treats this value as the number of total attempts, not the number of retries. So if it is set to 1, only one attempt is made to load the files before reporting failure. (The code

[2020-07-12 17:30] EdColeman commented on #1638
I saw some news articles concerning Linux adopting inclusive terminology.  I believe this is the [(original source)](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=49decddd39e5f6132ccd7d9fdc3d7c470b0061bb) For quick reference, these are the term selected:

[2020-07-13 13:02] milleruntime commented on #1618
Thanks @keith-turner and @cradal for figuring this out!

[2020-07-15 14:19] milleruntime commented on #1617
Correct, FileRef was also changed with the introduction of Ample.  At this point I don't know how we can revert FileRef and the CompactionStrategies all the way back to be compatible with 2.0 without significant work.  Especially with all the internal changes that built on top of Ample and your recent changes to compactions.

[2020-07-15 16:34] milleruntime opened #1659 "Handle Internal pluggable components"
With the creation of the SPI package and introduction of Iterators into public API, significant progress has been made to corral the various internal pluggable components of Accumulo. It is difficult to maintain backwards compatibility of these components as they are scattered throughout the code.  We recently bumped into an issue with the CompactionStrategy components in #1617 .  This ticket is t

[2020-07-15 19:13] keith-turner commented on #1659
The balancer is another one to consider.   For some maybe instead of moving them SPI we could just remove the ability to configure them like the MemoryManager.

[2020-07-15 19:22] keith-turner commented on #1617
We could just mention it in the release notes.

[2020-07-16 03:12] ctubbsii commented on #1644
This appears to have been fixed in #1646; please reopen if there is more to do.

[2020-07-16 03:12] #1644 closed

[2020-07-16 14:16] milleruntime commented on #1617
Yeah I like that.  I marked this ticket as a blocker for 2.1 so we remember to add it to the release notes.

[2020-07-22 16:44] plainolneesh commented on #1533
please assign this to me

[2020-07-29 02:58] ctubbsii commented on #1638
I'm going to put several of these names in separate comments, so people can "thumbs up" those they like the best... it's not an official vote or anything, but it can make it slightly more convenient to narrow down the choices of those that seem to have the most consensus behind them.

[2020-07-29 02:58] ctubbsii commented on #1638
Proposal: Coordinator

[2020-07-29 02:58] ctubbsii commented on #1638
Proposal: Conductor

[2020-07-29 02:59] ctubbsii commented on #1638
Proposal: Admin

[2020-07-29 02:59] ctubbsii commented on #1638
Proposal: AdminServer

[2020-07-29 02:59] ctubbsii commented on #1638
Proposal: Director

[2020-07-29 02:59] ctubbsii commented on #1638
Proposal: Root

[2020-07-29 02:59] ctubbsii commented on #1638
Proposal: Nucleo

[2020-07-29 02:59] ctubbsii commented on #1638
Proposal: Cervello

[2020-07-29 03:00] ctubbsii commented on #1638
Proposal: Manager

[2020-07-29 03:00] ctubbsii commented on #1638
Proposal: Conductor

[2020-07-29 03:19] ctubbsii commented on #1655
I commented on #1656 before seeing the this issue. Sorry for that, @friedlou . In future, it would be good to provide some context in the commit that makes a change, describing the motivation for the change. In this case, it seems to be attempting to fix a bug where `tserver.bulk.retry.max` retries even when the number of retries is set to `0`. Am I understanding the issue correctly?

[2020-07-29 03:24] ctubbsii commented on #1645
The referenced update was apache/accumulo-website#226

[2020-07-29 03:31] ctubbsii commented on #1639
On #1638, I put the proposals in separate comment fields, so people can informally declare their preferences by "thumbing up" a comment. After we gather some feedback informally, I'm happy to initiate a vote thread with the most popular names.

I'm not sure we need a separate issue open for this, though. Can we close this issue?

[2020-07-29 15:18] milleruntime opened #1663 "Missing metrics files"
I was running CI on the 1.9 branch and saw these warnings printed at startup of the tserver.
[code]
[code]
[code]

[2020-07-29 15:23] EdColeman commented on #1663
That's because the config files are setup for testing with maven - the "fix" would be to modify the files to point to a real directory on the test system.  Probably need to see about adding sensible defaults to the assembly so that they get included with the tarball and the other sample configs.

[2020-07-29 15:32] milleruntime commented on #1663
Yeah I just thought we should do something so we don't see these in the release candidate.

[2020-07-29 18:30] ctubbsii opened #1664 "Investigate optimal / configurable batch sizes for accumulo-gc deletion candidates"
@Manno15 's PR #1650 employed a batching strategy of fixed size batches. This is quite nice for consistent memory utilization, and ensuring the accumulo-gc can always make progress. However, the hard-coded 8MB batch size may not be the optimal size.

Investigation is needed to determine what batch sizes might optimize throughput, and whether it makes sense to make the batch size configurable. Diff

[2020-07-29 22:18] ctubbsii opened #1665 "Preserve user intent with regard to overridden compaction thread pool size"
As mentioned on #1662, the new property `tserver.compaction.major.service.default.planner.opts.executors` overrides any user-specified value in the now deprecated `tserver.compaction.major.concurrent.max` property.

My proposed solution is:

* Change the default value of the old property to: `0`
* If the old property is not configured to its default value, then it must be overridden by the user, i

[2020-07-29 22:47] EdColeman opened #1666 "Improve recovery by optimizing tserver WAL processing"
There may be an opportunity to improve tserver performance during recovery by reading and caching the tablet markers in a wal file. The tserver might be able to read a WAL once and determine which tablets have entries and need to process the wal.  Other threads could check this cache and quickly determine if the was work to do without needed to reexamine the wal file.

This issue if to investigate

[2020-07-30 11:27] Manno15 commented on #1664
I'll take a look at this today.

[2020-07-30 12:52] ctubbsii commented on #1664
Cool. Thanks!

[2020-07-30 13:35] milleruntime commented on #1638
@ctubbsii I noticed a duplicate (Conductor) so deleted the second one.  There were no votes on this one.

[2020-07-30 17:52] Manno15 commented on #1664
My preliminary test results are showing that very minimal time can be saved from changing the batch size to a larger value. I plan on writing a more comprehensive test tomorrow to get a clearer conclusion.

[2020-07-30 19:10] milleruntime commented on #1086
@keith-turner do you think this issue is still around?  I'd like to try to understand it and possibly help get it resolved for a 1.10 release.

[2020-07-30 20:30] ctubbsii commented on #1664
I'm curious if it matters whether the candidates still have references in the metadata table or not, for the overall throughput. For example, if a batch size of 8MB results in most candidates being still in use, and only a few are actually available for deletion, does the performance drop on the DFS call to actually delete the file? Would it be better to have a larger batch size in order to make t

[2020-07-30 20:30] EdColeman commented on #1663
It looks likes the test properties file is being bundled into the accumulo-test.jar.  The prop files in assemble/templates look okay, but they should be updated with the "new" file possibilities and commented out like the rest so that there are samples for people to uncomment out.  Working on it now.

[2020-07-30 22:52] EdColeman commented on #1664
I may be just adding more words and Christopher's comment has it covered, but in case this helps.
It would be interesting to know some of the ratios when you run different timing scenarios - like number of candidates vs the number of deletes.
I think the thing we are trying to gauge is if there is a bottle neck in the Accumulo gc processor and do different batch sizes have any impact on where / wh

[2020-07-30 22:58] ctubbsii commented on #1664
Feel free to check in to the Slack channel if you have questions. I've been trying to be available there more often when I'm working, leaving the video call open for anybody to jump in if they want.

[2020-07-31 13:06] milleruntime commented on #1298
Do you think this is related to #1646 ? That error was different but it sounds like a similar situation.

[2020-07-31 13:08] Manno15 commented on #1664
Have you two used the gcs testing suite in accumulo-testing? I am wondering if I can adapt it to test for this.

[2020-07-31 15:06] EdColeman commented on #1664
No, I am not familiar with that suite.

[2020-07-31 16:57] milleruntime commented on #1664
@Manno15 I was also curious about that.  I haven't used it yet but Keith did write up some instructions here: https://github.com/apache/accumulo-testing/blob/master/docs/gcs.md

[2020-07-31 17:01] Manno15 commented on #1664
Yeah, I looked through the docs and ran though the functions a bit. I might be able to create a performance test based on it.

[2020-07-31 18:11] ivakegg opened #1669 "Automatic merging strategies"
When significant data is deleted from consecutive tablets, they could be merged and still fall under the configured split threshold.  Is systems where data is date oriented and is aged off, a significant number of tablets that are empty or near-empty can be left around over time resulting in a bloat of tablets.  We need to allow the system to automatically merge tablets.  A configurable merging st

[2020-07-31 22:31] ctubbsii commented on #1669
I worry that automatic merging could be used for people to shoot themselves in the foot, so to speak, with respect to performance. Any time Accumulo does something "automatically", it can be a surprise for users. For example, adding this could lead to situations where users unintentionally configure it to delete empty tablets, and then lose all benefits from pre-splitting tables at creation time t

[2020-07-31 22:33] ctubbsii commented on #1664
That'd be cool.

[2020-08-03 13:13] ctubbsii commented on #1639
Closing based on lack of response to previous comment. Please re-open if this is necessary.

[2020-08-03 13:13] #1639 closed

[2020-08-03 13:19] ctubbsii commented on #1638
Current tallies:

* 6 - Manager
* 5 - Coordinator
* 2 - Conductor
* 2 - Director
* 1 - AdminServer
* 1 - Nucleo
* 1 - Root
* 0 - Admin
* 0 - Cervello

I'll close this issue now and start a vote on the mailing list to decide between the top two choices, "Manager vs. Coordinator".

[2020-08-03 13:19] #1638 closed

[2020-08-03 15:21] keith-turner commented on #1086
@milleruntime I suspect its still around.  I will take a look and post some code links if I find its still an issue.

[2020-08-04 16:32] keith-turner commented on #1669
This was discussed on a JIRA issue that I Can not find.  What I remember from the JIRA issue that we decided that automatic merges should never merge away user added splits, only automatically added splits.  This avoided situations where a user creates a table, adds lots of splits, goes to lunch, the system merges away all their empty tablets, and then they come back from lunch and ingest lots of

[2020-08-04 17:04] ctubbsii commented on #1669
[This JIRA issue](https://issues.apache.org/jira/browse/ACCUMULO-1011) was closed as "Won't Fix" after almost 7 years being open and nobody working on it. There were concerns about automatically merging a user's splits there, but I didn't see the lunch example, specifically.

[2020-08-04 18:27] keith-turner commented on #1669
Glad you found the issue @ctubbsii .  I think a use case like the lunch example inspired some of the discussion.  Reading over the issue, one design I see emerging from the discussions is the following.

 * Add mechanism to mark splits as eligible or ineligible for automatic merge.
 * Add mechanism to inspect a split points eligibility for automatic merge.
 * Mark any user created splits as inelig

[2020-08-04 18:59] ctubbsii commented on #1669
So much complexity when a client-side solution would be simpler... and more easy to coordinate with any client-side code that creates splits. I really don't think it's worth it. I'm not 100% against... but much more against than in favor.

[2020-08-05 14:50] ctubbsii opened #1671 "Leverage GitHub Actions for CI testing"
I have been experimenting with using GitHub Actions in other projects I work on, and have found GitHub Actions to be better than Travis CI in many ways. In addition, it seems travis-ci.org is shutting down some of its features in order to migrate to travis-ci.com, which asks for far too many permissions up front than I am comfortable granting in order to view/manage builds there.

We should switch

[2020-08-05 17:09] #1671 closed

[2020-08-05 17:51] EdColeman opened #1672 "Investigate HDFS directory delete protection impacts (if any)"
Was asked if enabling if HDFS directory write protections (added with https://issues.apache.org/jira/browse/HDFS-15243) would prevent Accumulo from cleaning up sub-directories.

This issue is to:

1) Determine if Accumulo deletes non-empty directories directly.
2) See if there is any impact if something like /accumulo/[instance_id]/tables was "delete" protected - could that be enabled without impa

[2020-08-06 06:56] #1104 closed

[2020-08-06 17:35] EdColeman commented on #1663
Closed with PR #1663

[2020-08-06 17:35] EdColeman commented on #1663
Closed with PR #1663

[2020-08-06 17:35] #1663 closed

[2020-08-06 17:40] EdColeman opened #1673 "Prepare for 1.10 release."
This issue is to track outstanding issues / work that is required for a 1.10 release.  Initial efforts for a release were started in Jan/Feb but have been sidetracked and I'd like restart the process.

ToDos:
- release notes - draft available since Feb, updated 6 Aug with most recent changes.
- Two open Issues tagged blocker:
    -  #1298 Exception when attempting to get the next filename left tab

[2020-08-06 17:56] keith-turner commented on #1086
@milleruntime  I researched this a bit more, looking into the following two concerns.

 1. ZooReaderWriter retries on session expired exceptions.
 2. ZooReaderWriter automatically gets a new zookeeper when one is closed.

For issue 1, looking at the code zoolock code it deals mainly deals with session expired in watcher.  As far as I can tell ZooReaderWriter does not alter events from watcher at t

[2020-08-06 18:00] keith-turner commented on #1298
@milleruntime I will look into this.

[2020-08-06 18:37] keith-turner commented on #1673
@EdColeman  and @milleruntime I marked #1086 a blocker because I was hoping to work on it before 1.10.  However, not sure I will be able to do that depending on the release time frame.  Given that #1086 is likely an issue that predates 1.9 and is not newly introduced between 1.9 and 1.10, it does not have to be a blocker for 1.10 (it would be nice to keep on the radar somehow though).   I am going

[2020-08-06 18:47] EdColeman commented on #1673
Thanks. As far as time frame, I was hoping the community would agree on something like "by the end of the month (August)"  If #1086 is still open, I assume that we can keep it as a blocker for 2.1 to give more visibility.

[2020-08-06 21:19] EdColeman commented on #1086
Looking at the code and comparing that with the zookeeper examples on locks, would it be viable to use a guid when the ephemeral node is created?  (See https://zookeeper.apache.org/doc/r3.5.0-alpha/recipes.html#sc_recipes_errorHandlingNote - as well as the Recoverable Errors and the GUID section.)

`When creating a sequential ephemeral node there is an error case in which the create() succeeds on

[2020-08-07 05:55] ctubbsii commented on #1638
The name agreed to in a vote on the mailing list was 'manager'.

[2020-08-07 05:55] ctubbsii commented on #1639
The name agreed to in a vote on the mailing list was 'manager'.

[2020-08-07 05:55] ctubbsii commented on #1643
The name agreed to in a vote on the mailing list was 'manager'.

[2020-08-07 05:56] ctubbsii commented on #1642
The name agreed to in a vote on the mailing list was 'manager'.

[2020-08-07 05:56] ctubbsii commented on #1641
The name agreed to in a vote on the mailing list was 'manager'.

[2020-08-07 05:56] ctubbsii commented on #1640
The name agreed to in a vote on the mailing list was 'manager'.

[2020-08-07 15:20] ctubbsii commented on #1665
@keith-turner It has turned out to be extremely difficult to track down the appropriate place to implement this. If you get a moment to go over the compaction configuration implementation, I'd love to chat with you about this on Slack.

[2020-08-07 19:40] #1641 closed

[2020-08-10 18:14] milleruntime commented on #1673
As a reference, here is the PR for the release notes: https://github.com/apache/accumulo-website/pull/218
I had forgot you already did the release notes... and I even reviewed them haha!

[2020-08-10 18:40] milleruntime commented on #1492
I believe this is already done in 1.9 with #1524.  @ctubbsii can this be closed?

[2020-08-10 18:49] ctubbsii commented on #1492
Yeah, I assumed this would auto-close when the linked PR was closed... but I guess it didn't.

[2020-08-10 18:49] #1492 closed

[2020-08-11 12:41] milleruntime commented on #1298
@keith-turner I am looking at this one for 1.10.  I think we can fix it with some simple refactoring.

[2020-08-11 18:15] milleruntime commented on #1298
I think I have a simple fix with #1675 that shouldn't be a problem merging forward

[2020-08-11 22:18] keith-turner commented on #1665
@ctubbsii I think I would work it into the following code.

https://github.com/apache/accumulo/blob/main/server/tserver/src/main/java/org/apache/accumulo/tserver/compactions/CompactionManager.java#L65-L88

Make this code check if the old setting are set and the new settings are defaults, then it could insert special values into the `planners` and `options` maps that would cause a service to be cre

[2020-08-12 00:34] ctubbsii commented on #1665
@keith-turner Right, I got that far already. My concern wasn't exactly a question of where to implement it, because I did already track down that code after a significant amount of time. Rather, my concern is in the difficulty in tracking it down itself, as a result of the current design, as well as potential problems with the overall design of this new configuration parsing stuff for compactions.

[2020-08-12 00:54] sixfootbeard opened #1678 "Combiner option setReduceOnFullCompactionOnly not honored"
Combiner option setCombineAllColumns(..., true) prevents the other option setReduceOnFullCompactionOnly(..., true) from being honored. The issue is likely related to the init() method bailing out once the first option is determined to be true instead of continuing to parse the initialization options.

https://github.com/apache/accumulo/blob/9f29f37d87809ac6a86f185348c517a104b7dec6/core/src/main/ja

[2020-08-12 13:11] #1298 closed

[2020-08-12 13:42] milleruntime commented on #1678
Thanks @sixfootbeard for creating the issue.  What version of Accumulo are you seeing this issue?  It looks like this issue exists in 1.9 as well.

[2020-08-12 13:53] sixfootbeard commented on #1678
I'm using version 1.9.3.

[2020-08-12 23:15] keith-turner commented on #1665
@ctubbsii  the code can easily be found by searching for references to `Property.TSERV_COMPACTION_SERVICE_PREFIX`.  The configuration design pattern is not something new, it follows a precedent set by many other Accumulo configuration properties that need to allow a user to configure one or more of something.  For other examples see `Property.TABLE_CONSTRAINT_PREFIX`, `Property.TABLE_ITERATOR_PREF

[2020-08-13 02:00] ctubbsii commented on #1665
Okay, I think I see the pattern you were going for now. We actually have two kinds of "PREFIX" properties: categorical (like `TABLE_PREFIX`, `INSTANCE_PREFIX`, etc.) for logical grouping, and prefacing (like those you mentioned, as well as others that look like `*.opts.*` or `*.custom.*`) which preface user-defined suffixes. Because these new properties aren't exactly categorical, and aren't exact

[2020-08-13 04:18] keith-turner commented on #1665
Have you looked at the Javadocs and this https://github.com/apache/accumulo-website/pull/232 ?

[2020-08-13 11:41] ctubbsii commented on #1665
Yes.

[2020-08-13 12:25] #1678 closed

[2020-08-13 18:44] ctubbsii opened #1682 "BaseJUnit4IteratorTest tests fail to run 1.10"
I noticed while working on #1681 that the SummingCombinerTest, and other tests which use the iterator-test-harness via BaseJUnit4IteratorTest are not actually executing. JUnit tries to run them, but fails to detect any actual test cases within them to run.

These same tests run on the main branch, so there must be something different about 1.x (possibly the version of JUnit, but upgrading that wou

[2020-08-14 00:34] keith-turner commented on #1298
@milleruntime I looked #1675, it looks great and really like the simplicity of the fix.  Looking over it inspired me to open #1683.

[2020-08-14 15:15] milleruntime commented on #1673
Something that I think is good to do before a release is update all the minor dependencies.  The maven versions plugin is great for checking this: ```mvn versions:display-dependency-updates```.  Some "minor" version upgrades are not possible or require more work so they won't be feasible at the end of the development cycle.  Here are some we should check (feel free to ping me with a "No Way Jose"

[2020-08-14 16:04] ctubbsii commented on #1673
There's breaking changes in newer jcommander, and is not safe to update in 1.x I think.

These should be fine, in general, but we should be careful about the `commons-*` ones. Some are riskier than others, and some we expect to be provided by, or matching, whatever Hadoop has. This is still an issue for Hadoop 2.x, and less so in Hadoop 3.x, where they have shaded much of their deps. In any case,

[2020-08-14 16:30] milleruntime commented on #1673
Probably but I wasn't sure what was the point of this ticket other than to link to other tickets.  Which I thought we already were accomplishing with GitHub Projects...

[2020-08-14 16:53] EdColeman commented on #1673
I was hoping to use this as sort of a white board to pass info concerning the release.  I was looking for something more accessible than email that we could use to track different efforts towards the release between ourselves and those that may be interested in the release to see what has been accomplished and what remains.
I guess I envisioned something like a kanban board tracking of tasks and p

[2020-08-14 17:04] milleruntime opened #1685 "Update dependencies for 1.10 Release"
Something that I think is good to do before a release is update all the minor dependencies.  The maven versions plugin is great for checking this: ```mvn versions:display-dependency-updates```.  Some "minor" version upgrades are not possible or require more work so they won't be feasible at the end of the development cycle.  Here are some we should check, I eliminated other ones from @ctubbsii com

[2020-08-14 17:06] milleruntime commented on #1673
I deleted some of my comments and opened a separate issue in #1685 .  Sorry for cluttering up this one.

[2020-08-14 17:37] ctubbsii commented on #1685
<details>
<summary>Moving my comment from the other issue to this ticket... expand to view:</summary>

There's breaking changes in newer jcommander, and is not safe to update in 1.x I think.

These should be fine, in general, but we should be careful about the `commons-*` ones. Some are riskier than others, and some we expect to be provided by, or matching, whatever Hadoop has. This is still an is

[2020-08-14 18:43] milleruntime commented on #1685
@ctubbsii Do you remember if this one that we had to revert because of problems with vfs2?

[2020-08-14 18:59] ctubbsii commented on #1685
From what I've seen, there have been problems with every vfs2 version we've used. I don't know of any particular ones affecting this one. However, we should probably avoid it, because it depends on Hadoop 3.2.1, and we're still supporting Hadoop 2 in the 1.10 branch. I don't know if this version of vfs2 will work on Hadoop 2, and I don't know if it's worth doing a bunch of tests in 1.10, since we'

[2020-08-17 11:26] dkurzaj commented on #1645
Hello, this new behaviour of Zookeeper seems to also impact the Accumulo Mini Cluster which relies on the `ruok` 4-letters command to establish handshake with the started Zookeeper server. Starting the mini cluster seems to always fail for me now that I updated my Zookeeper dependency. The mini cluster config for Zookeeper should probably add a line to whitelist this keyword.

[2020-08-17 12:40] ctubbsii commented on #1645
That has already been done in 2f28816d40778df60508e5ed9c3f0f496173b997 and will be available in 2.1.0. If you need it sooner, you can backport the changes to your builds.

[2020-08-17 12:47] dkurzaj commented on #1645
Oh excuse me for the inconvenience, thank you! :)

[2020-08-18 13:17] friedlou commented on #1655
Yes, you are understanding it correctly.

On Tue, Jul 28, 2020 at 11:19 PM Christopher Tubbs <notifications@github.com>
wrote:

[2020-08-19 20:28] EdColeman opened #1689 "Tserver in bad state may be writing corrupted files during compactions."
The symptom is that the system is encountering an IOException (incorrect data check) where the zlib decompressor cannot uncompress a file.  The file would have been created during a previous compaction.

The tserver seems to be in a bad state, and rather than writing corrupt files, it would be preferable if the condition(s) can't be corrected, then stop the server.

On processing the corrupted fil

[2020-08-24 20:53] EdColeman commented on #1689
I removed the 1.10 tag so that it does not impend the 1.10 release.

This occurred with Accumulo 1.9.3.  It seems likely that this issue has been around for a while and is not new to 1.9.  There may be mitigations that limit the issues with (re)loading customer iterators (i.e.deploy jars locally to the tserver)  Because this may be difficult to reproduce, developing fixes may be more complicated o

[2020-08-25 12:53] milleruntime commented on #1685
At this time, all the practical updates have been done for 1.10

[2020-08-25 12:53] #1685 closed

[2020-08-25 20:31] ctubbsii commented on #1682
I tried bumping to JUnit 4.13, and it didn't help. The tests are not found in those classes when run on 1.10 branch, but are found fine in main branch. The test classes themselves are nearly identical, and their differences wouldn't explain this behavior. Very strange.

[2020-08-26 12:25] dlmarion commented on #1682
I can try to replicate the issue you are having.

[2020-08-26 13:15] ctubbsii commented on #1682
The command I ran was:

`mvn clean package -Dtest=BaseJUnit4IteratorTest,JUnitFrameworkTest,AgeOffFilterTest,CfCqSliceFilterTest,SummingCombinerTest,WholeRowIteratorTest`

If you follow the output from Maven, you can see on 1.10, it shows something like:
[code]

However, on main, it shows something like:
[code]

So, surefire is finding the test, and running it with JUnit, but JUnit isn't finding t

[2020-08-26 21:40] ctubbsii commented on #1682
I believe @dlmarion identified the bug being with the older version of Guava used to find tests, which looks for classes under the assumption that the classloader is of URLClassLoader type, which it isn't in Java 11. The tests were confirmed to pass using Java 8, and these tests pass fine in the main branch. Does this description, match your findings @dlmarion ?

It may be possible to fix this in

[2020-08-26 21:40] #1682 closed

[2020-08-26 21:52] dlmarion commented on #1682
That is correct.

[2020-08-27 17:42] milleruntime commented on #1673
FYI there was an issue with the first RC: https://github.com/apache/accumulo/pull/1692
It was fixed with that PR and an RC2 has been created for testing.

[2020-08-28 17:42] cradal commented on #1659
@milleruntime I reviewed .core classes and took some notes:
1) Reviewed appearance and usage of deprecated internal data types in core and discovered:
ConfiguratorBase uses the following deprecated types: RangeInputSplit, ClientConfiguration, DelegationTokenStub and ConnectorImpl.
ClientConfConverter uses ClientConfiguration.
The deprecation warnings are suppressed in ConfiguratorBase and ClientCo

[2020-08-29 22:23] keith-turner opened #1695 "Continuous verification fails to start."
While testing 1.10 RC2 the continuous verification script failed to start w/ an error message about bad options.  Working w/ @karthick-rn   we debugged the issue and determined that it may be related to an update in jcommander.

We added set -x to the script and saw the following line was passing `''` for `$SCAN_OPT` and `$AUTH_OPT`.

https://github.com/apache/accumulo/blob/cfb33e1dcad4ab7d6e07d0b

[2020-08-31 00:43] tynyttie commented on #1655
Hi. I will look into this issue.

[2020-08-31 02:26] ctubbsii commented on #1655
@tynyttie , there's already an open PR for this at #1656 ; if you're interested in helping with this issue, you could review that code change and provide feedback there.

[2020-08-31 02:42] ctubbsii commented on #1695
This could be related to #1684 , which updated jcommander. But, if the opts aren't needed, maybe they shouldn't be there in the first place... or if they are optional, then maybe we should only conditionally add them to the command-line (or simply unquote them in the script, so they don't get passed as empty args when they are empty).

[2020-08-31 14:07] tynyttie commented on #1655
Sure, I would love to. Thank you.

[2020-08-31 22:08] jfrazee opened #1696 "IllegalAccessError running shell commands in 1.10.0rc2 with ./hadoop/common/lib/* on classpath"
I'm seeing an IllegalAccessError when trying to run Accumulo shell commands when ./hadoop/common/lib/* on is on the classpath. The shell will open but then running commands results in:

[code]

This appears to be due to some difference in commons-cli-1.2 (packaged with Hadoop) and commons-cli-1.4 (packaged with Accumulo 1.10.0rc2; see #1687).

I can repro this running on either Java 8 (1.8.0_265)

[2020-08-31 22:19] ctubbsii commented on #1696
Why would you put that on the front of the class path?

[2020-09-01 15:54] #1385 closed

[2020-09-02 00:50] l-k-a-m-a-z-a opened #1698 "Add"

[2020-09-02 01:54] #1698 closed

[2020-09-02 17:02] karthick-rn commented on #1695
@ctubbsii Can you assign this bug to me? Thanks

[2020-09-03 03:12] #1673 closed

[2020-09-03 03:25] ctubbsii opened #1699 "Post-vote release tasks for 1.10.0"
- [Git](https://github.com/apache/accumulo) tasks
  - [x] Create a signed `rel/<version>` tag (and push it)
  - [x] Merge `<version>-rc<N>-next` branch into a maintenance branch (if maintenance is expected),
        and then into the `main` branch (and push them)
  - [x] Remove `*-rc*` branches
- [Nexus](https://repository.apache.org) tasks
  - [x] Release the staging repository corresponding to t

[2020-09-03 13:48] milleruntime commented on #1699
This is great, thanks @ctubbsii.  Feel free to update or push these to https://github.com/apache/accumulo-website/pull/239

[2020-09-03 15:40] ctubbsii commented on #1699
I was actually thinking about making an issue template in the repo, so that we can easily create this type of issue again in future, to create a better workflow to obviate the need for too many detailed instructions.

[2020-09-06 18:56] jkosh44 commented on #1627
Hey @keith-turner is this still relevant? If so I'd like to give it a shot.

[2020-09-07 03:07] #1627 closed

[2020-09-08 12:45] tynyttie commented on #873
I will take a look at it. Question, how do I properly test to see the performance benefits if any?

[2020-09-08 12:49] ctubbsii commented on #873
@tynyttie I believe we now have a continuous ingest bulk load test in the accumulo-testing repository, that you may be able to adapt. Or, you may need to experiment and devise your own performance testing for something like this.

[2020-09-08 12:52] tynyttie commented on #873
I understand. Thank you.

[2020-09-08 18:16] ctubbsii commented on #1084
@milleruntime What's the status of this?

[2020-09-08 19:40] #1699 closed

[2020-09-10 15:18] jkosh44 commented on #1643
I have a couple questions on this.

- Do we just want to change the method names or all references?
- What about variable names, enum values, and constants?
- Do we just care about public API methods are do we also want to change internal methods?
- What about class names? For example `MasterClient`. One solution could be to refactor this to `ManagerClient`, then have a subclass called `MasterClie

[2020-09-10 15:44] ctubbsii commented on #1643
For this issue, I would focus *only* on public API.

[2020-09-11 02:24] #1643 closed

[2020-09-11 02:50] ctubbsii commented on #1643
This is partially done. The final removal will need to occur in a 3.0.0 release, because of the API breakages.

[2020-09-11 17:21] cradal commented on #1351
Looking at this issue now.

[2020-09-11 20:15] dlmarion commented on #948
There is also the [YieldingIerator](https://github.com/apache/accumulo/blob/main/test/src/main/java/org/apache/accumulo/test/functional/YieldingIterator.java)

[2020-09-17 16:45] ctubbsii commented on #1664
@Manno15 I know you made the batch size configurable in #1706, which is great. But, if you have any results/conclusions from your investigation with various batch sizes that you tested, it'd be good to mention them here. I'm going to close the issue (so I don't forget to later), but you can still comment with your results/conclusions.

[2020-09-17 16:45] #1664 closed

[2020-09-17 17:58] Manno15 commented on #1664
From my testing, I can see a clear correlation between the number of times it reaches the batch size limit to how long it takes for the collection cycle to complete. With the trial of never reaching the limit being the quickest.

The issues I faced were in getting the amount of delete candidates and more importantly the candidate length long enough without my cluster of computers crashing or runni

[2020-09-17 18:18] ctubbsii commented on #1664
@Manno15 I'm curious how you were generating gc candidates in the metadata table. I would have thought you'd be able to easily get over 12MB of candidates, even on modest hardware, by simply adding fake `~del` entries to the metadata table directly. Being configurable, though, should allow users to discover what is optimal for them.

[2020-09-17 18:51] Manno15 commented on #1664
It's definitely possible that I could have done things more optimal. I was told a good way to produce a lot of delete candidates was to create a pre-split table (I chose 75k), compact the table, clone and then delete one of them. From then on, I just had to compact the table to keep reproducing the delete candidates. This did work well but it did also take a decent amount of time between test runs

[2020-09-17 20:48] ctubbsii commented on #1664
Thanks for the info on  your method. That way is clever, and should work, too. It is also more realistic as to how Accumulo actually operates (because there may or may not be candidates in use elsewhere in the metadata table, and because the files would actually exist). It's not a big deal. If we identify a better optimal default, we can change the default value, but I wouldn't spend a lot of time

[2020-09-17 21:08] EdColeman commented on #1689
(Using 1.10 code) when the tserver gets into a bad state, it looks like zooCache may be returning null in the Tables.exists() check (Tables - line 147).

In TabletServerResourceManager - line 451 has a catch throwable and just a log statement.  The code is in a continuous loop and I believe the code after the error is correctly guarded, but the loop never will end.

I don't think that killing the

[2020-09-17 21:13] ctubbsii commented on #1689
@EdColeman Can you provide an example patch of what changes you mean to propose? I'm having a hard time following the narrative.

[2020-09-17 21:47] EdColeman commented on #1689
Concept in https://github.com/apache/accumulo/pull/1709  (Not even sure if it will compile - I know the code is incorrect, but should be enough for the gist)

[2020-09-18 02:02] ctubbsii commented on #1689
@EdColeman Thanks for the code in #1709. I get the gist of what you're proposing as a solution (to it's own lock and self-terminate). But, I still don't understand the problem from the above description. You said there's a `NullPointerException` being thrown, but it's not possible for it to be thrown in the code you updated... that's just where it is finally caught and handled... so it must be thr

[2020-09-18 02:04] ctubbsii commented on #1689
Also, is this issue reproducible or was it a one-off thing you're trying to track down? It'd be great if it were reproducible on 2.x, so we can try to fix it there first.

[2020-09-18 04:13] EdColeman commented on #1689
It has occurred more than once, however, I'm not sure how to approach recreating it in a test environment.  It seems the trigger is that the dynamic classloader starts to thrash, continually reloading - I then suspect that this is consuming memory or other resources until things fail.  One thing that sets off the classloader is when new jars are deployed in hdfs for the system, but then its only o

[2020-09-18 05:46] ctubbsii commented on #1689
Ugh. Classloaders. If you can't trust your class loader, you can't trust anything. I don't know how we can reasonably protect against class loader problems... because those can cause problems *anywhere* in our code, including any code we write to try to guard against problems.

Another possible issue is the attempting to catch Throwable and handle it... which could include unrecoverable Errors. We

[2020-09-18 13:12] EdColeman commented on #1689
Sample stack trace:

`For version 1.9.3

[code]

[2020-09-18 13:51] EdColeman commented on #1689
Timeline - maybe this helps to provide context, an abbreviated timeline of the messages logged:
[code]

[2020-09-18 17:31] tynyttie commented on #1628
I will look at it.

[2020-09-18 19:48] ctubbsii commented on #1689
Thanks, that helps a lot.

Hmm. Did a master get into a bad state first and fail over to a secondary? This seems weird. I wonder if the master was having issues also.

What's this? This looks like it was triggered by a bad VFS classloader configuration. Maybe that'd be a good place to guard against. It'd be very hard to protect code against a bad classloader... because it could be doing bad things

[2020-09-21 14:39] EdColeman commented on #1689
The errors listed in the summary are my summary descriptions - the actual errors where in the stack trace.

The Invalid URI error occurred hours after the memory manager failed, so it does not seem to indicate that would be the trigger.

I do not know if the master lock / fail over is common to each occurrence - I noted it here in case it was significant, but I cannot say it was common.

[2020-09-21 14:41] EdColeman commented on #1689
Zookeeper "should" not be reloading - I believe the jar that changes are custom iterators.

[2020-09-21 15:14] ctubbsii commented on #1689
Somehow my grep failed me. I see the message now in `TabletServerResourceManager`. :smiley_cat:

[2020-09-21 15:22] ctubbsii commented on #1689
Is the VFS reloading is common?

[2020-09-21 19:27] EdColeman commented on #1689
Yes - each time the dynamic classloader starts rebuilding continuously.  After a time, the memory manager then starts throwing the null pointer.

Another thing pointer out today, sometimes the path passed to the classloader is invalid, I've found cases where its truncated, or has "invalid characters", its been plus signs, exclamation points and pound signs -  however, in the most recent case, none

[2020-09-21 22:14] ctubbsii commented on #1689
I'm pretty confident in saying that I don't think this is an Accumulo memory manager bug at all. Perhaps this is a hardware bug (it seems like some sort of memory/storage corruption).

Perhaps it can be mitigated within the classloader, through detection of rapid change events? However, given the direction we're headed regarding the classloader changes (see mailing list for discussion about that),

[2020-09-21 22:57] EdColeman commented on #1689
Looking at the log messages for server.GarbageCollectionLogger the collection times for ConcurrentMarkAndSweep are 0.11 and its reporting plenty of free memory.

[2020-09-21 23:30] EdColeman commented on #1689
Overall, there may be a difference in philosophy or focus.  I do not disagree with the premises of anything that you wrote - except I think I'm coming at it from a different angle.

I'm aware of the classloader rework - that's one reason I was less focused on the "how it got that way" and am trying to address "no matter how we got here, can we at least stop writing corrupt files".

Whatever the ro

[2020-09-22 03:34] ctubbsii commented on #1689
Your approach just feels to me like trying to protect against sun damage by applying sunscreen to burnt areas as they occur... rather than taking the time to set up an umbrella to stop the underlying cause.

Yes, I think we should stop the tserver. We should let `Error` fall through and only catch regular `Throwable`s (`Exception`s), and we should set up an uncaught exception handler on all thread

[2020-09-22 14:04] EdColeman commented on #1689
Is there any recommendation on how to kill the tserver?

[2020-09-22 14:23] dlmarion commented on #1689
[1] is what is invoked when the TabletServer loses its lock. I think we
should create three issues for this:

1. Remove / Replace the catching of Throwable in the code base
2. Addition of [1] in server components that handle the case where
exceptions are thrown in critical threads
3. A solution to this particular problem, which may involve a little of
both, but can be easily backported to 1.10.

[

[2020-09-22 16:35] ctubbsii commented on #1631
I edited the original post to link to the JIRA issue.

[2020-09-22 18:04] ctubbsii commented on #1695
@karthick-rn Any progress on this bug? No rush. Just curious.

[2020-09-22 18:06] ctubbsii commented on #1696
I think it's somewhat expected that the software will misbehave if the user sets the class path incorrectly by placing incompatible jars on it. So, I'm inclined to close this. Please comment further, or re-open if you think there is something more that can or should be done for this.

[2020-09-22 18:06] #1696 closed

[2020-09-22 19:24] karthick-rn commented on #1695
@ctubbsii Yes, this is on track in-fact I'm currently testing the fix that @keith-turner & I discussed few weeks ago. As we suspected, the issue is related to jcommander update. The previous version of jcommander(v1.48) seem to ignore empty arguments, this behaviour has been changed through https://github.com/cbeust/jcommander/pull/311 and jc no longer ignores empty arguments. I will PR this one s

[2020-09-23 14:48] milleruntime commented on #1084
A lot has changed in a year so I will have to re-run the ITs in Standalone mode.

[2020-09-23 15:37] karthick-rn opened #1712 "Continuous verification script fails with ZK version 3.5 & above"
We ran into this when testing 1.10 RC2 & at the time we manually copied the `zookeeper-*.jar` from `zk_home/lib` to  `zk_home/` directory to workaround the issue. The script needs to be modified to look for `zookeeper-*.jar` files inside the `/lib` directory for ZK versions 3.5 & above.

[2020-09-23 16:10] ctubbsii commented on #1712
This issue seems relates to https://github.com/apache/accumulo/issues/1695#issuecomment-696930091

[2020-09-23 17:08] karthick-rn commented on #1712
#1695 is mainly to address the empty arguments. I thought I'll create a separate issue to address the ZK directory problem. Let me know if I can club both the work in a single PR? If so, we can close this issue.

[2020-09-23 19:56] ctubbsii commented on #1712
A single PR can close both issues. These are both pretty small changes, probably. I only linked to the other issue, for easy reference to related issues.

[2020-09-23 20:36] #1397 closed

[2020-09-24 11:52] karthick-rn commented on #1712
Ok, makes sense. I'll close this issue.

[2020-09-24 12:33] milleruntime commented on #1084
Based on commit 530e3dec5, I ran the Standalone ITs using Uno with the 32GX4 profile on a single m5d.2xlarge EC2 instance.  Saw the following ITs fail:

- org.apache.accumulo.test.functional.ScanIteratorIT
- org.apache.accumulo.test.functional.ReadWriteIT
- org.apache.accumulo.test.functional.ScanIdIT
- org.apache.accumulo.test.functional.ConcurrencyIT
- org.apache.accumulo.test.functional.Restart

[2020-09-24 14:31] ctubbsii commented on #1712
@karthick-rn It's okay if this is open. What I meant was: when the PR is made, it can address two issues, and it can be closed when that PR is merged.