[2019-03-22 20:24] #1039 closed

[2019-03-22 22:22] ctubbsii opened #1052 "Review DistributedCache usage (pretty sure it's very broken)"
The best explanation (if it even works) of how to use Hadoop's distributed cache is at https://stackoverflow.com/a/26421057/196405

But, I have not tested this.

Our code does not do anything like this.... we tell the distributed cache to add a cache file, but then we just loop through the list of cached URIs, pointlessly, and then reach directly out to the DFS to read it.

All of the Hadoop APIs

[2019-03-23 14:47] EdColeman commented on #1049
How would a property account for situations when something other that the default table balancer is used?

In practice, I'll use pssh to start the tservers first, and once they are up and stable I'll start the master.  This gives me the opportunity to check a few tserver logs to validate that things look "normal" before proceeding.

Also, if there is any server affinity for tablets, those servers

[2019-03-23 15:05] milleruntime commented on #1049
I like the minimum number of tservers because of the simplicity.  Users might prefer a percentage though, since that would mean less adjusting of the property as they bring servers on and offline, better for maintainability.

[2019-03-25 17:37] drewfarris opened #1053 "Support multiple volumes in import table"
In the current table export/import process, the `exporttable` command generates a file `distcp-txt` containing the list of rfiles to copy to the destination system. rfiles are distcp'd from their original location on the source system to a single directory on the target. The `importtable` command takes the directory on the target as an argument and uses each of the files present in this directory

[2019-03-25 18:03] milleruntime commented on #958
Do you want to try and do this for 1.9.3?

[2019-03-25 18:10] jzgithub1 commented on #1052
Is this related to the VFS issue #933?

[2019-03-25 18:18] mikewalch commented on #958
I think we should wait on this. If there is a demand from 1.9 users, they can comment on this ticket and we can do it in the future.

[2019-03-25 19:46] ctubbsii commented on #1052
@jzgithub1 No. It's unrelated.

[2019-03-25 19:47] milleruntime commented on #961
Fixed in #1048

[2019-03-25 19:47] #961 closed

[2019-03-25 19:53] ctubbsii commented on #764
This sounds like a VFS-specific issue. While it affects Accumulo users using VFS, I'm not sure we can really address it in any meaningful way. It seems like it needs to be fixed in VFS itself. VFS 2.3 is now available. That may work better. I'm not sure.

I think we should close this for now, because I don't think we can do anything in Accumulo to address this. If there's something we can do in Ac

[2019-03-25 19:53] #764 closed

[2019-03-25 20:31] ctubbsii commented on #729
I'm not sure this is a bug. The `accumulo.service.instance` being set in the script is associated with the default configuration for file-based logging. It's not for the metrics. The system property for metrics appears to be a similar property, but we do not try to set it for the user. The user can set this system property in their `accumulo-env.sh` script on startup, though, when they set up metr

[2019-03-25 20:31] #729 closed

[2019-03-25 20:33] ctubbsii commented on #486
@keith-turner Any update on this? Or should this be bumped from the 1.9.3 release?

[2019-03-25 20:35] ctubbsii commented on #1045
The monitor is so different in 2.0, I don't think it's worth spending a lot of time enhancing the old monitor in 1.9. If we were to spend any time doing monitor stuff in 1.9, the time would probably be better spent backporting the 2.0 monitor rather than adding enhancements to the 1.9 monitor. So, I'm dropping the 1.9.3 label.

[2019-03-25 20:36] ctubbsii commented on #949
@keith-turner You self-assigned this. Any update on this? Or should this be bumped from the 1.9.3 release?

[2019-03-25 20:58] milleruntime commented on #1045
I was looking at it briefly for 1.9 because it seems more like a bug.  A lot of the monitor runs separate threads for ZK the prevent it from hanging.

[2019-03-25 21:03] ctubbsii commented on #547
@mikewalch Have you seen this lately? Should this be done for 1.9.3?

[2019-03-25 21:05] milleruntime commented on #1045
The problem is in the ZooConfiguration:
https://github.com/apache/accumulo/blob/1.9/server/monitor/src/main/java/org/apache/accumulo/monitor/servlets/BasicServlet.java#L60
The servlet tries to get 3 values form the configuration but the ZooConfiguration will keep trying.  Not sure how to fix easily for 1.9

[2019-03-25 21:07] mikewalch commented on #547
No but I haven't run continuous ingest lately. I say hold off on it unless it reappears in testing.

[2019-03-25 21:14] ctubbsii commented on #1045
Bug or enhancement... either way, I'm not sure it's worth the effort in 1.9.

Regardless, a fix isn't currently ready for 1.9, and I don't think it's worth holding up 1.9.3.

[2019-03-25 21:56] #949 closed

[2019-03-25 22:03] keith-turner commented on #486
I think the changes in #837 fix this.  Those changes should prevent any files from loading while the metadata table is being scenned to see what failed.

[2019-03-25 22:03] #486 closed

[2019-03-25 22:05] keith-turner opened #1054 "Don't retry failed walog creation immediately"
While looking at #1005 I noticed that when there is a failure to create a walog it retires immediately.  It should probably wait a bit using the Accumulo retry code.

[2019-03-25 22:07] ctubbsii commented on #994
PR in #1055

[2019-03-25 22:08] ctubbsii commented on #1054
@keith-turner  Should this go in 1.9?

[2019-03-25 22:10] keith-turner commented on #1054
No

[2019-03-25 22:10] ctubbsii commented on #547
Okay, then I'm bumping it from 1.9.3 so we can prepare for a 1.9.3 release candidate.

[2019-03-25 22:10] keith-turner commented on #1054
Well maybe 1.9.4.  Does not need to hold up 1.9.3

[2019-03-25 22:14] milleruntime commented on #1045
I looked at this for 2.0 as well and it is just as difficult.  I don't think this is worth doing since all ZK being down is pretty catastrophic to Accumulo as a whole and making the Monitor work independently doesn't get us a whole lot.

[2019-03-25 22:14] #1045 closed

[2019-03-25 22:39] #994 closed

[2019-03-26 16:13] mikewalch opened #1056 "Design API for creating mutations from key/value pairs"
I was writing the following Spark code and realized that it could be simplified if had a better way of going from key/value pairs to Mutations:

[code]
One solution could be a simple function that creates a single mutation from a key/value pair:

[code]
However, this should be thought out with a design document as it might be better to batch multiple key/value pairs in the same row into a single m

[2019-03-26 16:39] ctubbsii commented on #1056
For mutations, we typically want to change some aspect of the key/value pair before inserting it. Not doing so would only be useful copying from one table to another.

For efficiency and atomicity of updates, we also want to batch changes to a single row into a single mutation, and not simply create a new mutation for each K/V pair.

These core concepts should be taken into account when designing

[2019-03-26 17:28] keith-turner commented on #1054
invalidated by #1057

[2019-03-26 17:28] #1054 closed

[2019-03-27 14:23] jzgithub1 commented on #1052
Working on this now.

[2019-03-27 17:22] milleruntime opened #1058 "Fate Metrics coupled with Replication"
The forward merge of #1046 from 1.9 to 2.0 went without conflicts but the code in 2.0 was moved into a method that is only called when replication is enabled.  This will result in fate metrics requiring replication to be enabled to be registered.

[2019-03-27 17:23] milleruntime commented on #1058
@EdColeman

[2019-03-27 19:59] ctubbsii commented on #1058
The merged occurred in f896c98c2356a52dfa2235d2cc02ae556ab17909 . It was a relatively easy merge, but it did have some conflicts to resolve :smiley_cat:

[2019-03-28 18:19] ctubbsii opened #1062 "[minicluster] Have mini collect/re-log logs generated by services it launches"
MiniAccumuloCluster should start up a log4j socket appender service to receive logs. When it launches tserver, master, etc. services, it should do so with a log4j configuration that sends certain logs (warning and higher?) back through to the socket listening in the mini process that launched them. This would enable MiniAccumuloCluster to be able to make these important logs available to the proce

[2019-03-28 19:11] EdColeman commented on #1058
See https://github.com/apache/accumulo/pull/1063

[2019-03-29 00:57] ctubbsii opened #1064 "Native maps crash (segfault) when calling LinkedBlockAllocator.deleteLast()"
There appears to have been another change in the gcc STL implementation of Vector, used by our LinkedBlockAllocator (similar to #767). libstdc++ 8.3.1, the following segfault occurs when running NativeMapIT.

[code]

[2019-03-29 18:27] keith-turner opened #1065 "map reduce failed because of commons config version in 1.9.3-rc2"
After running continuous ingest against 1.9.3-rc2 the verification map reduce job failed to start because of the following error.

[code]

Investigated and found the following :
  * Hadoop 2.9.2 used commons config version 1.6
  * Accumulo switched to commons config version 1.10 after 1.9.2 in commit 06d80292d869edc495bf691c0d43be52dc0dcdca for #659
 * The new method `MapConfiguration(Properties p

[2019-03-29 19:15] ctubbsii commented on #1065
Is it possible to simply drop in commons-configuration 1.10 into the Hadoop class path?

[2019-03-29 19:26] keith-turner commented on #1065
I tried replacing hadoops commons config with 1.10 and the job starts, but the map task fail with a weird error.  I am trying to figure out the quickest way to actually get the verify job to run so I can validate the test.

[2019-03-29 19:54] ctubbsii commented on #1065
I was going to try to cast the parameter to force the binding to the less specific method, without having to downgrade.

[2019-03-29 20:36] keith-turner commented on #1065
I cast it to java.util.Map, rebuilt accumulo core, and dropped that into accumulo's lib dir.  The map reduce job started and is currently reading from Accumulo.   With this approach, how will we know if we got everything that matters?

[2019-03-29 20:41] mjwall commented on #1065
What about going back to commons config 1.6 for the 1.9.3 release? @busbey
any issue with that?  I worry about making it hard for current 1.9.2 users
to upgrade.

On Fri, Mar 29, 2019 at 3:54 PM Christopher Tubbs <notifications@github.com>
wrote:

[2019-03-29 21:20] ctubbsii commented on #1065
We might not have... but I think it's low risk. We can always address new stuff as we find it. I'm pretty sure there aren't any, though... the API did not change all that much between 1.x commons-configuration versions. The cast is a simple solution. If it fixes the problem, I suggest we just do that.

[2019-03-29 22:37] joshelser commented on #1065
What about moving to Hadoop3 and using the new shaded artifacts? Is there desire to keep using Hadoop2?

[2019-03-29 22:56] ctubbsii commented on #1064
So, it looks like the problem is that we do not guard our vector against calls to `back()` when it is empty. When empty, `vector.back()` is undefined. Apparently, this changed in behavior between libtstdc++ 8.2 and 8.3... but it shouldn't have mattered. We should not have been trying to call `back()` when the vector was empty.

Something in our code assumes that `bigBlocks` will not be empty when

[2019-03-29 22:59] ctubbsii commented on #1064
@keith-turner Could you take a look at this?

[2019-03-29 23:01] ctubbsii commented on #1065
@joshelser This is only for the 1.9 branch, which still supports Hadoop 2 and Hadoop 3. This isn't an issue for the master branch, which has already moved to Hadoop 3.

[2019-03-29 23:19] joshelser commented on #1065
This was the point of me asking such a question. Is it still worth the headache to keep fighting this battle?

[2019-03-29 23:27] ctubbsii commented on #1065
I think so, yes.

People are, and want to continue, using Accumulo 1.9. And many of those are likely not ready to move to Hadoop 3. We've (implicitly, if not more) committed to supporting Hadoop 2 in 1.9, and I don't think these occasional issues are significant enough to abandon that commitment. Of all the headaches we've had at various points with outdated dependencies in Hadoop and class path c

[2019-03-30 15:45] phrocker commented on #1064
Are you testing with -Xcheck:jni? It will help identify issues with managing objects lifetimes

[2019-03-31 03:57] keith-turner commented on #1065
From my experience with Hadoop 3 the shaded artifacts are not used in the map reduce environment and one must still fight the dependency battle.  Is there a way to use the shaded artifacts in Map Reduce?

[2019-03-31 13:31] joshelser commented on #1065
There is a shaded jar specifically for mapreduce. hadoop-mapreduce-client or similar.

[2019-03-31 15:46] mjwall commented on #1065
I am unclear where we are heading on this.  Seems like we have 3 options.  Please correct this.

1 - Do a cast like @keith-turner as done, but how we ensure we got them all
2 - Move back to commons config 1.6, haven't heard from @busbey
3 - Use the Hadoop 3 shaded jar, but that forces a Hadoop upgrade for anyone that wants to go to 1.9.3

Should we start a discussion on dev@a.a.o?

[2019-04-01 02:36] ctubbsii commented on #1065
@mjwall It sounds like the workaround Keith did will work fine, without a need to downgrade. It's pretty easy to look and see if it's the only time we call that method. I don't think option 3 is viable, since it breaks user expectations for supporting Hadoop 2 so badly, and so last-minute, and violates our previous commitment to make 1.9.x the "bridge" version between Hadoop 2 and 3. But, if someb

[2019-04-01 15:15] keith-turner commented on #1065
Ok when I was trying to get Accumulo 2.0 to work with map reduce, I went down the path of map reduce classloader dependency isolation options.  I'll look into that and see if I can figure out how to configure map reduce to use it.

[2019-04-01 15:18] keith-turner commented on #1065
I still don't fully understand what the motivation for moving from ver 1.6 to 1.10 was.  It seems like it would be fine to leave it at 1.6, that is just the minimum version we support and build against.  A user can always bump their runtime version to 1.10 if we build against 1.6.

[2019-04-01 17:16] ctubbsii commented on #1065
If we only produced source code, binding to the oldest supported API version would work fine... except that:

1. commons-configuration doesn't necessarily have API guarantees, if we bind to the older version, there's no guarantee it will work with the newer versions or vice-versa,
2. the newer versions [fix lots of bugs](https://commons.apache.org/proper/commons-configuration/changes-report.html#a

[2019-04-01 17:22] ctubbsii commented on #1065
Also, FWIW, the incompatibility was introduced with the attempt to get Java 5 generics support in commons-configuration 1.8. Version 1.7 does not have this issue, but still fixes many bugs. We could meet in the middle on that.

Also, @keith-turner , the argument "A user can always bump their runtime version to 1.10 if we build against 1.6." applies to Hadoop also. This issue goes away entirely if

[2019-04-01 18:10] keith-turner commented on #1065
I tried that and things blew up.  I did not investigate why :)

[2019-04-01 18:31] jdwoody opened #1069 "TServer in inconsistent state is never removed"
Recently observed a TServer on a node with hardware issues. The instance was alive, but not functioning. The Master polls all tservers via gatherTableInformation and this server would repeatedly throw a TTransportException on connect. After 3 failures, an attempt is made to halt the server, however, if a TTransportException is thrown, the exception is ignored and the server is assumed to be down.

[2019-04-01 20:17] keith-turner commented on #930
I no longer think these changes should be made after working on #1036

[2019-04-01 20:20] keith-turner opened #1071 "Look into making merging minor compactions logarithmic"
Worst case performance for repeated merging minor compaction can be O(N^2).  I think it would be better to make this tunable where a user can get logarithmic performance if they are willing to let a few extra files be created OR get O(N^2) performance if there is a hard limit on files.

[2019-04-01 22:12] milleruntime commented on #1065
I made a PR for the simplest fix for this: https://github.com/apache/accumulo/pull/1068

[2019-04-02 01:11] ctubbsii commented on #1064
@phrocker I haven't tried that. Would that flag help if the object itself isn't a JNI object, but a struct managed entirely within the logic of the native implementation (vs. something being exposed via the JNI interfaces)? I believe that's the case here.

[2019-04-02 12:24] mjwall commented on #1069
@ctubbsii  @keith-turner can you take a look at this?  I'd like to add a 1.9.3 label and get this into the next RC.

[2019-04-02 14:35] ctubbsii commented on #1069
@mjwall Do you have a proposed code change ready for this for 1.9.3? Without a PR available, I'm inclined to punt to 1.9.4, rather than further delay the release process to pause and do further development. At least the current failure state is a safe one that doesn't risk multiple-hosting, and has a chance of being detected and corrected by system monitoring outside of Accumulo. This isn't a new

[2019-04-02 14:59] mjwall commented on #1069
@ctubbsii I was thinking it was an easy fix but wanted input from you and @keith-turner.  Can't we just have the master delete the zookeeper lock at https://github.com/apache/accumulo/blob/master/server/master/src/main/java/org/apache/accumulo/master/Master.java#L1230 ?

A tserver had hardware issues and got into a bad state.  It didn't go down, the master could not talk to it, but it didn't make

[2019-04-02 15:10] keith-turner commented on #1069
I think automatically killing tserver could be harmful if its not done properly.  Need to handle the following situations to avoid the killing a large percentage of the tservers unnecessarily

 * Master can talk to zookeeper but not most tservers temporarily, however clients can still talk to tservers.
 * There is a bad tablet that once loaded causes a tserver to become non-functional.

These are

[2019-04-02 15:19] mjwall commented on #1069
Thanks @keith-turner.  The master couldn't talk to the tserver for days, it would not have been able to kill it either.  Is there something easy that can be done for this?

If the master removed the lock in ZK, the tserver would eventually shut itself down.  But I think your 2 bullets still need to be addressed for the same reason.

[2019-04-02 18:30] jdwoody commented on #1069
@ctubbsii no problem pushing to 1.9.4 and agree the current behavior is safe. If this is a configurable feature, it would allow for either behavior. Some clusters don't have 24/7 monitoring and an automated recovery method would be helpful.

@keith-turner Both points valid and agree that having a history of recent kills/lock removals and a back off mechanism should be part of the fix.

[2019-04-02 18:38] #1064 closed

[2019-04-02 20:25] #1033 closed

[2019-04-02 20:50] #1058 closed

[2019-04-02 21:31] milleruntime commented on #1065
Fixed in #1068

[2019-04-02 21:31] #1065 closed

[2019-04-03 14:51] milleruntime commented on #876
@cjmctague I think I am going to close this ticket since it was confusing and not very useful.  If you still have some changes you want to commit please feel free to open a pull request.

[2019-04-03 14:51] #876 closed

[2019-04-03 15:15] milleruntime commented on #811
More information because this may be a good task for newer developers.

The Map Reduce code in org.apache.accumulo.core.client.mapred and org.apache.accumulo.core.client.mapreduce was deprecated in 2.0 in favor of more maintainable code now in the hadoop-mapreduce package.  A fluent builder was added to the new code to make it easier to set all the properties on a map reduce job. So now a job can

[2019-04-03 16:29] milleruntime opened #1074 "Rework IT Framework"
Currently our ITs can extend one of 3 different types:
- AccumuloClusterHarness
- ConfigurableMacBase
- SharedMiniClusterBase

If I want to create a new IT I have no idea which one I should extend.  I believe the idea was to have 2 different types of ITs... one for general testing of Accumulo and one for more advanced testing.  Then I think the AccumuloClusterHarness was added to allow testing on

[2019-04-03 16:33] jzgithub1 commented on #811
The Jeffs are looking at this now.

[2019-04-03 16:52] keith-turner opened #1076 "Determine why thrift threaded selector server fails."
After the changes in #1059 the following ITs started to fail.

[code]

Looking into `CreateAndUseIT` the tablet server became unresponsive when the client tried to split the table.   The following was seen in the tablet server log and after that point nothing could connect to the tablet server.

[code]

Need to determine if this is a bug in Thrift's TThreadedSelectorServer or the a bug in the way

[2019-04-03 19:37] milleruntime commented on #1074
I did some grep'ing across our ITs and this is what I found.

Out of the 227 IT classes...
74 classes extend ConfigurableMacBase (which extends AccumuloITBase)
**129 classes extend AccumuloClusterharness** (which extends AccumuloITBase)
**8 classes extend SharedMiniClusterBase** (which extends AccumuloITBase)
4 classes extend SimpleProxyBase (which extends SharedMiniClusterBase)
4 classes directly

[2019-04-03 23:54] ctubbsii commented on #1074
This seems quite likely. :smiley_cat:

[2019-04-04 18:29] milleruntime opened #1077 "Examine ITs that extend AccumuloClusterHarness"
Examine the 129 ITs that extend AccumuloClusterHarness to see if they should extend SharedMiniClusterBase instead. AccumuloClusterHarness allows advanced, atypical testing of a cluster and sets up a cluster per Test.  There are probably a lot of tests that could extend SharedMiniClusterBase, which only creates one cluster for the whole IT.

This issue is related to #1074 but more specific to the I

[2019-04-04 19:22] milleruntime commented on #1077
Number of Test annotations (> 1) of cluster harness classes:

22:./test/src/main/java/org/apache/accumulo/test/NamespacesIT.java:22
18:./test/src/main/java/org/apache/accumulo/test/ConditionalWriterIT.java:18
11:./test/src/main/java/org/apache/accumulo/test/functional/BulkLoadIT.java:11
9:./test/src/main/java/org/apache/accumulo/test/TableOperationsIT.java:9
9:./test/src/main/java/org/apache/accum

[2019-04-04 23:03] milleruntime commented on #1074
It seems a lot of the complexity is due to the two different types in AccumuloClusterHarness, MINI and STANDALONE.  Do we even have documentation on how to setup a standalone cluster to test with ITs?  It looks like there are config files involved.

[2019-04-04 23:31] ctubbsii commented on #1074
We could set up our own standalone cluster for a lot of tests, at pre-integration-test phase of the build lifecycle, and shut it down at post-integration-test. There was an attempt to do this before, but this caused frustration for people running individual tests in Eclipse, so the test framework was modified to start its own Mini if the standalone one wasn't running... but then something broke, a

[2019-04-05 14:50] milleruntime commented on #1074
So the standalone stuff doesn't work?  Or just in an unknown state?  This sounds like another case of lets fix it or remove it.

[2019-04-05 23:36] ctubbsii commented on #1074
The standalone stuff that's there now is newer than that history. What was already removed was definitely a case of fix it or remove it. But I think we can use the existing standalone stuff with the old strategy to share a single instance across many existing tests.

It would work like this:

### pre-integration-test phase
* start a mini instance
* dump its config to a file in target/ that is usab

[2019-04-06 01:27] ctubbsii commented on #1076
When I ran the ITs with the change, I saw that a lot of things failed due to a `AccumuloSecurityException` with a code of `DEFAULT_SECURITY_ERROR`. There's only a few places in our code where we use that... but on the other hand, its enum value is 0, the default value for a primitive integer... so it's possible some failure modes could set it to 0 when it should be something else.

One possibility

[2019-04-06 05:17] ctubbsii opened #1079 "Transient FateConcurrencyIT failure"
After merging #1061 , I saw the test pass several times, but then I saw it fail with the following. It looks like we still have some transient test bug.

[code]

[2019-04-08 16:34] milleruntime commented on #1074
I was able to confirm that the standalone configuration does still work on the 1.9 branch.  Here are the steps I took to get it working (there were a bunch of tests failing but I at least confirmed that it can still work).

1. Setup a cluster, I used uno
2. Create the config file somewhere accessible by any user, like [config-file.properties.txt](https://github.com/apache/accumulo/files/3055352/co

[2019-04-09 16:16] ctubbsii commented on #1052
If we're not using `setSplitFile` in our own code, I'm not surprised, but since it's API, it should at least have a test (UT or IT). We definitely shouldn't change it. `ConfiguratorBase` is not public API, so we're free to change that if necessary, but I don't think even that would need to change for this issue... just it's implementation.

[2019-04-10 02:32] #933 closed

[2019-04-10 12:12] jzgithub1 commented on #1052
Solution for Hadoop DistributedCache an this web page works:  https://stackoverflow.com/a/26421057/196405

I modified the TokenFileIT test to make the these calls on the  hadoop.Job object in the run() method:

 public int run(String[] args) throws Exception {
...
job.addCacheFile(new URI("hdfs://localhost:8020/some_file.json#some"));
job.addCacheFile(new URI("hdfs://localhost:8020/other_file.json

[2019-04-10 15:06] ctubbsii commented on #1052
If the framework places it in the current working directory when the file is cached locally, it could be a problem for our integration tests, since the current working directory in those cases is `<git-checkout>/test` and not `<git-checkout>/test/target`. If that happens, we'll need to come up with a workaround for our test, so the test doesn't pollute our source tree during a build.

[2019-04-10 17:23] Manno15 commented on #811
I have some questions about the tests that need to be implemented.  For the createTables test, is the goal to enable the flag and then to have the test create a table and verify that works properly or just verify that the flag can be set through the fluent builder API. Similar question for the simulation mode test. Thanks.

[2019-04-10 17:34] milleruntime commented on #811
This would be a better test then just checking that the flag gets set in the config object.

[2019-04-10 17:52] Manno15 commented on #811
Okay, thanks. That is what I figured.

[2019-04-10 18:54] milleruntime commented on #1077
This is isn't worth the effort for 2.0 since plans for #1074 will make this irrelevant.

[2019-04-10 18:54] #1077 closed

[2019-04-10 21:00] keith-turner commented on #1076
I think I tracked this down.

https://issues.apache.org/jira/browse/THRIFT-4847

[2019-04-10 21:19] jzgithub1 commented on #1076
Well done.

[2019-04-10 22:01] milleruntime opened #1084 "Tests failing running against standalone instance"
Catch all ticket for Tests failing running against standalone instance of 2.0:

- org.apache.accumulo.test.YieldScannersIT
- org.apache.accumulo.test.mapreduce.AccumuloFileOutputFormatIT
- org.apache.accumulo.test.mapreduce.TokenFileIT
- org.apache.accumulo.test.BadDeleteMarkersCreatedIT
- org.apache.accumulo.test.BulkImportVolumeIT
- org.apache.accumulo.test.CleanWalIT
- org.apache.accumulo.test.

[2019-04-12 14:54] #1037 closed

[2019-04-12 22:04] milleruntime commented on #1084
Some more:
org.apache.accumulo.test.functional.BigRootTabletIT
org.apache.accumulo.test.functional.BinaryStressIT
org.apache.accumulo.test.functional.BulkFileIT
org.apache.accumulo.test.functional.BulkIT
org.apache.accumulo.test.functional.BulkSplitOptimizationIT
org.apache.accumulo.test.functional.CompactionIT
org.apache.accumulo.test.functional.DeleteIT
org.apache.accumulo.test.functional.Master

[2019-04-12 22:48] keith-turner opened #1086 "ZooLock uses ZooReader which may retry on session expired"
Accumulo tablet servers use ephemeral nodes in zookeeper to advertise their existence. If this ephemeral node is deleted for any reason a tablet server must halt.   One way it can be deleted is if  a tablet server is not responsive enough to zookeeper servers.  In this case the zookeeper servers will close the session which causes any ephemeral nodes related to the session to be deleted.  If the t

[2019-04-14 05:20] bd2019us opened #1087 "FileWriter.write() should not be intensively used in loop"
In the class `server/base/src/main/java/org/apache/accumulo/server/util/Admin.java`, the FileWriter.write() method is intensively used in loops. Since this method is an IO operation, it will have bad impact to the performance. As an alternative, the decorator class BufferedWriter can be used, which can significantly reduce the number of IO operations.

[2019-04-15 18:31] ctubbsii opened #1090 "Consolidate/Simplify ServerOpts"
Most server types use the same set of options, but the SimpleGarbageCollector has two additional options which can be removed:

1. `verbose` - This prints to the console, but this should be entirely controlled by log4j settings. We do not need a custom command-line flag to print to the log AND the console, when the logging settings already have the capability to print specific log categories to di

[2019-04-16 00:14] keith-turner opened #1091 "Set currentRow in PopulateMetadataTable"
While looking at #1060 I noticed two things about the following code.  First I think currentRow needs to be set when a new mutation is generated.  Second I think the two if stmts `if(m != null)` and `if (!currentRow.equals(metadataRow))` could be combined into one.

https://github.com/apache/accumulo/blob/903119dac631b36009b389193d9d0bc04ed7fb37/server/master/src/main/java/org/apache/accumulo/mast

[2019-04-16 14:33] keith-turner commented on #1050
Chop compactions are part of the problem but not all of the problem.   Below are some other behaviors that can make this process slow.

 * All tablets in the merge range need to have any in memory data minor compacted and then unloaded.  If tablets are actively being written to that could slow this down a bit.
 * The FATE operation that does merge locks the table.   This prevents two merge operati

[2019-04-16 17:34] milleruntime opened #1093 "Update commons collections to 4.3"
https://commons.apache.org/proper/commons-collections/release_4_3.html

[2019-04-16 17:48] ctubbsii opened #1094 "Formatter change: require braces around (one-liner) blocks"
This is a proposed formatter change.

I propose we require braces around one-liner blocks. This is generally safer (eliminates a category of bugs where intended code doesn't execute properly, because it's not contained in the block). However, it can make some small, dense blocks of code slightly less readable because it forces them to be spread out a bit. I think this is a reasonable trade-off, th

[2019-04-17 18:00] Manno15 commented on #811
@milleruntime Just some clarification before I get too far ahead of myself. For tests like createTable and the like, am I needed to configure a mini accumulo cluster to test or am I misinterpreting what you are asking the test to do. Thanks. Sorry for the delay on this.

[2019-04-17 18:01] Manno15 commented on #811
I currently have the test setup and working on my local accumulo instance but that will obviously not work for the actual test.

[2019-04-17 18:15] milleruntime commented on #811
@Manno15 I am not sure what you are asking... I pinged you on Slack.

[2019-04-17 18:29] milleruntime opened #1098 "Upgrade to Junit 5"
I started doing this thinking it was an easy change but its not, so I am opening a ticket.  There are many changes to our tests that will require refactoring.  For example, in CredentialsTest:

`    assertEquals("Roundtrip through thirft changed credentials equality", creds, roundtrip);`

...now causes an error and has to be changed to:

`    assertEquals(creds, roundtrip, "Roundtrip through thirf

[2019-04-17 20:38] milleruntime opened #1099 "Examine Hot Methods"
I did some analysis of how well the JIT compiler optimizes Accumulo code by running tests locally in JMH and against a single local instance of Uno. To print what the JIT compiler was doing, I used the following java options:

[code]

Then I would grep the output for "accumulo" and "hot method too big". Here is the list of methods I compiled from the tests I did on both client and server.:

[code]

[2019-04-17 21:29] milleruntime commented on #593
@jzgithub1 Any progress on this?

[2019-04-17 23:35] DonResnik opened #1104 "Document and add test for Key constructors copy behavior"
While looking at Github PR #125 I thought it was nice that the new constructors documented the copy behavior. It would be nice to update the javadoc for the constructors that existed before the PR to mention the copy behavior.
Also all of the constructors copy behavior should be tested in KeyTest.java. Should do things like pass in byte array to constructor, modify bye array, verify Key does not r

[2019-04-17 23:39] DonResnik commented on #1104
I am going to work on this
original ticket  https://issues.apache.org/jira/browse/ACCUMULO-4377

[2019-04-18 16:45] ctubbsii commented on #1094
It turns out that the Eclipse formatter code does not have the ability to automatically add braces. Instead, the Eclipse Clean Up actions, and the Eclipse Save Actions both have this feature, but not the main Java Code Formatter. _\*sigh\*_ I wish Eclipse would consolidate all the formatting to one library.

Okay, given the situation, I'm not going to do anything for this. I'll just work on #496 i

[2019-04-18 16:45] #1094 closed

[2019-04-18 16:53] ctubbsii commented on #496
For now, I'm just going to import the old config into a newer Eclipse, and re-export it, with the new fields, with minimal tweaks. If we want to adopt GoogleStyle in future, that's fine, but for now, I think it's enough to just get the new lambda (and other new) options enshrined into the config file.

[2019-04-18 17:26] milleruntime commented on #1098
Ugh this is nasty

[2019-04-18 17:26] #1098 closed

[2019-04-18 18:11] EdColeman opened #1109 "Replace custom log levels with named logger"
The class org.apache.accumulo.server.conf.TableConfWatcher uses custom log4j levels that prevents removal of direct log4j dependency.  The functionality can be replaced by using a named logger.

[2019-04-19 00:15] keith-turner opened #1111 "Unable to upgrade from 1.9 to 2.0 with walogs"
I tried to upgrade a 1.9 instance that was not cleanly shutdown to 2.0.  The upgrade failed because the write ahead logs were unreadable.

[code]

[2019-04-19 12:10] jzgithub1 commented on #593
No progress.  I jump off of this to concentrate on #1052.

[2019-04-19 12:11] milleruntime commented on #593
No worries!  I was just looking through tickets and thought I would ping you.  Hit me up on Slack if you have any questions.

[2019-04-19 12:13] jzgithub1 commented on #593
I will get on it later today or on Tuesday.

[2019-04-19 16:04] milleruntime opened #1113 "Combine class loading factories"
I saw this class https://github.com/apache/accumulo/blob/master/core/src/main/java/org/apache/accumulo/core/util/format/FormatterFactory.java

And thought it would be good to combine it with:
https://github.com/apache/accumulo/blob/80aaf658a978d5805c8bda0209b2229795e71ad4/core/src/main/java/org/apache/accumulo/core/crypto/CryptoServiceFactory.java

Both classes are just loading a class from a prop

[2019-04-20 05:29] #496 closed

[2019-04-22 01:57] ctubbsii commented on #1111
Could this be related to the crypto work done in 2.0? I can imagine not supporting upgrades from WALs encrypted with the previous experimental version of file encryption (if doing so is cumbersome), but we should still support upgrades under normal (non-experimental) use cases.

[2019-04-22 02:01] ctubbsii commented on #1109
I don't see that class using any custom log4j levels in the master/2.0 branch. Perhaps this was already removed? I do, however, see the persisted use of programmatic alteration of the log levels of certain loggers from Hadoop and ZooKeeper.... and we should be able to simply delete those. Users should configure those however they choose, without us interfering with them in our code.

[2019-04-22 02:03] ctubbsii commented on #1113
These seem like very distinct factories. I don't see much overlap between them.

[2019-04-22 11:52] milleruntime commented on #1113
Distant?  Like across packages (joking)..  or functionality-wise?

[2019-04-22 12:17] milleruntime opened #1115 "Simplify Maven Pom"
@EdColeman @mjwall and I were getting frustrated with our Maven build lifecycle the other day and thought it might be nice to simplify the pom down so "mvn clean verify" does the minimum amount of work.

Simplifiying the pom would help with maintainability for the project.  I find myself always running "mvn clean verify -Dspotbugs.skip -DskipTests" which is fine but can still take a while.  For ne

[2019-04-22 13:23] ctubbsii commented on #1115
I think it is a mistake to characterize this as a simplification. It would only be simpler for use cases which shortcut important checks. It wouldn't be simpler for the use case of actually running our verification checks. I don't think newer developers unfamiliar with Maven should be appending any skip options. Skipping checks should require some knowledge of what you are doing. The default shoul

[2019-04-22 13:25] ctubbsii commented on #1113
Distinct. :eyeglasses:  :smile:

[2019-04-22 13:41] milleruntime commented on #1113
Whoops!  Can't read good.

[2019-04-22 13:49] milleruntime commented on #1115
I am not sure.  I think that only works running package?

[2019-04-22 15:12] ctubbsii commented on #1115
Profiles are active for the entire build lifecycle. The contents of the profile may only affect a portion of it, though. In this case, the `skipQA` profile includes mostly stuff that affects plugins after the `package` phase.

[2019-04-22 17:55] adamjshook opened #1116 "TABLET_LOAD error with prevEndRow >= endRow"
I'm seeing a `TABLET_LOAD` error in the Monitor UI with an exception of `prevEndRow () >= endRow ()` for two separate tables/tablets. The extent being referenced is the last tablet in the table, e.g. `abc;<`. Version 1.9.2.

I'll add that this was after some TServer restarts and recovery of WAL files, though it seems like the WAL files themselves are okay.

[2019-04-22 18:08] adamjshook commented on #1116
Actually, I was reading the metadata wrong.  They are the *first* tablets in the table.  It has `log` entries in the `accumulo.metadata` table, however a tool that I have reports that there are zero mutations in the WAL for the table.

[2019-04-22 22:49] ctubbsii commented on #1116
The monitor UI just receives logs from other services, for display. You'll probably have to look at the actual tserver logs and the metadata table to see what's going on.

I seem to recall a recently fixed bug in WALs could have brought back deleted data during WAL recovery. Is that possibly consistent with what you're seeing? (old metadata entries for tablets which don't exist any more) Or does t

[2019-04-23 01:00] adamjshook commented on #1116
There wasn't anything helpful in the logs.  Not even a mention or stack trace in the tserver logs.  I swapped out the WALs with emptys and the issue still persisted.  Eventually ended up removing the `log` metadata entries so the tablets would be assigned.  I'll check the 1.9.3 release notes and changes a bit closer to see if I can blame it on an existing issue.

To answer your question, these tab

[2019-04-23 01:15] ctubbsii commented on #1116
Usually people set up their log4j so that ERROR/WARN get forwarded to the monitor, but they still log locally. This message comes from KeyExtent's own constructor... so it could have occurred in the master or a tserver.

To your question about a possible race condition... I think @keith-turner did address one in 1.9.3 (#866), but this doesn't sound like that. Definitely check to see if the other W

[2019-04-23 12:58] jzgithub1 commented on #593
I am working on this now but is there any other issue that is a priority?

[2019-04-23 14:20] keith-turner commented on #564
This design should address the concerns raised in

https://issues.apache.org/jira/browse/ACCUMULO-4573

[2019-04-23 14:23] keith-turner opened #1117 "Add since information to properties"
https://issues.apache.org/jira/browse/ACCUMULO-4592

[2019-04-23 14:25] keith-turner commented on #798
https://issues.apache.org/jira/browse/ACCUMULO-2007

[2019-04-23 15:07] keith-turner opened #1118 "Batch defining tablets in walog"
https://issues.apache.org/jira/browse/ACCUMULO-2175

[2019-04-23 15:14] ctubbsii opened #1119 "Improve Retry code"
In our code, we often retry operations. So, we have an internal RetryFactory and a Retry object to handle that common pattern. The Retry object's `waitForNextAttempt` method does increment each wait time, by some fixed increment. However, this is problematic, in two ways:

1. It's not exponential, and it should be, and
2. There's no attempt to avoid repeated collisions.

I saw the impact of this o

[2019-04-23 15:20] keith-turner opened #1120 "Improve batch writer throughput"
https://issues.apache.org/jira/browse/ACCUMULO-4154

[2019-04-23 15:21] keith-turner opened #1121 "Use conditional mutations to update metadata table"
https://issues.apache.org/jira/browse/ACCUMULO-2268

[2019-04-23 15:23] keith-turner commented on #1121
Abstracting writes to the metadata table #816 is related to this.

[2019-04-23 15:24] keith-turner commented on #816
https://issues.apache.org/jira/browse/ACCUMULO-2272

[2019-04-23 15:29] keith-turner opened #1122 "Make thrift transport pool more concurrent"
https://issues.apache.org/jira/browse/ACCUMULO-4821

[2019-04-23 15:30] keith-turner opened #1123 "Remove observers from configuration"
https://issues.apache.org/jira/browse/ACCUMULO-4822

[2019-04-23 15:34] keith-turner opened #1124 "Allow short service names in addition to class names."
https://issues.apache.org/jira/browse/ACCUMULO-4837

[2019-04-23 16:33] ctubbsii commented on #1124
Could use the Java service loader, to load the services, and make them discoverable by name, similar to what I did with KeywordExecutable.

[2019-04-23 19:01] ctubbsii commented on #593
As 2.0 development winds down and we enter the final stretches towards a 2.0 release, there's probably going to be fewer and fewer high priority items... just lots of little stuff like this to polish up.

[2019-04-23 20:31] ctubbsii opened #1126 "Update to htrace-core4"
I'm working on upgrading to htrace-core4 to match what Hadoop 3 is using for our 2.0 release.

The work is progressing, building on what I did in #964

[2019-04-23 22:10] keith-turner opened #1128 "Cleanup upgrade code"
While doing upgrade testing for #1111 I noticed the data version is not being bumped during upgrade.  This needs to be fixed.

It is only possible to upgrade from 1.9 to 2.0 because 1.9 is the only older release that supports Hadoop 3. Accumulo 2 requires Hadoop 3.   Currently the upgrade code has a lot of cruft that supports upgrading much older versions.  Now is a good time to clean that up leav

[2019-04-24 09:27] DonResnik opened #1129 "Shell "grep" command takes "-pn" option, but it doesn't work"
Brought over from Jira   - https://issues.apache.org/jira/browse/ACCUMULO-4007

I created an iterator to count key values, and it works for scan, but not when using the grep or egrep command.
[code]

[2019-04-24 09:27] DonResnik commented on #1129
I am going to work on this

[2019-04-24 20:16] #593 closed

[2019-04-24 21:58] #1087 closed

[2019-04-24 22:10] #1111 closed

[2019-04-25 13:07] jzgithub1 commented on #1119
Hold off on reviewing code.  I need to add one more interface to set the wait factor for the fluent API.

[2019-04-25 16:07] hkeebler commented on #1084
I will take a stab at this one if nobody has any objections.

[2019-04-25 17:37] andrewglowacki commented on #1011
The issue was DirectByteBuffers (DBB) created by HDFS DFSInputStreams (for RFile reads) not getting cleaned up fast enough (or at all). Setting -XX:MaxDirectMemorySize=2g fixed it.

After quite a bit of looking (multiple weeks), I correlated some multi-hour old/unfreed native memory segments with DBBs in the java heap - sure enough, direct memory usage was very high (multiple GB). In my java heap

[2019-04-25 18:11] jzgithub1 commented on #1119
Fluent API for "WaitFactor" is implemented.  Jitter is implemented.  Ready for code review and possible merge.

[2019-04-25 18:57] hkeebler commented on #1084
I will take a stab at this one if nobody has any objections.

[2019-04-25 20:54] keith-turner commented on #1118
I looked into this a bit.  A lock inside the tablet is acquired while defining the tablet in the walog.  Acquiring the lock for multiple tablets could cause deadlock and performance problems if not done properly.  If the lock could be avoided, that would greatly simplify this.  Need to dig into why the lock is needed.  I think it used to be related to updating the walogs in the metadata table, whi

[2019-04-25 21:48] EdColeman opened #1133 "Validate that hadoop2 metrics full covers legacy metrics so that legacy metrics can be removed"
For 2.0 we should consider dropping the legacy metrics code - to do this, the first step is to validate that all metrics that are available in the legacy metrics are also available in the metrics that use Hadoop2 metrics package.

[2019-04-25 22:21] EdColeman opened #1134 "Look into using abstraction for metrics."
There may be a chance to abstract the metrics implementation to allow plug-able sources and sinks.  One approach may be https://github.com/micrometer-metrics/micrometer.

First need to determine requirements and then see what is available / suitable candidates.

[2019-04-26 14:50] mjwall commented on #1011
Makes sense, thanks for following up @andrewglowacki

[2019-04-26 14:51] keith-turner commented on #1011
Interesting find @andrewglowacki .  Should any hadoop issues be opened for this?

[2019-04-26 15:04] andrewglowacki commented on #1011
@keith-turner yea, I was thinking I might. I'll look at the latest 2.x and 3.x versions to see if it could be a problem.

[2019-04-26 16:32] hkeebler commented on #1084
Is it assumed that these worked, in standalone mode, for version 1.9?

[2019-04-26 18:07] #1128 closed

[2019-04-26 19:36] jzgithub1 commented on #1126
I am looking at this too.

[2019-04-29 00:12] DonResnik opened #1136 "Add documentation about auditing to user manual"
Brought over from Jira

https://issues.apache.org/jira/projects/ACCUMULO/issues/ACCUMULO-4635

Right now the user manual makes no mention of our auditing capabilities. We should cover operational concerns:
Where does the audit log go? Can I change it?
What Accumulo actions get audited? Can I change it?
What information is included in the audit log entries? Can I change it?

[2019-04-29 00:12] DonResnik commented on #1136
I am going to work on this

[2019-04-29 13:37] milleruntime commented on #1084
No they didn't work in 1.9 either.  There was some point in time with some version that they all worked perfectly :laughing:

[2019-04-29 16:26] milleruntime opened #1138 "Improve HexFormatter scan command"
scan -fi org.apache.accumulo.core.util.format.HexFormatter -r 313c

is confusing and too long... make it do this:

scan -hex

[2019-04-29 16:28] milleruntime commented on #758
Ping @PircDef... you still interested in creating this Test?

[2019-04-29 19:06] keith-turner opened #1139 "Ensure 2.0.0 upgrade works properly when 1.9 tservers are still running"
Need to handle the following situation w/o issue.

 * Accumulo 1.9 is running and all tablets are assigned
 * Only the Accumulo 1.9 master is killed, leaving the Accumulo 1.9 tservers running
 * Accumulo 2.0 is started, what happens with upgrade?

Not completely sure what would happen in the above situation. Want to work through it ensure it does not cause any problems.

[2019-04-29 20:15] hkeebler commented on #1084
5 of the tests ERROR because a temporary file that is created is not found.  The Standalone cluster returns a  HDFS "/tmp" path but subsequent processing tries to validate it as a file://  (or viceversa).  The MAC cluster seems to create regular files in the <testdir>/mini-tests and all is happy.I  Why does the Standalone config confuse things?  I am not sure but ideas are welcome.

[2019-04-29 21:01] milleruntime commented on #1084
I am not sure.  I can look at this tomorrow if you are still stuck, ping me!

[2019-04-30 02:05] ctubbsii commented on #1136
This issue should be on apache/accumulo-website instead. Since there's already a PR there, I'm closing this as duplicate of apache/accumulo-website#177

[2019-04-30 02:05] #1136 closed

[2019-04-30 02:25] ctubbsii commented on #1126
@jzgithub1 I created this issue to document the fact that I'm working on this in order to close an older JIRA issue as a duplicate of this, but I don't think there's more to do than what I'm already working on.

[2019-04-30 02:40] ctubbsii commented on #1138
Although this might help the hex formatting case... we probably shouldn't design around a single use case. We have to look at the entire configuration space. Lots of little "convenience options" like this could get unwieldy if we don't draw a line somewhere, because everyone's going to want to get theirs baked in.

This is sort of the problem we got into with aggregator configuration in the shell.

[2019-04-30 12:33] milleruntime commented on #1138
I only did this to drop the ScanInterpeter stuff

[2019-04-30 12:45] keith-turner commented on #1138
One option is to deprecate the formatting and interpreter options for 2.0 in the shell and not add the `-hex` option.  Going forward those shell options could be removed.  The deprecation message could ask user to open an issue if they need these features.

[2019-04-30 13:01] milleruntime commented on #1138
OK so sounds like we don't want a "scan -hex" option but we should deprecate the confusing shell options in 2.0 for possible removal in 2.1?

[2019-04-30 13:03] keith-turner commented on #1138
Could put the earliest version they would be removed in the message.

[2019-04-30 14:54] keith-turner opened #1141 "Accumulo 2.0.0 create table options silently ignored by 1.9"
I tried running an Accumulo 2.0.0-SNAP shell and connecting to 1.9 servers.  I was able to scan and insert data.  For create table 2.0.0 has new options for creating a table with splits and offline. I tried using these new options and the table was created, but the options were silently ignored.

The problem is the following 1.9 code only expects two arguments, but ignores more than 2.  The 2.0.0

[2019-04-30 17:32] milleruntime commented on #1138
I will wait for feedback from @ctubbsii before making any changes.  I can't tell from his comments if he is for or opposed to this change.

[2019-04-30 17:33] #1115 closed

[2019-04-30 17:43] milleruntime commented on #1093
Merged in 51b8644b61c5b1cb868dff26dd65529fb20456d3 but there are issues at runtime

[2019-04-30 17:44] keith-turner commented on #1139
I ran this experiment and the 2.0 master was unable to authenticate with the 1.9 tserver.  I dug into why and its because the system token hashes all instance properties (including default values) to generate the system password.  Accumulo 2.0 has a new instance property `instance.crypto.service` that is not present in 1.9.  This new property is what caused authentication to fail.

There is also a

[2019-04-30 22:57] ctubbsii commented on #1138
I'm not opposed to the change. I'm just confused at the underlying motivation. Is the goal to simplify/consolidate the scan options? Is it to remove the ScanInterpreter because it's confusing? Is it to add a hex output? It's not clear to me what the goal is.

Without understanding what is motivating the specific changes, it's hard for me to fully get behind a solution. So, I'm just trying to offer

[2019-04-30 23:31] ctubbsii commented on #1139
Bumping the wire version probably makes sense.

[2019-04-30 23:36] ctubbsii commented on #1141
Throwing an exception if there are unrecognized additional arguments, makes sense to me.

[2019-05-01 13:10] hkeebler commented on #1084
The following tests are still producing either errors or failures.  Looked for some common themes.  An async timing thing may be part of the issue.  Should these tests be worked off using this ticket or should a separate git issue be created for each test or issue group?  I plan to check out the two TBD tests today.

**Test failures:**
- CleanWalIT -  a timing thing - the flush of accumulo.metadat

[2019-05-01 14:58] milleruntime commented on #1138
All of the above.

That would be nice.  But you probably spent more time writing this then I spent on this PR.

[2019-05-01 16:55] hkeebler commented on #1084
ReadWriteIT test fails loading the "accumulo.properties" file in the following section of code in the SunnyDay test.  It appears that it is trying to read an XML formatted file
`org.apache.hadoop.shaded.com.ctc.wstx.exc.WstxUnexpectedCharException: Unexpected character '#' (code 35) in prolog; expected '<'`
instead of a regular properties file BUT I do not think the code here is really even necess

[2019-05-01 18:35] keith-turner commented on #1138
I have wanted to experiment with using Accumulo client API in the new JDK11 Java shell.  The easier that is, maybe the less these cumbersome options on the scanner are needed. Also the option to run scripts in the Accumulo shell, which was added after the formatter and interpreters, make these scan options less relevant.

[2019-05-01 21:37] #1139 closed

[2019-05-02 15:00] #1093 closed

[2019-05-02 15:04] milleruntime commented on #1113
Combining these classes wouldn't really do much and would probably just make for a messier Factory

[2019-05-02 15:04] #1113 closed

[2019-05-02 15:15] hkeebler commented on #1084
Assessment of "file not found" problem (but no fix yet):

In the test class , the below code returns a hdfs filesystem
`FileSystem fs = cluster.getFileSystem();`
When the testing action is executed like the below code
`c.tableOperations().importDirectory(testDir.toString()).to(tableName).load();`
it gets the filesystem from something like:
[code]
The HadoopConf in the former includes the local pat

[2019-05-02 16:16] milleruntime commented on #405
@Manno15 @hkeebler if you two are looking to improve the tests, this might be something else to look at.

[2019-05-02 17:44] hkeebler commented on #405
I'll start looking at this.  Thanks.

[2019-05-02 22:45] keith-turner commented on #816
To support easily writing to Zookeeper, root table, or the metadata table I have been experimenting with an interface like the following.   I am thinking ServerContext would provide an instance of this interface.

[code]

Using this interface I rewrote [replaceDatafiles()](https://github.com/apache/accumulo/blob/5e6e36446744d2d43c82ca2fc1b76ddff6f0e76c/server/base/src/main/java/org/apache/accumulo

[2019-05-03 17:42] kubina opened #1146 "Consider Adding Metrics to Track CPU and I/O Utilization for Better Performance Monitoring"
Exposing the CPU and I/O utilization of methods that are likely to consume the most of those resources could provide insights into overall potential performance improvements to Accumulo. Further, exposing such metrics at the table level could help identify tables with inefficient schema, inefficient bulk import strategies, or have iterators or aggregators that are resource hogs.

This issue is to

[2019-05-04 12:47] DonResnik commented on #1123
I would like to work on this one, but can someone explain why AccumuloConfiguration.getUpdateCount() returns 0?

Thanks

[2019-05-05 14:28] DonResnik commented on #1123
Ok, I get it now.  This method is meant to be overridden.

I will start to work on this.

[2019-05-06 15:10] jzgithub1 commented on #1120
I am investigating this issue now.

[2019-05-06 17:43] hkeebler commented on #405
@milleruntime is this the kind of change you are requesting here?  We could also maybe add  the getTableConfig(props) to the AccumuloClusterHarness or AccumuloITBase class.
[code]

[2019-05-06 17:51] milleruntime commented on #405
Yup!  Just a way to clean up some of the tests since NewTableConfiguration was added after a lot of them were written.

[2019-05-06 20:07] ctubbsii commented on #1146
@kubina This issue seems very vague, and sounds a bit more like something a general purpose Java profiler tool would be for, rather than something specific to Accumulo. Do you have a specific, actionable step in mind that an Accumulo developer who works on this issue could begin working on that is in scope of Accumulo? If there's not something specific for somebody to work on for this, this ticket

[2019-05-06 22:40] #1141 closed

[2019-05-07 15:25] kubina commented on #1146
@ctubbsii A Java profiler will not give the granularity (like at the table level) that is sought from the metrics. Also, I want to collect the metrics from a production system and I would not recommend using a profiler on such a system.

@ctubbsii  Working on that aspect of the ticket but also looking for input from the developers about the methods of a tserver that are mostly likely to utilize th

[2019-05-07 17:07] #1129 closed

[2019-05-07 17:28] ctubbsii commented on #1146
Your best chance for feedback, if that's what you desire here, is to avoid passive voice declarative sentences, and instead ask specific and direct questions (possibly on the dev mailing list instead of here). Since there isn't anything concrete here for somebody to act upon, I'm not sure how useful this ticket is going to be.

[2019-05-07 17:31] milleruntime commented on #1084
This part of the code may be broken for 2.0... I am not sure SSL works with the new Monitor.

[2019-05-07 18:37] ctubbsii commented on #1084
I haven't looked at this code, but TLS should work fine with the new monitor. I believe we have a MonitorSslIT to confirm this.

[2019-05-07 20:14] milleruntime commented on #497
I haven't seen this error in a while so I belive it was squashed.

[2019-05-07 20:14] #497 closed

[2019-05-07 20:19] milleruntime commented on #1084
OK MonitorSslIT passes.  @hkeebler you should be able to update the code block you referred to in ReadWriteIT to work like MonitorSslIT.

[2019-05-07 21:47] milleruntime commented on #1138
This could be done for 2.1.  Leaving it open for now.

[2019-05-07 23:35] ctubbsii commented on #1146
@kubina Apologies if my previous comment came across poorly. I had intended it to be a friendly suggestion for how to word this issue to clarify what you were asking, but I realize now it probably didn't come across as very friendly. Sorry for that.

[2019-05-08 21:11] Bill345 opened #1153 "Bulk Import: In Progress Check"
At present Accumulo does not check for a bulk import in progress before initiating a new one.  If a bulk import is in progress and another one is started it's possible for the second one to error out if the files it needs are already processed by the first one.  Tablet.java currently has a check in place to see if the bulk import in progress is attempting to process files already successfully bulk

[2019-05-09 14:06] elinaawise commented on #576
I'm working on this test.

[2019-05-09 16:56] hkeebler commented on #1084
@milleruntime  or @ctubbsii , for the tests that are timing out we can recommend in docs to add a timeout.factor to the mvn verify for standalone tests or I can update the specific tests and up the defaulttimeout in the tests.  Which do you prefer?

[2019-05-09 19:41] ctubbsii commented on #1084
Letting developers know of the timeout.factor isn't a bad idea. If they are doing development on weaker machines than what might be run on a server, they will almost certainly need to use it occasionally.

[2019-05-10 15:38] milleruntime opened #1159 "Fix DurabilityIT"
This IT is a performance IT which means its measuring performance but can fail quite frequently, depending on the situation.  The test testWriteSpeed is particularly flaky and should be rewritten. There are a few things that can be done to fix this IT.

1. Split out the Durability Unit Tests into a separate Test or IT
2. Drop the testWriteSpeed test and drop the performance aspect.

[2019-05-10 17:14] keith-turner commented on #1159
Another option is to create a performance test in accumulo-testing for it, and remove it from here.

https://github.com/apache/accumulo-testing#performance-test

[2019-05-10 19:11] milleruntime commented on #1084
@ctubbsii maybe this shouldn't be a blocker for 2.0?  I thought it would be nice to have the standalone tests running but I think it will take a while to fix them all.

[2019-05-10 19:15] ctubbsii commented on #1084
I agree. I don't think it should be a blocker... but any tests fixed prior to 2.0 would be helpful.

[2019-05-10 20:55] #1153 closed

[2019-05-13 16:33] milleruntime commented on #811
@Manno15 @elinaawise are you done working on this ticket?

[2019-05-13 16:34] elinaawise commented on #811
@milleruntime yes, we are.

[2019-05-13 16:35] #811 closed

[2019-05-14 19:54] #405 closed

[2019-05-14 20:46] ctubbsii commented on #1052
Clarification of the desired design:

On job setup (by user):
1. User inputs filename
2. We append mnemonic and create URI
3. We save URI in our config property
4. We tell distributed cache to store URI

On job run (by framework/us):
1. We read our URI from our config property
2. We check to see if we can read file with the mnemonic
3.   if no, we log a warning, and then use URI to read from HDFS

[2019-05-14 20:55] #1119 closed

[2019-05-15 17:13] Manno15 commented on #1159
I am taking a look at Keith's option for this.

[2019-05-15 21:42] #576 closed

[2019-05-15 22:56] DonResnik commented on #1123
After working on it for some time, it looks like it is more that I anticipated.  I am not ready to work on something this involved yet, so I am going to find another ticket.

[2019-05-16 16:34] #1109 closed

[2019-05-16 16:34] EdColeman commented on #1146
I have created two issues #1133 and #1134 that are related and may be the first steps towards addressing some of this ticket.
While those issues will not resolve this issue - it seems to me that they can form a cleaner baseline for moving forward.  I expect that, as this issue evolves, "sub-issues" will be created to address specific items - so for now, I'm thinking this issue is capturing things

[2019-05-18 00:46] DonResnik commented on #721
I am going to try this one.  Are there any existing tests or code sections that have sections similar to what you have outlined?  Also, where you expect this test be added?

[2019-05-20 14:00] Manno15 commented on #1159
Created a pull request with my performance test to hopefully replace the writeSpeed test in this IT.
Link to it below.
https://github.com/apache/accumulo-testing/pull/74

[2019-05-20 17:50] hkeebler commented on #1124
I'll work this one.

[2019-05-20 17:57] hkeebler commented on #886
I'm taking this over from @Manno15

[2019-05-20 19:55] hkeebler commented on #886
@mikewalch the properties are printed at the start of services: master, tserver, monitor, tracer.  Can you explain better what is being asked here?  Are you looking for an additional info message that says using "general.dynamic.classpath" (because it is set to something) vs. "general.classpath" (because it is empty)?

[2019-05-20 20:23] keith-turner commented on #721
I was just thinking of writing some throw away code that ran the test and then manually inspecting log messages to ensure good output.  It would be nice to have regression test, but I am not sure what the best way to do this is. Seems like it would require creating a standard way for ITs to inspect servers process log files.  Not sure if that infrastructure exists for ITs.

[2019-05-20 21:30] ctubbsii commented on #886
@hkeebler The properties are deprecated as of #885. The preferred way of setting a class path is to set the CLASSPATH environment variable in `conf/accumulo-env.sh` (or whatever environment is appropriate for a user's particular deployment). This replaces the `general.classpaths` configuration property.

As for the `general.dynamic.classpaths` property, that should also be deprecated. The dynamic

[2019-05-21 12:02] hkeebler commented on #886
Thank you.  That makes sense.

[2019-05-21 14:42] Manno15 commented on #1159
@milleruntime Should I go ahead and delete testWriteSpeed from here since I am creating a performance test of it in accumulo-testing?

[2019-05-21 14:43] milleruntime commented on #1159
Yes.

[2019-05-21 14:44] milleruntime commented on #1159
You could probably just drop the whole IT and not just that single test.

[2019-05-21 14:46] Manno15 commented on #1159
Yeah, I can do that if they are no longer wanted.

[2019-05-21 16:09] hkeebler commented on #886
@ctubbsii  If a property is set and is deprecated a warning is logged by server.ServerUtil in the respective service log at system startup.  The general.dynamic.classpath property is 'zk mutable: no'  and cannot be set in the shell or java api InstanceOperation.setProperty() so I believe it is already properly logging the deprecation.

The only change here,   I believe, is to mark the property dep

[2019-05-21 18:26] ctubbsii commented on #886
Marking the property `@Deprecated` in Property.java should also affect the generated documentation, if I remember correctly.

I think you're suggesting that we stop printing deprecated properties that aren't set? If so, I think that could be a good idea, but I can also see it being useful to somebody debugging to explicitly see in the logs that the property wasn't set. I don't have a strong opinio

[2019-05-21 23:41] ctubbsii commented on #1126
I tried to do this for 2.0, but I ran into too many API change problems. I'll revisit for 2.1, because I don't want to delay 2.0 further for this.

[2019-05-22 11:54] jzgithub1 commented on #1052
I think this is done and ready to be merged.

[2019-05-22 16:43] alerman opened #1167 "Add configuration for minimum number of up tservers for assignment"
I have seen this on multiple occasions on our cluster. When the system is brought up with tservers and master in close succession, the master begins its assignment work with a small subset of the tservers in its live tserver set. This causes the master to then have to assign all the tablets to that subset. If it is allowed to finish, it will then notice the other tservers and begin massive balanci

[2019-05-22 17:23] milleruntime opened #1168 "Standalone IT with system property set improperly should fail"
While trying to run the ITs against a standalone cluster, the system properties "-Dit.test=AccumuloClientIT -Dtest=foo -Daccumulo.it.properties=/path/to/accumulo-it.properties"
are required but if the path is wrong to the file or there are problems with the properties file, then the framework will default to Mini, and pass.

It would be nice if these properties are set, most importantly the proper

[2019-05-22 17:45] ivakegg opened #1169 "balancing strategy"
The balancer currently will assign out the tablets given their initial locations per the "last" cf in the metadata, and the will slowly move tablets to get a final steady state.  In many deployments we are starting up a large accumulo cluster and it will take an hour or more to attain a steady state.  There needs to be a mechanism by which we delay the initial assignment (most likely handled by #1

[2019-05-22 17:56] milleruntime commented on #1169
@ivakegg thanks.  I added a label for 2.1 since this sounds like a 2.1 issue and we are trying to wrap up 2.0.  If it is an easy fix we can pop it over to 2.0.

[2019-05-22 17:58] milleruntime commented on #1167
@alerman Is this what you are thinking? https://github.com/apache/accumulo/pull/1158

[2019-05-22 18:17] alerman commented on #1167
@milleruntime yes that was precisely what we wanted. I didn't see that before I put this in. I'll close this. Sorry!

[2019-05-22 18:17] #1167 closed

[2019-05-22 18:31] ivakegg commented on #1169
@milleruntime 2.1 is just fine.  We can always backport if need be.

[2019-05-22 18:38] milleruntime commented on #1169
@EdColeman has a PR open for the issue you are referring to: https://github.com/apache/accumulo/pull/1158

[2019-05-23 09:30] DonResnik commented on #1168
I am going to work on this.  I will let you know if I run into any problems.

[2019-05-23 09:31] DonResnik commented on #721
I am not sure I am ready for this ticket, so I am going to work on something else.

[2019-05-23 16:51] hkeebler opened #1171 "Clean up user/table creation/cleanup in AccumuloClusterHarness"
#1164  - Update the harness to create "test unique" users.prefixed with something (currently the tables are prefixed with the method name) so that each test can perform proper cleanup when finished.   The current  deleteusers code in the harness look for users prefixed with the method name to delete but that is not how they are created so the deletion does not work.

@keith-turner commented that t

[2019-05-23 17:44] hkeebler commented on #1171
After looking further into this they "whys" of how things are being done in MINI vs STANDALONE are too unclear - why can't STANDALONE create users the same way as MINI vs adding them to the config file?
Therefore I am deleting this ticket and leaving it up to resolutions made in ticket #1074

[2019-05-24 14:07] #1159 closed

[2019-05-27 23:13] DonResnik commented on #1168
It looks like the class that needs to be updated is AccumuloClusterPropertyConfiguration.  Possibly throwing exceptions with additional info instead of just logging the exception.  However, I am not sure how to test this.  Is this part of the 'mvn verify' goal, or is there another way to test?  I was reading about 'mvn verify' but even if that does test this class, I am not sure how to create the

[2019-05-28 13:52] Manno15 commented on #784
@mikewalch Do you know if this exception still occurs? I couldn't reproduce it in my tests.

[2019-05-28 14:42] milleruntime commented on #1168
If the path is wrong to the file -Daccumulo.it.properties=/path/to/accumulo-it.properties that should create an error condition. If there are missing properties in the file that is another error condition.

[2019-05-28 15:37] mikewalch commented on #784
Feel free to close it then.

[2019-05-28 15:42] Manno15 commented on #784
I don't actually have the permissions to close issues.

[2019-05-28 15:43] #784 closed

[2019-05-28 19:13] hkeebler commented on #1122
Is this a straight forward as setting the below and removing the synchronized blocks?
[code]
I do not see any unit tests for this.  There is a TransportCachingIT but I'll need to review to see if it adequately test this.

[2019-05-28 19:20] hkeebler commented on #1124
This seems very doable but I am not familiar enough with the code architecture, what services are implemented where and what defines a service in this case vs. a property that has a classname for a value.  Relinquished to one more seasoned.

[2019-05-28 19:53] hkeebler commented on #1133
I can take a look at this and try to determine if it is all covered.

[2019-05-28 21:35] ctubbsii commented on #1122
TransportCachingIT used to hang indefinitely before we added a timeout to it to force it to be killed if it took too long. It's quite possible there's a concurrency bug in there somewhere, but I'm not familiar with that code.

[2019-05-28 22:08] keith-turner commented on #1122
I looked at the code and I think more may be required.  There is a thread that closes idle unreserved connections.  Would need to ensure there are no race conditions with this code and reserving a connection.  That is one example where removing the sync may introduce race conditions.

[2019-05-28 22:27] #886 closed

[2019-05-29 01:08] DonResnik commented on #1168
I understand that and I am pretty sure I know where to update the code.  What I don't understand is what is the command that uses these arguments:

"-Dit.test=AccumuloClientIT -Dtest=foo -Daccumulo.it.properties=/path/to/accumulo-it.properties"

I have been reviewing the docs on MAC but I don't see any place where these arguments are described or used in any example.  If you could provide an examp

[2019-05-29 01:14] Manno15 commented on #1168
The testing.md file in the standalone instance section has some useful info on how to configure and how to run the test. Link provided.

https://github.com/apache/accumulo/blob
/master/TESTING.md

Let me know if you have any additional questions.

[2019-05-29 01:32] EdColeman commented on #1168
If I understand your question, those are being passed to maven / test plugins (failsafe / surefire) and to the test frameworks. Maybe the documentation at https://maven.apache.org/surefire/maven-failsafe-plugin/ helps?

-Dit.test= AccumuloClientIT  specifies to the plug in what IT test to run.

-Dtest=foo – passes a fake unit test so no unit tests actually get executed.

Not sure without looking w

[2019-05-29 02:55] EdColeman commented on #1133
Sorry for the wall of text, but I wanted to provide you with additional background and some of my thoughts.

This is related to https://github.com/apache/accumulo/pull/1172, which both I and Christopher have been working.  Removing the legacy metrics looks like it will also allow upgrading apache commons config too, so that makes this a blocker for 2.0, so any help is very welcome.

Christopher id

[2019-05-29 08:06] seemasinghh commented on #987
These items were not used in the code at all, and should not have been required for compilation error marker occurred in the editor on the first line of the file. Again, this class had no compile-time references to this class is only used within the runtime library. Read more: <a href="https://www.cetpainfotech.com/technology/big-data-hadoop-training">BigData Hadoop Training in Delhi</a>

[2019-05-29 09:53] DonResnik commented on #1168
Thanks for the comments.  After reading the recommended links I believe what I need to run is

man verify -Dit.test=AccumuloClientIT -Dtest=foo -Daccumulo.it.properties=/path/to/accumulo-it.properties

or maybe

mvn verify -Dfailsafe.groups=org.apache.accumulo.test.categories.StandaloneCapableClusterTests     -Dit.test=AccumuloClientIT -Dtest=foo -Daccumulo.it.properties=/path/to/accumulo-it.prope

[2019-05-29 13:07] hkeebler commented on #1168
Don,  first thing I would try is add a clean - mvn clean verify ......

[2019-05-29 15:33] Manno15 commented on #1168
Also, which version of maven are you using? I have had issues running verify in the past when using an old version.

[2019-05-29 17:20] hkeebler commented on #1122
Thanks.   I will carefully review the synchronized blocks of code for refactoring.

[2019-05-29 17:23] hkeebler commented on #1133
Thank you @EdColeman for status and background.  I'll try to get a handle on it this week.

[2019-05-29 19:53] hkeebler commented on #1133
Searched for unused classes in the remote branch in your pull request and could find no classes related to metrics - thats a good thing.  It looks like the Metrics2 are already implemented so maybe everything is covered.

[2019-05-30 01:13] DonResnik commented on #1168
Thanks for all the responses.  Maven version is 3.6, so I think that is ok.  The mvn clean verify look like it is making a difference.  I am trying

mvn clean verify -Dfailsafe.groups=org.apache.accumulo.test.categories.MiniClusterOnlyTests

but it has not finished yet.

I have  a 2013 mac book air with 8Gb.  Should I make sure to have no other apps running while running the ITs...does it need tha

[2019-05-30 14:14] ctubbsii commented on #1133
I talked to several users, and as far as I can tell, nobody is using the legacy metrics. So, if there is a gap in what the two implementations provide, it doesn't seem to be of significance to at least those users I interviewed. I think we can probably close this, and selectively add new metrics as needed.

[2019-05-30 14:14] #1133 closed

[2019-05-30 15:00] milleruntime commented on #1168
This will run all the Tests and all the verification plugin checks, which will take a while.  I'd recommend running just a clean without any tests which should only take a few minutes.  Do that with this command:
`mvn clean verify -DskipTests -Dspotbugs.skip`

[2019-05-30 16:16] EdColeman commented on #1133
I looked at one of the classes that I was concerned about (AbstractMetricsImpl) there is a metrics2 implementation and the calculations that it are doing are documents.  There synchronization in the method chain that we call, but being that it has been being used without reported issues I'm less concerned that it represents a significant performance hit.
The call chain ends up create a metrics2 Sa

[2019-05-31 01:49] DonResnik commented on #1168
Mike,

mvn clean verify -DskipTests -Dspotbugs.skip worked, thx for that recommendation.

I think I have a way forward to test the point of the ticket now.  I can just run this

mvn verify -Dit.test=AccumuloClientIT -Dtest=foo -Daccumulo.it.properties=/path/to/accumulo-it.properties

with a bad/missing properties file and update the conditional handing of the file in accumulo so it does not just c

[2019-06-02 11:57] DonResnik commented on #1168
I am getting a lot closer, but I have another question.  Basically, I am working in this class

AccumuloClusterPropertyConfiguration

and changing the appropriate log statements to RuntimeExceptions.  It works with the example

mvn verify -Dit.test=AccumuloClientIT -Dtest=foo -Daccumulo.it.properties=/path/to/accumulo-it.properties

with an error saying the file cannot be found instead of just swi

[2019-06-02 23:41] DonResnik commented on #1168
I just realized the error did not print correctly because it used gt lt brackets like html.  With those removed the error looks like:

[ERROR] Failures:
[ERROR]   AccumuloClientIT.testClose:146 expected:CLIENT but was:SERVER

Am I supposed to use a different accumulo-it.properties and somehow designate it as a client? I am not sure how to do that and I don't see it addressed in the docs. Any help

[2019-06-03 12:51] hkeebler commented on #1168
Don,  this is a know error with a fix submitted and waiting for merge.  NOte that I have yet been able to run the entire suite of IT tests for standalone in a single submission.  Something ultimately times out and/or deletiions get hung.

[2019-06-03 15:49] milleruntime opened #1177 "Context Object for initialization"
I am not sure if this should be done or not so I am opening an issue for discussion/feedback/design ideas.

InitializeContext would be the object to represent the special internal state of Accumulo, before/during its initialization.  This became troublesome when I started touching the VolumeManager.

<pre>
server/base/src/main/java/org/apache/accumulo/server/InitializeContext.java
public class Ini

[2019-06-03 16:25] keith-turner commented on #1177
What do you see as the benefit of this change?

[2019-06-03 16:31] milleruntime commented on #1177
The same benefits that came with the creation of the other context objects.  Less static code and better testing.

[2019-06-03 16:43] keith-turner commented on #1177
I don't know enough about the specifics to give any useful feedback, but the goal seems great.

[2019-06-03 17:25] ctubbsii commented on #1177
I remember chatting with somebody about creating something like a UtilityContext for the various server-side utilities, for the same reason. Do you think the Initialize command is sufficiently distinct that it needs its own, or do you think it could use a more general UtilityContext?

[2019-06-03 17:33] hkeebler commented on #418
This looks like it was done but maybe a pull request was never submitted?  @jkosh44 are you still working on this?

[2019-06-03 17:42] milleruntime commented on #418
There was a PR that I recently closed.

[2019-06-03 17:47] keith-turner commented on #418
@hkeebler I think a good way to handle this issue would be to add javadoc to the create table method suggesting the following as a concurrent safe way to ignore tables that exists.

[code]

[2019-06-03 18:41] hkeebler commented on #418
Thanks @keith-turner , will do that.

[2019-06-03 21:55] DonResnik commented on #1168
Thanks for the info.  Given that, I will focus on the error handling from the conditions outlined in the ticket and make sure they perform as expected, and not worry about all the ITs completing.

[2019-06-04 17:34] milleruntime commented on #957
I was able to build native lib on Fedora 29:
<pre>
01:32:52 (master) ~/workspace/accumulo$ file server/native/target/libaccumulo.so
server/native/target/libaccumulo.so: ELF 64-bit LSB pie executable, x86-64, version 1 (SYSV), dynamically linked, BuildID[sha1]=6e20b292d7300d2d73e00804a1783ddca06be371, with debug_info, not stripped
</pre>
It looks like this was fixed.  Closing.

[2019-06-04 17:34] #957 closed

[2019-06-04 19:40] milleruntime commented on #1084
Updating ticket with ITs that have been fixed

[2019-06-04 20:09] hkeebler opened #1180 "Merge accumulo-proxy project into accumulo project"
A separate accumulo/proxy project was created to build and test the thrift proxy.  The proxy code needs to be moved into the accumulo project.  There may be some decoupling in the code required.

[2019-06-04 20:13] hkeebler commented on #1180
This looks to be a close fit with the accumulo-proxy module.    I'll start working this.

[2019-06-05 00:16] ctubbsii commented on #1180
@hkeebler The https://github.com/apache/accumulo-proxy repository was created to take what we have in https://github.com/apache/accumulo/tree/master/proxy and separate it into its own (sub-)project within the Accumulo community. I started the work, but did not finish. The goal is to delete it from the main Accumulo builds, so it can live (or die) on its own. I'm not sure what is needed to finish i

[2019-06-05 00:17] ctubbsii commented on #1180
The task here should be to delete the proxy/ module.
The task in https://github.com/apache/accumulo-proxy/issues should be to ensure it builds and works over there.

[2019-06-05 11:24] hkeebler commented on #1180
Thank you.  I had it backwards.  Since, the module was more up to date this makes more sense.

[2019-06-05 14:55] hkeebler commented on #1084
**Fixed ITs:**
- AccumuloClientIT
- ManyWriteaheadLogsIT
- ReadWriteIT
- YieldScannersIT
- BadDeleteMarkersIT (and any others that failed with "null" prefix on command - unknown which ones there all were)
- BulkImportVolumeIT
- ImportExportIT
- CompactionIT
- BulkFileIT
- BulkIT
- BulkSplitOptimizationIT

**Many tests were fixed by using the larger uno footprint like**:
- BinaryStressIT
- CleanWal

[2019-06-05 16:30] milleruntime commented on #1084
Thanks @hkeebler.  Here is an updated list of ITs that are failing using a standalone instance:
BadDeleteMarkersCreatedIT
BigRootTabletIT
DeleteIT
MasterFailoverIT
RestartIT
RestartStressIT
ScanSessionTimeOutIT
SessionBlockVerifyIT
StartIT
WriteAheadLogEncryptedIT
WriteAheadLogIT
InterruptibleScannersIT
mapreduce.AccumuloFileOutputFormatIT
MetaConstraintRetryIT
RecoveryCompactionsAreFlushesIT

[2019-06-05 16:47] ctubbsii commented on #1180
This is a duplicate of #454

[2019-06-05 16:47] #1180 closed

[2019-06-05 16:55] #418 closed

[2019-06-05 17:05] hkeebler commented on #1084
Mike, this list was generated because you ran these and they failed?

[2019-06-05 17:12] ctubbsii commented on #1171
Closing issue, upon recommendation of the reporter.

[2019-06-05 17:12] #1171 closed

[2019-06-05 17:16] hkeebler commented on #454
Working this ticket instead of 1180

[2019-06-05 20:29] milleruntime commented on #1084
I think this is a sign that the test could be improved upon.  After looking at the Tests closer we can determine a proper course of action for each... i.e. fix the test to work in standalone mode or remove the standalone category.

[2019-06-05 20:32] milleruntime commented on #1084
I am going to look into these 2 since I am familiar with them:
WriteAheadLogEncryptedIT
WriteAheadLogIT

[2019-06-06 00:53] DonResnik commented on #1168
I can get the test to fail if I use a bad filename.  But I am unable to get it to fail by attempting to corrupt the file.  I removed all the equals signs and added a lot of chars I thought would cause it to fail (%^&*((), but all the tests still passed.

Does anyone have any ideas on how to corrupt the accumulo-it.properties file so it loads but fails on fileProperties.load(reader) AccumuoClusterP

[2019-06-06 13:51] hkeebler commented on #454
Status:  Updated accumulo-proxy project from the accumulo proxy module including version updates and was able to get it to build and test runs.  Now I'll look into using the jar with the accumulo project instead of proxy module.

[2019-06-06 17:02] hkeebler commented on #454
@ctubbsii  the accumulo-proxy contrib subdirectory has a create-release-candidate.sh script which does not exist in the accumulo project.  I'm  not sure what it does and why it is there.  Just curious.

[2019-06-06 18:05] #816 closed

[2019-06-06 18:07] milleruntime commented on #1177
I am not sure.  I would hate to have too many Context objects, that would be confusing.  The nice thing about having an IntializedContext is that it would capture the state only during the initialize process.  Having a UtilityContext seems a little too broad.  Perhaps a "ServerUtilContext" would be better in at least you know where the context is coming from.  But that just seems like what ServerC

[2019-06-06 18:15] keith-turner opened #1181 "Update MasterMetadataUtil.addNewTablet to use new Ample API"
The method `MasterMetadataUtil.addNewTablet()` could be updated to use the new Ample API (an internal API for reading and writing Accumulo metadata).

[2019-06-06 18:47] hkeebler commented on #454
Running a verify gave me this [ERROR] Exception is caught when Exception is not thrown in org.apache.accumulo.proxy.ProxyServer.updateRowsConditionally(String, Map) [org.apache.accumulo.proxy.ProxyServer] At ProxyServer.java:[line 2207] REC_CATCH_EXCEPTION

the code line is
} catch (Exception e) {
      handleException(e);
      return null;
    }
This apparently verifies okay in the accumulo proj

[2019-06-06 18:50] ctubbsii commented on #1177
I was definitely thinking just a "ServerUtilContext", not a more general utility context. The main thing is that, unlike the ClientContext, it would assume access to the server-side configuration, but unlike the ServerContext, it wouldn't do things that are needed for server's only (crypto service, unique name allocator, etc.).

It's probably best to start with just an InitializeContext, and not w

[2019-06-06 21:02] milleruntime commented on #1084
What do you mean by this?

[2019-06-06 22:58] milleruntime commented on #1084
Crossed out ITs I saw passing from the list above.

[2019-06-07 15:36] milleruntime commented on #1168
I wouldn't worry about that.  Validation can be done on the actual properties themselves.

[2019-06-07 15:49] milleruntime commented on #1177
OK I will give this a stab.

[2019-06-08 02:54] ctubbsii commented on #407
It seems like this issue is specific to the GraphiteSink, which can fail to initialize if it can't connect. I don't think this would be an issue with a different sink, perhaps one that receives metrics and asynchronously passes them along.

We could perhaps retry initializing the whole metrics system again if it fails the first time, but initializing in a loop seems wrong to me... especially since

[2019-06-08 03:05] ctubbsii commented on #1079
Haven't seen this recently. It looks like #1082 probably fixed this.

[2019-06-08 03:05] #1079 closed

[2019-06-08 13:23] hkeebler commented on #1084
The initial finding for these tests failing was due to the server prefix property not being set to "" in the accumulo-it.properties file.  This caused a "null" prefix on command line commands being executed.  When that was fixed any tests that required that server prefix were working.

[2019-06-09 14:52] DonResnik commented on #1168
Ok, then it seems like just replacing the log statements with RuntimeExceptions in the catch blocks will do what this ticket is looking for.  I will submit a pull request with that solution as a start and see what comments I get.  Thanks.

[2019-06-10 01:18] #1052 closed

[2019-06-10 15:55] milleruntime opened #1190 "Password CLI Bug"
I was using a script I had written for TestIngest and it is now broken in 2.0.  It looks like "-p" no longer works.  "--password" seems to work just fine.  I will investigate further.

Here is what gets printed in the shell:
[code]

[2019-06-10 18:08] milleruntime commented on #1190
Also seeing this with the "instance option"
[code]

[2019-06-10 18:54] ctubbsii commented on #1190
Try: `shopt -s globstar; grep -R '"-p"' **/src/main/java/`

The output shows ShellIT and ShellServerIT both using `-p`, and those tests pass fine. Perhaps the issue is with your script?

[2019-06-10 19:02] milleruntime commented on #1190
I think its with ``` TestIngest ``` since that is what the script is using.  Here is what is causing issues:

[code]

Checkout ``` shopt -s globstar; grep -R 'TestIngest' **/src/main/java/ ``` We using it in a bunch of Tests but doesn't look like we use it in the Shell tests.

[2019-06-10 22:26] ctubbsii commented on #1190
I suspect this is one of those ones that @mikewalch updated to use the client properties file. When I run your grep, I get a bunch that look like they are passing: `["-c", getClientPropsPath()]`, with the expectation that the password and instance information is in the client props file.

[2019-06-11 01:11] ctubbsii opened #1192 "Replace Charset strings with concrete type"
New APIs in Java 11 allow us to stop using String when a Charset parameter is available. We should switch to using the Charset version instead.

Frequently, in our code, you'll see something like `UTF_8.name()`, which we can replace with simply `UTF_8`.

[2019-06-11 01:37] ctubbsii opened #1193 "Replace use of Guava Immutable* with Java 11 built-in unmodifiables"
Java now has built-in immutable objects for `Set.of`, `List.of`, `Map.of` (and also `.copyOf` variants) and we no longer need to use Guava's `ImmutableSet.of`, etc., methods.

The use of `Immutable*.Builder` classes can also be discontinued. Options for replacing those include using streams with a `Collectors.toUnmodifiable*` collector, or using a temporary mutable version, and wrapping with `Coll

[2019-06-11 05:21] ctubbsii commented on #723
Yes, but we'd need to ensure callers are calling the `close()` method in a try-with-resources block or in a finally block.

Other options might be to use Java's new Cleaner utility (with PhantomReferences?), whose API I'm not yet familiar with using.

[2019-06-11 07:00] ctubbsii opened #1194 "Stop assuming system class loader is a URLClassloader"
Java 11's system class loader is no longer a URLClassloader, and the actual type is hidden in a module that isn't exported. Our tests (and any code) should not assume the system class loader is of that type.

Tests which assume this: AccumuloClasspathTest and AccumuloVFSClassLoaderTest

[2019-06-11 07:08] ctubbsii opened #1195 "Update EasyMock / PowerMock / JUnit to get tests passing with Java 11"
EasyMock fails to create mock objects because it doesn't recognize Java 11's class file version 55. PowerMock is likely broken also with Java 11, and any change to either of those may require JUnit changes. However, I don't think there is any version of PowerMock that supports JUnit 5 yet, so this should be a conservative update of these utilities... to find the versions that work on Java 11 (if a

[2019-06-11 13:15] hkeebler commented on #1181
I'll start on this one.

[2019-06-11 21:17] milleruntime commented on #1190
This isn't a bug. It was just a change in behaviour from 1.9 to 2.0.

[2019-06-11 21:17] #1190 closed

[2019-06-12 20:21] milleruntime opened #1200 "Move Performance Tests to Testing Repo"
There are a few tests left in Accumulo labeled with the ```PerformanceTests``` category.  These should be moved to [Accumulo-Testing](https://github.com/apache/accumulo-testing).

- DeleteTableDuringSplitIT
- DurabilityIT
- RollWALProfrmanceIT
- ManySplitIT
- BalanceFasterIT

[2019-06-12 21:36] ctubbsii opened #1202 "Evaluate change in default value for VFS_CLASSLOADER_CACHE_DIR"
As part of the commons-configuration2 update, I changed the default value for this property, so we could drop custom property interpolation features (users would instead rely on interpolation within their site file, if they really wanted a different value). However, I believe it's possible that this property was only documenting the default behavior of the AccumuloVFSClassLoader in accumulo-start

[2019-06-13 14:54] elinaawise commented on #1200
I'm looking at this.

[2019-06-13 17:24] milleruntime opened #1203 "Merge ServerInfo into ServerContext"
Refactoring to reduce redundant code and clean up some of the internals between ServerInfo, ServerContext, ClientContext and ClientInfo.

I have been experimenting and I think this will be a solid refactor.

[2019-06-13 17:55] ctubbsii commented on #1203
I believe the main reason ClientInfo exists is to avoid reconstructing the AuthenticationToken when passing around client properties internally. (Note: ClientInfo and ServerInfo are internal only, and not public API). It'd be great if these could be refactored to consolidate them. I know @mikewalch had spent some time trying to consolidate client properties/info/context a bit already, but I'm not

[2019-06-13 18:04] milleruntime commented on #1203
Yeah I think I am basically continuing what he started.

[2019-06-13 20:22] ctubbsii commented on #1086
@keith-turner Any interest in investigating this before we start voting on 2.0.0 release candidates?

[2019-06-13 20:36] #1123 closed

[2019-06-13 21:17] #1202 closed

[2019-06-13 21:31] ctubbsii commented on #746
Updated links:

For Java 11:
https://docs.oracle.com/en/java/javase/11/troubleshoot/environment-variables-and-system-properties.html

Java 9 and later also have a new `JDK_JAVA_OPTIONS`:
https://docs.oracle.com/en/java/javase/11/tools/java.html

Example:
[code]

[2019-06-13 21:33] #746 closed

[2019-06-13 23:45] #1192 closed

[2019-06-14 14:43] milleruntime opened #1207 "Refactor Perm Handler"
https://github.com/apache/accumulo/blob/71fc7e77edbd73f21599a9d8b9b9254eb0dc74b9/server/base/src/main/java/org/apache/accumulo/server/security/handler/PermissionHandler.java

[2019-06-14 14:45] milleruntime opened #1208 "Refactor Authorizer"
https://github.com/apache/accumulo/blob/71fc7e77edbd73f21599a9d8b9b9254eb0dc74b9/server/base/src/main/java/org/apache/accumulo/server/security/handler/Authorizor.java

[2019-06-14 14:47] milleruntime opened #1209 "Refactor Authenticator"
https://github.com/apache/accumulo/blob/71fc7e77edbd73f21599a9d8b9b9254eb0dc74b9/server/base/src/main/java/org/apache/accumulo/server/security/handler/Authenticator.java

[2019-06-14 16:15] keith-turner opened #1210 "Create type for time to use when reading and write Accumulo metadata"
Currently when using Ample to read and write time to the Accumulo medata a String is used.  It would be better to use a type that encodes the time type and long.

[2019-06-14 16:44] #822 closed

[2019-06-14 23:49] ctubbsii opened #1212 "Fix and re-apply #1211"
#1211 was reverted in ca5b62d81b21a35bb260f1c5d3257811eeb9ae6e for the reasons explained in that commit.

It should be fixed and re-applied (can wait until unit tests are passing first).

[2019-06-15 04:47] #1194 closed

[2019-06-15 04:47] #1195 closed

[2019-06-17 16:16] milleruntime commented on #547
@mikewalch do you remember if you ran this using a Muchos cluster?

[2019-06-17 17:55] ctubbsii commented on #547
@keith-turner ran a successful continuous ingest run for 1.9.3, so I'm inclined to close this as "cannot reproduce". It can always be re-opened if it's seen again.

[2019-06-17 17:55] #547 closed

[2019-06-18 06:16] ctubbsii opened #1217 "Failing tests in master branch"
The following tests are failing in the master/2.1 branch. I do not know if they are related to Java 11, or something else.

* org.apache.accumulo.test.GarbageCollectWALIT.test
* org.apache.accumulo.test.VolumeIT.testDirtyReplaceVolumes
* org.apache.accumulo.test.functional.WALSunnyDayIT.test

[2019-06-18 06:16] ctubbsii commented on #1212
All unit tests and ITs passed, except for a few that were already failing (#1217)

[2019-06-18 18:57] elinaawise commented on #1200
DurabilityIT:  performance tests were moved to DurabilityWriteSpeedPT in accumulo-testing per issue #1159.  PerformanceTests annotation was left in DurabilityIT, which I'm removing.  Otherwise, there are no other changes to be done to this test from what I can tell.

[2019-06-18 19:30] elinaawise commented on #1200
DeleteTableDuringSplitIT:  I don't think performance tests exist in this class and will remove the PerformanceTests annotation.

[2019-06-18 19:50] hkeebler commented on #1023
It would be good to have a reference list (web page) or something for contributors that contains improvements like this ticket for anyone to consider as they are modifying existing code.  It would likely reduce the number of comment iterations back and forth if there was something to reference when updating (or creating new) code, like 1. What can be changed to a forEach, 2. what can use a method

[2019-06-18 22:50] ctubbsii commented on #1023
Such a page could easily just become a tutorial on the Java language improvements themselves, as new Java versions are released with newer features. Many such pages already exist:

* https://docs.oracle.com/javase/7/docs/technotes/guides/language/enhancements.html#javase7
* https://www.journaldev.com/2389/java-8-features-with-examples
* https://www.azul.com/90-new-features-and-apis-in-jdk-11/

I d

[2019-06-19 11:18] hkeebler commented on #1023
I forget this is an open source project.  Thank you.

[2019-06-19 12:17] jzgithub1 commented on #1023
I think the value of the page would be to let contributors know what our code standards are.  The code review of pull requests ultimately  enforces code standards anyways.  For example, you and others   remind me about the stream API when I check in iterative code so the present system of enforcing code standards does work.

[2019-06-19 15:26] milleruntime opened #1219 "NoSuchMethodError when trying to open Shell"
[code]

This was after the disk filled up running CI for 2 days.  The Master node wasn't full though, which is where I tried running the shell.  This was from the RC-0 branch so its possible I built with Java-11.  And I believe the pom builds for java 8.

Extracting the core jar:
[code]

[2019-06-19 16:53] milleruntime commented on #1219
OK this was definitely built using
Build-Jdk: 11.0.3
and I used mvn clean package

[2019-06-19 18:28] keith-turner opened #1220 "Explore removing unused zookeeper watchers"
For per table config, Accumulo creates zookeeper watches per table per tablet servers.  When a table is deleted these watches may be left behind consuming memory on the ZK servers.  Accumulo may be able to use the following to remove these watchers.

https://issues.apache.org/jira/browse/ZOOKEEPER-1829

[2019-06-19 18:29] milleruntime commented on #1219
This is now fixed in 2.0.0-SNAPSHOT

[2019-06-19 18:29] #1219 closed

[2019-06-19 18:38] ctubbsii commented on #1219
@milleruntime When you say it is fixed in 2.0.0-SNAPSHOT, do you mean that it is fixed when `Build-Jdk` is 11 and runtime JVM is 8?

[2019-06-19 18:59] ctubbsii commented on #1220
If this can be done with low-risk and a small amount of code, it could be backported to 2.0.x or even 1.9.x; but without trying, it's hard to know for sure.

I think the basic design would be something like:

1. Have ZooCache keep references to any Watchers,
2. ZooCache implements a method to match any watchers against some predicate and delete them,
3. In the Master, when a table is deleted, it t

[2019-06-19 19:44] #1212 closed

[2019-06-19 19:50] milleruntime opened #1221 "New Security Interface"
Design for a cleaner internal security interface:
[code]

The idea is to separate the security plugin implementation (KerberosAuthenticator, KerberosAuthorizer, ZKAuthorizer, etc), from the ServerContext and Initialization for Accumulo.  Currently, we have bootstrapping security issues between ServerContext and Initialize.  Initialize is a one time action but part way through it creates a ServerCo

[2019-06-19 19:54] #1181 closed

[2019-06-19 20:37] milleruntime commented on #1219
Yes

[2019-06-19 20:58] keith-turner opened #1222 "Determine why metric reported 4 quadrillion ms"
Saw the following while testing 2.0.0-SNAPSHOT.  Need to determine why the commit prep time metric was so high.

![update-time](https://user-images.githubusercontent.com/1268739/59799927-6868a300-92b3-11e9-9014-0659f4696c65.png)

[2019-06-19 22:09] keith-turner opened #1223 "Monitor log recovery says invalid date"
While running a very recent version of 2.0.0-SNAP I saw the following on the monitor during log recovery.  #917 is a similar issue that was fixed.  The output is now different.

![log-recovery](https://user-images.githubusercontent.com/1268739/59804747-38be9880-92bd-11e9-9d52-8fe2ae727e07.png)

[2019-06-20 00:32] ctubbsii commented on #1219
Weird. Unless I'm misunderstanding something (entirely possible), then Java 11 may have produced different byte code with, and without, the `-release 8` option, even though `-source 1.8` and `-target 1.8` were specified and the animal-sniffer enforcer rule verified the compilation results against Java 1.8. That's very strange, but if it works with the `-release 8` option (which is now automaticall

[2019-06-20 00:38] ctubbsii commented on #1221
The `SecurityOperation` class is currently an internal only class. If this interface were to represent something like we have today, it should look something more like:

[code]

I don't think we need the second layer interface, `SecurityOperation` if we're going to re-design the pluggable security.

[2019-06-20 00:43] ctubbsii commented on #1223
This could be due to the monitor updates I did for Java 11 to deal with the missing javax/EE stuff, so the monitor worked in Java 11 better. Hopefully the fix is just as simple as it was before. @jzgithub1 you fixed this in #1028 ; want to attempt it again?

[2019-06-20 00:55] ctubbsii opened #1225 "Use fewer ZooKeeper watchers"
Currently, we use an excessive number of ZooKeeper watchers
Some watchers could be cleaned up by doing #1220 , but there's also room for simply using less of them.

One possible solution is instead of having a watcher for every configuration item, we have only a single configuration version field in ZooKeeper for all configuration items, and a single watcher (per process) to track that version fie

[2019-06-20 04:15] ctubbsii opened #1226 "CyclicReplicationIT.dataIsNotOverReplicated fails frequently"
There's clearly a bug in the test (or in the replication code it is intended to test): `org.apache.accumulo.test.replication.CyclicReplicationIT.dataIsNotOverReplicated`

It fails frequently on every branch (currently: 1.9, 2.0, and master), and has done so for as long as I can remember (1.7?), and I've never had time to investigate it. I've grown accustomed to ignoring it, but lately it's been bo

[2019-06-20 05:14] ctubbsii commented on #1023
Most of what we have that could be called coding standards, are enforced with automation in the build with maven plugins. Most of the rest are "suggestions", "tips", "learned best practices" or even "subjective personal preferences". Deliberation and consensus are more important here than any sort of official coding standards (which change over time).

I'm not opposed to a web page. I just don't k

[2019-06-20 13:05] jzgithub1 commented on #1223
Sure thing.  I will get on it now.

[2019-06-20 14:13] jzgithub1 commented on #1223
Looks like the move to Thrift Compiler 0.12.0 caused this.  Investigating.

[2019-06-20 14:41] milleruntime commented on #1221
I like having this in SPI under a security package: ```org.apache.accumulo.core.spi.security```

Then use ```org.apache.accumulo.core.spi.common.ServiceEnvironment``` as a parameter like so:

[code]

I am not convinced we need an ```Authenticator``` and an ```Authorizor```.  If we initialize all the security and server side user creds in the initialize method then we can just handle all the authen

[2019-06-20 14:44] milleruntime commented on #1226
This test is doing so much (along with some of the other Replication tests) that its almost like it should be its own testing suite in Accumulo Testing repo.

[2019-06-20 14:51] EdColeman opened #1227 "GC process may be skipping deletion of some unreferenced files."
I have found "old" files on a system that are not referenced in the metadata table that are not being removed by the default GC process.

[2019-06-20 15:03] EdColeman commented on #1227
I have found "old" files on a system that are not referenced in the metadata table that are not being removed by the default GC process.  So far I have found two common "types" that are not being removed.
a) Files in a bulk import directory - this may be from a failed ingest, but the failure would have had to of occurred after the files were moved / renamed - they have the expected directory struc

[2019-06-20 15:19] EdColeman commented on #1200
I cannot speak directly to the performance test - but in the past, I seem to recall deleting a table while it was splitting (or compacting) could take a long time - I believe that there were changes to improve the time spent for the deletion to occur (I think it may have been related to issues where the delete would block, waiting for the operations to complete - which, being it was to be deleted

[2019-06-20 16:05] milleruntime opened #1228 "NoSuchMethodError on Initialize"
Saw this today when trying to run Uno on Master with Java 11.
[code]

[2019-06-20 17:01] Manno15 commented on #1226
I am going to try to look into why this is failing. So far the error hasn't occurred on the master branch on my end though. Ill try against the 2.0 branch next.

[2019-06-20 17:34] ctubbsii commented on #1228
What JDK version did you build with? The same as the version running?

[2019-06-20 17:39] ctubbsii commented on #1228
I cannot reproduce this.

[2019-06-20 17:58] ctubbsii commented on #1226
You may have to run multiple times to reproduce. It doesn't fail every time.

[2019-06-20 19:46] ctubbsii commented on #1227
This isn't a bug. This is the intended design. The original garbage collector used to crawl all of HDFS, look for referenced files, and delete everything referenced. This was unsafe in the case of failure (some files were too aggressively deleted prior to a reference being added), and a big burden on the name node.

The new garbage collector tries to only delete things that have been explicitly id

[2019-06-20 20:13] EdColeman commented on #1227
Understood - I didn't realize this was intended - I'm working on tooling that would help in identifying these "unreferenced" candidates - we can discuss the best mechanism that would make the utility available to the wider community if that is desired.

[2019-06-20 21:10] ctubbsii commented on #1221
Yes, definitely, anything in the category of "update security because of something that happened in Accumulo" (like deleting a table) should be put in one place. Implementers can initiate multiple actions as a result of the call, but the API for the module should only reflect one call.

[2019-06-20 22:56] ctubbsii commented on #1223
After a few minutes of my own investigation, I noticed that the original fix in #917 did not fix the problem. It mistakenly changed the variable from `time` to `runtime` (presumably on the belief that the underlying POJO being presented in the REST interface was the class `RecoveryStatusInformation`, but it was actually `TabletServerRecoveryInformation`).

The actual error was that the `time` fiel

[2019-06-21 00:09] #1223 closed

[2019-06-21 00:09] ctubbsii commented on #1223
![Screenshot from 2019-06-20 19-42-16](https://user-images.githubusercontent.com/1280725/59888057-d84e5a80-9393-11e9-9868-e7a492f8891a.png)
![Screenshot from 2019-06-20 19-42-48](https://user-images.githubusercontent.com/1280725/59888058-d84e5a80-9393-11e9-9e56-1592c01b52f3.png)

I fixed the issue in 41600678131dd30b1609ff7dc7f4b3476072bffa

[2019-06-21 15:23] keith-turner commented on #1223
@ctubbsii fixing the percentage made my day!

[2019-06-21 15:39] jzgithub1 commented on #1223
Great catch @ctubbsii.   The original fix looked so obvious.

[2019-06-21 18:14] keith-turner opened #1230 "Seeing invalid date for GC on master monitor page"
Seeing invalid date for GC on the master monitor page.

![master_date](https://user-images.githubusercontent.com/1268739/59942835-bb1a9a00-942e-11e9-8a27-e9ef621d0660.png)

[2019-06-21 18:19] elinaawise commented on #1200
I moved RollWALProformanceIT to accumulo-testing project.  However, I ran out of time and it needs to be double checked.

[2019-06-21 18:21] hkeebler commented on #1230
Is this in the 2.0 build?

[2019-06-21 18:31] hkeebler commented on #1230
@Manno15 said that restarting the GC will fix it.  The GC gets in some funky state that probably returns null for time.  So the question is what should be done when this happens?  Maybe return "unavailable" vs. invalid date?

[2019-06-21 18:55] keith-turner commented on #1230
@hkeebler  I am running a very recent version of 2.0.0-SNAPSHOT.  I just looked at and now I see a date.  I am running test with agitation where the master and tservers are being killed.  However I am not killing the GC process.

![master_date_2](https://user-images.githubusercontent.com/1268739/59944755-a12f8600-9433-11e9-8c9e-39c7b4a17679.png)

First determine whether this is a GC or monitor bug

[2019-06-21 19:24] keith-turner opened #1231 "Saw partial bulk import when master killed"
I was running the [bulk ingest test](https://github.com/apache/accumulo-testing/blob/master/docs/bulk-test.md) with agitation and  I saw the following.  These test were using the new bulk import API.

[code]

The master logs contained the following errors.  I suspect the processes was killed with SIGTERM which caused the Hadoop shutdown hook to close the file system.  This caused the bulk FATE op

[2019-06-21 19:36] hkeebler commented on #1230
@keith-turner curious if you could click through to the GC status page from the "INVALID" and what it displayed.

[2019-06-21 20:18] hkeebler commented on #1230
I think this can be bettered by a small change master.js .  The "lastGC" can be a finish time or Running, Waiting or down.  A parseInt is done and the status string values are lost.  I will commit this but will be out after today until Monday July 1st.

[2019-06-24 13:06] milleruntime commented on #1228
I am still seeing this on my laptop.
[code]

Here is my uno env:
[code]

[2019-06-24 13:09] milleruntime commented on #1228
Nevermind.  Was using an outdated Uno.  Updated Uno and its now fixed

[2019-06-24 13:09] #1228 closed

[2019-06-24 15:37] milleruntime commented on #1231
Which process are you referring to?  Master was killed?  Or some other thread?

[2019-06-24 20:06] ctubbsii commented on #1168
Re-opening because there's more work to be done before the change can be merged (so it doesn't cause additional IT failures).

[2019-06-25 04:38] ctubbsii commented on #1217
I spent some time investigating `GarbageCollectWALIT`, and it appears that WALs are simply no longer removed by accumulo-gc after recovery. This may be related to the metadata changes in #1174
Although I haven't verified, it seems probable that the other tests are the result of similar breakages in the way metadata tables are queried internally.

[2019-06-25 15:21] milleruntime commented on #475
I am re-opening this issue since there is a bug with the table displaying status of the legacy bulk imports.

[2019-06-25 15:22] milleruntime commented on #475
![image](https://user-images.githubusercontent.com/11872539/60111205-89117c80-973b-11e9-9523-ec860a0123a7.png)

[2019-06-25 18:08] milleruntime commented on #1228
This must be related to my environment.  I am seeing this error again but now on the 2.0 branch SNAPSHOT and using java 8.

[2019-06-25 18:13] ctubbsii commented on #1228
Are you using OpenJDK8 or OracleJDK8? I have never seen this with OpenJDK8.

[2019-06-25 18:27] milleruntime commented on #1228
openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)

[2019-06-25 18:42] #1230 closed

[2019-06-25 19:07] milleruntime commented on #1228
Maybe this is an issue with Uno not deleting files properly when calling setup?

[2019-06-25 19:19] milleruntime commented on #1228
I deleted my install directory and had to unset HADOOP_PREFIX leftover from previous version, working again.

[2019-06-25 20:49] ctubbsii opened #1233 "Use thead tag in monitor tables"
Several of our tables in the monitor pages don't put their headers in a `<thead>` section and the other rows in a `<tbody>` section. This makes it harder to clear `<tr>` rows in javascript, because special cases need to be handled to avoid deleting the `<tr>` entries that contain the header row.

All the header rows should be in a `<thead>` section, and the javascript code that clears the content

[2019-06-25 20:50] ctubbsii commented on #1233
This isn't a priority for 2.0, but could be done for 2.0.1.

[2019-06-26 12:28] jzgithub1 commented on #1226
I see a lot of these warnings when I run CyclicReplicationIT:
2019-06-26 08:22:23,036 [rpc.ThriftUtil] WARN : Failed to open transport to <myhostname>:46607

But the test still passes.

[2019-06-26 15:29] ctubbsii commented on #1226
Those warnings are expected, because the tserver is killed as part of the test, and restarted. The test code issues that warning while it retries to connect.

When the test fails for me, it is often the case that the process never restarts and those warnings continue until the test times out. This happens on CentOS 7. It's possible that there's a better way to force the WAL to close, or at the ver

[2019-06-26 15:33] jzgithub1 commented on #1226
Those are good ideas on how I can improve the test.  I will look into implementing a forced WAL closure and reliable way to restart the tserver.

[2019-06-26 18:52] #475 closed

[2019-06-26 18:52] #1233 closed

[2019-06-27 00:03] ctubbsii opened #1236 "Simplify builds by requiring all maintenance branches to build with Java 11"
Currently, the master branch (2.1) builds with Java 11, because it's targeting Java 11. The 2.0 branch can build with Java 11, but does not require it. I have not yet tested building the 1.9 branch, and there's a good chance it won't build with anything other than JDK8.

It would be a good idea to simplify the build requirements by making all branches build with Java 11. Benefits:

* No need to sw

[2019-06-27 15:13] milleruntime commented on #1231
I was looking at this some and I am not sure how data could be lost.  If the FATE operation was marked FAILED_IN_PROGRESS then it should have restarted when the Master restarted.  This would have re-read the LoadPlan and loaded all the files again.

[2019-06-28 00:51] ctubbsii commented on #1193
One thing to be aware of: `Map.of()` do not guarantee insertion order like Guava's `ImmutableMap` does. `Set.of()` likely suffers from a similar issue. modernizer-maven-plugin still says these are the preferred replacements... seems like Java could have done a better job replacing them with more well-behaved versions, though.

[2019-06-28 05:13] #1193 closed

[2019-07-01 21:32] keith-turner commented on #1231
Master process was killed.

I think FAILED_IN_PROGRESS means its currently working on executing the undo operations for the fate transaction stack.

No, not in this case.  When a FATE transaction throws an unexpected exception it marks it failed in ZK and starts calling undo operations.

[2019-07-02 12:51] hkeebler opened #1242 "Update MasterMetadataUtil.getUpdateForTabletDataFile to use ample api"
The getUpdateForTableDataFile is the last piece in MasterMetadataUtil NOT using the new ample api.

[2019-07-02 15:31] hkeebler opened #1244 "Update MetadataTableUtil to use the ample api"
From @keith-turner: Code in MetadataTableUtil should probably be restructured, but I am not sure what that structure should be; I thought about this a little bit and decided to keep Ample simple with just the primitive metadata ops for now since I did not have an overall design
There are still some big chunks of code that could be simplified by using Ample.. so I was thinking of working those firs

[2019-07-02 15:32] hkeebler commented on #1244
I will work on this.

[2019-07-02 15:46] keith-turner commented on #1231
I am still looking into this and thinking about the best course of action.  Below is some information I have discovered while looking into this.

 * Hadoop has a config property `fs.automatic.close` that disables its shutdown hook if set to `false`.  It defaults to `true`.
 * Accumulo's tablet code tries to detect io excetptions caused by shutdown during scanning a tablet in order to prevent sendi

[2019-07-02 16:14] milleruntime commented on #1231
I found this [ShutdownHookmanager](http://hadoop.apache.org/docs/r2.8.0/hadoop-project-dist/hadoop-common/api/org/apache/hadoop/util/ShutdownHookManager.html) in Hadoop, which I thought was interesting and may be worth looking into.

[2019-07-03 12:42] keith-turner opened #1247 "Annotate blip markers when exception happens during bulk import"
When an unexpected exception happens during bulk import it may be that not all files are imported.  This happened in #1231.  Bulk import are executed by FATE.  When FATE see's an unexpected exception it marks the transaction as failed and starts executing the Undo operations.  For bulk import, one of the undo steps could set a value of `FAILED` on the blip marker.  If this were done then a user co

[2019-07-03 13:51] #1231 closed

[2019-07-03 15:11] milleruntime commented on #1247
Do you think this should be done for 2.0?  We could make this a part of the new bulk import feature.

[2019-07-03 15:24] keith-turner commented on #1247
Another way to solve this problem is to always put the FATE txid as the blip value. Then with a tool blip values could be cross referenced with FATE txid in ZK.  We could put that fate txid in now and create the tool later.

[2019-07-03 15:27] milleruntime commented on #1247
I think it would be very useful to have as a debugging tool for the old and new bulk import.  Just to have to value there so admins can grep for it.

[2019-07-03 21:09] milleruntime commented on #1221
I compiled a list of secured actions to check against a user (I think I have them all, please let me know if I am missing any).  This could replace all the crazy cross checking of different permissions.  The new interface would have this method:
[code]
Then the Action enum would have:
[code]
I don't see why we would need to implement java objects or use abstract classes if all we want is just the

[2019-07-05 17:03] keith-turner opened #1249 "Allow FATE operations to report goal and status information."
It would be very useful if FATE operations could report goal and status information.  This information could be display via command line utilities and on the monitor page.  Alternatively the information could just be logged in a very consistent way.  Goal information would be what the FATE op is trying to do and should not change for lifetime of the FATE operation.  Status information changes as t

[2019-07-05 18:23] milleruntime opened #1250 "Bulk Import Spam warnings"
While running the new bulk import I saw a lot of these warnings:
[code]
Which could get really annoying on a large cluster.  I remember selecting to warn in this situation but we may want to handle these files differently or log at debug.

[2019-07-05 18:34] milleruntime opened #1251 "Fix Monitor Bulk Import "Per TabletServer" table"
I am not sure what this table on the Monitor is supposed to track but I don't think its working.  We could probably just remove the table from the page.  It is under Activity -> Bulk Imports

[2019-07-07 04:43] ctubbsii commented on #1249
That'd be very neat.

[2019-07-07 23:05] reggert opened #1252 "ListLexicoder does not support empty lists"
Attempting to use a `ListLexicoder` to encode an empty list yields an `ArrayIndexOutOfBoundsException` due to the following line in `ByteUtils.concat`:

[code]

Unfortunately, any attempt to resolve this is not likely to be backwards compatible with existing data encoded using the current implementation.

I suggest adding a separate class (perhaps called something like `SequenceLexicoder` to disti

[2019-07-08 14:06] keith-turner commented on #1252
I agree.  Looking at the code, it seems like a list with a single empty element encodes to a zero length byte array.  That leaves no suitable encoding for an empty list.

[2019-07-08 15:00] hkeebler commented on #1244
Also removeUnusedWalEntries(..)

[2019-07-08 16:37] #1250 closed

[2019-07-08 16:58] #1242 closed

[2019-07-08 17:06] #1244 closed

[2019-07-08 18:45] #1247 closed

[2019-07-08 21:08] milleruntime commented on #1251
I was able to see the count go up using uno so I guess this table is still useful.  The "Oldest Age" column doesn't seem very useful though, it looks like its just printing a long instead of date.

[2019-07-09 15:46] #1251 closed

[2019-07-09 18:33] EdColeman commented on #1225
One thing that may also help, if we ever require zookeeper > 3.5 is the local session feature.  Accumulo could use local sessions where ZooReader read-only sessions are used.

See: https://issues.apache.org/jira/browse/ZOOKEEPER-1147

[2019-07-09 18:41] keith-turner opened #1258 "Saw datatables error in monitor while agitating"
While agitating the master and tserver during a bulk import test I saw the following error when trying to look at the tserver page.  The error was transient.

[code]

[2019-07-09 18:50] milleruntime commented on #1258
I am not sure there is anything to be done here.  The Rest end point that was gathering the data most likely failed to get it from the Monitor.

[2019-07-09 19:15] milleruntime commented on #1258
Do you have a screen shot?  If not, where did you see this error?

[2019-07-09 19:16] keith-turner commented on #1258
The error popped up in a little dialog box at the top the web page.

[2019-07-09 19:19] keith-turner commented on #1258
I just checked and saw the error again.

![Screenshot from 2019-07-09 15-16-44](https://user-images.githubusercontent.com/1268739/60916636-e984db80-a25c-11e9-9281-cd98e0bfd5ca.png)

[2019-07-09 21:49] keith-turner opened #1260 "New bulk import api failed during test with agitation"
While running bulk import with agitation on a small EC2 cluster I noticed a blip marker was not going away.

[code]

I looked the master logs for the FATE transaction ID and found that it failed with the following error message.

[code]

[2019-07-09 22:23] milleruntime commented on #1258
I killed the Master and found some other minor issues with the Monitor.  I will open up a PR with a few fixes.

[2019-07-10 13:11] hkeebler commented on #1210
I'll work on this.

[2019-07-10 15:06] hkeebler commented on #1210
As it turns out there is already a TabletTime abstract class with MillisTime and LogicalTime implementations.  The returned string value from this object is the "time string - ex. M12345678" passed to the metadata operations.  Is this too heavyweight to pass through instead of a string?

[2019-07-10 15:59] hkeebler commented on #1210
We would need to move TabletTime from the server module to core which kind of makes sense.

[2019-07-10 16:46] keith-turner commented on #1210
I took a look at TabletTime and it does not seem like a good fit because it also has functionality for tracking a tablets current time.  This tracking code is used by tablets as they processing incoming mutations.  The tracking code makes TabletTime mutable.

I think it would be better to have a much simpler immutable POJO that represents the information stored in the metadata table.  Something li

[2019-07-10 16:56] hkeebler commented on #1210
Yes.  That is what I started with until I saw TabletTime.  So I think we agree that TabletTime could use o r maybe just return a MetadataTime.   The Millisecond and Logical implementations use different constructs.  I'll play around with it.

[2019-07-10 17:05] keith-turner commented on #1210
I think TabletTime is a bad fit for Ample because it has a lot of complex logic that goes way beyond the simple need to represent the data stored in the metadata table.

[2019-07-10 20:12] #1258 closed

[2019-07-10 21:32] ctubbsii commented on #1221
I would argue in favor of small classes rather than an enum, for the following reasons:

1. It allows us to organize actions in a type hierarchy with abstract base classes to group them together (not possible with Enums).
2. It allows users to define their own actions in their own code if they want to.
3. It makes our code a bit more extensible if we want to add more actions ourselves.

Example:

[2019-07-10 21:49] lbschanno commented on #1200
Taking a look at this. Given that ContinuousIngest is currently only referenced by RollWALPerformanceIT, is there any need to keep it in the accumulo repo? I noticed that it supports commandline args, and I can leave it if it's necessary for any non-programmatic interaction.

[2019-07-10 21:57] ctubbsii commented on #1217
All three of these were fixed in #1244 in commit 0ca9cfe270b0e2a2b14f36ce2945eec96e7be704 which added the missing `.mutate()` method call in the `removeUnusedWALEntries` method: https://github.com/apache/accumulo/commit/0ca9cfe270b0e2a2b14f36ce2945eec96e7be704#diff-34221dcf488e3b53687222557d82b2f1R492

Thanks @hkeebler and @keith-turner !

[2019-07-10 21:57] #1217 closed

[2019-07-10 23:15] keith-turner commented on #1260
I wrote a test that continually creates a table with splits a and scans its metadata while another thread add splits.  I found one case where the LinkingIterator misses the first tablet when a split is added at the beginning of the table when it starts scanning.  Not sure if this is the cause of the problem seen here though.

[2019-07-11 12:12] hkeebler commented on #1210
I'm considering the following update to TimeType and suggest using this instead of the single character checks for 'M' and 'L' in different places.
[code]

[2019-07-11 13:20] keith-turner commented on #1210
@hkeebler I really like the proposed changes to TimeType, however TimeType is in the public API and the code is an internal implementation detail best left out of the public API.  I am not sure where to put it, but we should have an internal static method that is similar to the valueOfCode method.  Maybe something like

[code]

[2019-07-11 17:19] hkeebler commented on #1210
Thanks.  How can one tell what is a public api package?

[2019-07-11 17:23] alerman opened #1265 "Allow for heterogeneous hardware clusters"
Currently, when settings are set in the accumulo configs for tserver based properties they apply across the cluster. We are moving toward replacing clusters through rolling upgrades, and at any time may have different machine types running tservers at a given time. Right now that causes us to leave hardware idle because we cannot change settings on only a subset of tservers. Settings which we migh

[2019-07-11 17:24] keith-turner commented on #1210
The following page needs some updates for 2.0, but its the source.

https://accumulo.apache.org/api/

[2019-07-11 17:25] alerman commented on #1265
I would like to work on this, but wanted to have a chance to discuss the approach before I started working it. Would love feedback and suggestions @keith-turner @ctubbsii

[2019-07-11 17:38] keith-turner commented on #1265
I would suggest an approach where the property keys do not have to change.   For example, a table property can be set at the system, namepace, or table layer using the same property key.

One possible way to do this is to add server config layer between system and namespace config layers. This would lead to the following config layers :

  * site
  * system
  * server (support multiple named serve

[2019-07-11 17:58] hkeebler commented on #1210
I added it as a static method to MetadataTime.  I think that works (??)
[code]

[2019-07-11 18:43] keith-turner commented on #1210
Looks good @hkeebler.  Few questions
 * Why can't MetadataTime be immutable?  Much easier to reason about immutable types.
 * Why have the constructor with no TimeType? Thinking its better to always be explicit.
 * Why have the constructor that does deserialization in a constructor?  Could this possibly be hidden away in private Ample code?

Also, you could possibly use Objects.hashCode to impleme

[2019-07-11 19:09] keith-turner commented on #1260
Wrote the following test to stress test the LinkingIterator while researching this issue.  The test runs continually scanning the metadata table while a table is splitting.  This is to look for issues where the linking iterator does not handle split properly.  It did find one issue.  Not sure what to do with the test thought as it just runs for a long time.

[code]

[2019-07-11 19:15] ivakegg commented on #1265
@keith-turner Your alternative seem reasonable except that it does not allow table specific properties to be different based on server type (e.g. table.scan.max.memory or table.majc.compaction.strategy).  Perhaps that would be too much but its worth the discussion.

[2019-07-11 19:33] keith-turner opened #1267 "Research if Ample should have sanity checks for no tablets seen"
While working on #1260 I realized that Ample could possibly check for the case of no tablets for a table seen and throw an exception.  This could be done when consistency checking is requested.  Not sure if this is worthwhile.  Need to look at code that scans metadata table and see if it would behave badly if for some reason the metadata scan returned nothing.

[2019-07-11 19:36] keith-turner opened #1268 "Research usefuleness of making LinkingIterator aware of expected table id"
While working on #1260 I was thinking it may be worthwhile if when Ample knows about a specific table id it passes that down to LinkingIterator.  LinkingIterator could possibly use this for stronger sanity checks.

[2019-07-11 21:01] keith-turner commented on #1265
What I am thinking of would allow that.   For example when the prop `table.scan.max.memory` is requested on the tserver it would check the table layer, namespace layer, server layer, system layer, site layer, and then default layer.  Stopping at the first layer where it is found.

[2019-07-11 21:40] ctubbsii commented on #1265
You can already change the tserver settings per machine. You just can't do so in a single file. At present, you must deal with this as a configuration management problem during deployment, and deploy different configs to different tservers. For interoperability, Accumulo only requires the `instance.*` properties to be identical across servers. Other configs can be different based on the hardware.

[2019-07-11 22:21] alerman commented on #1265
@ctubbsii perhaps this issue then could be as simple as adding a way to determine the settings for a specified tserver to the config shell command.

This brings up another issue in that currently our cluster is likely running in a state where many zk mutable properties have been changed. In order to just use separate config files, we would have to go through and scrub for those and ensure every se

[2019-07-11 23:11] ctubbsii commented on #1265
I agree that some improvements to the shell to make the runtime config of a given tserver query-able would be a welcome improvement. It could be added to the API first, and then utilized by the shell.

[2019-07-12 21:09] lbschanno commented on #483
I am working on this.

[2019-07-12 21:34] lbschanno commented on #483
Just submitted a PR for this. I focused primarily on removing duplicate code, but I also cleaned up some of the comments and restructured the code to make it more readable overall. If any of my changes went too far, let me know.

[2019-07-13 00:31] ctubbsii opened #1272 "Clicking "Clear Logs" on 2.0 monitor /log page does not reset count in top bar"
Clearing the logs in the new monitor clears the table of logs, but leaves the count in the upper-right hand corner of the web page alone. This should be a simple javascript fix to update that part of the page after clearing the table, but I haven't investigated.

[2019-07-13 00:34] ctubbsii opened #1273 "Master prints unnecessary warnings about bulk import _SUCCESS and loadmap.json files"
Saw the following in the monitor (coming from the master logs) while testing 2.0.0 with accumulo-testing's `bin/cingest bulk`:

[code]

I'm pretty sure these files are expected, and shouldn't trigger any warnings.

[2019-07-13 15:07] jzgithub1 commented on #483
Really great pull request @lbschanno .  Nice re-factoring.

[2019-07-13 20:52] lbschanno commented on #483
@jzgithub1 thanks!

[2019-07-15 16:48] hkeebler commented on #1272
I'll take a look.

[2019-07-15 17:41] hkeebler commented on #1272
@ctubbsii I think I have a fix for this but do I check this into 2.0 or just master?
I haven't pushed a fix to a branch other than master before.

[2019-07-15 18:21] hkeebler commented on #1273
I believe this is coming from PrepBulkImport code below.  Only ".map" and ".rf" files are good to process.  Maybe to best this is to remove the "warning message" completely since we know that other types of files will be there or change the message to something like "{} exempt from processing, ignoring", fileStatus.getPath()

[code]

[2019-07-15 18:29] keith-turner commented on #1273
Could also log it at debug instead of removing it.

[2019-07-15 19:21] ctubbsii commented on #1272
A pull request against 2.0 is best for this one. When you open the pull request, GitHub offers a drop-down, where you can select to submit against the 2.0 branch.

[2019-07-15 19:34] ctubbsii commented on #1272
I added instructions on PR #1274 to change the current PR to 2.0.

[2019-07-15 19:46] ctubbsii commented on #1273
If they are created by the bulk import code itself, it definitely shouldn't give warnings about files it creates itself, but we don't want to lower the warning to "DEBUG" if it sees other unexpected files.

I don't know who created these files, or if they have a choice to put them elsewhere. Are these files created by the bulk import code or the testing code?

[2019-07-15 20:00] hkeebler commented on #1273
Bulk import creates the loadmap.json file.    We could create a list of "expected files to ignore" but would need to figure out what they all are.

[2019-07-15 20:09] #1272 closed

[2019-07-15 20:59] keith-turner commented on #1273
#1255 is related

[2019-07-16 14:07] Manno15 commented on #1222
@keith-turner What tests were you running when getting these results? I want to see if I can reproduce these so I can get to the bottom of it.

[2019-07-16 14:41] keith-turner commented on #1222
I am not sure, but probably continuous ingest.  Possibly with tablet server agitation.

[2019-07-16 16:48] lbschanno commented on #824
I will work on this.

[2019-07-16 17:57] keith-turner commented on #1260
I suspect that splitting could have been a cause for this issue.  Yesterday I ran a test importing 100 directories into a table with a small split threshold (32M).  This caused a lot of splits to happen while the imports were running.  I did not see any problems.  I am currently running a test to import 1000 directories with agitation incorporating some of the recent changes.  I opened apache/accu

[2019-07-16 19:01] #483 closed

[2019-07-16 21:42] ctubbsii commented on #1222
The metrics code casts the size of the `updates.entrySet()` (which is an `int`) to a `double`, so it can be the divisor for the total time taken in millis (which is a `long`), presumably so it can keep some precision in the division, before it casts to a long to return the result.

I see two possibilities:

1. The entry set was empty, and casting it to a `0` to a double resulted in something very

[2019-07-16 21:52] ctubbsii commented on #1222
This should be a simple fix for 2.0. We just return in the above methods if `(size < 1)`.

[2019-07-17 17:07] lbschanno commented on #824
Pull request available for review.

[2019-07-17 17:54] keith-turner opened #1277 "Bulk imports failed with agitation."
After running another bulk import+agitation test 5 out of 1000 bulk imports failed with the following messages in the shell.

[code]

Unfortunately debug logging was not enabled so some critical information needed from the master logs was missing.  However there was enough info to narrow this down to where I think the problem is the BulkImportMove Repo code that reads the rename mapping.  I think

[2019-07-17 18:00] hkeebler commented on #1273
so...based on the 'like' should I look into implementing the "expected files" set?

[2019-07-18 05:16] ctubbsii commented on #1273
@hkeebler I haven't looked into it enough to know what the refactor should look like, but it would make sense for the checks in the master/fate code to be consistent with those in the clientImpl. However, looking at the change in #1255 , I'm not sure it's a good idea to have *all* unknown files logged at `debug`. I think some actually warrant `warn`.

There appear to be a few different file types

[2019-07-18 12:24] hkeebler commented on #1273
Based on a "refactor" of the process should this be moved to 2.1, not hold back 2.0 release.

[2019-07-18 13:04] hkeebler commented on #1273
My suggestion for now.  Maybe a refactor later.
Update BulkIMport.filterInvalid to public and change as below and replace the for loop that is checking in PrepBulkImport with a call to this.
[code]
Update FileOperations with
[code]

[2019-07-18 15:07] Manno15 commented on #1222
I'll add those changes and do some quick testing, doubt I can reproduce this bug consistently enough to guarantee it being fixed

[2019-07-18 15:27] hkeebler commented on #1273
After running some of the Bulk load IT tests I saw that it also created a hidden version of files - prefixed with a "." and extension ".crc".  We could filter out hidden files or just extension .crc?  I could see that advantages to the former is in the future we could make any working files hidden files.

[2019-07-18 16:05] hkeebler commented on #1273
The previous comment is specific to the SharedMiniClusterBase.  I'm unable to find a current test that will exercise the code on a real instance.

[2019-07-18 18:47] keith-turner commented on #1273
I think that is the behavior of the Hadoop LocalFilesystem.   I suspect when you are listing files using the LocalFilesystem APIs you will never see these crc files.  May only see them when doing `ls`.

The Hadoop distributed filesystem also computes crcs for blocks and stores them on the local filesystem.  When you poke around in a datanodes local dir you will see them.

[2019-07-18 19:08] keith-turner opened #1278 "Saw less data than expected during bulk import test."
Using the new bulk import test  I saw less data than expected during a recent test run.  The failure was very odd and I am not sure if it was a problem with Accumuo or the test at this point.

When doing continouos ingest test using bulk import the expected number of keys values in the table can be easily computed.  After running the test I found the actual was less than the expected.  After doing

[2019-07-18 19:11] hkeebler commented on #1273
Used the accumulo-testing cingest bulk to test this and did not receive any messages of "crc" files.  The approach I suggested will likely cover everything for now.

[2019-07-18 19:21] #1210 closed

[2019-07-18 19:35] keith-turner commented on #1278
This was seen while analyzing the test run mentioned in #1277

[2019-07-18 19:43] keith-turner commented on #1278
I opened apache/accumulo-testing#98 with some info about checking the counts after a test.

[2019-07-19 00:40] ctubbsii commented on #1273
A refactor might cause things to wait until 2.1, but I think it'd be good if we could clean up the user experience here for 2.0... bulk ingest is pretty important for Accumulo, and spamming the logs with unnecessary entries will be a big pain point for users.

[2019-07-22 12:36] hkeebler opened #1281 "Update TabletTime.maxMetadataTime(..) to use MetadataTime objects instead of string"
In TabletTime public static String maxMetadataTime(String mv1, String mv2) should  be updated to use MetadataTime objects instead of string.  This was identified in #1210.

[2019-07-22 14:12] GreenCee opened #1282 "Clean up 1.9.3 BulkIngestExample"
Using the 1.9.3 tag ran into an error when running BulkIngestExample located
https://github.com/apache/accumulo/blob/rel/1.9.3/examples/simple/src/main/java/org/apache/accumulo/examples/simple/mapreduce/bulk/BulkIngestExample.java

It's failing with a classpath error.
java.lang.ClassNotFoundException: Class org.apache.accumulo.core.client.mapreduce.AccumuloFileOutputFormat not found​

I'm in the p

[2019-07-22 14:32] hkeebler commented on #1282
fyi - I recall, when running the examples having similar issues and the uno version would default to 2.0-alpha... It was necessary to explicitly point uno to my 2.0.0-SNAPSHOT build.

[2019-07-22 19:19] milleruntime commented on #1282
What verison of Hadoop are you running?

What example are you following?  The examples in 1.9 are all baked into the Accumulo release.  The example you are looking at follows this example here: https://github.com/apache/accumulo/blob/rel/1.9.3/docs/src/main/resources/examples/README.bulkIngest

[2019-07-22 19:23] drewfarris commented on #1282
I'm definitely interested in how hard it would be to backport the procedure described in [bulk-test.md](https://github.com/apache/accumulo-testing/blob/master/docs/bulk-test.md)  from [accumulo-testing/master](https://github.com/apache/accumulo-testing/tree/master) to [accumulo-testing/1.9](https://github.com/apache/accumulo-testing/tree/1.9) that might be a better/more comprehensive test.

[2019-07-22 19:28] milleruntime commented on #1282
That might not be too bad.  The bulk ingest command works with both versions:

```importdirectory /tmp/bt/$i/files true```
- is actually using the new bulk import technique.

```importdirectory /tmp/bt/$i/files /tmp/failure_directory true```
- would use the legacy bulk import.

[2019-07-22 21:34] #1252 closed

[2019-07-22 21:34] #1277 closed

[2019-07-22 21:36] milleruntime commented on #1282
java.lang.ClassNotFoundException: Class org.apache.accumulo.core.client.mapreduce.AccumuloFileOutputFormat not found​

I was asking about what version of Hadoop because I know there were some classpath changes between the versions. We changed the way the classpath was setup in the scripts between 1.9 and 2.0

[2019-07-23 14:48] #1222 closed

[2019-07-23 15:18] GreenCee commented on #1282
hadoop_version = 2.8.4
zookeeper_version = 3.4.14
accumulo_version = 1.9.3

I did a sanity check on the instructions you pointed out on a fresh cluster

History:
PKG=org.apache.accumulo.examples.simple.mapreduce.bulk
ARGS="-i muchos -z <> -u <> -p <>"
cd install/accumulo-1.9.3/
./bin/accumulo $PKG.SetupTable $ARGS -t test_bulk row_00000333 row_00000666
./bin/accumulo $PKG.GenerateTestData --start-

[2019-07-23 15:18] #1282 closed

[2019-07-23 16:45] keith-turner opened #1286 "Bulk importing empty directory resulted in error"
I accidentally bulk imported a directory that I had previously imported.  So the directory had no files in it.  I saw the following in the shell.   I am thinking it should not be an error in this case.  If we actually want an error for zero files, then it should be a nice clear error message.

[code]

I saw the following in the master logs.

[code]

[2019-07-23 16:49] ctubbsii commented on #1286
Silently succeeding would be surprising behavior, because importing an empty directory is almost certainly a mistake on the user's part (typo: wrong directory specified). But, the above is very unfriendly, so a nice clear error message in the client would be nice.

[2019-07-23 16:52] milleruntime commented on #1286
One option would be to WARN on the client and then just pass through the server, succeeding.

[2019-07-23 16:52] keith-turner commented on #1286
I am leaning twoards succeeding on an empty directory because it makes it easier for user to wrote idempotent code.

[2019-07-23 16:57] ctubbsii commented on #1286
It also makes it easier for the user to unintentionally write code like:

[code]

[2019-07-23 17:01] hkeebler commented on #1286
I'm just glad I now know what that error messages means.  Thanks.

[2019-07-23 17:04] keith-turner commented on #1286
I like the idea of an explicit parameter and I think that would be easy to do in the Java API.  Not sure about the shell.

[2019-07-23 17:13] ctubbsii commented on #1286
Should be easy enough to add a shell option, `--ignore-empty`

[2019-07-23 17:15] keith-turner commented on #1286
Could make empty dir fail in 2.0 and open a 2.1 issue to add API and shell options to ignore empty.

[2019-07-23 17:18] keith-turner commented on #1286
Just have to consider that the shell may call the old or new API and think through how this option would work with both.

[2019-07-23 17:18] ctubbsii commented on #1286
:+1: That would get us closer to 2.0 release faster.

[2019-07-23 17:28] milleruntime opened #1288 "Back port new Testing MR Bulk Ingest test to 1.9"
It would be great to back port the procedure described in [bulk-test.md](https://github.com/apache/accumulo-testing/blob/master/docs/bulk-test.md) from [accumulo-testing/master](https://github.com/apache/accumulo-testing) into the 1.9 branch.  This would provide Bulk ingest data to CI for the 1.9 branch.  It shouldn't be too difficult to copy over some of the CI files from the testing repo into th

[2019-07-23 20:07] lbschanno commented on #1124
I will work on this.

[2019-07-24 14:24] jzgithub1 commented on #1220
I am working on this.

[2019-07-24 15:43] keith-turner commented on #1278
Doh!  I ran test again and saw less counts than expected, but I forgot to copy the bulk import files before the test.  That is why I opened apache/accumulo-testing#104

[2019-07-24 18:35] jzgithub1 commented on #1225
In the accumulo pom.xml I set the zookeeper.version to 3.5.0-SNAPSHOT and Accumulo did build.

[2019-07-25 00:14] ctubbsii commented on #1225
@jzgithub1 The link says it was reported in 3.3.3 and fixed in 3.5.0.

[2019-07-25 18:20] hkeebler commented on #1043
I was reviewing what I think is the related code set for this ticket.  I believe its GC that actually does the deletion of the Metadata tablet file entries and files.  To address your concern about the sorting difference it looks as though the SGC expects the dir to be first in the sort but previous to this the prefix is removed and data resorted so I don't think its an issue.  The only other side

[2019-07-25 18:49] ctubbsii commented on #1043
@hkeebler When you post code blocks in GitHub issues/PRs, you can get nice syntax highlighting by specifying the language. For example, use: `` ```java `` to open a block instead of `` ``` ``

[2019-07-25 18:51] hkeebler commented on #1043
@ctubbsii thanks - let me edit it and see.

[2019-07-25 18:52] hkeebler commented on #1043
you did it.  thanks.

[2019-07-25 19:03] ctubbsii commented on #1043
As for the makeRelative code... it's a bit tricky. What we're doing here is normalizing the paths to effectively trim out the volume information, so that we don't unintentionally delete a file that was still in use. We want to detect that a file is still in use, even if it looks like it's on a different volume... because it could look like it's on a different volume because of many weird scenarios

[2019-07-25 19:38] hkeebler commented on #1043
Thanks @ctubbsii for the explanation.  It helps explain why the test is using relative path where I though absolutes should be expected.  The above mentioned method throws an IllegalArgumentException if parsing the path doesn't appear as it should.  Why would this ever occur?  This is controlled/generated data.

[2019-07-25 20:13] ctubbsii commented on #1043
`IllegalStateException` is probably more appropriate, since it isn't user-provided. This can occur if data gets corrupted, or if we have a bug, or if users were performing manual surgery on the metadata table to recover from a failure and made a mistake. It really shouldn't ever happen, but if it does, we probably want the accumulo-gc service to die from the RuntimeException, rather than potential

[2019-07-25 20:19] keith-turner opened #1293 "Add bulk import option to ignore empty dirs"
For the use case where a user process dies in the middle of a bulk import and then the user bulk imports again the source dir may be empty because the first import actually succeeded.  In this case an exception may be thrown because of #1292.

In the comments of #1286 it was decided that adding API and shell options to ignore empty dirs would support users who want to write idempotent bulk import

[2019-07-25 20:22] keith-turner commented on #1260
I have done a lot of testing since seeing this and have not been able to reproduce this so far.  I am going to close this for now.

[2019-07-25 20:22] #1260 closed

[2019-07-25 20:41] #1273 closed

[2019-07-25 20:41] #1286 closed

[2019-07-25 20:46] EdColeman commented on #1286
I'll create a new issue - but related, it would be really helpful if the shell importdirectory command honored the -t table option.

[2019-07-25 20:49] EdColeman opened #1294 "Improve shell importdirectory command to accept -t tablename option."
Currently to use the shell to bulk import (importdirectory) it does not accept the -t tablename option and you must switch to the table before you issue the importdirectory command - this complicates creating scripts to import multiple tables / directories.

[2019-07-26 14:40] keith-turner commented on #1278
I ran another test in which I copied the files before bulk importing and of course the issue did not happen.

[2019-07-26 22:08] keith-turner opened #1298 "Exception when attempting to get the next filename left tablet in bad state"
A user encountered an issue where Hadoop threw a RemoteException when getNextMapFilename was called at [MinorCompactionTask.java line 62](https://github.com/apache/accumulo/blob/rel/1.9.3/server/tserver/src/main/java/org/apache/accumulo/tserver/tablet/MinorCompactionTask.java#L62).  Below is a snippet of the stack trace.

[code]

This code does not retry on IOException.  When it threw an exception

[2019-07-29 03:03] EdColeman commented on #1294
first pass available in https://github.com/apache/accumulo/pull/1299

[2019-07-29 13:18] hkeebler commented on #1043
Considering the migration strategy:

The first seems desirable because it does not require supporting two formats down the road.  How costly is the metadata rewrite?  I'm thinking the metadata tables are much smaller than data tables, the ~del<path> should be minimal especially if a GC is done first,  because they are lumped together the cost of finding them is low.  Can you turn off compaction an

[2019-07-29 14:43] keith-turner opened #1300 "Look into how upgrade handles running processes"
I think the expectation when someone does an Accumulo upgrade is that all Accumulo processes are killed across the cluster before starting the new version of Accumulo.  However, what if anything is done to handle a situation like the following.

  * Some 1.9.3 tablet servers are running and have metadata tablets assigned to them
 * A 2.0.0 master process is started and it starts working on upgrade

[2019-07-29 14:45] keith-turner commented on #1043
I agree it will make future maintenance of the code easier.

The master process can control what it does.  Since the master does migration, balancing, and loading it could pause those.  Can't remember if it does.  However things done by tablet servers it may not be able to control, I opened #1300 to futher explore this.

For the `~del` markers there is the possibility that the Accumulo GC will tem

[2019-07-29 14:49] keith-turner commented on #1300
Looks like I already looked into this, #1139.  However I can not remember if the master logs a user friednly error message stating the old processes are preventing upgrade.

[2019-07-29 20:40] ctubbsii commented on #1236
1.9 branch can now build fine on Java 11, so it should be fine to require Java 11 now (cross-compiled with the appropriate flags to 7 and 8 for 1.9 and 2.0, respectively).

[2019-07-29 22:29] lbschanno commented on #1124
The following are property candidates that appear to have class names for values. If I appear to be missing any, please chime in:

* `instance.security.authenticator`
* `instance.security.authenticator`
* `instance.security.permissionHandler`
* `instance.crypto.service`
* `general.volume.chooser`
* `master.tablet.balancer`
* `master.walog.closer.implementation`
* `tserver.memory.manager`
* `tserve

[2019-07-29 23:11] ctubbsii commented on #1124
@lbschanno  I think the scope of the original issue was just for configuration of the block cache, but perhaps it would make sense to consider broadening the scope.

Regardless, I'm not sure any of the solutions are really worth the additional hassle.

@keith-turner , you created this issue originally. What do you think? Is this worth doing more generally, and is it worth doing for the narrow scop

[2019-07-30 00:20] #1236 closed

[2019-07-30 12:52] hkeebler commented on #1281
This update is fairly small and straightforward.
[code]
The larger work is updating the calling methods to utilize the MetadataTime objects.  At this time the only class that uses this method is TabletGroupWatcher (other than tests).  To properly do it this class should be updated to use the ample metadata implementation.  I'm thinking of just doing it as part of this ticket rather than opening a

[2019-07-30 13:06] hkeebler commented on #1281
Not using the ample metadata implementation results in updates to the TabletGroupWatcher like the following which isn't horrible but the time value should probably be parsed on initial read and retrieved from TabletMetadata.
[code]

[2019-07-30 13:14] keith-turner commented on #1281
For `maxMetadataTime(MetadataTime mv1, MetadataTime mv2)` would it make sense to throw an exception if the time types are not the same?  I am not sure how this method is used.  If the time types are expected to be the same (this would be the case it ifs only used to compare times from the same table) then `Long.max()` could be used after checking the time types.

[2019-07-30 13:26] keith-turner commented on #1124
I used the block cache as an example, but I was thinking more generally.

Annotations seem like a really nice way to do this, but I am not sure what the gotchas are.  Not sure if its possible to find all of the classes with a given annotation.  Seems like if it works well it could make it easy for users and developers.  The annotation could exist in a SPI packages and be documented by the class co

[2019-07-30 13:32] hkeebler commented on #1281
the types are checked in the compareTo
[code]
The times do come from the same table.  I'm not sure I understand the Long.max() usage here.

[2019-07-30 13:45] keith-turner commented on #1281
I was thinking `Long.max()` could be used in `maxMetadataTime`, but I didn't realize that compareTo was already checking the type.  Could use `Long.compare(x,y)` in the `MetadataTime.compareTo()` method.

[2019-07-30 13:53] hkeebler commented on #1281
thanks :+1:

[2019-07-30 17:32] ctubbsii commented on #1124
Creating a custom annotation processor seems like a bad idea. It's not going to be very useful to users packaging their own external implementation of these SPIs. Runtime processing of annotations could work, but doing so is slow and kills JVM startup times... which is why the ServiceLoader exists. Google has an annotation processor for creating the `META-INF/services` file for the ServiceLoader..

[2019-07-31 14:41] lbschanno commented on #1122
@keith-turner is this fixed by PR #1241?

[2019-07-31 15:10] keith-turner commented on #1122
No, there were some nice improvements there.  However its still globally synchronized. Those changes sped up some of the work done while the lock is held.

[2019-07-31 15:15] lbschanno commented on #1122
@keith-turner understood, thanks for explaining.

[2019-07-31 17:18] hkeebler commented on #1122
Go for it @lbschanno !

[2019-07-31 18:56] #824 closed

[2019-07-31 19:02] keith-turner commented on #824
b9505a6a36a97dc9c029f6621648e83e8f867507

[2019-07-31 19:06] hkeebler opened #1301 "Update TabletGroupWatcher to use Ample api"
This was identified as a candidate for the ample api when working ticket #1281.  The class requires a "mulitple tablet" read which I do not think is implemented in the api yet and does a lot different checking which may NOT make it a good candidate.

[2019-07-31 19:06] hkeebler commented on #1281
Changing my mind on including the TabletGroupWatcher ample updates in this ticket.  The class requires a "mulitple tablet" read which I do not think is implemented yet.  It has generated more questions for @keith-turner on the vision for ample. Created issue #1301 .

[2019-08-01 15:18] milleruntime commented on #1221
It would be good to incorporate ideas in this design that @ctubbsii had previously documented here:
https://issues.apache.org/jira/browse/ACCUMULO-1632

[2019-08-01 18:17] keith-turner opened #1303 "Explore creating unique directories for sorted WAL recovery"
When a tablet server dies, its write ahead logs need to be sorted.  A random tablet server is chosen to sort the write ahead logs.  If the random tablet server doing the sort dies or times out, the sort may be started on another write ahead log.  This may lead to multiple tablet servers sorting the write ahead logs, possibly to the same directory.  Would probably be better if each tserver doing a

[2019-08-01 20:56] #1281 closed

[2019-08-01 23:35] ctubbsii opened #1305 "Remove accumulo-test jar containing ITs from binary tarball assembly"
I noticed while testing 2.0.0-rc2 that we still have the binary tarball assembly ship the accumulo-test jar. Since most of the useful downstream testing utilities are now in https://github.com/apache/accumulo-testing, this jar just contains our ITs... which isn't useful to ship in the tarball.

We should trim the fat and strip this out of any further releases after 2.0.0.

[2019-08-01 23:53] ctubbsii opened #1306 "Use -source-release.tar.gz instead of -src.tar.gz"
We do some crazy things in our maven build to relocate our source tarball from the root of the project into a child module with a different classifier. This isn't necessary if we're not strongly tied to the current file naming convention and the build can be simplified.

If we stop doing this, the binary tarball and source tarball will be located at slightly more divergent maven coordinates, and t

[2019-08-02 16:35] Manno15 commented on #1305
Is this as simple as removing the dependency in the assemble pom file or does there need to be more trimming?

[2019-08-02 19:08] ctubbsii commented on #1305
I think so, but I would do a build to check for warnings from the assembly plugin to be sure, and verify the output tarball. There may need to be changes to the assembly descriptor xml file, too... but maybe not.

The main reason for posting this here, was to solicit feedback. May want to start a discussion on the dev list before taking action, to be sure nobody objects.

[2019-08-04 21:12] ctubbsii opened #1308 "Still seeing FateConcurrencyIT failures"
Still seeing #1079 in the 1.9 branch:

## org.apache.accumulo.test.functional.FateConcurrencyIT.getFateStatus

[code]

### Error Message
[code]

### Stacktrace

[code]

### Standard Output

[code]

[2019-08-05 17:11] keith-turner opened #1309 "Cloning metadata table does not work and can be dangerous"
Accumulo supports cloning the metadata table.  This will create a user table that points to the the metadata table files.  When the Accumulo GC processes the root table, it does not look for file references in the metadata table.  Therefore the files of the metadata table clone will eventually be deleted by the Accumulo GC, making the clone unusable.

When a clone of the metadata table is deleted,

[2019-08-05 17:14] keith-turner commented on #1309
Below are some possible ways to fix this..

 * Disable the ability to clone the metadata table
 * Make cloning the metadata table copy files.  This would have to handle race conditions with GC.
 * Rewrite the Accumulo GC to handle this.

[2019-08-05 19:45] ctubbsii commented on #1309
I think it should be simple enough for the GC to check for candidates in use by all sources. Would that be sufficient?

[2019-08-05 21:35] keith-turner commented on #1309
Conceptually it seems simple and I can not think of any gotchas at the moment.  I don't think the code change would be simple.

[2019-08-05 21:37] keith-turner commented on #1309
Would not want to do this for 1.9. I am leaning twoards throwing an error in 1.9 if an attempt to clone the metadata table is made.

[2019-08-06 00:47] ctubbsii commented on #1309
:+1: This is the current behavior in 1.9 for the root table.

[2019-08-06 01:01] mjwall commented on #1309
Wow, this is a good catch.  Should we send out a warning on user and dev?

[2019-08-06 04:13] ctubbsii commented on #1309
Yes, that's a good idea.

[2019-08-06 17:23] keith-turner commented on #1309
The following is a much simpler situation that could lead to deleting metadata table files.

[code]

The compaction of the clone causes `~del` entries to be inserted into the metadata table for metadata table files.  After the above commands are run and the Accumulo GC runs there is a high chance that significant data loss would occur for the metadata table.

[2019-08-06 19:01] keith-turner commented on #1309
If you have cloned the metadata table in the past I would recommend compacting the metadata table.  This will cause it to have a new set of files different from the clone.

[code]

After the compaction above the files referenced in `accumulo.root` are different.

[2019-08-07 15:47] hkeebler commented on #1043
Currently one is allowed to create invalid or empty delete entries as demonstrated by the GarbageCollectorIT test:
[code]
The flagging of the error does not occur until GarbageCollectionAlgrithm.makeRelative is called which occurs after the prefix is stripped and the mutation is deciphered into a relative path name.  Since this ticket is talking about using  a hashcode of the path as part of the k

[2019-08-07 15:50] hkeebler commented on #1043
My next question - how is code that requires a migration path managed?  Would it be checked into the master baseline for 2.1?

[2019-08-07 16:19] ctubbsii commented on #1043
Yes. Any code required to upgrade the metadata, or to handle the old delete markers would be in the 2.1 code checked into the master branch.

[2019-08-07 16:57] ctubbsii commented on #1043
This seems reasonable to me.

[2019-08-07 23:26] ctubbsii opened #1314 "Garbage Collector problematic use of SimpleTimer"
SimpleGarbageCollector creates a new instance of GarbageCollectWriteAheadLogs on each loop. Each construction of GCWAL creates a new LiveTServerSet, which registers a SimpleTimer task to scan for changes in the set of live TServers. This task executes indefinitely, and is never de-registered. Multiple copies of LiveTServerSet are created over time, each registering a new SimpleTimer task that exec

[2019-08-08 09:09] EdColeman commented on #1314
I have two options available for review - one modifies the SimpleTimer to return the Future<> instead of void, implements AutoCloseable to call cancel on the future. (https://github.com/EdColeman/accumulo/tree/gc_thread_issue_1314_close_option)

The second calls scan server directly, the GC task does not appear to do anything with the updates other than log - this avoids the start listening call t

[2019-08-08 10:59] alerman opened #1315 "Allow user defined health check for tservers"
On our clusters, we have often seen times when tservers remain up but Accumulo is having issues writing or reading data. This often happens when the node has a bad disk but can happen for other reasons as well. Additionally, there are some other factors that cause us to not want a tserver to run on a node.

Currently, the only way that I know of that we can handle this is to comment nodes out of t

[2019-08-08 16:17] ctubbsii commented on #1315
Hi @alerman . This sounds very useful, but it also sounds a bit outside the scope of Accumulo itself. It seems instead like a feature for a provisioning or cluster management tool.

While we do provide basic launch scripts in Accumulo, one of the design elements of the Accumulo 2.0.0 script rewrite was to "do less" in the scripts, dramatically simplifying them, in order for us to get out of the bu

[2019-08-08 16:21] EdColeman commented on #1315
One method that I have seen is to have a known location on each node (say /service_runtime) and then specific files, identified by file name can indicate if the service can / should be started.  The presence of a /service_runtime/no_accumulo or /service_runtime/no_xxxx is checked in the start scripts used by things like systemd.  The absence of a file is taken as a go.

The presence of a no_xxx fi

[2019-08-08 16:22] keith-turner opened #1316 "Implement lifecycle logging"
Following the lifecycle of certain events in Accumulo via documented logical loggers would be really nice.  For example it would be nice to be able to follow the lifecycle of a write ahead log across the master, tserver, and GC using a logger name like `org.apache.accumulo.log.wal` that does not correspond to any class.  These logical loggers could be documented in the Accumulo user manual, like [

[2019-08-08 16:25] keith-turner commented on #1316
Could use much shorter logger names like `accumulo.tablet` and `accumulo.wal` like Fluo does.

[2019-08-08 16:30] keith-turner commented on #1249
#1316 has overlapping goals.

[2019-08-08 16:32] keith-turner commented on #1316
In addition to documenting the loggers in the user manual, it would be nice to create a schema for these log events  that could be used by log stash apache/fluo-muchos#254

[2019-08-08 16:47] EdColeman opened #1317 "Provide single-line output of tablet info."
Copied from ACCUMULO-2873 - It would be very useful to have a utility that generates single line tablet info.  The output of this could be fed to sort, awk, grep, etc in order to answer questions like which tablets have the most files.The output could look something like the following

[code]

All of the information can be obtained by scanning the metadata table and looking into zookeeper. Could p

[2019-08-08 16:48] EdColeman commented on #1317
I've take a first run at this - current available at: https://github.com/EdColeman/accumulo/tree/listTabletsCmd exploring what may be possible at to start a discussion.

[2019-08-08 16:51] EdColeman commented on #1316
I'm interested in taking a run at this as well as #1249 - not assigning myself at time incase other events delay me in starting to work the issue(s)

[2019-08-08 17:16] hkeebler commented on #1043
These may be combined by utilizing one of the "un-utilized" cf or cq.  These are currently empty as is visibility ts, .... If the new hashed delete added the hashcode also as a cf it could be used to determine the length of the prefix to remove - which would be 0 for the empty cf , aka old delete entry.  Something like the following:
[code]

[2019-08-08 17:44] EdColeman commented on #1293
I'll try to add this along with the -t tablename option.

[2019-08-08 17:45] keith-turner commented on #1043
I think it would make sense to fail fast on empty paths throwing and exception when trying to set them.  Anything that consumes gc candidate paths should also fail on empy paths, but in practice it would not see them.  I have found its nice if code that reads persisted data does not assumet that it was written in a certain way.

In #1313 I pushed all reading and writing of GC candidates into Ample

[2019-08-08 21:03] alerman commented on #1315
@edcoleman I like that idea and it does reduce the complexity of what I had first thought. What do you think of just a check for a "stop" file @ctubbsii do you think just checking for a stop file would be ok?

[2019-08-08 21:27] EdColeman commented on #1293
I incorrectly interrupted the scope of this and it is not appropriate to add to the current import directory command changes targeting 1.9.x - removed myself for now in case there is other interest before I have time to revisit.

[2019-08-08 21:46] ctubbsii commented on #1315
Seems okay to me. The only question for me is what changes to Accumulo's scripts would need to be made to support something like that. My hope is: none.

[2019-08-08 23:12] ctubbsii commented on #1314
I like option 2. Could maybe make the log message one line, rather than 3 separate messages.

[2019-08-08 23:40] ctubbsii commented on #1314
Hmm, option 2 isn't going to work as-is... LiveTServerSet gets torn down and reconstructed each cycle of the accumulo-gc, which means every time the accumulo-gc cycles and scanServers is called, this is going to log *every* tserver as new each time it cycles.

Instead, I think we can move LiveTServerSet out into the GC, so there's only ever one copy of that listener. It can be passed in as a param

[2019-08-08 23:53] ctubbsii commented on #1314
I did check the other occurrences of the use of starting that listener. I found 3. The other two occurrences were fine, but I did not check all uses of SimpleTimer.

[2019-08-09 11:47] nkalmar commented on #1225
ZooKeeper 3.5.0 is an early alpha release. First stable release of 3.5 branch was released 1-2 month ago. Please use that (3.5.5) version!

[2019-08-09 12:11] jzgithub1 commented on #1225
@nkalmar,  I get this warning when I try to build Accumulo with zookeeper 3.5.5.

[WARNING] Used undeclared dependencies found:
[WARNING]    org.apache.zookeeper:zookeeper-jute:jar:3.5.5:compile

It ultimately causes a failure in the build of Accumulo Core.

[2019-08-09 12:29] jzgithub1 commented on #1225
@ctubbsii , Zookeeper 3.5.5 seems to depend on this project that is not Apache Foundation but the source code at quick glance does not seem harmless but it has Chinese origin.

https://github.com/wangfucai/zookeeper-jute

[2019-08-09 13:34] nkalmar commented on #1225
No, that's not it! ZooKeeper has been migrated to maven from 3.5.5.
We have seperated the modules, and now we have zookeeper and also zookeeper-jute as a separate module (artifact). See here: https://mvnrepository.com/artifact/org.apache.zookeeper/zookeeper-jute/3.5.5

So there is an extra artifact zookeeper:zookeeper-jute that zookeeper now depends on.

The reason for separate artifact is there i

[2019-08-09 14:02] nkalmar commented on #1225
Since Accumulo uses curator 2.x, I'm not sure if it won't cause any problems. Only 4.x supports 3.5.x as stated on their website.

If you wan't, I can check the ZooKeeper update to 3.5.5, maybe even create a seperate ticket for it.

[2019-08-09 14:21] hkeebler commented on #1043
So we should say that this is dependent on #1313 being completed.  I will start taking a look at the upgrade code necessary but what did anyone think of the solution in my previous comment that would not require an upgrade?

- Pros - no upgrade code to be written, no conditional checking for old vs new deletes, supports multi-sized hash
- Cons - more complex process for stripping delete prefix (ju

[2019-08-09 15:21] keith-turner commented on #1043
I think its a clever solution and I think that utilizing the values is a good way to go if we do not resolve this in upgrade.  I am leaning towards resolving this in upgrade because I think it keeps the existing code simpler, but I am not 100% sure this is the best path to take.

The `makeRelative()` function you asked about earlier has some code in it to handle legacy paths that makes it more com

[2019-08-09 15:28] keith-turner commented on #1043
Another reason to resolve in upgrade is that over time handling more legacy persisted formats becomes harder and harder to test.  For example assume in the future there are 5 different legacy data formats for the metadata table, will we ever test different combination of the legacy formats?  No, that testing will likely not be done.

Doing a transformation in the upgrade step and testing that tran

[2019-08-09 15:49] keith-turner opened #1320 "Review code and test for Accumulo's zookeeper atomic mutation function"
Changes like #1313 heavily depend on accumulo's `ZooReaderWriter.mutate()` to make atomic changes to zookeeper using optimistic locking.  Would be good to thoroughly review this code and its test.  Ideally there would be a multi-threaded stress test of some sort.

[2019-08-09 15:52] keith-turner commented on #1086
I added this a blocker because I think it would be good to investigate before 1.9.4.  Since its a long standing issue not introduced in 1.9.3, It need not block 1.9.4 if not investigated in time.

[2019-08-09 15:57] keith-turner commented on #817
This was done by e357d8ab5a29f28794593d31ca2981619266499c and #1302

[2019-08-09 15:57] #817 closed

[2019-08-09 16:04] keith-turner opened #1321 "Review how Ample reads root tablet metadata from zookeeper"
Currently Ample reads root tablet metadata using ZooCache.  I am not sure this is always appropriate.  Its certainly appropriate and desirable in some cases, but I am not sure about all.  May want to add a consistency level to the Ample API and make all code choose if it wants eventual or immediate consistency.

[2019-08-09 17:32] ctubbsii commented on #1225
The (potential) update to ZK 3.5 is unrelated to this issue. It was mentioned here merely for the possibility of using local session feature, which is one of many possible ways to reduce the number of watchers we use. If we want to use that feature (which is only one possible way to reduce the number of watchers... and not necessarily even the best way to do so), then upgrading is a prerequisite,

[2019-08-12 16:23] Manno15 commented on #1308
I am going to take a look at this.

[2019-08-12 18:01] Manno15 commented on #1305
Everything still seems to work as expected after doing a quick build and test. No warnings given.

[2019-08-12 19:13] matthpeterson opened #1323 "Limit Tserver Write Threads"
Tservers cannot be configured to limit how many write threads they will create.  It would be very helpful if an upper limit could be specified given that there are limits in how quickly the Tserver can make WAL updates in HDFS, for example.  Rather than collecting threads and subsequently blocking them, it would be helpful if clients received a failure because a Tserver has already reached its max

[2019-08-12 19:19] matthpeterson opened #1324 "Improve locking granularity"
Fate transactions like merges and imports lock a particular table.  This makes it difficult to run several such operations concurrently.  If the locking mechanism were more granular, perhaps over ranges of tablets, it would be possible to make progress with more operations at once and improve performance.

[2019-08-13 15:00] jzgithub1 commented on #1220
@keith-turner  and @ctubbsii ,  from the basic design above I will try to implement number 2:
ZooCache implements a method to match any watchers against some predicate and delete them.
That is the least risky and fastest path in my opinion.   I will implement the other steps afterword.

[2019-08-13 15:20] EdColeman opened #1325 "Is checking disk status in FileSystemMonitor necessary?"
At this point, hoping for a discussion to determine requirements / scenarios that may warrant changes.  Scenario: When running on servers with multiple disks, the FileSystemMonitor will kill a tserver if a disk fails (goes read-only)
- Is this necessary behavior - or could it be handled by terminating on appropriate IO Exceptions?
- What are the Accumulo critical file / volume paths? Did this chan

[2019-08-13 16:00] ctubbsii commented on #1325
I don't think we need this behavior in Accumulo. Something like that would be more appropriate for an external cluster health monitoring service. If HDFS is happy with a failed disk, then we shouldn't care either. Perhaps we might still care if it was the OS disk(s) that went read-only... but I'm not sure we can reliably detect that from any other disk. I think it would make sense to drop this beh

[2019-08-13 16:10] EdColeman commented on #1317
This still needs addition work.
- What is the proper way to determine status?  One way would be to check if the tablet has a loc: assigned.  Is there something else that is more appropriate?
- The original ticket mentioned that some information could be pulled from zookeeper - with the
current implementation, all information is coming from the metadata table. What information is missing / would be

[2019-08-13 16:14] ctubbsii commented on #1220
@jzgithub1 The above design will only work if we upgrade to the latest ZK 3.5. There may be other implications of that, so that should be done first, as its own task, before implementing the above.

An alternative might be to simply use fewer watchers in the first place, by changing the design for table config updates to use a single global watcher on a single field, named something like "/configC

[2019-08-13 16:21] jzgithub1 commented on #1220
Thanks @ctubbsii .  Glad I didn't go down that road too far.

[2019-08-13 16:47] ctubbsii commented on #1220
To be clear, I don't know for sure, which methods are our best bets in terms of simplifying the code or reducing the number of watchers. It may require some investigation, and prototyping of the various options. I just wanted to make sure whoever worked on this was aware that there are other possible solutions.

[2019-08-13 19:36] milleruntime commented on #1324
The new Bulk Import for 2.0 is more granular.  If you use something like map reduce to inspect the files to create the load plan before performing the bulk import, then that should greatly reduce time spent holding a table lock.  You can also bulk import to a table offline.

[2019-08-14 16:51] hkeebler commented on #1090
I'll take a stab at this if no one objects.

[2019-08-14 16:55] ctubbsii commented on #1090
@hkeebler No objection here. You should be able to self-assign the issue if your GitHub id is linked to your Apache id.

[2019-08-14 18:07] ivakegg commented on #1169
@Manno15 is currently working this issue.

[2019-08-14 18:18] ivakegg commented on #1324
That is perhaps true for the imports.  However the merge operation could still use some work in this regard, at least in the 1.9.x codebase

[2019-08-14 18:33] milleruntime commented on #1324
Agreed.  I don't know anything about merges so I couldn't even comment on them haha.

[2019-08-14 18:37] ivakegg commented on #1324
premise: full table locks would not be an issue as long as they are very short (sub-second).
Hence if we were to solve https://issues.apache.org/jira/browse/ACCUMULO-3235, then merging would not require long locks.  Basically if we keep track of the valid range within an rfile for every entry in the metadata, then we can avoid having to pre-chop the files when merging and avoid long table locks.

[2019-08-14 18:45] ivakegg commented on #1324
more discussion / related ticket here: https://github.com/apache/accumulo/issues/1050

[2019-08-14 19:18] #936 closed

[2019-08-14 21:18] #1309 closed

[2019-08-15 02:03] ctubbsii opened #1326 "TabletStateChangeIteratorIT fails due to #1309"
#1309 causes an IT to fail.

### Stacktrace
[code]

[2019-08-15 14:10] #1288 closed

[2019-08-15 18:08] #1326 closed

[2019-08-15 19:24] keith-turner commented on #1317
Could use [TabletLocationState.getState()][2].  One way to get TabletLocationState objects is via [TabletStateStore][1].  The set of live tservers can be obtained using [LiveTServerSet][3].

[LiveTServerSet][3] pulls the set of active tablet servers from zookeeper.

[1]: https://github.com/apache/accumulo/blob/f39c2fef1c1c911e86985ce6352c5d1bc9967c5b/server/base/src/main/java/org/apache/accumulo/s

[2019-08-15 19:48] #1314 closed

[2019-08-15 20:47] ctubbsii opened #1327 "No-chop merges"
Related to #1050
Supersedes https://issues.apache.org/jira/browse/ACCUMULO-3235 and https://issues.apache.org/jira/browse/ACCUMULO-4118

Merges currently require a special "chop" major compaction, which can be slow. The idea is simple: in the metadata entries for files, we track the range in use for that file with a notation.

This additional metadata would be used to merge tablets without re-writ

[2019-08-15 21:46] ctubbsii commented on #1327
This is a very involved change, but with high potential benefit.

[2019-08-16 19:32] ctubbsii commented on #1325
Since this feature is configurable, we have some options:

1. Change the default to false
2. Delete it entirely (#1328)
3. Deprecate it first, with a warning if used
4. Change its behavior to log an error instead of killing the tserver

Or some combination of these.

[2019-08-16 20:16] belugabehr commented on #1325
In branch 1.X, set to false by default is probably the safest bet
In branch 2.X remove

[2019-08-16 21:18] EdColeman commented on #1227
Removed bug and making this an enhancement instead. It seems that the best course of action will be to provide a mechanism for these files to be discovered / reported to administrators.

[2019-08-16 21:21] EdColeman commented on #1294
Merged with https://github.com/apache/accumulo/pull/1299

[2019-08-16 21:21] #1294 closed

[2019-08-16 22:30] ctubbsii commented on #1325
That seems a bit aggressive to me. A significantly less surprising change might be to default to false in 2.1 and log a deprecation warning if set by the user, eventually dropping the feature in 3.0.

[2019-08-17 01:17] belugabehr commented on #1325
Ah, OK.  I didn't realize that 2.0 dropped a couple of weeks ago.  Congrats.

Yes. I agree with you on default off in 2.X and removed in 3.x

[2019-08-19 13:23] hkeebler commented on #1090
The verbose option only applies to safemode which basically only lists the files to delete.  One would not likely want to set all the log.info messages in this class to print to the console.  Would it make sense to have safemode default to both log and console.  The only time this option would be set is to review the output before doing a GC.  I'm inclined to think that safemode is not really a co

[2019-08-19 15:31] ctubbsii commented on #1090
For the verbose flag, it can go away. The single print statement that the verbose flag currently controls need not be optional. We can always print that message.

For the safeMode flag, we can deprecate that and have it print a warning if used. It can be replaced by `gc.safeMode` configuration property option (or similar). Since configuration options can already be passed on the command-line, it m

[2019-08-19 18:03] hkeebler commented on #1090
It's a deal ;)

Now, in reference to the latter piece - cleaning up ServerOpts and creating a property(ies) for --address (NOTE: maybe I'm overthinking it):
This could be a generic address override like it is now "server.bind.address" or specific to the service like "tserver.bind.address".  I'm not sure how either of these could be represented in the config (accumulo.properties).  The "server.bind

[2019-08-19 18:19] ctubbsii commented on #1090
I don't think it's the case that they would only be set on the command line, since the most common scenario is to set it to `0.0.0.0`, at least for the bind address. I think it should follow the current conventions of `{tserver,master,gc,monitor}.*`, so they can coexist in the same distributed configuration file. For the advertisement address.. that would probably be more common to set on the comm

[2019-08-23 16:56] milleruntime opened #1331 "The importdirectory shell command doesn't autocomplete for -t"
Related to #1294.   The importdirectory command -t option doesn't autocomplete.  This should be an easy fix with an override of the ```registerCompletion``` method.

[2019-08-23 17:29] belugabehr commented on #1325
I've got two PRs at the ready:

#1328 - Remove FileSystemMonitor in master branch
#1332 - Disable FileSystemMonitor in 2.0

[2019-08-25 16:22] ctubbsii commented on #1325
The master branch is for 2.1 development right now. I don't think anyone's anticipating an 3.0 any time soon, so we could just leave #1328 open and unmerged until we're ready for 3.0 development, if we want to wait until then to remove the feature.

[2019-08-26 02:39] EdColeman commented on #1308
I have implemented a change that may remove this particular error - I'm not ready to merge the rest of the code, but the changes are here (https://github.com/EdColeman/accumulo/tree/add_fate_type_metrics)

I didn't want to step on any changes or work you may have - but I'm working on code that can be exercised by this test.  I didn't have the error occur - but I also use the test method in a debug

[2019-08-26 11:19] Manno15 commented on #1308
If I can get around to it today, I will try out your changes to see if I can still replicate this error.

[2019-08-26 13:14] Manno15 commented on #1308
Unfortunately, I was still able to reproduce the error. I will try to debug a little further.

[2019-08-26 16:42] adamjshook opened #1336 "Number of WAL files for a tserver can become large"
I've been experiencing a case where TabletServers will hold on to many more WAL logs than normal in a (seemingly) unbounded fashion until it is restarted.  As a byproduct, it causes extremely long recovery periods after the restart.  TabletServers will have hundreds or thousands of WAL entries in ZooKeeper instead of a normal 3-5.

Accumulo Version 1.9.3

[2019-08-27 02:57] arvindshmicrosoft opened #1337 "Need to uniquely identifying metrics when running multiple tservers per node"
**Background**
We are testing Apache Accumulo 1.9.3 on Microsoft Azure. For centrally gathering metrics we are sending Accumulo and Hadoop metrics to collectd’s statsd plugin (which acts as a statsd sink), which in turn forwards those metrics to an Azure monitoring service. The hadoop-metrics2-accumulo.properties looks like this:

`*.sink.statsd.class=org.apache.hadoop.metrics2.sink.StatsDSink
acc

[2019-08-27 22:05] EdColeman opened #1338 "Merge command operations generate verbose logging"
When running merge on a table with a large number of tablets, the operations logs a lot of information at the debug level for the current splits and the current locations - and the messages seem to occur multiple times per merge operation while the master is calculating the merge.

One of the messages is generated by the Master getGoalState() method - it is logging each extent and if the extent ov

[2019-08-27 22:28] #723 closed

[2019-08-27 23:51] #1337 closed, assigned to nobody

[2019-08-29 00:16] EdColeman commented on #1308
I pulled the changes from the other branch and created a separate pull request with just the test changes. (https://github.com/apache/accumulo/pull/1342)
Please run future tests with this and see if this resolves the intermittent issues.

[2019-09-04 14:18] ctubbsii opened #1345 "GC forces metadata compaction every cycle"
The SimpleGarbageCollector class calls `.compact(...)` (with both `flush` and `wait` flags set to `true`) every cycle, on the operating assumption that the GC performed many changes to the metadata and it'd be good to flush and compact.

However, we probably don't need to compact. We can probably flush instead. If the metadata table's compaction ratio is still set to the default of `1` (set during

[2019-09-04 16:02] jzgithub1 commented on #1120
I am disengaging from this effort until after the 2.1.0 release so I can concentrate on the issues of that release.   The changes I made in PR1152 do not sufficiently implement the 2-layer queuing strategy proposed in the original JIRA ticket number 4154.   I will take up implementing the proposed algorithm in JIRA ticket number 4154 after the 2.1.0 release.

[2019-09-04 18:14] ctubbsii commented on #1345
This compact was added in fb54a03d3431deb7c88682284dd9a599457ac70c for https://issues.apache.org/jira/browse/ACCUMULO-1281

[2019-09-04 19:08] ctubbsii commented on #1120
@jzgithub1 There is not currently a release plan in place for 2.1, and certainly not a feature freeze, so any issue that is resolved today is an issue that has the potential to be included in 2.1.

[2019-09-04 19:25] jzgithub1 commented on #1120
Thank you @ctubbsii,  I looked at the 'To Do' list in the 2.1.0 project in the Projects Tab and did not see this ticket listed.  Thank you for letting me know that list is not a release plan.

[2019-09-04 20:51] ctubbsii commented on #1120
Sorry for the confusion. The projects are helpful for planning and triage, but are not set in stone. It's just our attempt to try to track what we expect might be done by, or could be done by, that release.

[2019-09-05 18:34] EdColeman opened #1347 "Modify log messages for user initiated compactions when using defaults"
Currently when a user initiates a compaction without custom iterators or a user defined compaction strategy, the log message "No iterators or compaction strategy" is printed at the info level.

This looks like there is an issue, when the message is really indicating that no user defined iterators or compaction strategies are configured and that the compaction will use the any system defined iterat

[2019-09-05 20:03] #1347 closed

[2019-09-05 21:12] ctubbsii opened #1349 "Throw exceptions from the main thread so they show on STDERR"
https://issues.apache.org/jira/browse/ACCUMULO-2628 removed the use of `printStackTrace` from our code in 1.7, which itself is a good thing, because we didn't need to be manually doing that. However, in doing so, there is now no indication on STDERR that anything went wrong when a component dies for any reason, because Main now just logs to the log4j/slf4j logger and exists with a bad error code.

[2019-09-05 21:14] ctubbsii commented on #1349
I ran into this when testing #1330 with `bin/accumulo gc -o gc.safemode`, and noticed that if I spelled `safemode` wrong, it would exit immediately and silently. I had to look in the logs to see the typo on the command-line.

[2019-09-05 21:17] ctubbsii commented on #1345
Saw this again while testing #1330 . It made it a bit confusing to test `-o gc.safemode` there, because the set of candidate files skipped from deletion kept growing on every gc cycle, and there was always an extra file in the metadata that didn't show in the SAFEMODE output in the logs (because the compaction was triggered and created a new file after the list of files had already been printed).

[2019-09-06 15:31] milleruntime commented on #1331
Fixed in #1335

[2019-09-06 15:31] #1331 closed

[2019-09-06 16:58] keith-turner opened #1350 "Update ListVolumesUsed to support root tablet metadata."
After the changes in #1313 the root tablets file metadata is no different from any other tablet.  Now that it is the same ListVolumesUsed could be updated to remove the specialized code it has for zookeeper and just call `listTable(Ample.DataLevel.ROOT, context);`.

https://github.com/apache/accumulo/pull/1344#discussion_r321815325

[2019-09-06 17:36] keith-turner opened #1351 "Add test to GarbageCollectorIT for continue point or remove continue point"
Accumulo garbage collection will read a batch of deletes into memory and process them.  When reading the next batch it uses the last path it saw as a continue point.  Need to ensure the continue point code covers all data.

Alternatively, instead of testing the continue point code it could be removed by refactoring the GC code as follows so that continue is not needed.  The code below keeps the it

[2019-09-06 17:48] keith-turner commented on #1351
https://github.com/apache/accumulo/pull/1344#discussion_r321812590

[2019-09-06 20:00] #1338 closed

[2019-09-11 14:00] keith-turner opened #1355 "Anaylyze how MasterTime uses System.nanoTime"
The master time class persist the output of System.nanoTime to zookeeper.  System.nanoTime should only be used to compute elapsed times in a single process.  The following is from its javadoc.

[code]

I noticed this while looking at #1354.  Maybe the use of System.nanoTime is appropriate, I am not sure.  Opening this issue to remember to analyze its use.

[2019-09-13 19:06] milleruntime opened #1361 "Monitor not displaying dead Tservers"
I killed a tserver and it is not showing up in the dead tservers table.
![monitor-dead-tserver2](https://user-images.githubusercontent.com/11872539/64887976-d49b3e80-d637-11e9-8af5-5d1aaa02dec1.png)

The monitor is recognizing that it is dead on the main page though:
![monitor-dead-tserver](https://user-images.githubusercontent.com/11872539/64887945-bd5c5100-d637-11e9-89f3-c48803392e58.png)

[2019-09-13 19:19] jzgithub1 commented on #1225
@ctubbsii.  I investigated how I would implement:" _One possible solution is instead of having a watcher for every configuration item, we have only a single configuration version field in ZooKeeper for all configuration items, and a single watcher (per process) to track that version field and reload all configurations whenever it is changed. This would require us to ensure that we increment this f

[2019-09-13 19:36] milleruntime opened #1362 "Table Status page is broken"
In the Monitor when on the Tables page... click a table ID link and it should refresh the page with detailed information about that table. I am getting this JS error and an empty table:
[code]
![monitor-table-status](https://user-images.githubusercontent.com/11872539/64889823-352c7a80-d63c-11e9-8984-d56ee6def3cb.png)

[2019-09-13 20:02] milleruntime commented on #1225
@jzgithub1 I recommend putting long output like this in a text file and attaching it to your comment by dragging and dropping into the comment box.

[2019-09-13 20:27] milleruntime commented on #471
I just saw this running random walk concurrent test on 2.0.
[code]

[2019-09-13 21:04] milleruntime commented on #1362
This was an issue with my proxy not refreshing.  A good old "Ctrl + F5" fixed the issue.

[2019-09-13 21:04] #1362 closed

[2019-09-13 21:11] milleruntime commented on #1361
Not an issue.  Clearing browser cache fixed this.

[2019-09-13 21:11] #1361 closed

[2019-09-16 15:48] jzgithub1 commented on #1225
More TreeCache listener output showing how the cache is updated during continuous ingest.

[tree_cache.txt](https://github.com/apache/accumulo/files/3617057/tree_cache.txt)

[2019-09-16 22:13] lbschanno commented on #1122
@keith-turner I've been playing around with a couple of different approaches to this. One possible approach is using a separate ConcurrentHashMap of ThriftTransportKeys to ReentrantLocks to support key-pair granularity when fetching and modifying the connections for a particular tserver. The following example shows how the synchronized block is removed from `ThriftTransportKeys.getTransport()`.

[

[2019-09-17 14:01] keith-turner opened #1364 "RowLock reference counts may be incorrect"
The [ConcurrentMap.compute](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentMap.html#compute-K-java.util.function.BiFunction-) function javadoc contains the following sentence

[code]

If this is true for [ConcurrentHashMap.compute](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentHashMap.html#compute-K-java.util.function.BiFunction-) then the chang

[2019-09-17 14:18] keith-turner commented on #1122
@lbschanno that sounds reasonable.  One thing I am curious about is how you plan to remove the lock safely when the cached connections set goes empty.  This needs to be done in such a way that threads never end up using different locks.

[2019-09-17 14:53] #1043 closed

[2019-09-17 15:20] keith-turner commented on #1364
I found the following wording in [ConcurrentHashMap.computeIfAbsent](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ConcurrentHashMap.html#computeIfAbsent-K-java.util.function.Function-)

[code]

None of the other functions have that wording.

[2019-09-17 15:35] jzgithub1 commented on #1225
Do the high risk of unintended effects I will fall back to implementing the idea mentioned at the top of the the ticket:

_One possible solution is instead of having a watcher for every configuration item, we have only a single configuration version field in ZooKeeper for all configuration items, and a single watcher (per process) to track that version field and reload all configurations whenever

[2019-09-17 18:34] seriouslyjeez commented on #1225
I've encountered issues with too many watchers in the past.  The watcher count was a combination of ZK issues and a large number of frequent full table drops and adds.  This leads to an exceptionally large number of watches.  The high watch count impacts Accumulo as described below.

Once the watch count reaches a high enough value we start to see Zookeeper issues, mainly jute.maxbuffer and Packet

[2019-09-18 14:26] keith-turner commented on #1364
I reached out to a JDK list (it was the wrong list, but some kind people helped me get to the right place).

https://mail.openjdk.java.net/pipermail/discuss/2019-September/005151.html

So far I am getting two different opinions about the at most once execution behavior.

[2019-09-18 20:02] hkeebler opened #1365 "Develop upgrade/transition for #1043 updates"
Update Upgrader9to10.upgradeMetadata() to convert any existing ~del entries to the new ~del entries.  Something like the following could be done:

for each key with ~del prefix and value.isEmpty(){
  create new del key with value("Converted on initialization")
  delete old delete entry
}

Needs to be done for both USER and METADATA metadata.

[2019-09-19 17:23] milleruntime opened #1368 "Visibilities don't work in CI 1.9"
The continuous ingest test suite in 1.9 branch generates random data but doesn't use visibilities. There is a visibilities option but its not used.  There is even a TODO [here](https://github.com/apache/accumulo/blob/e770862036128d963e49e6c9715e703f9b69c270/test/src/main/java/org/apache/accumulo/test/continuous/ContinuousInputFormat.java#L146).

[2019-09-19 23:52] #1368 closed